<article
  [ngClass]="{
    'sat-moveVisualizer': true,
    'sat-moveVisualizer--noLeftEdge': visualizerData.style.leftEdge === 0,
    'sat-moveVisualizer--noRightEdge': visualizerData.style.rightEdge === 0,
    'sat-moveVisualizer--inversedState': visualizerData.state.isInversed
  }">
  <section class="sat-moveVisualizer__bar">
    <!--line-->
    <div
      class="sat-moveVisualizer__bar-leftGap"
      [ngStyle]="{
        'flex-basis': visualizerData.style.leftGap + '%'
      }"></div>
    <div
      class="sat-moveVisualizer__bar-leftEdge"
      [ngStyle]="{
        'flex-basis': visualizerData.style.leftEdge + '%'
      }"></div>
    <div
      class="sat-moveVisualizer__bar-moveDistance"
      [ngStyle]="{
        'flex-basis': visualizerData.style.moveDistance + '%'
      }"></div>
    <div
      class="sat-moveVisualizer__bar-rightEdge"
      [ngStyle]="{
        'flex-basis': visualizerData.style.rightEdge + '%'
      }"></div>
    <div
      class="sat-moveVisualizer__bar-rightGap"
      [ngStyle]="{
        'flex-basis': visualizerData.style.rightGap + '%'
      }"></div>
  </section>
  <section class="sat-moveVisualizer__pins">
    <!--pin-->
    <div
      class="sat-moveVisualizer__pins-end"
      [ngStyle]="{
        'left': visualizerData.style.leftGap + visualizerData.style.leftEdge + '%'
      }">
      <span class="sat-moveVisualizer__pins-end-value">{{visualizerData.data.end}}</span>
      <i class="sat-moveVisualizer__pins-end-icon fas fa-map-marker"></i>
    </div>
  </section>
  <section class="sat-moveVisualizer__positionDetection">
    <!--
      overlaying the entire component, for returning a consistent offsetX from mouseOver detection
    -->
  </section>
</article>