<article
  (mousemove)="onTest($event)"
  [ngClass]="{
    'sat-moveVisualizer': true
  }">
  <section class="sat-moveVisualizer__bar">
    <!--line-->
    <div class="sat-moveVisualizer__bar-leftSpace"></div>
    <div class="sat-moveVisualizer__bar-leftEdge"></div>
    <div class="sat-moveVisualizer__bar-moveRange"></div>
    <div class="sat-moveVisualizer__bar-rightEdge"></div>
    <div class="sat-moveVisualizer__bar-rightSpace"></div>
  </section>
  <section class="sat-moveVisualizer__pins">
    <!--pin-->
    <div class="sat-moveVisualizer__pins-end">
      <span class="sat-moveVisualizer__pins-end-value">467.6</span>
      <i class="sat-moveVisualizer__pins-end-icon fas fa-map-marker"></i>
    </div>
    <div class="sat-moveVisualizer__pins-start">
      <i class="sat-moveVisualizer__pins-start-icon fa fa-map-marker-alt"></i>
    </div>
  </section>
</article>