@import "global.scss";
@import "modules/trade/trade.scss";

$moveVisualizer_line_thickness: 0.75rem;
$moveVisualizer_pin_currentLevel_width: 3rem;
.sat-moveVisualizer {
  $moveVisualizerBlockName: &;
  @include mix_fixed_div(relative, $z_index_standard_base_item);
  flex: 1 1 auto;
  display: flex;
  &__secOne {
    @include mix_fixed_div(absolute, $z_index_standard_base_item);
    width: 100%;
    bottom: 0;
    display: flex;
    &-leftSpace {
      flex: 0 0 10%;
    }
    &-leftEdge {
      @include mix_border_radius(3px, 'left');
      flex: 0 0 10%;
      height: $moveVisualizer_line_thickness;
      background-color: $color_active;
    }
    &-moveRange {
      flex: 0 0 50%;
      height: $moveVisualizer_line_thickness;
      background-color: $color_red_5;
    }
    &-rightEdge {
      @include mix_border_radius(3px, 'right');
      flex: 0 0 25%;
      height: $moveVisualizer_line_thickness;
      background-color: $color_active;
    }
    &-rightSpace {
      flex: 0 0 5%;
    }
  }
  &__secTwo {
    @include mix_fixed_div(relative, $z_index_standard_base_item);
    margin-bottom: $moveVisualizer_line_thickness + $spacing_minimum;
    width: 100%;
    display: flex;
    &-currentLevel {
      @include mix_fixed_div(relative, $z_index_standard_base_item);
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 10% + 10%;
      color: $color_red_5;
      width: $moveVisualizer_pin_currentLevel_width;
      margin-left: -$moveVisualizer_pin_currentLevel_width/2;
      &-value {
        @include mix_border_generator($typical_border_width, $color_red_5);
        @include mix_border_radius(3px);
        padding: $spacing_minimum $spacing_xx_small;
        margin-bottom: $spacing_xx_small;
        line-height: $line_height_minimum;
      }
      &-pin {
      }
    }
  }
  &--stencilState {
    #{$moveVisualizerBlockName} {
    }
  }
}
