<article
  [ngClass]="{
    'sat-moveVisualizer': true,
    'sat-moveVisualizer--noLeftEdge': visualizerData.style.leftEdge === 0,
    'sat-moveVisualizer--noRightEdge': visualizerData.style.rightEdge === 0,
    'sat-moveVisualizer--visualizingBasisState': visualizerData.data.isBasis,
    'sat-moveVisualizer--inversedState': visualizerData.state.isInversed,
    'sat-moveVisualizer--placeholderState': visualizerData.state.isPlaceholder,
    'sat-moveVisualizer--invalidState': visualizerData.state.isInvalid,
    'sat-moveVisualizer--stencilState': visualizerData.state.isStencil,
    'sat-moveVisualizer--pinIsNullState': visualizerData.data.end == null,
    'sat-moveVisualizer--colorCodeInversedState': visualizerData.state.isColorCodeInversed,
    'sat-moveVisualizer--structuringBreakdownVariant': visualizerData.state.structuringBreakdownVariant,
    'sat-moveVisualizer--exceededState': visualizerData.state.structuringBreakdownExceededState,
    'sat-moveVisualizer--bicsLevel2Variant': visualizerData.data.bicsLevelVisualizer === 'BicsLevel2',
    'sat-moveVisualizer--bicsLevel3Variant': visualizerData.data.bicsLevelVisualizer === 'BicsLevel3',
    'sat-moveVisualizer--bicsLevel4Variant': visualizerData.data.bicsLevelVisualizer === 'BicsLevel4'
  }">
  <section class="sat-moveVisualizer__bar">
    <!--line-->
    <div
      class="sat-moveVisualizer__bar-leftGap"
      [ngStyle]="{
        'flex-basis': visualizerData.style.leftGap + '%'
      }"></div>
    <div
      class="sat-moveVisualizer__bar-leftEdge"
      [ngStyle]="{
        'flex-basis': visualizerData.style.leftEdge + '%'
      }"></div>
    <div
      class="sat-moveVisualizer__bar-moveDistance"
      [ngStyle]="{
        'flex-basis': visualizerData.style.moveDistance + '%'
      }">
        <i
          *ngIf="visualizerData.style.moveDistance > 5"
          [ngClass]="{
            'sat-moveVisualizer__bar-moveDistance-arrow': true,
            'fas': true,
            'fa-chevron-left': visualizerData.state.isInversed,
            'fa-chevron-right': !visualizerData.state.isInversed
          }"></i>
        <i
          *ngIf="visualizerData.style.moveDistance > 20"
          [ngClass]="{
            'sat-moveVisualizer__bar-moveDistance-arrow': true,
            'fas': true,
            'fa-chevron-left': visualizerData.state.isInversed,
            'fa-chevron-right': !visualizerData.state.isInversed
          }"></i>
      </div>
    <div
      class="sat-moveVisualizer__bar-rightEdge"
      [ngStyle]="{
        'flex-basis': visualizerData.style.rightEdge + '%'
      }"></div>
    <div
      class="sat-moveVisualizer__bar-rightGap"
      [ngStyle]="{
        'flex-basis': visualizerData.style.rightGap + '%'
      }"></div>
    <div
      class="sat-moveVisualizer__bar-stencilMask"
      [ngStyle]="{
        'background-color': visualizerData.style.backgroundColor
      }"></div>
  </section>
  <section class="sat-moveVisualizer__pins">
    <!--pin-->
    <div
      class="sat-moveVisualizer__pins-end"
      [ngStyle]="{
        'left': visualizerData.style.endPinLocation + '%'
      }">
      <span class="sat-moveVisualizer__pins-end-value">{{visualizerData.data.endPinText}}</span>
      <i class="sat-moveVisualizer__pins-end-icon fas fa-map-marker"></i>
    </div>
  </section>
  <section class="sat-moveVisualizer__invalidHighlight">
    <span class="sat-moveVisualizer__invalidHighlight-label">No Data</span>
  </section>
  <section class="sat-moveVisualizer__positionDetection">
    <!--
      overlaying the entire component, for returning a consistent offsetX from mouseOver detection
    -->
  </section>
</article>