@import "global.scss";
@import "modules/trade/trade.scss";

.sat-quantVisualizer {
  $quantVisualizerBlockName: &;
  display: flex;
  width: 20rem;
  &__entryList {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    &-item {
      display: flex;
      align-items: center;
      margin-bottom: $spacing_small;
      &-label {
        flex: 0 0 3rem;
        margin-right: $spacing_small;
        text-align: right;
      }
      &-content {
        flex: 1 1 auto;
        display: flex;
        .sat-quantVisualizerEntry {
          flex: 1 1 auto;
        }
      }
    }
  }
}

$quantVisualizerEntry_height: 2.25rem;
$quantVisualizerEntry_node_size: 1.75rem;
.sat-quantVisualizerEntry {
  $quantVisualizerEntryBlockName: &;
  @include mix_fixed_div(relative, $z_index_standard_base_item);
  display: flex;
  height: $quantVisualizerEntry_height;
  &__baseLine {
    @include mix_fixed_div(absolute, $z_index_standard_base_item_solid);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: $spacing_small;
    &-content {
      @include mix_border_radius(10px);
      flex: 1 1 auto;
      height: $typical_border_width*4;
      background-color: $color_gray_4;
    }
  }
  &__main {
    @include mix_fixed_div(absolute, $z_index_standard_base_item_lift);
    display: flex;
    height: 100%;
    width: 100%;
    &-leftSpacing {
      flex: 0 0 auto;
    }
    &-content {
      @include mix_fixed_div(relative, $z_index_standard_base_item);
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      &-line {
        @include mix_border_radius(10px);
        flex: 1 1 auto;
        height: $typical_border_width*8;
        background-color: $color_active;
      }
      &-node {
        @include mix_fixed_div(absolute, $z_index_standard_base_item_solid);
        @include mix_border_radius(50%);
        @include material();
        @include mix_alive('material');
        display: flex;
        align-items: center;
        justify-content: center;
        height: $quantVisualizerEntry_node_size;
        width: $quantVisualizerEntry_node_size;
        background-color: $color_white;
        &--target {
          left: 0;
        }
        &--group {
          right: 0;
        }
      }
    }
    &-rightSpacing {
      flex: 0 0 auto;
    }
  }
  &--inversed {
    #{$quantVisualizerEntryBlockName} {
      &__main {
        &-content {
          &-line {
            background-color: $color_negative;
          }
          &-node {
            &--target {
              left: inherit;
              right: 0;
            }
            &--group {
              right: inherit;
              left: 0;
            }
          }
        }
      }
    }
  }
}