<article class="sat-quantVisualizer">
  <ul class="sat-quantVisualizer__entryList">
    <li class="sat-quantVisualizer__entryList-item">
      <span class="sat-quantVisualizer__entryList-item-label">Current: </span>
      <div class="sat-quantVisualizer__entryList-item-content">
        <article
          [ngClass]="{
            'sat-quantVisualizerEntry': true,
            'sat-quantVisualizerEntry--inversedState': visualizerData.style.raw.inversed
          }">
          <section class="sat-quantVisualizerEntry__baseLine">
            <div class="sat-quantVisualizerEntry__baseLine-content"></div>
          </section>
          <section class="sat-quantVisualizerEntry__main">
            <div
              class="sat-quantVisualizerEntry__main-leftSpacing"
              [ngStyle]="{
                'flex-basis': visualizerData.style.raw.leftSpaceWidth + '%'
              }">
            </div>
            <div class="sat-quantVisualizerEntry__main-content">
              <div class="sat-quantVisualizerEntry__main-content-line">
              </div>
              <div class="sat-quantVisualizerEntry__main-content-node sat-quantVisualizerEntry__main-content-node--target">
                <i class="fal fa-coin"></i>
                <span class="sat-quantVisualizerEntry__main-content-node-value">{{visualizerData.data.rawEntry.target}}</span>
              </div>
              <div class="sat-quantVisualizerEntry__main-content-node sat-quantVisualizerEntry__main-content-node--group">
                <i class="fal fa-sack-dollar"></i>
                <span class="sat-quantVisualizerEntry__main-content-node-value">{{visualizerData.data.rawEntry.group}}</span>
              </div>
            </div>
            <div
              class="sat-quantVisualizerEntry__main-rightSpacing"
              [ngStyle]="{
                'flex-basis': visualizerData.style.raw.rightSpaceWidth + '%'
              }">
            </div>
          </section>
        </article>
      </div>
    </li>
    <li class="sat-quantVisualizer__entryList-item">
      <span class="sat-quantVisualizer__entryList-item-label">WoW :</span>
      <div class="sat-quantVisualizer__entryList-item-content">
        <article
          [ngClass]="{
            'sat-quantVisualizerEntry': true,
            'sat-quantVisualizerEntry--inversedState': visualizerData.style.wow.inversed,
            'sat-quantVisualizerEntry--invalidState': !visualizerData.state.isWoWValid
          }">
          <section class="sat-quantVisualizerEntry__baseLine">
            <div class="sat-quantVisualizerEntry__baseLine-content"></div>
          </section>
          <section class="sat-quantVisualizerEntry__main">
            <div
              class="sat-quantVisualizerEntry__main-leftSpacing"
              [ngStyle]="{
                'flex-basis': visualizerData.style.wow.leftSpaceWidth + '%'
              }">
            </div>
            <div class="sat-quantVisualizerEntry__main-content">
              <div class="sat-quantVisualizerEntry__main-content-line">
              </div>
              <div class="sat-quantVisualizerEntry__main-content-node sat-quantVisualizerEntry__main-content-node--target">
                <i class="fal fa-coin"></i>
                <span class="sat-quantVisualizerEntry__main-content-node-value">{{visualizerData.data.wow.target}}</span>
              </div>
              <div class="sat-quantVisualizerEntry__main-content-node sat-quantVisualizerEntry__main-content-node--group">
                <i class="fal fa-sack-dollar"></i>
                <span class="sat-quantVisualizerEntry__main-content-node-value">{{visualizerData.data.wow.group}}</span>
              </div>
            </div>
            <div
              class="sat-quantVisualizerEntry__main-rightSpacing"
              [ngStyle]="{
                'flex-basis': visualizerData.style.wow.rightSpaceWidth + '%'
              }">
            </div>
          </section>
        </article>
      </div>
    </li>
    <li class="sat-quantVisualizer__entryList-item">
      <span class="sat-quantVisualizer__entryList-item-label">MoM :</span>
      <div class="sat-quantVisualizer__entryList-item-content">
        <article
          [ngClass]="{
            'sat-quantVisualizerEntry': true,
            'sat-quantVisualizerEntry--inversedState': visualizerData.style.mom.inversed,
            'sat-quantVisualizerEntry--invalidState': !visualizerData.state.isMoMValid
          }">
          <section class="sat-quantVisualizerEntry__baseLine">
            <div class="sat-quantVisualizerEntry__baseLine-content"></div>
          </section>
          <section class="sat-quantVisualizerEntry__main">
            <div
              class="sat-quantVisualizerEntry__main-leftSpacing"
              [ngStyle]="{
                'flex-basis': visualizerData.style.mom.leftSpaceWidth + '%'
              }">
            </div>
            <div class="sat-quantVisualizerEntry__main-content">
              <div class="sat-quantVisualizerEntry__main-content-line">
              </div>
              <div class="sat-quantVisualizerEntry__main-content-node sat-quantVisualizerEntry__main-content-node--target">
                <i class="fal fa-coin"></i>
                <span class="sat-quantVisualizerEntry__main-content-node-value">{{visualizerData.data.mom.target}}</span>
              </div>
              <div class="sat-quantVisualizerEntry__main-content-node sat-quantVisualizerEntry__main-content-node--group">
                <i class="fal fa-sack-dollar"></i>
                <span class="sat-quantVisualizerEntry__main-content-node-value">{{visualizerData.data.mom.group}}</span>
              </div>
            </div>
            <div
              class="sat-quantVisualizerEntry__main-rightSpacing"
              [ngStyle]="{
                'flex-basis': visualizerData.style.mom.rightSpaceWidth + '%'
              }">
            </div>
          </section>
        </article>
      </div>
    </li>
    <li class="sat-quantVisualizer__entryList-item">
      <span class="sat-quantVisualizer__entryList-item-label">YtD :</span>
      <div class="sat-quantVisualizer__entryList-item-content">
        <article
          [ngClass]="{
            'sat-quantVisualizerEntry': true,
            'sat-quantVisualizerEntry--inversedState': visualizerData.style.ytd.inversed,
            'sat-quantVisualizerEntry--invalidState': !visualizerData.state.isYtDValid
          }">
          <section class="sat-quantVisualizerEntry__baseLine">
            <div class="sat-quantVisualizerEntry__baseLine-content"></div>
          </section>
          <section class="sat-quantVisualizerEntry__main">
            <div
              class="sat-quantVisualizerEntry__main-leftSpacing"
              [ngStyle]="{
                'flex-basis': visualizerData.style.ytd.leftSpaceWidth + '%'
              }">
            </div>
            <div class="sat-quantVisualizerEntry__main-content">
              <div class="sat-quantVisualizerEntry__main-content-line">
              </div>
              <div class="sat-quantVisualizerEntry__main-content-node sat-quantVisualizerEntry__main-content-node--target">
                <i class="fal fa-coin"></i>
                <span class="sat-quantVisualizerEntry__main-content-node-value">{{visualizerData.data.ytd.target}}</span>
              </div>
              <div class="sat-quantVisualizerEntry__main-content-node sat-quantVisualizerEntry__main-content-node--group">
                <i class="fal fa-sack-dollar"></i>
                <span class="sat-quantVisualizerEntry__main-content-node-value">{{visualizerData.data.ytd.group}}</span>
              </div>
            </div>
            <div
              class="sat-quantVisualizerEntry__main-rightSpacing"
              [ngStyle]="{
                'flex-basis': visualizerData.style.ytd.rightSpaceWidth + '%'
              }">
            </div>
          </section>
        </article>
      </div>
    </li>
  </ul>
</article>