<article
  [ngClass]="{
    'sat-securityTable': true,
    'sat-securityTable--stencilState': tableData.state.isStencil
  }">
  <section class="sat-securityTable__main">
    <div class="sat-securityTable__main-table">
      <div class="sat-securityTable__main-table-head">
        <div class="sat-securityTable__main-table-head-row">
          <article
            *ngFor="let eachHead of tableData.data.headers; let headIndex = index"
            [ngClass]="{
              'sat-securityTableHead': true,
              'sat-securityTableHead--securityCardVariant': headIndex === 0,
              'sat-securityTableHead--quantVariant': eachHead.state.isQuantVariant
            }">
            <span class="sat-securityTableHead__text">{{eachHead.data.displayLabel}}</span>
            <span class="sat-securityTableHead__cta">{{eachHead.data.displayLabel}}</span>
          </article>
        </div>
      </div>
      <div class="sat-securityTable__main-table-body">
        <article
          *ngFor="let eachRow of tableData.data.rows"
          (click)="onClickRow(eachRow)"
          [ngClass]="{
            'sat-securityTableRow': true,
            'sat-securityTableRow--expandedState': eachRow.state.isExpanded
          }">
          <section class="sat-securityTableRow__tableCanvas">
            <article class="sat-securityTableCell sat-securityTableCell--securityCardVariant">
              <security-card [cardData]="eachRow.data.security"></security-card>
            </article>
            <article
              *ngFor="let eachCell of eachRow.data.cells"
              [ngClass]="{
                'sat-securityTableCell': true,
                'sat-securityTableCell--quantVariant': eachCell.state.isQuantVariant,
                'sat-securityTableCell--stencilState': eachCell.state.isStencil
              }">
              <section class="sat-securityTableCell__metric">
                <span class="sat-securityTableCell__metric-text">
                  {{eachCell.data.textData}}
                </span>
              </section>
              <section class="sat-securityTableCell__quant">
                <quant-comparer [quantData]="eachCell.data.quantComparerDTO"></quant-comparer>
              </section>
            </article>
          </section>
          <section class="sat-securityTableRow__expandCanvas">
            <div class="sat-securityTableRow__expandCanvas-content">
              <!--
                The ngIf optimizes the performance as it allows us to lazy-load the SecurityTradingMessage components
              -->
              <div class="sat-securityTableRow__expandCanvas-content-label">
                <span class="sat-securityTableRow__expandCanvas-content-label-entry">Data Venue</span>
                <span class="sat-securityTableRow__expandCanvas-content-label-entry">Dealer</span>
                <span class="sat-securityTableRow__expandCanvas-content-label-entry sat-securityTableRow__expandCanvas-content-label-entry--runOrAxe">Run / Axe</span>
                <span class="sat-securityTableRow__expandCanvas-content-label-entry sat-securityTableRow__expandCanvas-content-label-entry--noSpacing">Size</span>
                <span class="sat-securityTableRow__expandCanvas-content-label-entry">Price</span>
                <span class="sat-securityTableRow__expandCanvas-content-label-entry">YTW</span>
                <span class="sat-securityTableRow__expandCanvas-content-label-entry">Spread</span>
                <span class="sat-securityTableRow__expandCanvas-content-label-entry">Benchmark</span>
              </div>
              <ul *ngIf="eachRow.state.isExpanded" class="sat-securityTableRow__expandCanvas-content-messageList">
                <security-trading-message
                  *ngFor="let eachMessage of eachRow.data.tradingMessages"
                  [messageData]="eachMessage">
                </security-trading-message>
              </ul>
            </div>
          </section>
        </article>
      </div>
    </div>
  </section>
</article>