<article
  [ngClass]="{
    'sat-securityTable': true,
    'sat-securityTable--showAddColumnDropdownState': tableData.state.isAddingColumn
  }">
  <section class="sat-securityTable__main">
    <div class="sat-securityTable__main-table">
      <div class="sat-securityTable__main-table-head">
        <div class="sat-securityTable__main-table-head-row">
          <article
            *ngFor="let eachHead of tableData.data.headers; let headIndex = index"
            [ngClass]="{
              'sat-securityTableHead': true,
              'sat-securityTableHead--securityCardVariant': eachHead.state.isSecurityCardVariant,
              'sat-securityTableHead--quantVariant': eachHead.state.isQuantVariant,
              'sat-securityTableHead--selectedState': tableData.state.selectedHeader?.data.displayLabel === eachHead.data.displayLabel,
              'sat-securityTableHead--sortedState': tableData.state.sortedByHeader?.data.displayLabel === eachHead.data.displayLabel
            }">
            <span class="sat-securityTableHead__text">{{eachHead.data.displayLabel}}</span>
            <button (click)="onClickHeaderCTA(eachHead)" class="sat-securityTableHead__cta">
              <i class="sat-securityTableHead__cta-icon fal fa-sort-amount-down">
              </i>
              <span class="sat-securityTableHead__cta-text">{{eachHead.data.displayLabel}}</span>
            </button>
            <div class="sat-securityTableHead__actionMenu">
              <button (click)="onClickRemoveHeader(eachHead)" class="sat-securityTableHead__actionMenu-deleteBtn santaBtn--iconOnly fal fa-times"></button>
              <button (click)="onClickToggleQuantSkew(eachHead, true)" class="sat-securityTableHead__actionMenu-axeSkewBtn santaBtn--labelled santaBtn--small santaBtn--inverseLabelled">
                <i class="fal fa-balance-scale"></i>
                <span>Axe Skew</span>
              </button>
              <button (click)="onClickSortBy(eachHead)" class="sat-securityTableHead__actionMenu-sortBtn santaBtn--iconOnly fal fa-sort-amount-down"></button>
              <button (click)="onClickToggleQuantSkew(eachHead, false)" class="sat-securityTableHead__actionMenu-totalSkewBtn santaBtn--labelled santaBtn--small santaBtn--inverseLabelled">
                <i class="fal fa-balance-scale"></i>
                <span>Total Skew</span>
              </button>
            </div>
          </article>
        </div>
      </div>
      <div class="sat-securityTable__main-table-body">
        <security-table-row 
          *ngFor="let eachRow of tableData.data.rows"
          [rowData]="eachRow"
          [rowIsEven]="tableData.data.rows.indexOf(eachRow)%2 === 1"
          (clickedCollapseExpandView)="onClickCollapseExpandView($event)"
          (clickedRowTableCanvas)="onClickRowTableCanvas($event)"
          (clickedSortQuotesByMetric)="onClickSortQuotesByMetric($event)"
          (clickedSelectForAnalysis)="onClickSelectForAnalysis($event)">
        </security-table-row>
      </div>
      <button (click)="onClickShowAddColumnDropdown()" class="sat-securityTable__main-table-addColumnCTA santaBtn--labelled santaBtn--inverseLabelled">
        <i class="fal fa-plus"></i>
        <span>Add Column</span>
      </button>
      <div class="sat-securityTable__main-table-addColumnDropdown">
        <ul class="sat-securityTable__main-table-addColumnDropdown-optionList">
          <li
            *ngFor="let eachOption of securityTableMetrics"
            (click)="onClickAddHeader(eachOption)"
            [ngClass]="{
              'sat-securityTable__main-table-addColumnDropdown-optionList-item': true,
              'sat-securityTable__main-table-addColumnDropdown-optionList-item--hidden': eachOption.label === 'Security' || eachOption.isForQuantComparer,
              'sat-securityTable__main-table-addColumnDropdown-optionList-item--active': eachOption.active,
              'sat-securityTable__main-table-addColumnDropdown-optionList-item--disabled': eachOption.disabled
            }">{{eachOption.label}}</li>
        </ul>
        <button (click)="onCollapseAddColumnDropdown()" class="sat-securityTable__main-table-addColumnDropdown-collapseBtn santaBtn--iconOnly fal fa-times"></button>
      </div>
    </div>
  </section>
</article>