<article
  [ngClass]="{
    'sat-securityTable': true,
    'sat-securityTable--showAddColumnDropdownState': tableData.state.isAddingColumn
  }">
  <section class="sat-securityTable__main">
    <div class="sat-securityTable__main-table">
      <div class="sat-securityTable__main-table-head">
        <div class="sat-securityTable__main-table-head-row">
          <article
            *ngFor="let eachHead of tableData.data.headers; let headIndex = index"
            [ngClass]="{
              'sat-securityTableHead': true,
              'sat-securityTableHead--securityCardVariant': eachHead.state.isPureTextVariant,
              'sat-securityTableHead--quantVariant': eachHead.state.isQuantVariant,
              'sat-securityTableHead--selectedState': tableData.state.selectedHeader === eachHead,
              'sat-securityTableHead--sortedState': tableData.state.sortedByHeader === eachHead
            }">
            <span class="sat-securityTableHead__text">{{eachHead.data.displayLabel}}</span>
            <button (click)="onClickHeaderCTA(eachHead)" class="sat-securityTableHead__cta">
              <i class="sat-securityTableHead__cta-icon fal fa-sort-amount-down">
              </i>
              <span class="sat-securityTableHead__cta-text">{{eachHead.data.displayLabel}}</span>
            </button>
            <div class="sat-securityTableHead__actionMenu">
              <button (click)="onClickDelete(eachHead)" class="sat-securityTableHead__actionMenu-deleteBtn santaBtn--iconOnly fal fa-times"></button>
              <button (click)="onClickSortBy(eachHead)" class="sat-securityTableHead__actionMenu-sortBtn santaBtn--iconOnly fal fa-sort-amount-down"></button>
            </div>
          </article>
        </div>
      </div>
      <div class="sat-securityTable__main-table-body">
        <security-table-row 
          *ngFor="let eachRow of tableData.data.rows"
          [rowData]="eachRow"
          (clickedCollapseExpandView)="onClickCollapseExpandView($event)"
          (clickedRowTableCanvas)="onClickRowTableCanvas($event)"
          (clickedSortQuotesByMetric)="onClickSortQuotesByMetric($event)">
        </security-table-row>
      </div>
      <button (click)="onClickAddColumn()" class="sat-securityTable__main-table-addColumnCTA santaBtn--labelled santaBtn--inverseLabelled">
        <i class="fal fa-plus"></i>
        <span>Add Column</span>
      </button>
      <div class="sat-securityTable__main-table-addColumnDropdown">
        <ul class="sat-securityTable__main-table-addColumnDropdown-optionList">
          <li class="sat-securityTable__main-table-addColumnDropdown-optionList-item">Rating</li>
          <li class="sat-securityTable__main-table-addColumnDropdown-optionList-item">Spread</li>
          <li class="sat-securityTable__main-table-addColumnDropdown-optionList-item">Tenor</li>
          <li class="sat-securityTable__main-table-addColumnDropdown-optionList-item">Yield</li>
          <li class="sat-securityTable__main-table-addColumnDropdown-optionList-item">Price</li>
          <li class="sat-securityTable__main-table-addColumnDropdown-optionList-item">Size</li>
          <li class="sat-securityTable__main-table-addColumnDropdown-optionList-item">Senority</li>
          <li class="sat-securityTable__main-table-addColumnDropdown-optionList-item">Obligor</li>
        </ul>
        <button (click)="onCollapseAddColumnDropdown()" class="sat-securityTable__main-table-addColumnDropdown-collapseBtn santaBtn--iconOnly santaBtn--small fal fa-times"></button>
      </div>
    </div>
  </section>
</article>