@import "global.scss";


$securityTable_cell_width: 8.75rem;
$securityTable_cell_width_primary: 14rem + $spacing_small * 2;
$securityTable_cell_width_quant: 8.75rem * 2;
.sat-securityTable {
  $securityTableBlockName: &;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__main {
    @include mix_enable_scrollbar('horizontal');
    display: flex;
    &-table {
      display: flex;
      flex-direction: column;
      &-head {
        flex: 0 0 auto;
        padding: 0 $spacing_medium;
        margin-left: $scroll_bar_width;
        &-row {
          display: flex;
          text-align: center;
          background-color: $color_blue_gray_5;
          color: $font_color_inverse;
        }
      }
      &-body {
        @include mix_enable_scrollbar('vertial');
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        direction: rtl;
        padding: 0 $spacing_medium;
        .sat-securityTableRow {
          direction: ltr;
        }
      }
    }
  }
  &--stencilState {
  }
}

.sat-securityTableHead {
  $securityTableHeadBlockName: &;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $securityTable_cell_width;
  padding: $spacing_small 0;
  &__text {
    display: none;
    font-size: $font_size_small;
    text-align: center;
  }
  &__cta {
    font-size: $font_size_small;
    text-align: center;
  }
  &--securityCardVariant {
    width: $securityTable_cell_width_primary;
    #{$securityTableHeadBlockName} {
      &__text {
        display: inline-block;
      }
      &__cta {
        display: none;
      }
    }
  }
  &--quantVariant {
    width: $securityTable_cell_width_quant;
  }
}

$securityTableRow_expandCanvas_label_width: 6rem;
$securityTableRow_expandCanvas_height: 23rem + $spacing_medium * 2;
.sat-securityTableRow {
  $securityTableRowBlockName: &;
  @include mix_fixed_div(relative, $z_index_standard_base_item_solid);
  display: flex;
  flex-direction: column;
  &__tableCanvas {
    @include mix_alive('material');
    display: flex;
  }
  &__expandCanvas {
    @include mix_fixed_div(absolute, $z_index_standard_base_item); // remove this for single scrollbar
    display: flex;
    flex-direction: column;
    width: 100%; // remove this for single scrollbar
    height: 0;
    top: $spacing_x_large; // remove this for single scrollbar
    overflow: hidden;
    &-content {
      @include mix_alive('custom', transform $animation_duration_light);
      flex: 1 1 auto;
      display: flex;
      transform: translate(0, -100%);
      background-color: $color_active;
      &-label {
        flex: 0 0 $securityTableRow_expandCanvas_label_width;
        display: flex;
        flex-direction: column;
        padding: 0 $spacing_x_small 0 $spacing_medium;
        &-entry {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin-top: $securityTradingMessage_spacing_height * 2;
          color: $font_color_inverse;
          font-size: $font_size_small;
          &:first-of-type {
            margin-top: $spacing_medium + $spacing_small*2 + $font_size_normal*$line_height_small + $spacing_small;
          }
          &--runOrAxe {
            margin-top: $spacing_small;
            height: $iconButton_size_regular;
          }
          &--noSpacing {
            margin-top: $spacing_small;
          }
        }
      }
      &-messageList {
        @include mix_enable_scrollbar('horizontal');
        @include mix_border_generator($typical_border_width 0 0 0, $color_white);
        @include mix_calculate(flex-basis, 100%, 5rem + $spacing_medium, '-'); // remove this for single scrollbar
        display: flex;
        flex-wrap: nowrap;
        margin: $spacing_medium $spacing_medium $spacing_medium 0;
      }
    }
  }
  &:nth-child(odd) {
    background-color: $color_gray_2;
    color: $font_color_minor;
  }
  &:nth-child(even) {
    background-color: $color_blue_gray_1;
    color: $color_blue_gray_8;
  }
  &:hover {
    @include mix_fixed_div(relative, $z_index_standard_base_item_lift);
    #{$securityTableRowBlockName} {
      &__tableCanvas {
        @include material();
        background-color: $color_white;
      }
    }
  }
  &--expandedState {
    #{$securityTableRowBlockName} {
      &__tableCanvas {
        background-color: $color_active;
        margin-bottom: $securityTableRow_expandCanvas_height; // remove this for single scrollbar
        .sat-securityTableCell {
          &__metric {
            &-text {
              color: $font_color_inverse;
            }
          }
        }
      }
      &__expandCanvas {
        height: $securityTableRow_expandCanvas_height;
        &-content {
          transform: translate(0, 0);
        }
      }
    }
  }
  &--expandedState:hover {
    #{$securityTableRowBlockName} {
      &__tableCanvas {
        background-color: $color_active;
        @include material('none');
      }
    }
  }
}

.sat-securityTableCell {
  $securityTableCellBlockName: &;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $securityTable_cell_width;
  padding: $spacing_x_small 0;
  &__metric {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &-text {
      text-align: center;
      padding: 0 $spacing_small;
      user-select: none;
    }
  }
  &__quant {
    flex: 1 1 auto;
    display: none;
    quant-comparer {
      flex: 1 1 auto;
    }
  }
  &--securityCardVariant {
    width: $securityTable_cell_width_primary;
  }
  &--quantVariant {
    width: $securityTable_cell_width_quant;
    #{$securityTableCellBlockName} {
      &__metric {
        display: none;
      }
      &__quant {
        display: flex;
      }
    }
  }
  &--stencilState {
    #{$securityTableCellBlockName} {
      &__metric-text {
        @include mix_stencil_animation;
      }
    }
  }
}