@import "global.scss";
@import "./security-card-mixin.scss";

$securityCard_height: 2rem;
$securityCard_width: 12rem;
$securityCard_rating_opacity: 0.15;

.sat-securityCard {
  $securityCardBlockName: &;
  @include mix_fixed_div(relative, $z_index_standard_base_item);
  @include mix_securityCard();
  @include mix_border_radius(5px);
  display: flex;
  background-color: $color_white;
  height: $securityCard_height;
  width: $securityCard_width;
  overflow: hidden;
  &__name {
    @include mix_fixed_div(relative, $z_index_standard_base_item_lift);
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    color: $font_color_inverse;
    padding-left: $spacing_small;
    font-size: $font_size_small;
  }
  &__rating {
    @include mix_fixed_div(relative, $z_index_standard_base_item_solid);
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: $font_color_inverse;
    opacity: $securityCard_rating_opacity;
    font-size: 24px;
    font-family: 'SantaBlackOps';
  }
}