@import "global.scss";

$securityCard_height: 5rem;
$securityCard_width: 10rem;

.sat-securityCard {
  $securityCardBlockName: &;
  @include mix_fixed_div(relative, $z_index_standard_base_item);
  @include material();
  @include mix_border_radius(5px);
  background-color: $color_white;
  height: $securityCard_height;
  width: $securityCard_width;
}