@import "global.scss";

.sat-market {
  $marketBlockName: &;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: $spacing_large;
  &__test {
    margin: $spacing_large;
    &-item {
      display: flex;
      .sat-securityCard {
        margin: $spacing_small 0;
      }
      &--expanded {
        height: $securityCard_previewVariant_height + $spacing_small*2;
      }
    }
  }
}