<article class="sat-market">
  market page
  <section class="sat-market__test">
    <div *ngFor="let eachCard of state.securityList; let i = index">
        <security-card [cardData]="eachCard"></security-card>
    </div>
  </section>
  <section class="sat-market__test">
    <div *ngFor="let eachCard of state.securityList2; let i = index">
        <security-card [cardData]="eachCard"></security-card>
    </div>
  </section>
  <section class="sat-market__test">
    <div *ngFor="let eachCard of state.securityList4; let i = index">
        <security-card [cardData]="eachCard"></security-card>
    </div>
  </section>
  <section class="sat-market__test">
    <div *ngFor="let eachCard of state.securityList3; let i = index">
        <security-card [cardData]="eachCard"></security-card>
    </div>
  </section>
</article>