<article [ngClass]="{
  'sat-marketGroupPanel': true, 
  'sat-marketGroupPanel--powerMode': state.powerModeActivated,
  'sat-marketGroupPanel--selectedGroupConfigActiveState': state.configurator.showSelectedGroupConfig,
  'sat-marketGroupPanel--configuratorCollapsedState': state.isConfiguratorCollapsed,
  'sat-marketGroupPanel--averageVisualizerEnabledState': state.utility.selectedWidget === 'AVERAGE_VISUALIZER',
  'sat-marketGroupPanel--pieConfiguratorEnabledState': state.utility.selectedWidget === 'PIE_CONFIGURATOR',
  'sat-marketGroupPanel--searchInProgressState': state.configurator.dto.state.isLoading,
  'sat-marketGroupPanel--searchCompletedState': state.isGroupDataLoaded,
  'sat-marketGroupPanel--searchFailedState': state.searchResult.searchFailed
}">
  <section class="sat-marketGroupPanel__configurator">
    <div class="sat-marketGroupPanel__configurator-utility">
      <div class="sat-marketGroupPanel__configurator-utility-hero sat-marketGroupPanel__configurator-utility-hero--left">
        <i class="sat-marketGroupPanel__configurator-utility-hero-icon fal fa-satellite-dish"></i>
      </div>
      <div class="sat-marketGroupPanel__configurator-utility-modeCTA">
        <span class="sat-marketGroupPanel__configurator-utility-modeCTA-title">Explore Mode</span>
        <span class="sat-marketGroupPanel__configurator-utility-modeCTA-title sat-marketGroupPanel__configurator-utility-modeCTA-title--power">Power Mode</span>
        <button (click)="switchMode()" class="santaBtn--labelled">
          <i class="fal fa-repeat"></i>
          <span>Switch</span>
        </button>
      </div>
      <div class="sat-marketGroupPanel__configurator-utility-hero sat-marketGroupPanel__configurator-utility-hero--right">
        <i class="sat-marketGroupPanel__configurator-utility-hero-icon fal fa-rocket"></i>
      </div>
    </div>
    <div class="sat-marketGroupPanel__configurator-mainCanvas">
      <ul class="sat-marketGroupPanel__configurator-mainCanvas-shortcutList">
        <li *ngFor="let eachShortcut of state.configurator.shortcutList" class="sat-marketGroupPanel__configurator-mainCanvas-shortcutList-item">
          <search-shortcut
            [shortcutData]="eachShortcut"
            (onClickShortcutCallback)="onClickSearchShortcut($event)"></search-shortcut>
        </li>
      </ul>
      <div class="sat-marketGroupPanel__configurator-mainCanvas-configurator">
        <security-group-definition-configurator
          (onClickSearch)="onClickSearchInConfigurator($event)"
          (onClickLoadLongOptionList)="loadLongDefinitionOptionList($event)"
          [configuratorData]="state.configurator.dto"
          [highlightedVariant]="state.configurator.showSelectedGroupConfig"
        ></security-group-definition-configurator>
      </div>
    </div>
    <!--
    <div class="sat-marketGroupPanel__configurator-selectedGroupConfigNotice">
      <div class="sat-marketGroupPanel__configurator-selectedGroupConfigNotice-content">
        <div class="sat-marketGroupPanel__configurator-selectedGroupConfigNotice-content-title">
          <span class="sat-marketGroupPanel__configurator-selectedGroupConfigNotice-content-title-text">This config matches the selected groups</span>
        </div>
        <button (click)="onRestoreConfig()" class="sat-marketGroupPanel__configurator-selectedGroupConfigNotice-content-btn">Restore Config</button>
      </div>
    </div>
    -->
  </section>
  <section class="sat-marketGroupPanel__configuratorCollapseCTA">
    <button
      (click)="onToggleCollapseConfigurator()"
      [ngClass]="{
        'sat-marketGroupPanel__configuratorCollapseCTA-btn': true,
        'fal': true,
        'fa-chevron-left': !state.isConfiguratorCollapsed,
        'fa-chevron-right': state.isConfiguratorCollapsed
      }"></button>
    <div class="sat-marketGroupPanel__configuratorCollapseCTA-line"></div>
  </section>
  <section class="sat-marketGroupPanel__groups">
    <div class="sat-marketGroupPanel__groups-utility">
      <div class="sat-marketGroupPanel__groups-utility-prompt">
        <span class="sat-marketGroupPanel__groups-utility-prompt-emptyText">Use the Configurator on the left to search for security groups</span>
        <span class="sat-marketGroupPanel__groups-utility-prompt-highlightText">{{state.searchResult.securityGroupList.length}}</span>
        <span class="sat-marketGroupPanel__groups-utility-prompt-text">groups matched your search</span>
        <span class="sat-marketGroupPanel__groups-utility-prompt-inProgressText">Loading...</span>
        <span class="sat-marketGroupPanel__groups-utility-prompt-inProgressHighlightText">{{state.searchResult.renderProgress}}%</span>
      </div>
      <div class="sat-marketGroupPanel__groups-utility-widgetSelector">
        <div class="sat-marketGroupPanel__groups-utility-widgetSelector-btnGroup santaBtnGroup">
          <button
            (click)="onSwitchWidget('AVERAGE_VISUALIZER')"
            [ngClass]="{
              'sat-marketGroupPanel__groups-utility-widgetSelector-btnGroup-btn': true,
              'santaBtn--labelled': true,
              'sat-marketGroupPanel__groups-utility-widgetSelector-btnGroup-btn--selected': state.utility.selectedWidget === 'AVERAGE_VISUALIZER',
              'santaBtn--inverseLabelled': state.utility.selectedWidget === 'AVERAGE_VISUALIZER'
            }">
            <i class="fas fa-calculator"></i>
            <span>Average Calculator</span>
          </button>
          <button
            (click)="onSwitchWidget('PIE_CONFIGURATOR')"
            [ngClass]="{
              'sat-marketGroupPanel__groups-utility-widgetSelector-btnGroup-btn': true,
              'santaBtn--labelled': true,
              'sat-marketGroupPanel__groups-utility-widgetSelector-btnGroup-btn--selected': state.utility.selectedWidget === 'PIE_CONFIGURATOR',
              'santaBtn--inverseLabelled': state.utility.selectedWidget === 'PIE_CONFIGURATOR'
            }">
            <i class="fas fa-chart-pie"></i>
            <span>Pie Configurator</span>
          </button>
        </div>
      </div>
      <div class="sat-marketGroupPanel__groups-utility-pieConfigurator">
        <div
          (click)="onClickPieConfigurator(state.utility.pieConfigurator.left)"
          [ngClass]="{
            'sat-marketGroupPanel__groups-utility-pieConfigurator-leftPie': true,
            'sat-marketGroupPanel__groups-utility-pieConfigurator-leftPie--selectedState': state.utility.pieConfigurator.left.selected
          }">
          <button
            *ngFor="let eachOption of state.utility.pieConfigurator.left.options; let optionIndex = index"
            (click)="onSelectPieConfiguratorMetric(state.utility.pieConfigurator.left, eachOption)"
            class="sat-marketGroupPanel__groups-utility-pieConfigurator-leftPie-btn--{{optionIndex+1}} {{eachOption.icon}}"
            [ngClass]="{
              'sat-marketGroupPanel__groups-utility-pieConfigurator-leftPie-btn': true,
              'santaBtn--iconOnly santaBtn--small': true,
              'sat-marketGroupPanel__groups-utility-pieConfigurator-leftPie-btn--active': state.utility.pieConfigurator.left.activeMetric === eachOption
            }">
          </button>
          <span class="sat-marketGroupPanel__groups-utility-pieConfigurator-leftPie-text">{{state.utility.pieConfigurator.left.displayText}}</span>
        </div>
        <div
          (click)="onClickPieConfigurator(state.utility.pieConfigurator.right)"
          [ngClass]="{
            'sat-marketGroupPanel__groups-utility-pieConfigurator-rightPie': true,
            'sat-marketGroupPanel__groups-utility-pieConfigurator-rightPie--selectedState': state.utility.pieConfigurator.right.selected
          }">
          <button
            *ngFor="let eachOption of state.utility.pieConfigurator.right.options; let optionIndex = index"
            (click)="onSelectPieConfiguratorMetric(state.utility.pieConfigurator.right, eachOption)"
            class="sat-marketGroupPanel__groups-utility-pieConfigurator-rightPie-btn--{{optionIndex+1}} {{eachOption.icon}}"
            [ngClass]="{
              'sat-marketGroupPanel__groups-utility-pieConfigurator-rightPie-btn': true,
              'santaBtn--iconOnly santaBtn--small': true,
              'sat-marketGroupPanel__groups-utility-pieConfigurator-rightPie-btn--active': state.utility.pieConfigurator.right.activeMetric === eachOption
            }">
          </button>
          <span class="sat-marketGroupPanel__groups-utility-pieConfigurator-rightPie-text">{{state.utility.pieConfigurator.right.displayText}}</span>
        </div>
      </div>
      <div class="sat-marketGroupPanel__groups-utility-groupAverage">
        <security-group-average-visualizer
          [visualizerData]="state.utility.visualizer"
          [panelAtEmptyState]="!state.configurator.dto.state.isLoading && !this.state.isGroupDataLoaded"
          (onMetricChange)="updateGroupStats()"
          (onSortHierarchyChange)="updateSort()">
        </security-group-average-visualizer>
      </div>
    </div>
    <ul class="sat-marketGroupPanel__groups-list">
      <li *ngFor="let eachGroup of state.searchResult.securityGroupList; let i = index" class="sat-marketGroupPanel__groups-list-item">
        <security-group-simple
          [groupData]="eachGroup"
          (onGroupSelect)="onSecurityGroupSelected($event)">
        </security-group-simple>
      </li>
    </ul>
    <div class="sat-marketGroupPanel__groups-errorPrompt">
      <i class="sat-marketGroupPanel__groups-errorPrompt-icon fal fa-sad-tear"></i>
      <span class="sat-marketGroupPanel__groups-errorPrompt-title">Search failed due to </span>
      <span class="sat-marketGroupPanel__groups-errorPrompt-errorText">{{state.searchResult.searchFailedError}}</span>
    </div>
  </section>
</article>