@import "global.scss";

.sat-market {
  $marketBlockName: &;
  display: flex;
  flex-direction: column;
  &__test {
    display: flex;
    justify-content: center;
    margin: $spacing_large;
    &-test1 {
      flex: 0 1 25%;
      margin: $spacing_large;
      width: $securityCard_width + $spacing_large;
      &-ctas {
        display: flex;
        margin-bottom: $spacing_small;
        &-btn {
          margin-right: $spacing_small;
        }
      }
      &-item {
        display: flex;
        .sat-securityCard {
          margin: $spacing_small 0;
        }
        &--expanded {
          height: $securityCard_previewVariant_height + $spacing_small*2;
        }
      }
    }
  }
  &__testGroup {
    display: flex;
    &-test2 {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      margin-top: $spacing_large;
      padding: $spacing_large;
      &-ctas {
        display: flex;
        margin-bottom: $spacing_small;
        &-btn {
          margin-right: $spacing_small;
        }
      }
      &-list {
        flex: 1 1 auto;
        &-item {
          margin: $spacing_large;
        }
      }
    }
  }
}