<article class="sat-market">
  market page
  <section class="sat-market__test">
    <div *ngFor="let eachCard of state.securityList; let i = index">
        <security-card [cardData]="eachCard" [isStencil]="true" [isTable]="false"></security-card>
    </div>
  </section>
  <section class="sat-market__test">
    <div *ngFor="let eachCard of state.securityList; let i = index">
        <security-card [cardData]="eachCard" [isStencil]="false" [isTable]="false"></security-card>
    </div>
  </section>
  <section class="sat-market__test">
    <div *ngFor="let eachCard of state.securityList; let i = index">
        <security-card [cardData]="eachCard" [isStencil]="false" [isTable]="true"></security-card>
    </div>
  </section>
</article>