@import "global.scss";
@import "modules/market/market.scss";
@import "./market-group-panel-mixin.container.scss";

$marketGroupPanel_utility_widgetHeight: 8.25rem;
.sat-marketGroupPanel {
  $marketGroupPanelBlockName: &;
  @include mix_border_generator;
  @include mix_border_radius(10px);
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  &__configurator {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    padding: $spacing_medium 0 0 $spacing_medium;
    &-selectedGroupConfigNotice {
      flex: 0 0 auto;
      overflow: hidden;
      margin-bottom: $spacing_medium;
      &-content {
        @include mix_alive('custom', $animation_duration_light transform);
        @include mix_border_radius(10px);
        display: flex;
        flex-direction: column;
        transform: translate(0, -100%);
        padding: $spacing_medium;
        &-title {
          display: flex;
          &-text {
            color: $font_color_inverse;
          }
        }
        &-btn {
          margin-top: $spacing_small;
        }
      }
    }
    &-shortcutList {
      @include mix_enable_scrollbar('vertical');
      flex: 1 1 auto;
      display: flex;
      width: $securityGroupDefinitionConfigurator_width;
      flex-direction: column;
      &-item {
        margin: $spacing_medium;
      }
    }
    security-group-definition-configurator {
      flex: 1 1 auto;
      display: flex;
      overflow: hidden;
    }
  }
  &__configuratorCollapseCTA {
    @include mix_fixed_div(relative, $z_index_standard_base_item);
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin: $spacing_medium 0;
    &-btn {
      @include mix_fixed_div(relative, $z_index_standard_hovering_item);
      @include mix_border_radius(50%);
      width: $iconButton_size_regular;
      height: $iconButton_size_regular;
      transform: scale(0.01);
    }
    &-line {
      @include mix_fixed_div(absolute, $z_index_standard_base_item);
      @include mix_border_generator(0 0 0 $typical_border_width);
      @include mix_calculate(margin-left, 50%, $typical_border_width, '-');
      height: 100%;
      width: 50%;
      margin-left: 50%;
    }
  }
  &__groups {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: $spacing_medium $spacing_medium $spacing_medium 0;
    &-utility {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      &-prompt {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: $spacing_medium;
        &-emptyText {
          color: $font_color_minor;  
        }
        &-text {
          display: none;
          color: $font_color_minor;
        }
        &-highlightText {
          @include mix_border_radius(5px);
          display: none;
          color: $font_color_inverse;
          background: $color_active;
          padding: 0 $spacing_small;
          margin: 0 $spacing_small;
        }
        &-inProgressText {
          display: none;
          color: $font_color_minor;
          margin-left: $spacing_small;
        }
        &-inProgressHighlightText {
          @include mix_border_radius(5px);
          display: none;
          color: $font_color_inverse;
          background: $color_active;
          padding: 0 $spacing_small;
          margin: 0 $spacing_small;
        }
      }
      &-widgetSelector {
        display: flex;
        justify-content: center;
        margin-bottom: $spacing_medium;
        &-btnGroup {
          &-btn {
            &>span {
              font-size: $font_size_small;
            }
            &--selected {
              @include material('none');
              background: $color_active;
            }
          }
        }
      }
      &-pieConfigurator {
        display: none;
        justify-content: space-between;
        height: $marketGroupPanel_utility_widgetHeight;
        align-items: center;
        padding: 0 $marketGroupPanel_groups_list_padding;
        &-leftPie {
          @include mix_border_radius(50%);
          @include mix_fixed_div(relative, $z_index_standard_base_item);
          @include mix_alive('light');
          @include material;
          width: $securityGroup_base_wheel_size;
          height: $securityGroup_base_wheel_size;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $color_white;
          &-btn {
            @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
            @include mix_border_radius(50%);
            @include mix_pie_configurator_positioning;
            transform: scale(0.01);
            &--active {
              @include material('none');
              border-width: 0;
              background: $color_active;
              color: $font_color_inverse;
              transform: scale(1);
            }
          }
          &-text {
            user-select: none;
          }
          &--selectedState {
            @include material('none');
            background-color: $color_active;
            #{$marketGroupPanelBlockName}__groups-utility-pieConfigurator-leftPie {
              &-btn {
                transform: scale(1);
              }
              &-text {
                color: $font_color_inverse;
              }
            }
          }
        }
        &-rightPie {
          @include mix_border_radius(50%);
          @include mix_fixed_div(relative, $z_index_standard_base_item);
          @include mix_alive('light');
          @include material;
          width: $securityGroup_base_wheel_size;
          height: $securityGroup_base_wheel_size;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $color_white;
          &-btn {
            @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
            @include mix_border_radius(50%);
            @include mix_pie_configurator_positioning;
            transform: scale(0.01);
            &--active {
              @include material('none');
              border-width: 0;
              background: $color_active;
              color: $font_color_inverse;
              transform: scale(1);
            }
          }
          &-text {
            user-select: none;
          }
          &--selectedState {
            @include material('none');
            background-color: $color_active;
            #{$marketGroupPanelBlockName}__groups-utility-pieConfigurator-rightPie {
              &-btn {
                transform: scale(1);
              }
              &-text {
                color: $font_color_inverse;
              }
            }
          }
        }
      }
      &-groupAverage {
        display: none;
        flex-direction: column;
        justify-content: center;
        height: $marketGroupPanel_utility_widgetHeight;
        padding: 0 $marketGroupPanel_groups_list_padding;
      }
    }
    &-list {
      @include mix_enable_scrollbar('vertical');
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      padding: 0 $marketGroupPanel_groups_list_padding $spacing_large $marketGroupPanel_groups_list_padding;
      &-item {
        margin-top: $spacing_small;
      }
    }
    &-errorPrompt {
      @include mix_border_radius(10px);
      flex: 0 1 auto;
      display: none;
      flex-direction: column;
      align-items: center;
      background-color: $color_red_1;
      padding: $spacing_large;
      margin-top: $spacing_small;
      &-icon {
        font-size: $font_size_xxxx_large;
        color: $color_kill;
      }
      &-title {
        text-align: center;
        font-size: $font_size_xx_large;
        color: $color_kill;
        margin: $spacing_large 0;
      }
      &-errorText {
        text-align: center;
        font-size: $font_size_large;
        color: $font_color_major;
      }
    }
  }
  &--selectedGroupConfigActiveState {
    #{$marketGroupPanelBlockName} {
      &__configurator {
        &-selectedGroupConfigNotice {
          background-color: $color_highlight;
          &-content {
            transform: translate(0, 0);
          }
        }
      }
    }
  }
  &--configuratorCollapsedState {
    #{$marketGroupPanelBlockName} {
      &__configurator {
        display: none;
      }
    }
  }
  &--averageVisualizerEnabledState {
    #{$marketGroupPanelBlockName} {
      &__groups-utility-groupAverage {
        display: flex;
      }
    }
  }
  &--pieConfiguratorEnabledState {
    #{$marketGroupPanelBlockName} {
      &__groups-utility-pieConfigurator {
        display: flex;
      }
    }
  }
  &--searchInProgressState {
    #{$marketGroupPanelBlockName} {
      &__configuratorCollapseCTA-btn {
        transform: scale(1);
      }
      &__groups-utility {
        &-prompt {
          &-emptyText, &-text, &-highlightText {
            display: none;
          }
          &-inProgressText, &-inProgressHighlightText {
            display: inline-block;
          }
        }
      }
    }
  }
  &--searchCompletedState {
    #{$marketGroupPanelBlockName} {
      &__configuratorCollapseCTA-btn {
        transform: scale(1);
      }
      &__groups-utility-prompt {
        &-emptyText, &-inProgressText, &-inProgressHighlightText {
          display: none;
        }
        &-text, &-highlightText {
          display: inline-block;
        }
      }
    }
  }
  &--searchFailedState {
    #{$marketGroupPanelBlockName} {
      &__groups {
        &-utility-prompt {
          &-emptyText {
            display: block;
          }
          &-highlightText, &-text {
            display: none;
          }
        }
        &-list {
          display: none;
        }
        &-errorPrompt {
          display: flex;
        }
      }
    }
  }
}