@import "global.scss";

.sat-market {
  $marketBlockName: &;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: $spacing_large;
  &__test {
    margin: $spacing_large;
    .sat-securityCard {
      margin: $spacing_small 0;
    }
  }
}