<article
  [ngClass]="{
    'santaInput': true,
    'santaInput--heroVariant': !!isHero,
    'santaInput--numericVariant': !!isNumeric,
    'santaInput--grayedOutState': !!isGrayedOut
  }">
  <input
    type="{{ isNumeric ? 'number' : 'text' }}"
    [ngClass]="{
      'santaInput__inputElement': true,
      'santaInput__inputElement--error': hasError,
      'santaInput__inputElement--numeric': isNumeric
    }"
    [(ngModel)]="inputValue"
    [placeholder]="placeholder"
    (keyup)="onKey()"
  >
</article>