<article
  [ngClass]="{
    'santaInput': true,
    'santaInput--heroVariant': !!isHero,
    'santaInput--numericVariant': !!isNumeric,
    'santaInput--grayedOutState': !!isGrayedOut,
    'santaInput--disabledState': !!isDisabled,
    'santaInput--nonEditable': !!isNonEditable
  }">
  <!-- tie onPressedGenericKey() with "keyDown" because otherwise special keys won't be detected, such as tab -->
  <input
    type="{{ isNumeric ? 'number' : 'text' }}"
    [ngClass]="{
      'santaInput__inputElement': true,
      'santaInput__inputElement--error': hasError,
      'santaInput__inputElement--numeric': isNumeric
    }"
    [(ngModel)]="inputValue"
    [placeholder]="placeholder"
    [disabled]="!!isDisabled"
    (keyup)="onKey()"
    (focus)="onFocus()"
    (blur)="onBlur()"
    (keyup.enter)="onPressedEnterKey()"
    autofocus="!!autoFocus"
    (keydown)="onPressedGenericKey($event)"
  >
</article>