@import "global.scss";

.santaInput {
  $blockName: &;
  display: flex;
  &__inputElement {
    flex: 1 1 auto;
    &--numeric {
      @include mix_border_generator($static_color: $color_active);
      @include mix_border_radius(5px);
    }
    &--error {
      @include mix_border_generator($static_color: $color_negative);
    }
  }
  &--heroVariant {
    #{$blockName} {
      &__inputElement {
        font-size: $font_size_normal;
        padding: $spacing_xx_small $spacing_small;
      }
    }
  }
  &--numericVariant {
    #{$blockName} {
      &__inputElement {
        text-align: right;
      }
    }
  }
  &--grayedOutState {
    #{$blockName} {
      &__inputElement {
        background-color: transparent;
        border-color: $color_white;
        color: $color_disabled;
      }
    }
  }
  &--disabledState {
    #{$blockName} {
      &__inputElement {
        cursor: not-allowed;
      }
    }
  }
}