<article
  [ngClass]="{
    'santaInput': true,
    'santaInput--heroVariant': !!isHero,
    'santaInput--disabledState': !!isDisabled,
    'santaInput--inverseColored': !!inverseColored
  }">
  <!-- tie onPressedGenericKey() with "keyDown" because otherwise special keys won't be detected, such as tab -->
  <mat-form-field class="santaInput__matForm" appearance="outline">
    <mat-label class="santaInput__matForm-matLabel">{{label}}</mat-label>
    <input
      matInput

      class="santaInput__matForm-input"
      type="{{ isNumeric ? 'number' : 'text' }}"
      autofocus="!!autoFocus"
      autocomplete="off"

      [placeholder]="placeholder"
      [formControl]="formControl"
      
      (keyup)="onKey()"
      (focus)="onFocus()"
      (blur)="onBlur()"
      (keyup.enter)="onPressedEnterKey()"
      (keydown)="onPressedGenericKey($event)"
    >
  </mat-form-field>
</article>