<article class="santaTableNumericFilter">
  <section class="santaTableNumericFilter__minInput">
    <input
      (ngModelChange)="onChangeMin($event)"
      [(ngModel)]="minNumber"
      type="text">
  </section>
  <section class="santaTableNumericFilter__midSymbol">
    <i class="santaTableNumericFilter__midSymbol-content fal fa-wave-square"></i>
  </section>
  <section class="santaTableNumericFilter__maxInput">
    <input
      (ngModelChange)="onChangeMax($event)"
      [(ngModel)]="maxNumber"
      type="text">
  </section>
</article>