@import "global.scss";

.santaTableNumericFilter {
  $santaTableNumericFilter: &;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing_small;
  &__minInput, &__maxInput {
    &>input {
      width: 4rem;
    }
  }
  &__midSymbol {
    margin: 0 $spacing_small;
    &-content {
      color: $font_color_minor;
    }
  }
}