@import "global.scss";

.sat-alertCountSummary {
  $BlockName: &;
  min-width: 8rem;
  border-radius: 4px !important;
  padding: 2px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  &:hover {
    cursor: pointer
  }
  &-icon {
    border-radius: 4px;
    padding: 2px 4px;
  }
  &-text {
    flex: 1;
    border-radius: 4px;
    padding: 2px 4px;
    font-weight: bold;
  }
  &-count {
    font-size: $font_size_x_small;
    font-weight: 900;
    border-radius: 5px;
    padding: 2px 2px;
    min-width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--isAxe, &--isInquiry {
    #{$BlockName} {
      &-count {
        background: white;
        color: $color_axe;
      }
    }

    background: $color_axe;
    color: white
  }

  &--isMark {
    #{$BlockName} {
      &-count {
        background: white;
        color: $tradeMarkAlertColor;
      }
    }

    background: $tradeMarkAlertColor;
    color: white
  }

}
