<article
  [title]="getAlertNameFromType(summary.data.alertType)"
  [ngClass]="{
    'sat-alertCountSummary': true,
    'sat-alertCountSummary--isAxe': summary.state.isAxe,
    'sat-alertCountSummary--isMark': summary.state.isMark,
    'sat-alertCountSummary--isInquiry': summary.state.isInquiry,
    'sat-alertCountSummary--isGroup': false,
    'sat-alertCountSummary--isOther': false
  }">
  <span class="sat-alertCountSummary-icon">
    <i
       [ngClass]="{
    'fas': true,
    'fa-axe': summary.state.isAxe,
    'fa-bullseye-arrow': summary.state.isMark,
    'fa-clock': summary.state.isInquiry
  }"></i>
  </span>
  <span class="sat-alertCountSummary-text">{{getAlertNameFromType(summary.data.alertType)}}</span>
  <span class="sat-alertCountSummary-count">
    {{summary.data.count}}
  </span>
</article>

