<article
  [title]="getAlertNameFromType(type)"
  [ngClass]="{
    'sat-alertCountSummary': true,
    'sat-alertCountSummary--isAxe': state.alertType === constants.alertTypes.axeAlert,
    'sat-alertCountSummary--isMark': state.alertType === constants.alertTypes.markAlert,
    'sat-alertCountSummary--isInquiry': state.alertType === constants.alertTypes.marketListAlert,
    'sat-alertCountSummary--isGroup': false,
    'sat-alertCountSummary--isOther': false
  }">
  <span class="sat-alertCountSummary-icon">
    <i
       [ngClass]="{
    'fas': true,
    'fa-axe': type === constants.alertTypes.axeAlert || type === constants.alertTypes.marketListAlert,
    'fa-bullseye-arrow': type === constants.alertTypes.markAlert
  }"></i>
  </span>
  <span class="sat-alertCountSummary-text">{{getAlertNameFromType(this.type)}}</span>
  <span class="sat-alertCountSummary-count">
    {{this.count}}
  </span>
</article>

