@import "global.scss";

.sat-alertCountSummary {
  $BlockName: &;
  @include mix_border_radius(15px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
  padding: $spacing_xx_small $spacing_x_small;
  margin: $spacing_x_small;
  user-select: none;
  &__icon {
    padding: $spacing_xx_small $spacing_x_small;
    &-img {
      color: $font_color_inverse;
      font-size: $font_size_normal;
    }
  }
  &__text {
    flex: 1;
    border-radius: 4px;
    padding: $spacing_xx_small $spacing_x_small;
    color: $font_color_inverse;
  }
  &__count {
    @include mix_border_radius(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    font-size: $font_size_x_small;
    padding: $spacing_xx_small;
    background-color: $color_white;
    font-weight: 600;
  }
  &--isAxe {
    background-color: $tradeAxeAlertColor;
    #{$BlockName} {
      &__count {
        color: $tradeAxeAlertColor;
      }
    }
  }
  &--isMark {
    background-color: $tradeMarkAlertColor;
    #{$BlockName} {
      &__count {
        color: $tradeMarkAlertColor;
      }
    }
  }
  &--isTrade {
    background-color: $tradeTradeAlertColor;
    #{$BlockName} {
      &__count {
        color: $tradeTradeAlertColor;
      }
    }
  }

}
