<article
  [ngClass]="{
    'sat-securityTradingMessage': true
  }">
  <section class="sat-securityTradingMessage__time">
    <span class="sat-securityTradingMessage__time-text">{{messageData.data.time}}</span>
  </section>
  <section class="sat-securityTradingMessage__main">
    <div class="sat-securityTradingMessage__main-entry">{{messageData.data.dataSource}}</div>
    <div class="sat-securityTradingMessage__main-spacing"></div>
    <div class="sat-securityTradingMessage__main-entry">{{messageData.data.broker}}</div>
    <div class="sat-securityTradingMessage__main-thumbnail">
      <div class="sat-securityTradingMessage__main-thumbnail-bid">
        <i class="sat-securityTradingMessage__main-thumbnail-bid-icon far fa-running"></i>
      </div>
      <div class="sat-securityTradingMessage__main-thumbnail-ask sat-securityTradingMessage__main-thumbnail-ask--axe">
        <i class="sat-securityTradingMessage__main-thumbnail-ask-icon fas fa-axe"></i>
      </div>
    </div>
    <div class="sat-securityTradingMessage__main-twoSideEntry">
      <span class="sat-securityTradingMessage__main-twoSideEntry-bid">
        {{messageData.data.bid.size}}
      </span>
      <span class="sat-securityTradingMessage__main-twoSideEntry-ask">
        {{messageData.data.ask.size}}
      </span>
    </div>
    <div class="sat-securityTradingMessage__main-spacing"></div>
    <div class="sat-securityTradingMessage__main-twoSideEntry">
      <span class="sat-securityTradingMessage__main-twoSideEntry-bid">
        {{messageData.data.bid.price}}
      </span>
      <span class="sat-securityTradingMessage__main-twoSideEntry-ask">
        {{messageData.data.ask.price}}
      </span>
    </div>
    <div class="sat-securityTradingMessage__main-spacing"></div>
    <div class="sat-securityTradingMessage__main-twoSideEntry">
      <span class="sat-securityTradingMessage__main-twoSideEntry-bid">
        {{messageData.data.bid.yield}}
      </span>
      <span class="sat-securityTradingMessage__main-twoSideEntry-ask">
        {{messageData.data.ask.yield}}
      </span>
    </div>
    <div class="sat-securityTradingMessage__main-spacing"></div>
    <div class="sat-securityTradingMessage__main-twoSideEntry">
      <span class="sat-securityTradingMessage__main-twoSideEntry-bid">
        {{messageData.data.bid.spread}}
      </span>
      <span class="sat-securityTradingMessage__main-twoSideEntry-ask">
        {{messageData.data.ask.spread}}
      </span>
    </div>
  </section>
  <section class="sat-securityTradingMessage__arrow">
    <i class="sat-securityTradingMessage__arrow-icon fal fa-arrow-left"></i>
  </section>
</article>