<article
  [ngClass]="{
    'sat-securityTradingMessage': true
  }">
  <section class="sat-securityTradingMessage__time">
    <span class="sat-securityTradingMessage__time-text">12:02 pm</span>
  </section>
  <section class="sat-securityTradingMessage__main">
    <div class="sat-securityTradingMessage__main-entry">RUN</div>
    <div class="sat-securityTradingMessage__main-spacing"></div>
    <div class="sat-securityTradingMessage__main-entry">GS</div>
    <div class="sat-securityTradingMessage__main-thumbnail">
      <div class="sat-securityTradingMessage__main-thumbnail-bid">
        <i class="sat-securityTradingMessage__main-thumbnail-bid-icon far fa-running"></i>
      </div>
      <div class="sat-securityTradingMessage__main-thumbnail-ask sat-securityTradingMessage__main-thumbnail-ask--axe">
        <i class="sat-securityTradingMessage__main-thumbnail-ask-icon fas fa-axe"></i>
      </div>
    </div>
    <div class="sat-securityTradingMessage__main-twoSideEntry">
      <span class="sat-securityTradingMessage__main-twoSideEntry-bid">
        10MM
      </span>
      <span class="sat-securityTradingMessage__main-twoSideEntry-ask">
        5MM
      </span>
    </div>
    <div class="sat-securityTradingMessage__main-spacing"></div>
    <div class="sat-securityTradingMessage__main-twoSideEntry">
      <span class="sat-securityTradingMessage__main-twoSideEntry-bid">
        105.483
      </span>
      <span class="sat-securityTradingMessage__main-twoSideEntry-ask">
        106.338
      </span>
    </div>
    <div class="sat-securityTradingMessage__main-spacing"></div>
    <div class="sat-securityTradingMessage__main-twoSideEntry">
      <span class="sat-securityTradingMessage__main-twoSideEntry-bid">
        4.16
      </span>
      <span class="sat-securityTradingMessage__main-twoSideEntry-ask">
        4.11
      </span>
    </div>
    <div class="sat-securityTradingMessage__main-spacing"></div>
    <div class="sat-securityTradingMessage__main-twoSideEntry">
      <span class="sat-securityTradingMessage__main-twoSideEntry-bid">
        181.00
      </span>
      <span class="sat-securityTradingMessage__main-twoSideEntry-ask">
        176.00
      </span>
    </div>
  </section>
  <section class="sat-securityTradingMessage__arrow">
    <i class="sat-securityTradingMessage__arrow-icon fal fa-arrow-left"></i>
  </section>
</article>