<article
  [ngClass]="{
    'sat-securityTradingMessage': true,
    'sat-securityTradingMessage--noBid': !messageData.state.hasBid,
    'sat-securityTradingMessage--noAsk': !messageData.state.hasAsk,
    'sat-securityTradingMessage--bidIsAxe': messageData.state.hasBid && messageData.data.bid.isAxe,
    'sat-securityTradingMessage--askIsAxe':
    messageData.state.hasAsk && messageData.data.ask.isAxe,
    'sat-securityTradingMessage--diffBenchmark': messageData.state.diffBenchmark
  }">
  <section class="sat-securityTradingMessage__time">
    <span class="sat-securityTradingMessage__time-text">{{messageData.data.time}}</span>
  </section>
  <section class="sat-securityTradingMessage__main">
    <div class="sat-securityTradingMessage__main-entry">{{messageData.data.dataSource}}</div>
    <div class="sat-securityTradingMessage__main-spacing"></div>
    <div class="sat-securityTradingMessage__main-entry">{{messageData.data.broker}}</div>
    <div class="sat-securityTradingMessage__main-spacing"></div>
    <div class="sat-securityTradingMessage__main-twoSideEntry">
      <span class="sat-securityTradingMessage__main-twoSideEntry-bid">
        {{messageData.data.bid.price}}
      </span>
      <i class="sat-securityTradingMessage__main-twoSideEntry-mid fal fa-arrows-h"></i>
      <span class="sat-securityTradingMessage__main-twoSideEntry-ask">
        {{messageData.data.ask.price}}
      </span>
    </div>
    <div class="sat-securityTradingMessage__main-spacing"></div>
    <div class="sat-securityTradingMessage__main-twoSideEntry">
      <span class="sat-securityTradingMessage__main-twoSideEntry-bid">
        {{messageData.data.bid.yield}}
      </span>
      <i class="sat-securityTradingMessage__main-twoSideEntry-mid fal fa-arrows-h"></i>
      <span class="sat-securityTradingMessage__main-twoSideEntry-ask">
        {{messageData.data.ask.yield}}
      </span>
    </div>
    <div class="sat-securityTradingMessage__main-spacing"></div>
    <div class="sat-securityTradingMessage__main-twoSideEntry">
      <span class="sat-securityTradingMessage__main-twoSideEntry-bid">
        {{messageData.data.bid.tspread}}
      </span>
      <i class="sat-securityTradingMessage__main-twoSideEntry-mid fal fa-arrows-h"></i>
      <span class="sat-securityTradingMessage__main-twoSideEntry-ask">
        {{messageData.data.ask.tspread}}
      </span>
    </div>
    <div class="sat-securityTradingMessage__main-spacing"></div>
    <div class="sat-securityTradingMessage__main-twoSideEntry sat-securityTradingMessage__main-twoSideEntry--veryLong">
      <i class="sat-securityTradingMessage__main-twoSideEntry-bidAxeIcon fas fa-axe"></i>
      <span class="sat-securityTradingMessage__main-twoSideEntry-bid">
        {{messageData.data.bid.size}}
      </span>
      <i class="sat-securityTradingMessage__main-twoSideEntry-mid fal fa-arrows-h"></i>
      <span class="sat-securityTradingMessage__main-twoSideEntry-ask">
        {{messageData.data.ask.size}}
      </span>
      <i class="sat-securityTradingMessage__main-twoSideEntry-askAxeIcon fas fa-axe"></i>
    </div>
    <div class="sat-securityTradingMessage__main-spacing"></div>
    <div class="sat-securityTradingMessage__main-benchmarkEntry">
      <span class="sat-securityTradingMessage__main-benchmarkEntry-consolidated">
        {{messageData.data.consolidatedBenchmark}}
      </span>
      <span class="sat-securityTradingMessage__main-benchmarkEntry-bid">
        {{messageData.data.bid.benchmark}}
      </span>
      <i class="sat-securityTradingMessage__main-benchmarkEntry-mid fal fa-arrows-h"></i>
      <span class="sat-securityTradingMessage__main-benchmarkEntry-ask">
        {{messageData.data.ask.benchmark}}
      </span>
    </div>
  </section>
</article>