@import "global.scss";

$portfolioBreakdownCategory_cell_width: 3.5rem;
.sat-portfolioBreakdownCategory {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  $blockName: &;
  &__btn {
    @include mix_border_generator();
    @include mix_text_overflow;
    flex: 0 0 7rem;
    margin: 0 $spacing_small $spacing_small 0;
    padding: $spacing_xx_small;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    cursor: not-allowed;
    &-text {
      flex: 1 1 auto;
      text-align: right;
      padding-left: convert_px_to_rem(31.25px);
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--diveIn {
      border: none;
      cursor: pointer;
      @include mix_shadow($material_regular_southMarkup, $material_lowHover_degree, $material_regular_intensity);
      &:hover{
        @include mix_shadow($material_regularHover_southMarkup, $material_regularHover_degree, $material_regularHover_intensity);
      }
    }
  }
  &__cellGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    text-align: center;
    &-cell {
      @include mix_text_overflow;
      flex: 0 0 ($portfolioBreakdownCategory_cell_width - $spacing_x_small*4/3 - $typical_border_width*2/3);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: $font_size_normal;
      color: $font_color_major;
      &--target {
        @include mix_border_radius(5px);
        align-self: stretch;
        background-color: $color_active;
        color: $font_color_inverse;
        margin: $spacing_x_small 0;
      }
    }
    &-cellDivider {
      @include mix_border_generator(0 $typical_border_width 0 0);
      flex: 0 0 $spacing_x_small+$typical_border_width;
      margin: $spacing_x_small $spacing_x_small $spacing_x_small 0;
    }
  }
  &__moveVisualizer {
    display: flex;
    flex: 0 0 6.5rem;
    margin-right: $spacing_small;
    &>move-visualizer {
      flex: 1 1 auto;
      margin-right: $spacing_small;
    }
  }
  &--noSignificantDiff {
    #{$blockName} {
      &__cellGroup {
        &-cell {
          &--target {
            background-color: transparent;
            color: $font_color_major;
          }
        }
      }
    }
  }
  &--negativeDiff {
    #{$blockName} {
      &__cellGroup {
        &-cell {
          &--target {
            background-color: $color_red_5;
          }
        }
      }
    }
  }
  &--stencilState {
    #{$blockName} {
      &__cellGroup {
        &-cell {
          @include mix_stencil_animation;
          background-color: $color_stencil;
          color: $color_stencil;
        }
      }
    }
  }
}