@import "global.scss";
@import "modules/structure/structure.scss";

$portfolioBreakdownRowCategory_cell_width: 4rem - $spacing_x_small*4/3 - $typical_border_width*2/3;
$portfolioBreakdownRowBtnMinHeight: 2.25rem;
$portfolioBreakdownRowBranchLeftIncrement: 1.5rem;
$portfolioBreakdownRowBranchLevel2Base: .5rem;
$portfolioBreakdownRowBranchLevel3Base: $portfolioBreakdownRowBranchLevel2Base + $portfolioBreakdownRowBranchLeftIncrement;
$portfolioBreakdownRowBranchLevel4Base: $portfolioBreakdownRowBranchLevel3Base + $portfolioBreakdownRowBranchLeftIncrement;
$portfolioBreakdownRowBranchLevel5Base: $portfolioBreakdownRowBranchLevel4Base + $portfolioBreakdownRowBranchLeftIncrement;
$portfolioBreakdownRowBranchLevel6Base: $portfolioBreakdownRowBranchLevel5Base + $portfolioBreakdownRowBranchLeftIncrement;
$portfolioBreakdownRowBranchLevel7Base: $portfolioBreakdownRowBranchLevel6Base + $portfolioBreakdownRowBranchLeftIncrement;
$portfolioBreakdownRowLevel2LeftOffset: $portfolioBreakdownRowBranchLevel2Base + $spacing_small;
$portfolioBreakdownRowLevel3LeftOffset: $portfolioBreakdownRowBranchLevel3Base + $spacing_small;
$portfolioBreakdownRowLevel4LeftOffset: $portfolioBreakdownRowBranchLevel4Base + $spacing_small;
$portfolioBreakdownRowLevel5LeftOffset: $portfolioBreakdownRowBranchLevel5Base + $spacing_small;
$portfolioBreakdownRowLevel6LeftOffset: $portfolioBreakdownRowBranchLevel6Base + $spacing_small;
$portfolioBreakdownRowLevel7LeftOffset: $portfolioBreakdownRowBranchLevel7Base + $spacing_small;
$portfolioBreakdownRow_cta_actionMenu_top: -1.5rem;
.sat-portfolioBreakdownRow {
  $blockName: &;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  &__branch {
    @include mix_border_generator(0 0 2px 2px, $color_gray_4);
    position: absolute;
    width: 1rem;
  }
  &__cta {
    @include mix_fixed_div(relative, $z_index_base_item);
    flex: 0 0 9.5rem;
    display: flex;
    margin-right: $spacing_small;
    &-btn {
      @include mix_fixed_div(relative, $z_index_base_item_solid);
      flex: 1 1 auto;
      display: flex;
      min-height: $portfolioBreakdownRowBtnMinHeight;
      margin: $spacing_x_small;
      padding: $spacing_xx_small;
      text-align: right;
      flex-direction: row;
      &-editedTargetAmount {
        @include mix_border_radius(3px);
        display: none;
        position: relative;
        background-color: $color_active;
        color: $font_color_inverse;
        padding: $spacing_xx_small;
        font-size: $font_size_small;
        &-tooltip {
          @include mix_fixed_div(absolute, $z_index_tooltip_lift);
          display: none;
          top: -$iconButton_size_x_small;
          background-color: $color_active;
          color: $font_color_inverse;
          padding: $spacing_xx_small;
          font-size: $font_size_small;
          white-space: nowrap;
        }
        &:hover {
          #{$blockName} {
            &__cta {
              &-btn {
                &-editedTargetAmount {
                  &-tooltip {
                    display: flex;
                  }
                }
              }
            }
          }
        }
      }
      &-text {
        flex: 1 1 auto;
        text-align: left;
        word-break: break-word;
        padding-left: $spacing_xx_small;
      }
      &-view {
        @include mix_border_radius(3px);
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: $iconButton_size_x_small;
        height: $iconButton_size_x_small;
        color: $font_color_inverse;
        font-size: $font_size_small;
        &-icon {
          flex: 0 0 auto;
        }
        &-toolTip {
          display: none;
          position: absolute;
          top: -$iconButton_size_x_small;
          background-color: $color_active;
          color: $font_color_inverse;
          padding: $spacing_xx_small;
          font-size: $font_size_small;
        }
        &:hover {
          #{$blockName} {
            &__cta {
              &-btn {
                &-view {
                  &-toolTip {
                    display: flex;
                  }
                }
              }
            }
          }
        }
      }
    }
    &-actionMenu {
      @include mix_fixed_div(absolute, $z_index_hovering_item_lift);
      @include mix_alive('custom', $animation_duration_light transform);
      display: flex;
      flex-direction: column;
      width: 100%;
      transform: scale(0.01);
      top: $portfolioBreakdownRow_cta_actionMenu_top;
      &-top {
        @include mix_alive('custom', $animation_duration_light transform);
        display: flex;
        justify-content: space-around;
        margin-bottom: $spacing_small;
        transform: translate(0, 100%);
        &-viewBtn {
          &-icon {
            display: flex;
            &-up {
              font-size: $font_size_normal;
              margin-bottom: $spacing_x_small;
            }
            &-down {
              font-size: $font_size_normal;
              margin-top: $spacing_x_small;
            }
          }
        }
        &-subLevelToggle {
          visibility: hidden;
        }
        &-bondBtn {
        }
      }
      &-bottom {
        @include mix_alive('custom', $animation_duration_light transform);
        display: flex;
        justify-content: center;
        margin-top: $spacing_small;
        transform: translate(0, -100%);
        &-diveInBtn {
          visibility: hidden;
        }
      }
    }
  }
  &__cell {
    @include mix_text_overflow;
    flex: 0 0 $portfolioBreakdownRowCategory_cell_width;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: $font_size_normal;
    color: $font_color_major;
    &--target {
      @include mix_border_radius(5px);
      padding: $spacing_x_small 0;
      background-color: $color_active;
      color: $font_color_inverse;
      margin: $spacing_x_small 0;
    }
    &--index {
      display: none;
    }
    &--delta {
      @include mix_border_radius(5px);
      padding: $spacing_x_small 0;
      margin: $spacing_x_small 0;
    }
  }
  &__cellDivider {
    @include mix_border_generator(0 $typical_border_width 0 0);
    flex: 0 0 $spacing_x_small+$typical_border_width;
    align-self: stretch;
    margin: $spacing_x_small $spacing_x_small $spacing_x_small 0;
  }
  &__utility {
    @include mix_fixed_div(relative, $z_index_base_item_solid);
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    align-self: flex-start;
    &-moveVisualizer {
      flex: 0 1 90%;
      display: flex;
      &>move-visualizer {
        flex: 1 1 auto;
      }
    }
    &-ctas {
      @include mix_fixed_div(absolute, $z_index_dropdown);
      @include mix_alive('light');
      display: flex;
      transform: scale(0);
      justify-content: center;
      &-btn {
        margin-right: $spacing_small;
        &-icon {
          color: $font_color_inverse;
        }
        &-text {
          word-break: break-all;
          color: $font_color_inverse;
        }
        &--positive {
          background-color: $viewPositiveColor;
        }
        &--improving {
          background-color: $viewImprovingColor;
          #{$blockName} {
            &__utility {
              &-ctas {
                &-btn {
                  &-icon {
                    transform: rotate(45deg);
                  }
                }
              }
            }
          }
        }
        &--neutral {
          background-color: $viewNeutralColor;
        }
        &--deteriorating {
          background-color: $viewDeterioratingColor;
          #{$blockName} {
            &__utility {
              &-ctas {
                &-btn {
                  &-icon {
                    transform: rotate(-45deg);
                  }
                }
              }
            }
          }
        }
        &--negative {
          background-color: $viewNegativeColor;
        }
      }
    }
  }
  &__subLevelTargetGauge {
    display: none;
    flex: 0 0 100%;
    margin: $spacing_minimum 0 $spacing_x_small 0;
    &-content {
      flex: 0 0 100%;
      display: flex;
      align-items: center;
      overflow: hidden;
      &-label {
        color: $font_color_minor;
      }
      &-scaleList {
        display: flex;
        &-item {
          @include mix_border_radius(3px);
          @include mix_bics_subLevel_target_gauge;
          width: 1.25rem;
          height: 0.25rem;
          margin-left: $spacing_x_small;
        }
      }
    }
    &-tooltip {
      @include mix_fixed_div(absolute, $z_index_tooltip);
      @include mix_border_radius(3px);
      display: none;
      background-color: $color_active;
      color: $font_color_inverse;
      padding: $spacing_x_small $spacing_small;
      top: 100%;
      left: $spacing_large;
    }
    &:hover>&-tooltip {
      display: flex;
    }
  }
  &--deltaSignificantPositive {
    #{$blockName} {
      &__cell {
        &--delta {
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
    }
  }
  &--deltaSignificantNegative {
    #{$blockName} {
      &__cell {
        &--delta {
          background-color: $color_red_5;
          color: $font_color_inverse;
        }
      }
    }
  }
  &--isBics {
    #{$blockName} {
      &__cta-btn {
        background-color: $color_gray_7;
        color: $font_color_inverse;
      }
    }
  }
  &--isBicsDiveIn {
    #{$blockName} {
      &__cta {
        &-btn {
          background-color: $color_white;
          color: $font_color_major;
        }
        &-actionMenu-bottom-diveInBtn {
          visibility: visible;
        }
      }
    }
  }
  &--isEditingView {
    #{$blockName} {
      &__cta {
        &-actionMenu-top-viewBtn {
          @include material('none');
          background-color: $color_active;
          &-icon {
            color: $font_color_inverse;
          }
          &>span {
            color: $font_color_inverse;
          }
        }
      }
      &__utility {
        &-ctas {
          transform: scale(1);
        }
      }
    }
  }
  &--positive {
    #{$blockName} {
      &__cta {
        &-btn {
          &-view {
            background-color: $viewPositiveColor;
          }
        }
      }
      &__utility {
        &-ctas {
          &-btn {
            &--positive {
              @include mix_cta_active;
            }
          }
        }
      }
    }
  }
  &--improving {
    #{$blockName} {
      &__cta {
        &-btn {
          &-view {
            background-color: $viewImprovingColor;
            &-icon {
              transform: rotate(45deg);
            }
          }
        }
      }
      &__utility {
        &-ctas {
          &-btn {
            &--improving {
              @include mix_cta_active;
            }
          }
        }
      }
    }
  }
  &--deteriorating {
    #{$blockName} {
      &__cta {
        &-btn {
          &-view {
            background-color: $viewDeterioratingColor;
            &-icon {
              transform: rotate(-45deg);
            }
          }
        }
      }
      &__utility {
        &-ctas {
          &-btn {
            &--deteriorating {
              @include mix_cta_active;
            }
          }
        }
      }
    }
  }
  &--negative {
    #{$blockName} {
      &__cta {
        &-btn {
          &-view {
            background-color: $viewNegativeColor;
          }
        }
      }
      &__utility {
        &-ctas {
          &-btn {
            &--negative {
              @include mix_cta_active;
            }
          }
        }
      }
    }
  }
  &--neutral {
    #{$blockName} {
      &__cta {
        &-btn {
          &-view {
            background-color: $viewNeutralColor;
          }
        }
      }
      &__utility {
        &-ctas {
          &-btn {
            &--neutral {
              @include mix_cta_active;
              #{$blockName} {
                &__utility {
                  &-ctas {
                    &-btn {
                      &-icon {
                        color: $font_color_inverse;
                      }
                      &-text {
                        color: $font_color_inverse
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &--selected {
    #{$blockName} {
      &__cta {
        &-btn {
          background-color: $color_active;
          box-shadow: none;
          color: $font_color_inverse;
          &:hover {
            box-shadow: none;
          }
        }
        &-actionMenu {
          transform: scale(1);
          &-top {
            transform: translate(0, 0);
          }
          &-bottom {
            transform: translate(0, 0);
          }
        }
      }
    }
  }
  &--noSignificantDiff {
    #{$blockName} {
      &__cell {
        &--target {
          background-color: transparent;
          color: $font_color_major;
        }
      }
    }
  }
  &--negativeDiff {
    #{$blockName} {
      &__cell {
        &--target {
          background-color: $color_red_5;
        }
      }
    }
  }
  &--hasSubLevels {
    #{$blockName} {
      &__cta {
        &-actionMenu-top-subLevelToggle {
          visibility: visible;
        }
      }
    }
  }
  &--parallelLevel1Row {
    #{$blockName} {
      &__subLevelTargetGauge {
        display: flex;
      }
    }
  }
  &--parallelLevel2Row {
    display: none;
    #{$blockName} {
      &__branch {
        left: $portfolioBreakdownRowBranchLevel2Base;
      }
      &__subLevelTargetGauge {
        margin-left: $portfolioBreakdownRowLevel2LeftOffset;
      }
      &__cta {
        margin-left: $portfolioBreakdownRowLevel2LeftOffset;
        &-btn {
          margin-left: $spacing_x_small;
        }
      }
    }
  }
  &--parallelLevel3Row {
    display: none;
    #{$blockName} {
      &__branch {
        left: $portfolioBreakdownRowBranchLevel3Base;
      }
      &__subLevelTargetGauge {
        margin-left: $portfolioBreakdownRowLevel3LeftOffset;
      }
      &__cta {
        margin-left: $portfolioBreakdownRowLevel3LeftOffset;
        &-btn {
          margin-left: $spacing_x_small;
        }
      }
    }
  }
  &--parallelLevel4Row {
    display: none;
    #{$blockName} {
      &__branch {
        left: $portfolioBreakdownRowBranchLevel4Base;
      }
      &__subLevelTargetGauge {
        margin-left: $portfolioBreakdownRowLevel4LeftOffset;
      }
      &__cta {
        margin-left: $portfolioBreakdownRowLevel4LeftOffset;
        &-btn {
          margin-left: $spacing_x_small;
        }
      }
    }
  }
  &--parallelLevel5Row {
    display: none;
    #{$blockName} {
      &__branch {
        left: $portfolioBreakdownRowBranchLevel5Base;
      }
      &__subLevelTargetGauge {
        margin-left: $portfolioBreakdownRowLevel5LeftOffset;
      }
      &__cta {
        margin-left: $portfolioBreakdownRowLevel5LeftOffset;
        &-btn {
          margin-left: $spacing_x_small;
        }
      }
    }
  }
  &--parallelLevel6Row {
    display: none;
    #{$blockName} {
      &__branch {
        left: $portfolioBreakdownRowBranchLevel6Base;
      }
      &__subLevelTargetGauge {
        margin-left: $portfolioBreakdownRowLevel6LeftOffset;
      }
      &__cta {
        margin-left: $portfolioBreakdownRowLevel6LeftOffset;
        &-btn {
          margin-left: $spacing_x_small;
        }
      }
    }
  }
  &--parallelLevel7Row {
    display: none;
    #{$blockName} {
      &__branch {
        left: $portfolioBreakdownRowBranchLevel7Base;
      }
      &__subLevelTargetGauge {
        margin-left: $portfolioBreakdownRowLevel7LeftOffset;
      }
      &__cta {
        margin-left: $portfolioBreakdownRowLevel7LeftOffset;
        &-btn {
          margin-left: $spacing_x_small;
        }
      }
    }
  }
  &--showSubLevels {
    #{$blockName} {
      &__cta {
        &-actionMenu-top-subLevelToggle {
          @include material('none');
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
      &__subLevelTargetGauge {
        display: none;
      }
    }
  }
  &--visibleSubLevel {
    &#{$blockName} {
      &--parallelLevel2Row,
      &--parallelLevel3Row,
      &--parallelLevel4Row,
      &--parallelLevel5Row,
      &--parallelLevel6Row,
      &--parallelLevel7Row {
        display: flex;
      }
    }
  }
  &--isWithinEditRow {
    #{$blockName} {
      &__branch {
        display: none;
      }
      &__cellDivider {
        border-color: $color_white;
      }
      &__cta {
        flex: 0 0 12rem;
        &-btn {
          @include material('none');
          @include mix_border_generator($typical_border_width, $color_white);
          pointer-events: none;
          background-color: $color_gray_7;
          color: $font_color_inverse;
        }
        &-actionMenu {
          top: 0;
          &-top {
            display: none;
          }
          &-bottom {
            margin-top: 0;
          }
        }
      }
      &__subLevelTargetGauge {
        display: flex;
      }
    }
    &#{$blockName} {
      &--isBicsDiveIn {
        #{$blockName} {
          &__cta-btn {
            @include material;
            background-color: $color_white;
            border-width: 0;
            pointer-events: auto;
            color: $font_color_major;
          }
        }
      }
      &--selected {
        #{$blockName} {
          &__cta {
            &-btn {
              @include material('none');
              background-color: $color_active;
              color: $font_color_inverse;
            }
          }
        }
      }
    }
  }
  &--hasEditedSubLevels {
    #{$blockName} {
      &__cta {
        &-btn {
          &-editedTargetAmount {
            display: flex;
          }
          &-text {
            margin-right: $spacing_small;
          }
        }
      }
    }
  }
  &--isWithinSetTargetPreview {
    #{$blockName} {
      &__cta {
        &-actionMenu {
          display: none;
        }
      }
    }
  }
  &--isViewingHistoricalData {
    #{$blockName} {
      &__cta {
        &-actionMenu-top-viewBtn {
          visibility: hidden;
          pointer-events: none;
        }
      }
    }
  }
  &--isViewingIndex {
    #{$blockName} {
      &__cell {
        &--index {
          display: flex;
        }
        &--delta {
          display: none;
        }
      }
    }
  }
  &--stencilState {
    #{$blockName} {
      &__cta {
        &-btn {
          cursor: not-allowed;
        }
      }
      &__cell {
        @include mix_stencil_animation;
        background-color: $color_stencil;
        color: $color_stencil;
      }
    }
  }
}