@import "global.scss";

$portfolioBreakdownRowCategory_cell_width: 3.5rem;
$portfolioBreakdownRowBtnMinHeight: 2.25rem;
.sat-portfolioBreakdownRow {
  $blockName: &;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  &__cta {
    @include mix_fixed_div(relative, $z_index_base_item);
    display: flex;
    flex: 0 0 7.5rem;
    margin-right: $spacing_small;
    &-btn {
      @include mix_border_generator();
      display: flex;
      flex: 1 1 auto;
      margin: 0 $spacing_small $spacing_small 0;
      padding: $spacing_xx_small;
      box-shadow: none;
      text-align: right;
      flex-direction: row;
      cursor: not-allowed;
      &-text {
        flex: 1 1 auto;
        text-align: right;
        padding-left: $spacing_small;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &__cellGroup {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 9rem;
    text-align: center;
    &-cell {
      @include mix_text_overflow;
      flex: 0 0 ($portfolioBreakdownRowCategory_cell_width - $spacing_x_small*4/3 - $typical_border_width*2/3);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: $font_size_normal;
      color: $font_color_major;
      &--target {
        @include mix_border_radius(5px);
        align-self: stretch;
        background-color: $color_active;
        color: $font_color_inverse;
        margin: $spacing_x_small 0;
      }
    }
    &-cellDivider {
      @include mix_border_generator(0 $typical_border_width 0 0);
      flex: 0 0 $spacing_x_small+$typical_border_width;
      margin: $spacing_x_small $spacing_x_small $spacing_x_small 0;
    }
  }
  &__moveVisualizer {
    display: flex;
    flex: 1 1 auto;
    margin-right: $spacing_small;
    &>move-visualizer {
      flex: 1 1 auto;
      margin-right: $spacing_small;
    }
  }
  &--isBicsDiveIn {
    #{$blockName} {
      &__cta {
        &-btn {
          @include mix_text_overflow_multi_line();
          -webkit-box-align: end;
          height: $portfolioBreakdownRowBtnHeight;
          @include mix_shadow($material_regular_southMarkup, $material_lowHover_degree, $material_regular_intensity);
          cursor: pointer;
          &:hover{
            @include mix_shadow($material_regularHover_southMarkup, $material_regularHover_degree, $material_regularHover_intensity);
          }
        }
      }
    }
  }
  &--selected {
    #{$blockName} {
      &__cta {
        &-btn {
          background-color: $color_active;
          box-shadow: none;
          color: $font_color_inverse;
          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
  &--noSignificantDiff {
    #{$blockName} {
      &__cellGroup {
        &-cell {
          &--target {
            background-color: transparent;
            color: $font_color_major;
          }
        }
      }
    }
  }
  &--negativeDiff {
    #{$blockName} {
      &__cellGroup {
        &-cell {
          &--target {
            background-color: $color_red_5;
          }
        }
      }
    }
  }
  &--stencilState {
    #{$blockName} {
      &__cellGroup {
        &-cell {
          @include mix_stencil_animation;
          background-color: $color_stencil;
          color: $color_stencil;
        }
      }
    }
  }
}