<article [ngClass]="{
  'sat-portfolioBreakdownRow': true,
  'sat-portfolioBreakdownRow--stencilState': breakdownRow.state.isStencil,
  'sat-portfolioBreakdownRow--isBicsDiveIn': breakdownRow.state.isBtnDiveIn && breakdownRow.data.bicsLevel < 4,
  'sat-portfolioBreakdownRow--selected': breakdownRow.state.isSelected,
  'sat-portfolioBreakdownRow--noSignificantDiff': breakdownRow.data.diffToTarget === 0,
  'sat-portfolioBreakdownRow--isEditingView': breakdownRow.state.isEditingView,
  'sat-portfolioBreakdownRow--negativeDiff': breakdownRow.data.diffToTarget < 0,
  'sat-portfolioBreakdownRow--positive': breakdownRow.data.view === constants.positive,
  'sat-portfolioBreakdownRow--improving': breakdownRow.data.view === constants.improving,
  'sat-portfolioBreakdownRow--deteriorating': breakdownRow.data.view === constants.deteriorating,
  'sat-portfolioBreakdownRow--negative': breakdownRow.data.view === constants.negative,
  'sat-portfolioBreakdownRow--neutral': breakdownRow.data.view === constants.neutral,
  'sat-portfolioBreakdownRow--showFullCategoryState': !!breakdownRow.data.showFullCategory
  }">
  <section class="sat-portfolioBreakdownRow__cta">
    <button (click)="onClickDiveIn(breakdownRow)" class="sat-portfolioBreakdownRow__cta-btn">
      <div class="sat-portfolioBreakdownRow__cta-btn-iconGroup">
        <i [ngClass]="{
          'sat-portfolioBreakdownRow__cta-btn-iconGroup-primaryIcon': true,
          'fal': true,
          'fa-arrow-up': breakdownRow.data.view === constants.positive || breakdownRow.data.view === constants.improving,
          'fa-arrow-down': breakdownRow.data.view === constants.negative || breakdownRow.data.view === constants.deteriorating,
          'fa-minus': breakdownRow.data.view === constants.neutral
        }"></i>
        <i [ngClass]="{
          'sat-portfolioBreakdownRow__cta-btn-iconGroup-secondaryIcon': true,
          'fal': true,
          'fa-arrow-up': breakdownRow.data.view === constants.positive,
          'fa-arrow-down': breakdownRow.data.view === constants.negative
        }"></i>
      </div>
      <span class="sat-portfolioBreakdownRow__cta-btn-text" title="{{breakdownRow.data.category}}">{{ breakdownRow.data.displayCategory }}</span>
    </button>
  </section>
  <section class="sat-portfolioBreakdownRow__utility">
    <div class="sat-portfolioBreakdownRow__utility-moveVisualizer">
      <move-visualizer [visualizerData]="breakdownRow.data.moveVisualizer"></move-visualizer>
    </div>
    <div class="sat-portfolioBreakdownRow__utility-ctas">
      <button (click)="onClickSetView(constants.overweight)"class="sat-portfolioBreakdownRow__utility-ctas-btn santaBtn--circleLabelled santaBtn--inverseLabelled santaBtn--small sat-portfolioBreakdownRow__utility-ctas-btn--overweight">
        <i class="fal fa-arrow-up"></i>
        <span>over weight</span>
      </button>
      <button (click)="onClickSetView(constants.underweight)"class="sat-portfolioBreakdownRow__utility-ctas-btn santaBtn--circleLabelled santaBtn--inverseLabelled santaBtn--small sat-portfolioBreakdownRow__utility-ctas-btn--underweight">
        <i class="fal fa-arrow-down"></i>
        <span>under weight</span>
      </button>
      <button (click)="onClickSetView(constants.neutral)"class="sat-portfolioBreakdownRow__utility-ctas-btn santaBtn--circleLabelled santaBtn--small sat-portfolioBreakdownRow__utility-ctas-btn--neutral">
        <i class="fal fa-minus"></i>
        <span>neutral</span>
      </button>
    </div>
  </section>
    <div class="sat-portfolioBreakdownRow__cell sat-portfolioBreakdownRow__cell--target">{{breakdownRow.data.diffToTargetDisplay}}</div>
    <hr class="sat-portfolioBreakdownRow__cellDivider">
    <div class="sat-portfolioBreakdownRow__cell sat-portfolioBreakdownRow__cell--current">{{breakdownRow.data.currentPctDisplay}}</div>
    <hr class="sat-portfolioBreakdownRow__cellDivider">
    <div class="sat-portfolioBreakdownRow__cell sat-portfolioBreakdownRow__cell--index">{{breakdownRow.data.indexPctDisplay}}</div>
</article>