<article 
  [ngClass]="{
    'sat-portfolioBreakdownRow': true,
    'sat-portfolioBreakdownRow--stencilState': breakdownRow.state.isStencil,
    'sat-portfolioBreakdownRow--isBicsDiveIn': breakdownRow.state.isBtnDiveIn,
    'sat-portfolioBreakdownRow--selected': breakdownRow.state.isSelected,
    'sat-portfolioBreakdownRow--noSignificantDiff': breakdownRow.data.diffToTarget === 0,
    'sat-portfolioBreakdownRow--isEditingView': breakdownRow.state.isEditingView,
    'sat-portfolioBreakdownRow--negativeDiff': breakdownRow.data.diffToTarget < 0,
    'sat-portfolioBreakdownRow--positive': breakdownRow.data.view === constants.positive,
    'sat-portfolioBreakdownRow--improving': breakdownRow.data.view === constants.improving,
    'sat-portfolioBreakdownRow--deteriorating': breakdownRow.data.view === constants.deteriorating,
    'sat-portfolioBreakdownRow--negative': breakdownRow.data.view === constants.negative,
    'sat-portfolioBreakdownRow--neutral': breakdownRow.data.view === constants.neutral,
    'sat-portfolioBreakdownRow--hasSubLevels': !breakdownRow.state.isWithinPopover && !!breakdownRow.state.isBtnDiveIn && breakdownRow.data.displayedSubLevelRows.length > 0,
    'sat-portfolioBreakdownRow--showSubLevels': !breakdownRow.state.isWithinPopover && !!breakdownRow.state.isBtnDiveIn && breakdownRow.state.isShowingSubLevels,
    'sat-portfolioBreakdownRow--level1Row': !breakdownRow.state.isWithinPopover && breakdownRow.data.bicsLevel === 1 && !!breakdownRow.state.isBtnDiveIn,
    'sat-portfolioBreakdownRow--level2Row': !breakdownRow.state.isWithinPopover && breakdownRow.data.bicsLevel === 2 && !!breakdownRow.state.isBtnDiveIn,
    'sat-portfolioBreakdownRow--level3Row': !breakdownRow.state.isWithinPopover && breakdownRow.data.bicsLevel === 3 && !!breakdownRow.state.isBtnDiveIn,
    'sat-portfolioBreakdownRow--level4Row': !breakdownRow.state.isWithinPopover && breakdownRow.data.bicsLevel === 4,
    'sat-portfolioBreakdownRow--visibleSubLevel': !!breakdownRow.state.isVisibleSubLevel &&  breakdownRow.data.bicsLevel >= 2 && !breakdownRow.state.isWithinPopover,
    'sat-portfolioBreakdownRow--isWithinEditRow': !!breakdownRow.state.isWithinEditRow,
    'sat-portfolioBreakdownRow--isWithinSetTargetPreview': !!breakdownRow.state.isWithinSetTargetPreview,
    'sat-portfolioBreakdownRow--isViewingHistoricalData': !!breakdownRow.state.isViewingHistoricalData
  }">
  <section class="sat-portfolioBreakdownRow__branch" *ngIf="breakdownRow.data.bicsLevel >= 2 && !breakdownRow.state.isWithinPopover" [ngStyle]="{'height': breakdownRow.style.branchHeight, 'top': breakdownRow.style.top}"></section>
  <section class="sat-portfolioBreakdownRow__cta">
    <button (click)="onClickCategory()" class="sat-portfolioBreakdownRow__cta-btn">
      <div class="sat-portfolioBreakdownRow__cta-btn-view">
        <span *ngIf="!!breakdownRow.data.view" class="sat-portfolioBreakdownRow__cta-btn-view-toolTip">{{ breakdownRow.data.view }}</span>
        <i [ngClass]="{
          'sat-portfolioBreakdownRow__cta-btn-view-icon': true,
          'fal': true,
          'fa-arrow-up': breakdownRow.data.view === constants.positive || breakdownRow.data.view === constants.improving,
          'fa-arrow-down': breakdownRow.data.view === constants.negative || breakdownRow.data.view === constants.deteriorating,
          'fa-arrows-alt-h': breakdownRow.data.view === constants.neutral
        }"></i>
      </div>
      <span class="sat-portfolioBreakdownRow__cta-btn-text" title="{{breakdownRow.data.category}}">{{ breakdownRow.data.displayCategory }}</span>
      <span
        *ngIf="breakdownRow.data.editedSubLevelRowsWithTargets.length > 0 && breakdownRow.state.isWithinEditRow"
        class="sat-portfolioBreakdownRow__cta-btn-editedTargetAmount">
        <span class="sat-portfolioBreakdownRow__cta-btn-editedTargetAmount-tooltip">Number of edited sub levels</span>
        {{ breakdownRow.data.editedSubLevelRowsWithTargets.length}}
        <i class="fal fa-pencil"></i>
      </span>
    </button>
    <div class="sat-portfolioBreakdownRow__cta-actionMenu" (click)="onCollapseActionMenu()">
      <div class="sat-portfolioBreakdownRow__cta-actionMenu-top">
        <button (click)="onClickEnterSetViewMode()" class="sat-portfolioBreakdownRow__cta-actionMenu-top-viewBtn santaBtn--circleLabelled santaBtn--small">
          <i class="sat-portfolioBreakdownRow__cta-actionMenu-top-viewBtn-icon">
            <i class="sat-portfolioBreakdownRow__cta-actionMenu-top-viewBtn-icon-up fal fa-arrow-up"></i>
            <i class="sat-portfolioBreakdownRow__cta-actionMenu-top-viewBtn-icon-down fal fa-arrow-down"></i>
          </i>
          <span>Set View</span>
        </button>
        <button (click)="showSubLevels(breakdownRow)" class="sat-portfolioBreakdownRow__cta-actionMenu-top-subLevelToggle santaBtn--circleLabelled santaBtn--small">
          <i class="fal fa-flag-checkered"></i>
          <span>Show Targets</span>
        </button>
        <button (click)="onClickSeeBond()" class="sat-portfolioBreakdownRow__cta-actionMenu-top-bondBtn santaBtn--circleLabelled santaBtn--small">
          <i class="fal fa-search-dollar"></i>
          <span>See Bonds</span>
        </button>
      </div>
      <div class="sat-portfolioBreakdownRow__cta-actionMenu-bottom">
        <button (click)="onClickDiveIn(breakdownRow)" class="sat-portfolioBreakdownRow__cta-actionMenu-bottom-diveInBtn santaBtn--circleLabelled">
          <i class="fal fa-arrow-from-top"></i>
          <span>Dive In</span>
        </button>
      </div>
    </div>
  </section>
  <section class="sat-portfolioBreakdownRow__utility">
    <div class="sat-portfolioBreakdownRow__utility-moveVisualizer">
      <move-visualizer [visualizerData]="breakdownRow.data.moveVisualizer"></move-visualizer>
    </div>
    <div class="sat-portfolioBreakdownRow__utility-ctas">
      <button (click)="onClickSetView(constants.positive)"class="sat-portfolioBreakdownRow__utility-ctas-btn santaBtn--circleLabelled santaBtn--inverseLabelled santaBtn--small sat-portfolioBreakdownRow__utility-ctas-btn--positive">
        <i class="fal fa-arrow-up sat-portfolioBreakdownRow__utility-ctas-btn-icon"></i>
        <span class="sat-portfolioBreakdownRow__utility-ctas-btn-text">positive</span>
      </button>
      <button (click)="onClickSetView(constants.improving)"class="sat-portfolioBreakdownRow__utility-ctas-btn santaBtn--circleLabelled santaBtn--small santaBtn--inverseLabelled sat-portfolioBreakdownRow__utility-ctas-btn--improving">
        <i class="fal fa-arrow-up sat-portfolioBreakdownRow__utility-ctas-btn-icon"></i>
        <span class="sat-portfolioBreakdownRow__utility-ctas-btn-text">improving</span>
      </button>
      <button (click)="onClickSetView(constants.neutral)"class="sat-portfolioBreakdownRow__utility-ctas-btn santaBtn--circleLabelled santaBtn--small sat-portfolioBreakdownRow__utility-ctas-btn--neutral">
        <i class="fal fa-arrows-alt-h sat-portfolioBreakdownRow__utility-ctas-btn-icon"></i>
        <span class="sat-portfolioBreakdownRow__utility-ctas-btn-text">neutral</span>
      </button>
      <button (click)="onClickSetView(constants.deteriorating)"class="sat-portfolioBreakdownRow__utility-ctas-btn santaBtn--circleLabelled santaBtn--small sat-portfolioBreakdownRow__utility-ctas-btn--deteriorating">
        <i class="fal fa-arrow-down sat-portfolioBreakdownRow__utility-ctas-btn-icon"></i>
        <span class="sat-portfolioBreakdownRow__utility-ctas-btn-text">deteriorating</span>
      </button>
      <button (click)="onClickSetView(constants.negative)"class="sat-portfolioBreakdownRow__utility-ctas-btn santaBtn--circleLabelled santaBtn--small sat-portfolioBreakdownRow__utility-ctas-btn--negative">
        <i class="fal fa-arrow-down sat-portfolioBreakdownRow__utility-ctas-btn-icon"></i>
        <span class="sat-portfolioBreakdownRow__utility-ctas-btn-text">negative</span>
      </button>
    </div>
  </section>
  <section class="sat-portfolioBreakdownRow__cell sat-portfolioBreakdownRow__cell--target">
    {{breakdownRow.data.diffToTargetDisplay}}
  </section>
  <hr class="sat-portfolioBreakdownRow__cellDivider">
  <section class="sat-portfolioBreakdownRow__cell sat-portfolioBreakdownRow__cell--current">
    {{breakdownRow.data.currentPctDisplay}}
  </section>
  <hr class="sat-portfolioBreakdownRow__cellDivider">
  <section class="sat-portfolioBreakdownRow__cell sat-portfolioBreakdownRow__cell--index">
    {{breakdownRow.data.indexPctDisplay}}
  </section>
  <section class="sat-portfolioBreakdownRow__subLevelTargetGauge">
    <div class="sat-portfolioBreakdownRow__subLevelTargetGauge-content">
      <span class="sat-portfolioBreakdownRow__subLevelTargetGauge-content-label"></span>
      <ul class="sat-portfolioBreakdownRow__subLevelTargetGauge-content-scaleList">
        <li *ngFor="let eachScale of breakdownRow.data.displayedSubLevelRowsWithTargets; let level = index;" [ngClass]="'sat-portfolioBreakdownRow__subLevelTargetGauge-content-scaleList-item sat-portfolioBreakdownRow__subLevelTargetGauge-content-scaleList-item--level-' + level">
        </li>
      </ul>
    </div>
    <span class="sat-portfolioBreakdownRow__subLevelTargetGauge-tooltip">Number of Sub-level targets</span>
  </section>
</article>