<article
[ngClass]="{
  'sat-fundTargetBar': true,
  'sat-fundTargetBar--inactive': targetBar.state.isInactiveMetric,
  'sat-fundTargetBar--stencilState': targetBar.state.isStencil
  }"
>
    <p class="sat-fundTargetBar__type">{{ targetBar.data.targetMetric }}</p>
    <section class="sat-fundTargetBar__indicator">
      <div class="sat-fundTargetBar__indicator--total"></div>
      <div
      [ngStyle]="{'width': targetBar.data.exceededPercentage}"
      class="sat-fundTargetBar__indicator--exceeded"></div>
      <div
      [ngStyle]="{'width': targetBar.data.currentPercentage}"
      class="sat-fundTargetBar__indicator--current"></div>
      <div
      class="sat-fundTargetBar__indicator-values">
        <span class="sat-fundTargetBar__indicator-values-text">{{ targetBar.data.displayedCurrentValue }}/{{ targetBar.data.displayedTargetValue }}</span>
      </div>
    </section>
</article>