@import "global.scss";

.sat-fundTargetBar {
  @include mix_fixed_div(relative, $z_index_base_item);
  $blockName: &;
  &__type {
    font-size: $font_size_small;
    margin: 0 0 $spacing_x_small 0;
    text-align: center;
  }
  &__indicator {
    @include mix_border_generator($static_color: $color_active);
    @include mix_border_radius(5px);
    background-color: $color_active;
    @include mix_fixed_div(relative, $z_index_base_item);
    height: $spacing_large;
    overflow: hidden;
    &:hover,
    &:focus {
      + #{$blockName} {
        &__tooltip {
          display: block;
        }
      }
    }
    &-bar,
    &-values {
      @include mix_fixed_div(absolute, $z_index_base_item_solid);
      display: inline-block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 0;
      height: 100%;
    }
    &-bar {
      &--total {
        background-color: $color_active;
        width: 100%;
        z-index: $z_index_base_item_solid;
      }
      &--current {
        @include mix_theme_background;
        z-index: $z_index_base_item_lift;
      }
      &--exceeded {
        background-color: $color_red_5;
        z-index: $z_index_hovering_item;
      }
    }
    &-values {
      @include mix_fixed_div(absolute, $z_index_hovering_item_lift);
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: $line_height_minimum;
      width: 80%;
      &-text {
        color: $font_color_inverse;
      }
    }
  }
  &__tooltip {
    @include mix_fixed_div(absolute, $z_index_hovering_item);
    @include mix_border_radius(3px);
    left: 50%;
    transform: translateX(-50%);
    display: none;
    color: $font_color_inverse;
    line-height: $line_height_small;
    background-color:  $color_active;
    text-align: center;
    width:100%;
    padding: $spacing_xx_small;
    font-size: $font_size_x_small;
    margin-top: $spacing_xx_small;
  }
  &--emptyState {
    #{$blockName} {
      &__indicator {
        background-color: $color_active;
        &-bar {
          display: none;
        }
      }
    }
  }
  &--inactiveState {
    #{$blockName} {
      &__indicator {
        background-color: $color_gray_3;
        &-bar {
          &--total {
            background-color: $color_gray_3;
          }
          &--exceeded {
            background-color: $color_gray_7;
          }
          &--current {
            @include mix_gradient($color_gray_3, $color_gray_6, 0%, 90deg);
          }
        }
      }
      &__indicator {
        background-color: $color_disabled;
      }
    }
  }
  &--errorState {
    #{$blockName} {
      &__indicator {
        background-color: $color_disabled;
        &-bar {
          display: none;
        }
      }
    }
  }
  &--stencilState {
    #{$blockName} {
      &__indicator {
        &-values {
          &-text {
            @include mix_stencil_animation();
          }
        }
      }
    }
  }
}
