@import "global.scss";

.sat-fundTargetBar {
  @include mix_fixed_div(relative, $z_index_base_item);
  $blockName: &;
  &__type {
    font-size: $font_size_small;
    margin: 0 0 $spacing_x_small 0;
    text-align: center;
    color: $font_color_major;
  }
  &__indicator {
    @include mix_border_generator($static_color: $color_active);
    @include mix_border_radius(5px);
    @include mix_fixed_div(relative, $z_index_base_item);
    height: $spacing_large;
    overflow: hidden;
    background-color: $color_active;
    margin-bottom: $spacing_x_small;
    &-bar {
      @include mix_fixed_div(absolute, $z_index_base_item_solid);
      display: inline-block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 0;
      height: 100%;
      &--current {
        @include mix_theme_background;
        z-index: $z_index_base_item_lift;
      }
      &--exceeded {
        background-color: $color_red_5;
        z-index: $z_index_hovering_item;
      }
    }
    &-values {
      @include mix_fixed_div(absolute, $z_index_hovering_item_lift);
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: $line_height_minimum;
      width: 80%;
      &-text {
        color: $font_color_inverse;
      }
    }
  }
  &__additionalMetricTargetData {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
      &-type {
        margin-bottom: $spacing_xx_small;
      }
      &-type,
      &-value {
        flex: 1 1 auto;
      }
  }
  &__tooltip {
    @include mix_fixed_div(absolute, $z_index_hovering_item);
    @include mix_border_radius(3px);
    left: 50%;
    transform: translateX(-50%);
    display: none;
    color: $font_color_inverse;
    line-height: $line_height_small;
    background-color:  $color_active;
    text-align: center;
    width:100%;
    padding: $spacing_xx_small;
    font-size: $font_size_x_small;
    margin-top: $spacing_xx_small;
  }
  &:hover,
  &:focus {
    #{$blockName} {
      &__tooltip {
        display: block;
      }
    }
  }
  &--emptyState {
    #{$blockName} {
      &__indicator {
        background-color: $color_active;
        &-bar {
          display: none;
        }
      }
    }
  }
  &--inactiveState {
    #{$blockName} {
      &__type {
        color: $color_disabled;
      }
      &__indicator {
        opacity: 0.2;
      }
      &__additionalMetricTargetData {
        &-type,
        &-value {
          color: $color_disabled;
        }
      }
    }
  }
  &--errorState {
    #{$blockName} {
      &__indicator {
        background-color: $color_disabled;
        &-bar {
          display: none;
        }
      }
    }
  }
  &--stencilState {
    #{$blockName} {
      &__indicator {
        &-values {
          &-text {
            @include mix_stencil_animation();
          }
        }
      }
      &__additionalMetricTargetData {
        &-value {
          @include mix_stencil_animation();
        }
      }
    }
  }
}
