<article
[ngClass]="{
  'sat-fundTargetBar': true,
  'sat-fundTargetBar--inactiveState': targetBar.state.isInactiveMetric,
  'sat-fundTargetBar--stencilState': targetBar.state.isStencil,
  'sat-fundTargetBar--emptyState': targetBar.state.isEmpty,
  'sat-fundTargetBar--errorState': targetBar.state.isDataUnavailable
  }"
>
    <p class="sat-fundTargetBar__type">{{ targetBar.data.targetMetric }}</p>
    <section class="sat-fundTargetBar__indicator">
      <div class="sat-fundTargetBar__indicator-bar sat-fundTargetBar__indicator-bar--total"></div>
      <div
      [ngStyle]="{'width': targetBar.data.exceededPercentage}"
      class="sat-fundTargetBar__indicator-bar sat-fundTargetBar__indicator-bar--exceeded"></div>
      <div
      [ngStyle]="{'width': targetBar.data.currentPercentage}"
      class="sat-fundTargetBar__indicator-bar sat-fundTargetBar__indicator-bar--current"></div>
      <div
      class="sat-fundTargetBar__indicator-values">
        <span class="sat-fundTargetBar__indicator-values-text">{{ targetBar.data.displayedResults }}</span>
      </div>
    </section>
    <div class="sat-fundTargetBar__tooltip">Current / Target</div>
</article>