@import "global.scss";

.sat-fundTargetBar {
  $fundTargetBarBlockName: &;
    &__type {
      font-size: $font_size_small;
      margin: 0 0 $spacing_x_small 0;
      text-align: center;
      font-weight: bold;
    }
    &__indicator {
      @include mix_border_generator($static_color: $color_gray_9);
      @include mix_border_radius(3px);
      background-color: $color_gray_9;
      @include mix_fixed_div(relative, $z_index_base_item);
      width: 8rem;
      height: 1.5rem;
      &--total,
      &--exceeded,
      &--current,
      &-values {
        @include mix_fixed_div(absolute, $z_index_base_item_solid);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0;
        height: 100%;
      }
      &--total {
        @include mix_gradient($color_gray_7, $color_gray_95, 40%, 45deg);
        width: 100%;
        z-index: $z_index_base_item_solid;
      }
      &--current {
        @include mix_gradient($color_blue_6, $color_blue_9, 40%, 45deg);
        z-index: $z_index_base_item_lift; 
      }
      &--exceeded {
        @include mix_gradient($color_orange_6, $color_orange_9, 40%, 45deg);
        z-index: $z_index_hovering_item;
      }
      &-values {
        @include mix_fixed_div(absolute, $z_index_hovering_item_lift);
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color_white;
        text-align: center;
        width: 50%;
        height: 100%;
      }
    }
    &--stencilState {
      #{$fundTargetBarBlockName} {
        &__indicator,
        &__type {
          @include mix_stencil_animation();
          &-values {
            @include mix_border_radius(3px);
            color: transparent;
            height: 50%;
            background: $color_stencil!important;
          }
        }
      }
    }
    &--inactive {
      opacity: .3;
      #{$fundTargetBarBlockName} {
        &__type,
        &__indicator {
          &--exceeded {
            @include mix_gradient($color_gray_4, $color_gray_5, 40%, 45deg);
          }
          &--current {
            @include mix_gradient($color_gray_7, $color_gray_8, 40%, 45deg);
          }
        }
      }
      &#{$fundTargetBarBlockName} {
       &--stencilState {
        #{$fundTargetBarBlockName} {
          &__indicator {
            &--total {
              z-index: $z_index_hovering_item;
            }
            &--exceeded,
            &--current {
              z-index: $z_index_base_item_lift
            }
          }
        }
       }
      }
    }
  }
