<article [ngClass]="{
  'sat-popover': true,
  'sat-popover--active': !!popover && popover.state.isActive,
  'sat-popover--noDataAvailable': !!popover && !!popover.data.mainRow.data.children && popover.data.mainRow.data.children.data.displayCategoryList.length === 0
}">
  <button *ngIf="!!popover" (click)="closePopover()" class="sat-popover__closeBtn santaBtn--circleLabelled">
    <i class="fal fa-times"></i>
    <span>Close</span>
  </button>
  <section class="sat-popover__categoryHeader">
    <div class="sat-popover__categoryHeader-cell">
      <i class="sat-popover__categoryHeader-cell-icon fas fa-flag-checkered"></i>
      <div class="sat-popover__categoryHeader-cell-tooltip">Target</div>
    </div>
    <div class="sat-popover__categoryHeader-cell">
      <i class="sat-popover__categoryHeader-cell-icon fas fa-chart-pie"></i>
      <div class="sat-popover__categoryHeader-cell-tooltip">Current %</div>
    </div>
    <div class="sat-popover__categoryHeader-cell">
      <i class="sat-popover__categoryHeader-cell-icon fas fa-analytics"></i>
      <div class="sat-popover__categoryHeader-cell-tooltip">Index %</div>
    </div>
  </section>
  <section class="sat-popover__mainCategory" *ngIf="!!popover">
    <ul class="sat-popover__mainCategory-list">
      <li class="sat-popover__mainCategory-list-item">
        <portfolio-breakdown-row
          [breakdownRow]="popover.data.mainRow"
          (categoryClicked)="onClickBreakdownCategory($event)"
          (rowDiveInClicked)="getNextBicsLevel($event)"
          (seeBondClicked)="onClickSeeBond()"
          (enterSetViewModeClicked)="onClickEnterSetViewMode($event)">
        </portfolio-breakdown-row>
      </li>
    </ul>
  </section>
  <section class="sat-popover__levels" *ngIf="!!popover">
    <div class="sat-popover__levels-firstDiveIn">
      <p class="sat-popover__levels-firstDiveIn-message">No further BICs data is available<p>
      <div class="sat-popover__levels-firstDiveIn-category">
        <span class="sat-popover__levels-firstDiveIn-category-text"> Level {{ popover.data.mainRow.data.bicsLevel + 1 }} - {{ popover.data.mainRow.data.category }}</span>
      </div>
      <ul class="sat-popover__levels-firstDiveIn-list" *ngIf="!!popover.data.mainRow.data.children">
        <li
          *ngFor="let secondLevel of popover.data.mainRow.data.children.data.displayCategoryList" 
          class="sat-popover__levels-firstDiveIn-list-item">
          <portfolio-breakdown-row
            [breakdownRow]="secondLevel"
            (categoryClicked)="onClickBreakdownCategory($event)"
            (rowDiveInClicked)="getNextBicsLevel($event)"
            (seeBondClicked)="onClickSeeBond()"
            (enterSetViewModeClicked)="onClickEnterSetViewMode($event)">
          </portfolio-breakdown-row>
          <div [ngClass]="{
            'sat-popover__levels-secondDiveIn': true,
            'sat-popover__levels-secondDiveIn--active': secondLevel.state.isDoveIn
          }">
            <div class="sat-popover__levels-secondDiveIn-category">
              <span class="sat-popover__levels-secondDiveIn-category-text"> Level {{secondLevel.data.bicsLevel + 1 }} - {{ secondLevel.data.category }}</span>
            </div>
            <ul class="sat-popover__levels-secondDiveIn-list"
            *ngIf="secondLevel.data.children">
              <li *ngFor="let thirdLevel of secondLevel.data.children.data.displayCategoryList"
              class="sat-popover__levels-secondDiveIn-list-item">
                <portfolio-breakdown-row
                  [breakdownRow]="thirdLevel"
                  (categoryClicked)="onClickBreakdownCategory($event)"
                  (rowDiveInClicked)="getNextBicsLevel($event)"
                  (seeBondClicked)="onClickSeeBond()"
                  (enterSetViewModeClicked)="onClickEnterSetViewMode($event)">
                </portfolio-breakdown-row>
                <div [ngClass]="{
                  'sat-popover__levels-thirdDiveIn': true,
                  'sat-popover__levels-thirdDiveIn--active': thirdLevel.state.isDoveIn
                }">
                  <ul class="sat-popover__levels-thirdDiveIn-list" *ngIf="thirdLevel.data.children">
                    <li *ngFor="let fourthLevel of thirdLevel.data.children.data.displayCategoryList"
                    class="sat-popover__levels-thirdDiveIn-list-item">
                      <portfolio-breakdown-row
                        [breakdownRow]="fourthLevel"
                        (categoryClicked)="onClickBreakdownCategory($event)"
                        (seeBondClicked)="onClickSeeBond()"
                        (enterSetViewModeClicked)="onClickEnterSetViewMode($event)">
                      </portfolio-breakdown-row>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>
</article>