<article [ngClass]="{
  'sat-popover': true,
  'sat-popover--active': popover.state.isActive
}">
  <button class="sat-popover__close-btn santaBtn--iconOnly fal fa-times" (click)="closePopover()"></button>
  <section class="sat-popover__categoryHeader">
    <div class="sat-popover__categoryHeader-cell">
      <i class="sat-popover__categoryHeader-cell-icon fas fa-pennant"></i>
      <div class="sat-popover__categoryHeader-cell-tooltip">Target</div>
    </div>
    <div class="sat-popover__categoryHeader-cell">
      <i class="sat-popover__categoryHeader-cell-icon fas fa-chart-pie"></i>
      <div class="sat-popover__categoryHeader-cell-tooltip">Current %</div>
    </div>
    <div class="sat-popover__categoryHeader-cell">
      <i class="sat-popover__categoryHeader-cell-icon fas fa-analytics"></i>
      <div class="sat-popover__categoryHeader-cell-tooltip">Index %</div>
    </div>
  </section>
  <section class="sat-popover__mainCategory">
    <ul class="sat-popover__mainCategory-list">
      <li 
      [ngClass]="{
        'sat-popover__mainCategory-list-item': true,
        'sat-popover__mainCategory-list-item--noSignificantDiff': popover.data.mainRow.data.diffToTarget === 0,
        'sat-popover__mainCategory-list-item--negative  Diff': popover.data.mainRow.data.diffToTarget < 0
        }">
        <portfolio-breakdown-row
          [breakdownRow]="popover.data.mainRow"
          (breakdownRowDiveIn)="getNextBicsLevel($event)">
        </portfolio-breakdown-row>
      </li>
    </ul>
  </section>
  <section class="sat-popover__levels">
    <div class="sat-popover__levels-firstDiveIn">
      <div class="sat-popover__levels-firstDiveIn-category">
        <span class="sat-popover__levels-firstDiveIn-category-text"> Level {{ popover.data.mainRow.data.bicsLevel + 1 }} - {{ popover.data.mainRow.data.category }}</span>
      </div>
      <ul class="sat-popover__levels-firstDiveIn-list">
        <li
          *ngFor="let secondLevel of popover.data.mainRow.data.children.data.displayCategoryList" 
          [ngClass]="{
          'sat-popover__levels-firstDiveIn-list-item': true,
          'sat-popover__levels-firstDiveIn-list-item--noSignificantDiff': secondLevel.data.diffToTarget === 0,
          'sat-popover__levels-firstDiveIn-list-item--negativeDiff': secondLevel.data.diffToTarget < 0
          }">
          <portfolio-breakdown-row
            [breakdownRow]="secondLevel"
            (breakdownRowDiveIn)="getNextBicsLevel($event)">
          </portfolio-breakdown-row>
          <div [ngClass]="{
            'sat-popover__levels-secondDiveIn': true,
            'sat-popover__levels-secondDiveIn--active': secondLevel.state.isSelected
          }">
            <div class="sat-popover__levels-secondDiveIn-category">
              <span class="sat-popover__levels-secondDiveIn-category-text"> Level {{secondLevel.data.bicsLevel + 1 }} - {{ secondLevel.data.category }}</span>
            </div>
            <ul class="sat-popover__levels-secondDiveIn-list"
            *ngIf="secondLevel.data.children">
              <li *ngFor="let thirdLevel of secondLevel.data.children.data.displayCategoryList"
              [ngClass]="{
                'sat-popover__levels-secondDiveIn-list-item': true,
                'sat-popover__levels-secondDiveIn-list-item--noSignificantDiff': thirdLevel.data.diffToTarget === 0,
                'sat-popover__levels-secondDiveIn-list-item--negative  Diff': thirdLevel.data.diffToTarget < 0
                }">
                <portfolio-breakdown-row
                  [breakdownRow]="thirdLevel"
                  (breakdownRowDiveIn)="getNextBicsLevel($event)">
                </portfolio-breakdown-row>
                <div [ngClass]="{
                  'sat-popover__levels-thirdDiveIn': true,
                  'sat-popover__levels-thirdDiveIn--active': thirdLevel.state.isSelected
                }">
                  <div class="sat-popover__levels-thirdDiveIn-category">
                    <span class="sat-popover__levels-thirdDiveIn-category-text"> Level {{ thirdLevel.data.bicsLevel + 1 }} - {{ thirdLevel.data.category }}</span>
                  </div>
                  <ul class="sat-popover__levels-thirdDiveIn-list" *ngIf="thirdLevel.data.children">
                    <li *ngFor="let fourthLevel of thirdLevel.data.children.data.displayCategoryList"
                    [ngClass]="{
                      'sat-popover__levels-thirdDiveIn-list-item': true,
                      'sat-popover__levels-thirdDiveIn-list-item--noSignificantDiff': fourthLevel.data.diffToTarget === 0,
                      'sat-popover__levels-thirdDiveIn-list-item--negativeDiff': fourthLevel.data.diffToTarget < 0
                      }">
                      <portfolio-breakdown-row
                        [breakdownRow]="fourthLevel">
                      </portfolio-breakdown-row>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>
</article>