@import "global.scss";
@import "modules/structure/structure.scss";

$portfolioBreakdownRow_borderWidth: $typical_border_width*2;
$portfolioBreakdownRow_borderColor: $color_active;
$portfolioBreakdownRow_categoryList_cell_width: 3.5rem;
.sat-popover {
  $blockName: &;
  @include mix_fixed_div(absolute, $z_index_hovering_item_lift);
  @include mix_border_generator($portfolioBreakdownRow_borderWidth, $portfolioBreakdownRow_borderColor);
  @include mix_border_radius(10px);
  @include mix_alive('light');
  background-color: $color_white;
  width: $portfolioBreakdownWidth - $spacing_medium*2;
  height: 38rem;
  top: 0;
  left: 0;
  transform: scale(0) translate(0, 0);
  padding: $spacing_medium $spacing_small;
  &__closeBtn {
    @include mix_fixed_div(absolute, $z_index_hovering_item);
    @include mix_calculate(left, 50%, $iconButton_size_large/2, '-');
    bottom: -$iconButton_size_large/2;
    background-color: $color_kill;
    &>i, &>span {
      color: $font_color_inverse;
    }
    &:hover {
      @include mix_fixed_div(absolute, $z_index_hovering_item);
    }
  }
  &__categoryHeader {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 100%;
    margin: $spacing_medium $scroll_bar_width $spacing_medium 0;
    &-cell {
      @include mix_fixed_div(relative, $z_index_base_item);
      display: flex;
      justify-content: center;
      align-items: center;
      width: $portfolioBreakdownRow_categoryList_cell_width;
      &-icon {
        color: $font_color_minor;
        font-size: $font_size_large;
      }
      &-tooltip {
        @include mix_fixed_div(absolute, $z_index_hovering_item);
        @include mix_border_radius(3px);
        display: none;
        top: -100%;
        color: $font_color_inverse;
        line-height: $line_height_small;
        width: 4.25rem;
        background-color: $color_active;
        text-align: center;
      }
      &:hover>&-tooltip {
        display: block;
      }
      &--index {
        display: none;
      }
    }
  }
  &__mainCategory {
    flex: 0 0 100%;
    display: flex;
    &-list {
      display: flex;
      flex: 1 1 auto;
      &-item {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        margin-bottom: $spacing_x_small;
        &>portfolio-breakdown-row {
          display: flex;
          flex: 1 1 auto;
          margin-right: $scroll_bar_width;
        }
      }
    }
  }
  &__levels {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 30rem;
    &-firstDiveIn {
      @include mix_enable_scrollbar('vertical');
      display: flex;
      background-color: $color_gray_1;
      padding: $spacing_small 0 $spacing_x_large 0; // the x_large is to avoid triggering the undesirable "clipped" effect on the diveIn button
      &-category {
        @include mix_bics_level_category;
        &-text {
          @include mix_bics_level_category_text;
        }
      }
      &-list {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: $spacing_small 0;
        &-item {
          margin-bottom: $spacing_x_small;
        }
      }
      &-message {
        display: none;
        color: $color_active;
        flex: 1 1 auto;
      }
    }
    &-secondDiveIn {
      @include mix_alive('light');
      display: none;
      flex: 1 1 auto;
      background-color: $color_gray_2;
      padding: $spacing_small 0;
      &-category {
        @include mix_bics_level_category;
        &-text {
         @include mix_bics_level_category_text;
        }
      }
      &-list {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        &-item {
          margin-bottom: $spacing_x_small;
          &>portfolio-breakdown-row {
            display: flex;
            flex: 1 1 auto;
          }
        }
      }
      &--active {
        display: flex;
        margin-top: $spacing_small;
      }
    }
    &-thirdDive {
      padding: $spacing_small 0;
    }
    &-thirdDiveIn,
    &-fourthDiveIn,
    &-fifthDiveIn,
    &-sixthDiveIn {
      display: none;
      flex: 1 1 auto;
      background-color: $color_gray_3;
      &-list {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding-left: 0.4125rem;
      }
      &--active {
        display: flex;
        margin-top: $spacing_small;
      }
    }
  }
  &--isViewingIndex {
    #{$blockName} {
      &__categoryHeader {
        &-cell {
          &--index {
            display: flex;
          }
          &--delta {
            display: none;
          }
        }
      }
    }
  }
  &--noDataAvailable {
    #{$blockName} {
      &__levels {
        &-firstDiveIn {
          padding: $spacing_small;
          &-category,
          &-list {
            display: none;
          }
          &-message {
            display: flex;
          }
        }
      }
    }
  }
  &--active {
    transform: scale(1) translate(1rem, 1rem);
  }
}