
/***********
  Mixins
***********/

  @mixin mix_border_radius($radius, $partial:'none'){
    @if $partial == 'none'{
      @if $radius == 3px or $radius == 5px or $radius == 10px or $radius == 15px or $radius == 25px or $radius == 50%{
        border-radius: $radius;
      }@else{
        border-radius: 0px;
      }
    }@else if $partial == 'top'{
      @if $radius == 3px or $radius == 5px or $radius == 10px or $radius == 15px or $radius == 25px or $radius == 50%{
        border-radius: $radius $radius 0 0;
      }@else{
        border-radius: 0px;
      }
    }@else if $partial == 'bottom'{
      @if $radius == 3px or $radius == 5px or $radius == 10px or $radius == 15px or $radius == 25px or $radius == 50%{
        border-radius: 0 0 $radius $radius;
      }@else{
        border-radius: 0px;
      }
    }@else if $partial == 'top-left'{
      @if $radius == 3px or $radius == 5px or $radius == 10px or $radius == 15px or $radius == 25px or $radius == 50%{
        border-radius: $radius 0 0 0;
      }@else{
        border-radius: 0px;
      }
    }@else if $partial == 'top-right'{
      @if $radius == 3px or $radius == 5px or $radius == 10px or $radius == 15px or $radius == 25px or $radius == 50%{
        border-radius: 0 $radius 0 0;
      }@else{
        border-radius: 0px;
      }
    }@else if $partial == 'left'{
      @if $radius == 3px or $radius == 5px or $radius == 10px or $radius == 15px or $radius == 25px or $radius == 50%{
        border-radius: $radius 0 0 $radius;
      }@else{
        border-radius: 0px;
      }
    }@else if $partial == 'right'{
      @if $radius == 3px or $radius == 5px or $radius == 10px or $radius == 15px or $radius == 25px or $radius == 50%{
        border-radius: 0 $radius $radius 0;
      }@else{
        border-radius: 0px;
      }
    }@else if $partial == 'all-but-bottom-right'{
      @if $radius == 3px or $radius == 5px or $radius == 10px or $radius == 15px or $radius == 25px or $radius == 50%{
        border-radius: $radius $radius 0 $radius;
      }@else{
        border-radius: 0px;
      }
    }@else if $partial == 'all-but-top-left'{
      @if $radius == 3px or $radius == 5px or $radius == 10px or $radius == 15px or $radius == 25px or $radius == 50%{
        border-radius: 0 $radius $radius $radius;
      }@else{
        border-radius: 0px;
      }
    }@else{
      border-radius: 0px;
    }
  }

  @mixin mix_shadow($south_markup, $degree, $intensity){
    -webkit-box-shadow: 0px $south_markup $degree $degree/2 rgba(0,0,0,$intensity);
    -moz-box-shadow: 0px $south_markup $degree $degree/2 rgba(0,0,0,$intensity);
    box-shadow: 0px $south_markup $degree $degree/2 rgba(0,0,0,$intensity); 
  }

  @mixin mix_transition($time, $custom...){
    @if $time == 'custom' {
      transition: $custom;
    }@else {
      transition: all $time;
    }
  }

  @mixin mix_calculate($attr, $var_1, $var_2, $operation:'-'){
    @if $operation == '+'{
      #{$attr}: -webkit-calc(#{$var_1} + #{$var_2});
      #{$attr}:    -moz-calc(#{$var_1} + #{$var_2});
      #{$attr}:         calc(#{$var_1} + #{$var_2});
    }@else if $operation == '-'{
      #{$attr}: -webkit-calc(#{$var_1} - #{$var_2});
      #{$attr}:    -moz-calc(#{$var_1} - #{$var_2});
      #{$attr}:         calc(#{$var_1} - #{$var_2});
    }
  }

  @function convert_rem_to_px($rem){
    @return ($rem/1rem)*$base-size + 0px;
  }

  @function convert_px_to_rem($px){
    @return $px/1px/$base-size + 0rem;
  }

  @mixin mix_fixed_div($type, $z_index){
    position: $type;
    z-index: $z_index;
  }

  @mixin mix_border_generator($border_width:$typical_border_width, $static_color:$color_border_gray){
    border-width: $border_width;
    border-style: solid;
    border-color: $static_color;
  }

  @mixin mix_text_overflow(){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @mixin mix_text_overflow_multi_line($num_of_lines: 2){
    display: -webkit-box;
    -webkit-line-clamp: $num_of_lines;
    -webkit-box-orient: vertical;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
  }

  @mixin mix_enable_scrollbar($direction: 'vertical'){
    overflow: scroll;
    @if $direction == 'vertical'{
      overflow-x: hidden;
    }@else if $direction == 'horizontal'{
      overflow-y: hidden;
    }@else if $direction == 'both'{
      overflow-x: scroll;
      overflow-y: scroll;
    }@else if $direction == 'none'{
      overflow: unset;
      overflow-x: unset;
      overflow-y: unset;
    }
  }

  @mixin mix_hide_scrollbar(){
    &::-webkit-scrollbar {
      display: none;
    }
  }

  @mixin mix_break_word(){
    word-break: break-word;
    @supports (-moz-appearance:none) {
      word-break: break-all;
    }
  }

  @mixin mix_submissive_width(){
    width: 0;   // legacy browser support
    width: min-content;
  }

  @mixin mix_quantative_text(){
    font-size: $font_size_normal;
    color: $color_black;
  }

  //Media Queries
  @mixin mq-small-min {
    @media (min-width: $mediaQuery_size_small) {
      @content;
    }
  }

  @mixin mq-medium-min {
    @media (min-width: $mediaQuery_size_medium) {
      @content;
    }
  }

  @mixin mq-large-min {
    @media (min-width: $mediaQuery_size_large) {
      @content;
    }
  }

  @mixin mq-x-large-min {
    @media (min-width: $mediaQuery_size_xLarge) {
      @content;
    }
  }

  @mixin mq-xx-large-min {
    @media (min-width: $mediaQuery_size_xxLarge) {
      @content;
    }
  }

  @mixin mix_stencil_animation($noBorderRadius: false){
    @if $noBorderRadius == false {
      @include mix_border_radius(5px);
    }
    animation: stencilPulse $animation_duration_loading infinite ease-in-out;
    color: $color_stencil!important;
    background: $color_stencil!important;
    user-select: none;
  }

  //Material
  @mixin mix_alive($weight: 'normal', $custom...){
    @if $weight == 'light'{
      @include mix_transition($animation_duration_light);
    }@else if $weight == 'normal'{
      @include mix_transition($animation_duration_normal);
    }@else if $weight == 'heavy'{
      @include mix_transition($animation_duration_heavy);
    }@else if $weight == 'extra-heavy'{
      @include mix_transition($animation_duration_extra_heavy);
    }@else if $weight == 'debug'{
      @include mix_transition(20s);
    }@else if $weight == 'custom'{
      @include mix_transition('custom', $custom);
    }@else if $weight == 'material' {
      @include mix_transition('custom', box-shadow $animation_duration_light);
    }@else {
      transition: none;
    }
  }

  $material_low_southMarkup: 0.03125rem;
  $material_low_degree: 0.125rem;
  $material_low_intensity: 0.6;

  $material_lowHover_southMarkup: 0.0625rem;
  $material_lowHover_degree: 0.3125rem;
  $material_lowHover_intensity: 0.6;

  $material_regular_southMarkup: 0.0625rem;
  $material_regular_degree: 0.25rem;
  $material_regular_intensity: 0.4;

  $material_regularHover_southMarkup: 0.3125rem;
  $material_regularHover_degree: 0.6rem;
  $material_regularHover_intensity: 0.6;

  $material_static_southMarkup: 0.03125rem;
  $material_static_degree: 0.25rem;
  $material_static_intensity: 0.4;
  @mixin material($style: 'normal', $height: 'normal'){
    @if $style == 'normal'{
      cursor: pointer;
      @if $height == 'low'{
        @include mix_shadow($material_low_southMarkup, $material_low_degree, $material_low_intensity);
        &:hover{
          @include mix_shadow($material_lowHover_southMarkup, $material_lowHover_degree, $material_lowHover_intensity);
        }
      }@else{
        @include mix_shadow($material_regular_southMarkup, $material_lowHover_degree, $material_regular_intensity);
        &:hover{
          @include mix_shadow($material_regularHover_southMarkup, $material_regularHover_degree, $material_regularHover_intensity);
        }
      }
    }@else if $style == 'static'{
      cursor: pointer;
      @include mix_shadow($material_static_southMarkup, $material_static_degree, $material_static_intensity);
    }@else{
      cursor: default;
      @include mix_shadow(0, 0, 0);
      &:hover{
        @include mix_shadow(0, 0, 0);
      }
    }
  }

  //Card Gradient
  @mixin mix_gradient($primary_color, $secondary_color, $percentage, $degree){
    background: $primary_color; /* Legacy browsers */
    background: -moz-linear-gradient($degree,  $primary_color $percentage, $secondary_color 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient($degree,  $primary_color $percentage, $secondary_color 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient($degree,  $primary_color $percentage, $secondary_color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  @mixin mix_santaCard($primary, $secondary){
    @include mix_gradient($primary, $secondary, $santaCard_primary_percentage, $santaCard_gradient_degree);
  }

  @mixin mix_rating_style(){
    opacity: 0.10;
    font-family: 'SantaBlackOps';
    user-select: none;
    line-height: $line_height_minimum;
  }