$santaCard_primary_percentage: 70%;
$santaCard_gradient_degree: 45deg;

$color_rating_aaa: #712f79;
$color_rating_aa: #293881;
$color_rating_a: #293881;
$color_rating_bbb: #0f8276;
$color_rating_bb: #968e7f;
$color_rating_b: #968e7f;
$color_rating_ccctod: #5e6c7c;
$color_rating_nr: $color_gray_4;

$color_seniority_1: #16c1ff;
$color_seniority_2: #adf7b6;
$color_seniority_3: #f7ff16;
$color_seniority_4: #ff167b;
$color_seniority_5: #ffffff;

$color_quant_left: #ff9800;
$color_quant_left_background: #ffe0b2;
$color_quant_right: #2196f3;
$color_quant_right_background: #bbdefb;
$color_quant_crossed_background: #ffff00;
$color_quant_crossed: $color_gray_85;

$color_filter: $color_deeporange_5;

$color_border_gray: $color_gray_4;

$color_warning: $color_orange_5;
$color_active: $color_gray_85;
$color_highlight: $color_blue_5;
$color_disabled: $color_gray_5;
$color_kill: $color_red_5;
$color_negative: $color_red_5;
$color_create: $color_green_4;
$color_edit: $color_blue_gray_5;
$color_stencil: $color_gray_4;

$color_modal_background_hide: rgba(black, 0);
$color_modal_background_show: rgba(black, 0.5); 

// Store variables that are used globally, in order to avoid hierarchy problem
$iconButton_size_regular: 2.25rem;
$iconButton_size_small: 1.75rem;
$typical_border_width: 0.0625rem;
$scroll_bar_width: 0.5rem;
$textarea_minimum_height: 2.125rem;   // Smallest height that doesn't trigger scroll bar with normal font size

$securityCard_labelVariant_height: 2rem;
$securityCard_previewVariant_height: 10rem;
$securityCard_width: 14rem;

$spacing_xx_large: 6.25rem;   // 100px
$spacing_x_large: 3.125rem;   // 50px
$spacing_large: 1.5625rem;    // 25px
$spacing_medium: 0.9375rem;   // 15px
$spacing_small: 0.625rem;     // 10px
$spacing_x_small: 0.3125rem;  // 5px
$spacing_xx_small: 0.1873rem; // 3px
$spacing_minimum: 0.0625rem;  // 1px

$font_size_xx_small: 0.625rem;  // 10px
$font_size_x_small: 0.75rem;    // 12px
$font_size_small: 0.875rem;     // 14px
$font_size_normal: 1rem;        // 16px
$font_size_large: 1.25rem;      // 20px
$font_size_x_large: 1.5rem;     // 24px
$font_size_xx_large: 2rem;      // 32px
$font_size_xxx_large: 2.5rem;   // 40px
$font_size_xxxx_large: 3rem;    // 48px
$font_size_hero: 4rem;          // 64px
$font_size_hero_large: 5rem;    // 80px
$font_size_hero_x_large: 8rem;    // 128px

$line_height_stencil_slim: 0.75;
$line_height_minimum: 1;
$line_height_x_small: 1.1;
$line_height_default: 1.125;
$line_height_small: 1.25;
$line_height_normal: 1.5;
$line_height_large: 2;
$line_height_x_large: 2.5;

$font_color_major: $color_gray_9;
$font_color_minor: $color_gray_6;
$font_color_trivial: $color_gray_4;
$font_color_inverse: $color_white;

$base-size: 16;


$z_index_feedback_toast: 39999;
$z_index_loadingSpinner: 35000;
$z_index_modal: 29999;
$z_index_navTrigger: 20100;
$z_index_feedbackTrigger: 20050;
$z_index_mainNavMenu: 20000;
$z_index_topNavMenu: 19999;
$z_index_standard_dropdown: 3000;
$z_index_standard_tooltip: 1000;
$z_index_standard_hovering_item: 100;
$z_index_standard_base_item_lift: 50;
$z_index_standard_base_item_solid: 1;
$z_index_standard_base_item: unset;
$z_index_standard_bury_item: -1;

$animation_duration_light: 0.2s;
$animation_duration_normal: 0.5s;
$animation_duration_heavy: 1s;
$animation_duration_loading: 1.5s;
$animation_duration_extra_heavy: 2.5s;
$animation_duration_debug: 20s;

$mediaQuery_size_small: 30rem;
$mediaQuery_size_medium: 48rem;
$mediaQuery_size_large: 64rem;
$mediaQuery_size_xLarge: 100rem;
$mediaQuery_size_xxLarge: 120rem;