$santaCard_primary_percentage: 70%;
$santaCard_gradient_degree: 45deg;

$distinguish_type_color_1: $color_blue_5;
$distinguish_type_color_2: $color_deeppurple_1_A;
$distinguish_type_color_3: $color_pink_3;
$distinguish_type_color_4: $color_teal_7_A;
$distinguish_type_color_5: $color_yellow_7;
$distinguish_type_color_6: $color_deeporange_4;
$distinguish_type_color_7: $color_brown_5;
$distinguish_type_color_8: $color_gray_6;

$color_rating_aaa: #602866;
$color_rating_aa: #602866;
$color_rating_a: #293881;
$color_rating_bbb: #0f8276;
$color_rating_bb: #E66F0E;
$color_rating_b: #E687C8; //#1EBCE8;
$color_rating_ccctod: #E687C8;
$color_rating_nr: $color_gray_4;

$color_seniority_1: #16c1ff;
$color_seniority_2: #adf7b6;
$color_seniority_3: #f1e94b;
$color_seniority_4: #ff167b;
$color_seniority_5: #ffffff;

$color_bid: #26A77B;
$color_quant_left_background: #95E7CB;
$color_ask: #BC2B5D;
$color_quant_right_background: #E690AD;
$color_quant_crossed_background: #fafc83;
$color_quant_crossed: $color_gray_85;
$color_quant_axe_skew: $color_pink_4_A;
$color_quant_run_skew: $color_teal_4_A;

$color_detailTableBackground: #656565;  // Granite Gray

$color_axe: $color_blue_5;

$color_filter: $color_deeporange_5;
$color_sort: $color_indigo_5;

$color_border_gray: $color_gray_4;

$color_warning: $color_orange_5;
$color_active: $color_gray_85;
$color_highlight: $color_blue_5;
$color_disabled: $color_gray_5;
$color_kill: $color_red_5;
$color_negative: $color_red_5;
$color_positive: $color_green_5;
$color_create: $color_green_5;
$color_stencil: $color_gray_4;

$color_modal_background_hide: rgba(black, 0);
$color_modal_background_show: rgba(black, 0.5);

$color_bloomberg_1: #2800d7;
$color_bloomberg_2: #ffffff;

$spacing_xx_large: 6.25rem;   // 100px
$spacing_x_large: 3.125rem;   // 50px
$spacing_large: 1.5625rem;    // 25px
$spacing_medium: 0.9375rem;   // 15px
$spacing_small: 0.625rem;     // 10px
$spacing_x_small: 0.3125rem;  // 5px
$spacing_xx_small: 0.1873rem; // 3px
$spacing_minimum: 0.0625rem;  // 1px

$font_size_minimum: 0.5rem;     // 8px
$font_size_xx_small: 0.625rem;  // 10px
$font_size_x_small: 0.75rem;    // 12px
$font_size_small: 0.875rem;     // 14px
$font_size_normal: 1rem;        // 16px
$font_size_large: 1.25rem;      // 20px
$font_size_x_large: 1.5rem;     // 24px
$font_size_xx_large: 2rem;      // 32px
$font_size_xxx_large: 2.5rem;   // 40px
$font_size_xxxx_large: 3rem;    // 48px
$font_size_hero: 4rem;          // 64px
$font_size_hero_large: 5rem;    // 80px
$font_size_hero_x_large: 8rem;    // 128px

$line_height_stencil_slim: 0.75;
$line_height_minimum: 1;
$line_height_x_small: 1.1;
$line_height_default: 1.125;
$line_height_small: 1.25;
$line_height_normal: 1.5;
$line_height_large: 2;
$line_height_x_large: 2.5;

$font_color_major: $color_gray_9;
$font_color_minor: $color_gray_6;
$font_color_trivial: $color_gray_4;
$font_color_inverse: $color_white;

$base-size: 16;


$z_index_globalAlertTrigger: 40050;
$z_index_globalAlertList: 39999;
$z_index_loadingSpinner: 35000;
$z_index_modal: 29999;
$z_index_navTrigger: 20100;
$z_index_mainNavMenu: 20000;
$z_index_tradeUtilityTongue: 5000;
$z_index_dropdown: 3000;
$z_index_tooltip_lift: 2000;
$z_index_tooltip: 1000;
$z_index_hovering_item_lift: 500;
$z_index_hovering_item: 100;
$z_index_base_item_lift: 50;
$z_index_base_item_solid: 1;
$z_index_base_item: unset;
$z_index_buried_item: -1;

$animation_duration_light: 0.2s;
$animation_duration_normal: 0.5s;
$animation_duration_heavy: 1s;
$animation_duration_loading: 1.5s;
$animation_duration_extra_heavy: 2.5s;
$animation_duration_debug: 20s;

$mediaQuery_size_small: 30rem;
$mediaQuery_size_medium: 48rem;
$mediaQuery_size_large: 64rem;
$mediaQuery_size_xLarge: 140rem;
// Store variables that are used globally, in order to avoid hierarchy problem
$iconButton_size_large: 3rem;
$iconButton_size_regular: 2.25rem;
$iconButton_size_small: 1.75rem;
$alert_countdown_width: 0.1875rem;
$typical_border_width: 0.0625rem;
$scroll_bar_width: 0.5rem;
$textarea_minimum_height: 2.125rem;   // Smallest height that doesn't trigger scroll bar with normal font size

$securityCard_width: 18rem;

$securityTable_cell_width: 8.75rem;
$securityTable_cell_width_primary: $securityCard_width + $spacing_small * 2;
$securityTable_cell_width_quant: 19rem;

$securityQuote_spacing_height: $spacing_small;
$securityQuote_main_size_1: 4rem;
$securityQuote_main_size_2: 8rem;
$securityQuote_main_size_3: 12rem;
$securityQuote_main_size_4: 10rem;

$securityDefinition_configuratorVariant_width: 6.5rem;
$securityDefinitionConfigurator_filters_width: 15rem;
$securityDefinitionConfigurator_gapBetweenDefAndFilter: $spacing_large;
$securityDefinitionConfigurator_width:
  $securityDefinition_configuratorVariant_width +
  $securityDefinitionConfigurator_gapBetweenDefAndFilter +
  $securityDefinitionConfigurator_filters_width;

$alert_width: 40rem;
$alert_thumbnail_width: 8rem;
$page_gutter_width_for_alerts: $alert_thumbnail_width + $spacing_medium;

$tradeAxeAlertColor: $color_axe;
$tradeAxeAlertBackgroundColor: $color_blue_1;
$tradeMarkAlertColor: $distinguish_type_color_2;
$tradeMarkAlertBackgroundColor: #E2D2FF;
$tradeTradeAlertColor: $color_pink_3;
$tradeTradeAlertBackgroundColor: $color_pink_1;

