<article
  *ngIf="!!rowData"
  [ngClass]="{
    'santaTableDetailAllQuotes': true,
    'santaTableDetailAllQuotes--showMoreQuoteCta': ((rowData.data.quotes.primaryQuotes.length > 0 && rowData.data.quotes.primaryPresentQuotes.length < rowData.data.quotes.primaryQuotes.length) || (rowData.data.quotes.secondaryQuotes.length > 0 && rowData.data.quotes.secondaryPresentQuotes.length < rowData.data.quotes.secondaryQuotes.length)) && !rowData.state.presentingAllQuotes && !rowData.state.viewTraceState,
    'santaTableDetailAllQuotes--showMoreTraceTradesCta': rowData.state.viewTraceState && !rowData.data.traceTradeVisualizer?.state.isDisplayAllTraceTrades,
    'santaTableDetailAllQuotes--securityIsCDSState': rowData.state.isCDSVariant,
    'santaTableDetailAllQuotes--securityIsOffTheRunCDSState': rowData.state.isCDSVariant && rowData.state.isCDSOffTheRun,
    'santaTableDetailAllQuotes--viewHistoryState': rowData.state.viewHistoryState,
    'santaTableDetailAllQuotes--viewTraceState': rowData.state.viewTraceState && !!rowData.data.traceTradeVisualizer,
    'santaTableDetailAllQuotes--traceAvailableState': !!rowData.data.traceTradeVisualizer
  }">
  <section class="santaTableDetailAllQuotes__viewSwitch">
    <div class="santaBtnGroup">
      <button (click)="onClickSwitchViewToHistory()" class="santaBtn--labelled santaTableDetailAllQuotes__viewSwitch-historyBtn">
        <i class="fal fa-history"></i>
        <span>Trade History</span>
      </button>
      <button (click)="onClickSwitchViewToQuote()" class="santaBtn--labelled santaTableDetailAllQuotes__viewSwitch-quoteBtn">
        <i class="fal fa-comments-dollar"></i>
        <span>Live Quotes</span>
      </button>
      <button (click)="onClickSwitchViewToTrace()" class="santaBtn--labelled santaTableDetailAllQuotes__viewSwitch-traceBtn">
        <i [ngClass]="{
          'fal': !!rowData.data.traceTradeVisualizer,
          'fas': !rowData.data.traceTradeVisualizer,
          'fa-analytics': true
        }"></i>
        <span>Trace Trades</span>
      </button>
    </div>
  </section>
  <section class="santaTableDetailAllQuotes__history">
    <historical-trade-visualizer
      [showAllTradeHistoryButton]="showAllTradeHistoryButton"
      (allTradeHistoryData)="onClickGetAllTradeHistory($event)"
      [historyData]="rowData.data.historicalTradeVisualizer"
      [showGraph]="rowData.state.viewHistoryState">
    </historical-trade-visualizer>
  </section>
  <section (click)="onClickClose()" class="santaTableDetailAllQuotes__backgroundCTA"></section>
  <section class="santaTableDetailAllQuotes__main">
    <div class="santaTableDetailAllQuotes__main-content">
      <section class="santaTableDetailAllQuotes__main-content-targetSecurity">
        <span class="santaTableDetailAllQuotes__main-content-targetSecurity-text">{{rowData.data.quotes.primarySecurityName}}</span>
      </section>
      <section class="santaTableDetailAllQuotes__main-content-label">
        <article
          *ngFor="let eachQuoteMetric of rowData.data.quoteHeaders; let metricIndex = index;"
          [ngClass]="{
            'sat-securityTableRowExpandViewLabel': true,
            'sat-securityTableRowExpandViewLabel--doubleSided': eachQuoteMetric.displayLabelList.length > 1,
            'sat-securityTableRowExpandViewLabel--sizeTwo': eachQuoteMetric.isSizeTwo,
            'sat-securityTableRowExpandViewLabel--sizeThree': eachQuoteMetric.isSizeThree,
            'sat-securityTableRowExpandViewLabel--sizeFour': eachQuoteMetric.isSizeFour,
            'sat-securityTableRowExpandViewLabel--textOnly': !eachQuoteMetric.sortable,
            'sat-securityTableRowExpandViewLabel--first': metricIndex === 0,
            'sat-securityTableRowExpandViewLabel--last': metricIndex === rowData.data.quoteHeaders.length - 1,
            'sat-securityTableRowExpandViewLabel--isNonCDS': eachQuoteMetric.isNonCDS
          }">
          <section *ngFor="let eachLabel of eachQuoteMetric.displayLabelList" class="sat-securityTableRowExpandViewLabel__content">
            <button
              (click)="onClickSortQuotesByMetric(eachQuoteMetric, eachLabel)"
              [ngClass]="{
                'sat-securityTableRowExpandViewLabel__content-cta': true,
                'sat-securityTableRowExpandViewLabel__content-cta--sortActive': rowData.state.expandViewSortByQuoteMetric === eachLabel,
                'santaBtn--small': true
              }">
              <span class="sat-securityTableRowExpandViewLabel__content-cta-text">{{eachLabel}}</span>
              <i class="sat-securityTableRowExpandViewLabel__content-cta-icon fal fa-sort-amount-down">
              </i>
            </button>
            <span class="sat-securityTableRowExpandViewLabel__content-text">{{eachLabel}}</span>
          </section>
        </article>
      </section>
      <ul class="santaTableDetailAllQuotes__main-content-messageList">
        <security-quote
          *ngFor="let eachMessage of rowData.data.quotes.primaryPresentQuotes"
          [messageData]="eachMessage"
          (clickedSpecificQuote)="onClickedSpecificPrimaryQuote($event)"
          (clickedDownVote)="onClickDownVote($event)"
          (clickedUpVote)="onClickUpVote($event)">
        </security-quote>
      </ul>
    </div>
    <div class="santaTableDetailAllQuotes__main-content santaTableDetailAllQuotes__main-content--secondary">
      <section class="santaTableDetailAllQuotes__main-content-targetSecurity">
        <span class="santaTableDetailAllQuotes__main-content-targetSecurity-text">{{rowData.data.quotes.secondarySecurityName}}</span>
      </section>
      <section class="santaTableDetailAllQuotes__main-content-label">
        <article
          *ngFor="let eachQuoteMetric of rowData.data.quoteHeaders; let metricIndex = index;"
          [ngClass]="{
            'sat-securityTableRowExpandViewLabel': true,
            'sat-securityTableRowExpandViewLabel--doubleSided': eachQuoteMetric.displayLabelList.length > 1,
            'sat-securityTableRowExpandViewLabel--sizeTwo': eachQuoteMetric.isSizeTwo,
            'sat-securityTableRowExpandViewLabel--sizeThree': eachQuoteMetric.isSizeThree,
            'sat-securityTableRowExpandViewLabel--sizeFour': eachQuoteMetric.isSizeFour,
            'sat-securityTableRowExpandViewLabel--textOnly': !eachQuoteMetric.sortable,
            'sat-securityTableRowExpandViewLabel--first': metricIndex === 0,
            'sat-securityTableRowExpandViewLabel--last': metricIndex === rowData.data.quoteHeaders.length - 1,
            'sat-securityTableRowExpandViewLabel--isNonCDS': eachQuoteMetric.isNonCDS
          }">
          <section *ngFor="let eachLabel of eachQuoteMetric.displayLabelList" class="sat-securityTableRowExpandViewLabel__content">
            <button
              (click)="onClickSortQuotesByMetric(eachQuoteMetric, eachLabel)"
              [ngClass]="{
                'sat-securityTableRowExpandViewLabel__content-cta': true,
                'sat-securityTableRowExpandViewLabel__content-cta--sortActive': rowData.state.expandViewSortByQuoteMetric === eachLabel,
                'santaBtn--small': true
              }">
              <span class="sat-securityTableRowExpandViewLabel__content-cta-text">{{eachLabel}}</span>
              <i class="sat-securityTableRowExpandViewLabel__content-cta-icon fal fa-sort-amount-down">
              </i>
            </button>
            <span class="sat-securityTableRowExpandViewLabel__content-text">{{eachLabel}}</span>
          </section>
        </article>
      </section>
      <ul class="santaTableDetailAllQuotes__main-content-messageList">
        <security-quote
          *ngFor="let eachMessage of rowData.data.quotes.secondaryPresentQuotes"
          [messageData]="eachMessage"
          (clickedSpecificQuote)="onClickedSpecificSecondaryQuote($event)"
          (clickedDownVote)="onClickDownVote($event)"
          (clickedUpVote)="onClickUpVote($event)">
        </security-quote>
      </ul>
    </div>
  </section>
  <section class="santaTableDetailAllQuotes__trace">
    <trace-trade-visualizer
      [traceTrades]="rowData.data.traceTradeVisualizer"
      [showData]="rowData.state.viewTraceState"
      (filterOptionsList)="filterTraceTradesByOptions($event)">
    </trace-trade-visualizer>
  </section>
  <section class="santaTableDetailAllQuotes__ctas">
    <button (click)="onClickSelectForAnalysis()" class="santaTableDetailAllQuotes__ctas-selectBtn santaBtn--labelled">
      <i class="fal fa-chart-line"></i>
      <span>Send to Analysis</span>
    </button>
    <button (click)="onClickClose()" class="santaTableDetailAllQuotes__ctas-collapseBtn santaBtn--labelled">
      <i class="fal fa-times"></i>
      <span>Close</span>
    </button>
    <button (click)="onClickShowMoreQuotes()" class="santaTableDetailAllQuotes__ctas-moreQuoteCta santaBtn--labelled">
      <i class="fal fa-cloud-download"></i>
      <span>Show All Quotes ({{rowData.data.quotes.primaryQuotes.length - rowData.data.quotes.primaryPresentQuotes.length + rowData.data.quotes.secondaryQuotes.length - rowData.data.quotes.secondaryPresentQuotes.length}} More)</span>
    </button>
    <button *ngIf="rowData.data.traceTradeVisualizer && rowData.data.security.data.traceTrades.length > 0 && !rowData.data.traceTradeVisualizer?.state.isShowingDailyTradesOnly" (click)="onClickShowMoreTraceTrades()" class="santaTableDetailAllQuotes__ctas-moreTraceTradesCta santaBtn--labelled">
      <i class="fal fa-cloud-download"></i>
      <span>Show Trace Trades From Past Week ({{rowData.data.security.data.traceTrades.length - rowData.data.traceTradeVisualizer.data.displayList.length}} More)</span>
    </button>
  </section>
</article>
