@import "global.scss";

// need this reset because styling for button is stripped away for buttons in AgGrid, so we need to bring back the santa styling in each component
button {
  @extend .santaBtn;  
}

@import "./../../components/security-table-row/security-table-row.component";

.santaTableDetailAllQuotes {
  $santaTableDetailAllQuotesBlockName: &;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 300px;  // has to be in px because of AgGrid restriction
  background-color: $color_active;
  overflow: hidden;
  padding: $spacing_small 0;
  &__label {
    display: flex;
    padding-left: $securityQuote_time_width + $securityQuote_bestQuote_width + $spacing_x_small;
    padding-right: $securityQuote_ctas_width + $spacing_small + $scroll_bar_width + $spacing_x_small;
    margin-bottom: $spacing_x_small;
  }
  &__messageList {
    @include mix_enable_scrollbar('vertical');
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin-right: $spacing_small;
  }
  &__ctas {
    display: flex;
    justify-content: center;
    &-selectBtn {
      flex-direction: row;
      margin: $spacing_medium;
      background-color: $color_white;
    }
    &-collapseBtn {
      flex-direction: row;
      margin: $spacing_medium;
      background-color: $color_kill;
      &>i {
        color: $font_color_inverse;
      }
      &>span {
        color: $font_color_inverse;
      }
    }
  }
}