@import "global.scss";

// need this reset because styling for button is stripped away for buttons in AgGrid, so we need to bring back the santa styling in each component
button {
  @extend .santaBtn;  
}

@import "./../../components/security-table-row/security-table-row.component";


// had to go with a hard-coded approached because AgGrid has a stupid global width setting that messes up flex grid's auto layout. This hard code needs to be maintained, this is really frustrating
$santaTableDetailAllQuotes_width: $securityQuote_main_size_1 * 2 + $securityQuote_main_size_2 + $securityQuote_main_size_3 * 4 + $securityQuote_main_size_4 + $spacing_small * 6 * 2 + $securityTableRow_expandCanvas_label_leftPadding + $securityTableRow_expandCanvas_label_rightPadding;
$santaTableDetailAllQuotes_width_CDS: $securityQuote_main_size_1 * 2 + $securityQuote_main_size_2 * 2 + $securityQuote_main_size_3 + $spacing_small * 9 + $securityTableRow_expandCanvas_label_leftPadding + $securityTableRow_expandCanvas_label_rightPadding;

.santaTableDetailAllQuotes {
  $blockName: &;
  @include mix_fixed_div(relative, $z_index_base_item);
  // @include mix_gradient($color_detailTableBackground, $color_gray_4, 40%, 45deg);
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $spacing_small 0;
  background-color: $color_detailTableBackground;
  &__viewSwitch {
    @include mix_fixed_div(relative, $z_index_base_item_lift);
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: $spacing_small;
    &-quoteBtn {
      @include material('none');
      @extend .santaBtn--inverseLabelled;
      background-color: $color_active;
    }
    &-traceBtn {
      display: flex;
      background-color: $color_disabled;
      cursor: not-allowed;
      box-shadow: none;
      &>i,
      &>span {
        color: $color_gray_6;
      }
      &:hover {
        box-shadow: none;
      }
    }
  }
  &__history {
    @include mix_fixed_div(relative, $z_index_base_item_lift);
    flex: 1 1 auto;
    display: none;
    overflow: hidden;
    historical-trade-visualizer {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
    }
  }
  &__backgroundCTA {
    @include mix_fixed_div(absolute, $z_index_base_item_solid);
    width: 100%;
    height: 100%;
    top: 0;
  }
  &__trace {
    @include mix_fixed_div(relative, $z_index_base_item_lift);
    flex: 1 1 auto;
    display: none;
    overflow: hidden;
  }
  &__main {
    @include mix_fixed_div(relative, $z_index_base_item_lift);
    @include mix_enable_scrollbar('horizontal');
    flex: 1 1 auto;
    display: flex;
    &-content {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      width: fit-content;
      &-targetSecurity {
        display: none;
        justify-content: flex-start;
        margin-left: $spacing_small;
        margin-bottom: $spacing_small;
        &-text {
          @include mix_border_radius(5px);
          @include mix_border_generator;
          padding: $spacing_x_small $spacing_small;
          color: $font_color_inverse;
        }
      }
      &-label {
        display: flex;
        width: $santaTableDetailAllQuotes_width;
        padding-left: $securityTableRow_expandCanvas_label_leftPadding;
        padding-right: $securityTableRow_expandCanvas_label_rightPadding;
        margin-bottom: $spacing_x_small;
      }
      &-messageList {
        @include mix_enable_scrollbar('vertical');
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        margin: 0 $spacing_x_small;
        padding-bottom: $spacing_medium;
      }
      &--secondary {
        display: none;
      }
    }
  }
  &__ctas {
    display: flex;
    justify-content: center;
    margin-top: $spacing_x_small;
    &-moreQuoteCta {
      @include mix_fixed_div(relative, $z_index_base_item_solid);
      display: none;
      flex-direction: row;
      margin: 0 $spacing_medium;
      background-color: $color_white;
    }
    &-selectBtn {
      @include mix_fixed_div(relative, $z_index_base_item_solid);
      flex-direction: row;
      margin: 0 $spacing_medium;
      background-color: $color_white;
    }
    &-collapseBtn {
      @include mix_fixed_div(relative, $z_index_base_item_solid);
      flex-direction: row;
      margin: 0 $spacing_medium;
      background-color: $color_kill;
      &>i {
        color: $font_color_inverse;
      }
      &>span {
        color: $font_color_inverse;
      }
    }
    &-moreTraceTradesCta {
      @include mix_fixed_div(relative, $z_index_base_item_solid);
      display: none;
      flex-direction: row;
      margin: 0 $spacing_medium;
      background-color: $color_white;
    }
  }
  &--showMoreQuoteCta {
    #{$blockName} {
      &__ctas {
        &-moreQuoteCta {
          display: flex;
        }
      }
    }
  }
  &--securityIsCDSState {
    #{$blockName} {
      &__main-content {
        &-label {
          width: $santaTableDetailAllQuotes_width_CDS;
        }
        .sat-securityTableRowExpandViewLabel--isNonCDS {
          display: none;
        }
      }
    }
  }
  &--securityIsOffTheRunCDSState {
    #{$blockName} {
      &__main-content {
        &-targetSecurity {
          display: flex;
        }
        &--secondary {
          display: flex;
        }
      }
    }
  }
  &--viewHistoryState {
    #{$blockName} {
      &__viewSwitch {
        &-historyBtn {
          @include material('none');
          @extend .santaBtn--inverseLabelled;
          background-color: $color_active;
        }
        &-quoteBtn {
          @include material();
          background-color: $color_white;
          &>i {
            color: $font_color_major;
          }
          &>span {
            color: $font_color_major;
          }
        }
      }
      &__history {
        display: flex;
      }
      &__main,
      &__trace {
        display: none;
      }
      &__ctas {
        &-moreQuoteCta {
          display: none;
        }
      }
    }
  }
  &--traceAvailableState {
    #{$blockName} {
      &__viewSwitch {
        &-traceBtn {
          @include material();
          background-color: $color_white;
          cursor: pointer;
          &>i {
            color: $font_color_major;
          }
          &>span {
            color: $font_color_major;
          }
        }
      }
    }
  }
  &--viewTraceState {
    #{$blockName} {
      &__viewSwitch {
        &-traceBtn {
          @include material('none');
          @extend .santaBtn--inverseLabelled;
          background-color: $color_active;
        }
        &-quoteBtn{
          @include material();
          background-color: $color_white;
          &>i {
            color: $font_color_major;
          }
          &>span {
            color: $font_color_major;
          }
        }
      }
      &__trace {
        display: flex;
        & trace-trade-visualizer {
          flex: 1 1 auto;
          display: flex;
          flex-direction: column;
          overflow-y: scroll;
        }
      }
      &__history,
      &__main {
        display: none;
      }
      &__ctas {
        &-moreQuoteCta {
          display: none;
        }
      }
    }
    &#{$blockName} {
      &--showMoreTraceTradesCta {
        #{$blockName} {
          &__ctas {
            &-moreTraceTradesCta {
              display: flex;
            }
            &-moreQuoteCta {
              display: none;
            }
          }
        }
      }
    }
  }
}