@import "global.scss";

// need this reset because styling for button is stripped away for buttons in AgGrid, so we need to bring back the santa styling in each component
button {
  @extend .santaBtn;  
}

@import "./../../components/security-table-row/security-table-row.component";


// had to go with a hard-coded approached because AgGrid has a stupid global width setting that messes up flex grid's auto layout. This hard code needs to be maintained, this is really frustrating
$santaTableDetailAllQuotes_width: $securityQuote_main_size_1 * 2 + $securityQuote_main_size_2 * 2 + $securityQuote_main_size_3 * 2 + $securityQuote_main_size_4 + $spacing_small * 6 * 2 + $typical_border_width * 6 + $securityTableRow_expandCanvas_label_leftPadding + $securityTableRow_expandCanvas_label_rightPadding;

.santaTableDetailAllQuotes {
  $santaTableDetailAllQuotesBlockName: &;
  @include mix_fixed_div(relative, $z_index_standard_base_item);
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 300px;  // has to be in px because of AgGrid restriction
  background-color: $color_active;
  padding: $spacing_small 0;
  &__backgroundCTA {
    @include mix_fixed_div(absolute, $z_index_standard_base_item_solid);
    width: 100%;
    height: 100%;
    top: 0;
  }
  &__main {
    @include mix_enable_scrollbar('horizontal');
    flex: 1 1 auto;
    display: flex;
    &-content {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      width: fit-content;
      &-label {
        @include mix_fixed_div(relative, $z_index_standard_base_item_solid);
        display: flex;
        width: $santaTableDetailAllQuotes_width;
        padding-left: $securityTableRow_expandCanvas_label_leftPadding;
        padding-right: $securityTableRow_expandCanvas_label_rightPadding;
        margin-bottom: $spacing_x_small;
      }
      &-messageList {
        @include mix_enable_scrollbar('vertical');
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        margin-right: $spacing_small;
        security-quote {
          @include mix_fixed_div(relative, $z_index_standard_base_item_solid);
        }
      }
    }
  }
  &__ctas {
    display: flex;
    justify-content: center;
    &-selectBtn {
          @include mix_fixed_div(relative, $z_index_standard_base_item_solid);
      flex-direction: row;
      margin: $spacing_medium;
      background-color: $color_white;
    }
    &-collapseBtn {
          @include mix_fixed_div(relative, $z_index_standard_base_item_solid);
      flex-direction: row;
      margin: $spacing_medium;
      background-color: $color_kill;
      &>i {
        color: $font_color_inverse;
      }
      &>span {
        color: $font_color_inverse;
      }
    }
  }
}