@import "global.scss";
@import "modules/structure/structure.scss";

.sat-structurePage {
	$blockName: &;
	@include mix_fixed_div(absolute, $z_index_base_item);
	display: flex;
	justify-content: center;
  width: 100%;
	height: 100%;
  padding: $spacing_medium;
  overflow: hidden;
  &__left {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-right: $page_gutter_width_for_alerts;
    &-utilityPanel {
      flex: 0 0 auto;
      display: flex;
      structure-main-panel {
        flex: 1 1 auto;
        display: flex;
      }
    }
    &-mainPanel {
      flex: 1 1 auto;
      display: flex;
      overflow: hidden;
      margin-top: $spacing_medium;
      structure-main-panel {
        flex: 1 1 auto;
        display: flex;
        overflow: hidden;
      }
    }
  }
  &__iconLoad {
    visibility: hidden;
    width: 0;
  }
}