@import "global.scss";

.sat-structurePage {
	$tradeBlockName: &;
	@include mix_fixed_div(absolute, $z_index_base_item);
	display: flex;
	justify-content: center;
  width: 100%;
	height: 100%;
  padding: $spacing_medium;
  overflow: hidden;
  &__left {
    overflow: hidden;
    display: flex;
    flex: 1 1 auto;
    margin-right: $page_gutter_width_for_alerts;
    &-mainPanel,
    structure-main-panel {
      display: flex;
      overflow: hidden;
      flex: 1 1 auto;
    }
  }
}