<article
	[ngClass]="{
		'sat-structurePage': true
	}">
	<section class="sat-structurePage__left">
    <div class="sat-structurePage__left-top">
      <structure-utility-panel></structure-utility-panel>
    </div>
    <div class="sat-structurePage__left-mainPanel">
      <structure-main-panel></structure-main-panel>
    </div>
	</section>
  <section class="sat-structurePage__iconLoad">
    <i class="fal fa-times"></i>
    <i class="fas fa-times"></i>
  </section>
  <santa-modal [modalId]="constants.editModalId">
    <structure-set-target-panel></structure-set-target-panel>
  </santa-modal>
</article>