@import "global.scss";

$securityQuote_twoSideEntry_axeIconSize: 1.5rem;
.sat-securityQuote {
  $securityQuoteBlockName: &;
  @include mix_border_radius(5px);
  @include mix_border_generator($typical_border_width * 2, $color_detailTableBackground);
  flex: 1 1 auto;
  display: flex;
  margin-top: $spacing_x_small;
  &__time {
    flex: 0 0 $securityQuote_time_width;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: $spacing_small;
    &-text {
      color: $font_color_inverse;
      text-align: center;
      line-height: $line_height_small;
      font-size: $font_size_small;
    }
  }
  &__main {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    &-entry {
      flex: 0 0 $securityQuote_main_size_1;
      text-align: center;
      font-size: $font_size_small;
      color: $font_color_inverse;
    }
    &-spacing {
      @include mix_border_generator(0 $typical_border_width 0 0);
      flex-shrink: 0;
      width: $securityQuote_spacing_height;
      height: 100%;
      margin-right: $securityQuote_spacing_height;
    }
    &-twoSideEntry {
      flex: 0 0 $securityQuote_main_size_2;
      display: flex;
      justify-content: center;
      align-items: center;
      &-axeIcon {
        @include mix_border_radius(3px);
        flex: 0 0 $securityQuote_twoSideEntry_axeIconSize;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        height: $securityQuote_twoSideEntry_axeIconSize;
        color: $color_white;
        background-color: $color_axe;
        font-size: $font_size_small;
        &--bid {
          margin-right: $spacing_x_small;
        } 
        &--ask {  
          margin-left: $spacing_x_small;
        }
      }
      &-mid {
        margin-top: $spacing_minimum;
        color: $font_color_trivial;
        font-size: $font_size_x_small;
      }
      &-text {
        flex: 1 1 50%;
        display: flex;
        color: $font_color_inverse;
        font-size: $font_size_small;
        text-align: center;
        white-space: nowrap;
        &--quant {
          @include mix_quantative_text;
          color: $font_color_inverse;
        }
        &--bid {
          margin-right: $spacing_xx_small;
          justify-content: flex-end;
          color: $font_color_inverse;
        }
        &--ask {
          margin-left: $spacing_xx_small;
          justify-content: flex-start;
          color: $font_color_inverse;
        }
      }
      &-cta {
        @include mix_fixed_div(relative, $z_index_standard_base_item);
        flex: 1 1 50%;
        display: flex;
        &-btn {
          @extend .santaBtn;
          flex: 1 1 auto;
          flex-direction: row;
          justify-content: space-between;
          padding: $spacing_xx_small;
          &>span {
            @include mix_border_radius(3px);
            @include mix_quantative_text;
            flex: 1 1 auto;
            padding: $spacing_xx_small $spacing_x_small;
          }
        }
        &-actionMenu {
          @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
          @include mix_alive('custom', transform $animation_duration_light);
          top: 100%;
          display: flex;
          transform: scale(0.001) translate(0, -100%);
          &-downvote {
            @include mix_border_radius(50%);
            margin: 0 $spacing_x_small;
          }
          &-garbage {
            @include mix_border_radius(50%);
            color: $font_color_inverse;
            background-color: $color_kill;
            margin: 0 $spacing_x_small;
          }
        }
        &--bid {
          margin-right: $spacing_xx_small;
        }
        &--bid &-btn span {
          text-align: right;
        }
        &--ask {
          margin-left: $spacing_xx_small;
        }
        &--ask &-btn span {
          text-align: left;
        }
        &--empty {
          visibility: hidden;
        }
      }
      &--sizeThree {
        flex: 0 0 $securityQuote_main_size_3;
      }
    }
    &-benchmarkEntry {
      flex: 1 0 $securityQuote_main_size_4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      color: $font_color_inverse;
      &-consolidated {
        display: flex;
        align-self: flex-start;
        font-size: $font_size_small;
      }
      &-bid {
        display: none;
        flex: 1 1 50%;
        justify-content: flex-end;
        font-size: $font_size_small;
        margin-bottom: $spacing_x_small;
        text-align: center;
      }
      &-mid {
        display: none;
        color: $font_color_trivial;
      }
      &-ask {
        display: none;
        flex: 1 1 50%;
        justify-content: flex-start;
        margin-top: $spacing_x_small;
        font-size: $font_size_small;
        text-align: center;
      }
    }
  }
  &:hover {
    border-color: $color_active;
    background-color: $color_active;
  }
  &--bestBidState#{$securityQuoteBlockName}--filteredBySpreadState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--bid#{$securityQuoteBlockName}__main-twoSideEntry-cta--tspread {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &>span {
              background-color: $color_quant_left;
              color: $font_color_inverse;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  &--bestBidState#{$securityQuoteBlockName}--filteredByPriceState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--bid#{$securityQuoteBlockName}__main-twoSideEntry-cta--price {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &>span {
              background-color: $color_quant_left;
              color: $font_color_inverse;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  &--bestBidState#{$securityQuoteBlockName}--filteredByYieldState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--bid#{$securityQuoteBlockName}__main-twoSideEntry-cta--yield {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &>span {
              background-color: $color_quant_left;
              color: $font_color_inverse;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  &--bestOfferState#{$securityQuoteBlockName}--filteredBySpreadState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--ask#{$securityQuoteBlockName}__main-twoSideEntry-cta--tspread {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &>span {
              background-color: $color_quant_right;
              color: $font_color_inverse;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  &--bestOfferState#{$securityQuoteBlockName}--filteredByPriceState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--ask#{$securityQuoteBlockName}__main-twoSideEntry-cta--price {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &>span {
              background-color: $color_quant_right;
              color: $font_color_inverse;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  &--bestOfferState#{$securityQuoteBlockName}--filteredByYieldState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--ask#{$securityQuoteBlockName}__main-twoSideEntry-cta--yield {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &>span {
              background-color: $color_quant_right;
              color: $font_color_inverse;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  &--menuActiveOnBidState#{$securityQuoteBlockName}--menuActiveOnTSpreadState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--bid#{$securityQuoteBlockName}__main-twoSideEntry-cta--tspread {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta {
            &-btn {
              @include material('none');
              background-color: $color_active;
              &>span {
                background-color: $color_active;
                color: $font_color_inverse;
              }
            }
            &-actionMenu {
              transform: scale(1) translate(0,0);
            }
          }
        }
      }
    }
  }
  &--menuActiveOnBidState#{$securityQuoteBlockName}--menuActiveOnYieldState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--bid#{$securityQuoteBlockName}__main-twoSideEntry-cta--yield {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta {
            &-btn {
              @include material('none');
              background-color: $color_active;
              &>span {
                background-color: $color_active;
                color: $font_color_inverse;
              }
            }
            &-actionMenu {
              transform: scale(1) translate(0,0);
            }
          }
        }
      }
    }
  }
  &--menuActiveOnBidState#{$securityQuoteBlockName}--menuActiveOnPriceState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--bid#{$securityQuoteBlockName}__main-twoSideEntry-cta--price {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta {
            &-btn {
              @include material('none');
              background-color: $color_active;
              &>span {
                background-color: $color_active;
                color: $font_color_inverse;
              }
            }
            &-actionMenu {
              transform: scale(1) translate(0,0);
            }
          }
        }
      }
    }
  }
  &--menuActiveOnAskState#{$securityQuoteBlockName}--menuActiveOnTSpreadState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--ask#{$securityQuoteBlockName}__main-twoSideEntry-cta--tspread {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta {
            &-btn {
              @include material('none');
              background-color: $color_active;
              &>span {
                background-color: $color_active;
                color: $font_color_inverse;
              }
            }
            &-actionMenu {
              transform: scale(1) translate(0,0);
            }
          }
        }
      }
    }
  }
  &--menuActiveOnAskState#{$securityQuoteBlockName}--menuActiveOnYieldState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--ask#{$securityQuoteBlockName}__main-twoSideEntry-cta--yield {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta {
            &-btn {
              @include material('none');
              background-color: $color_active;
              &>span {
                background-color: $color_active;
                color: $font_color_inverse;
              }
            }
            &-actionMenu {
              transform: scale(1) translate(0,0);
            }
          }
        }
      }
    }
  }
  &--menuActiveOnAskState#{$securityQuoteBlockName}--menuActiveOnPriceState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--ask#{$securityQuoteBlockName}__main-twoSideEntry-cta--price {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta {
            &-btn {
              @include material('none');
              background-color: $color_active;
              &>span {
                background-color: $color_active;
                color: $font_color_inverse;
              }
            }
            &-actionMenu {
              transform: scale(1) translate(0,0);
            }
          }
        }
      }
    }
  }
  &--bidIsAxe {
    #{$securityQuoteBlockName} {
      &__main {
        &-twoSideEntry-axeIcon {
          &--bid {
            visibility: visible;
          }
        }
      }
    }
  }
  &--askIsAxe {
    #{$securityQuoteBlockName} {
      &__main {
        &-twoSideEntry-axeIcon {
          &--ask {
            visibility: visible;
          }
        }
      }
    }
  }
  &--diffBenchmark {
    #{$securityQuoteBlockName} {
      &__main {
        &-entry--benchmark {
          display: none;
        }
        &-benchmarkEntry {
          &-consolidated {
            display: none;
          }
          &-bid, &-ask, &-mid {
            display: flex;
          }
        }
      }
    }
  }
  &--noBid {
    #{$securityQuoteBlockName} {
      &__main {
        &-twoSideEntry {
          &-cta {
            &--bid {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
  &--noAsk {
    #{$securityQuoteBlockName} {
      &__main {
        &-twoSideEntry {
          &-cta {
            &--ask {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
  &--stencilState {
    #{$securityQuoteBlockName} {
      &__time {
        &-text {
          @include mix_stencil_animation;
        }
      }
      &__main {
        &-entry {
          @include mix_stencil_animation;
        }
        &-twoSideEntry {
          &-bid, &-ask {
            @include mix_stencil_animation;
          }
        }
        &-benchmarkEntry {
          &-consolidated, &-bid, &-ask {
            @include mix_stencil_animation;
          }
        }
      }
    }
  }
 
}