<article
  [ngClass]="{
    'sat-securityQuote': true,
    'sat-securityQuote--noBid': !messageData.state.hasBid,
    'sat-securityQuote--noAsk': !messageData.state.hasAsk,
    'sat-securityQuote--bidDownVotedState': messageData.state.isBidDownVoted,
    'sat-securityQuote--askDownVotedState': messageData.state.isAskDownVoted,
    'sat-securityQuote--bidIsAxe': messageData.state.hasBid && messageData.data.bid.isAxe,
    'sat-securityQuote--askIsAxe':
    messageData.state.hasAsk && messageData.data.ask.isAxe,
    'sat-securityQuote--diffBenchmark': messageData.state.diffBenchmark,
    'sat-securityQuote--stencilState': messageData.state.isStencil,
    'sat-securityQuote--bestBidState': messageData.state.isBestBid,
    'sat-securityQuote--bestOfferState': messageData.state.isBestOffer,
    'sat-securityQuote--filteredByPriceState': messageData.state.filteredByPrice,
    'sat-securityQuote--filteredBySpreadState': messageData.state.filteredBySpread,
    'sat-securityQuote--filteredByYieldState': messageData.state.filteredByYield,
    'sat-securityQuote--menuActiveOnBidState': messageData.state.menuActiveSide === 'bid',
    'sat-securityQuote--menuActiveOnAskState': messageData.state.menuActiveSide === 'ask',
    'sat-securityQuote--menuActiveOnTSpreadState': messageData.state.menuActiveMetric === 'tspread',
    'sat-securityQuote--menuActiveOnPriceState': messageData.state.menuActiveMetric === 'price',
    'sat-securityQuote--menuActiveOnYieldState': messageData.state.menuActiveMetric === 'yield',
    'sat-securityQuote--cdsVariant': messageData.state.isCDSVariant
  }">
  <section class="sat-securityQuote__main">
    <div class="sat-securityQuote__main-twoSideEntry">
      <span class="sat-securityQuote__main-twoSideEntry-text sat-securityQuote__main-twoSideEntry-text--bid">
        {{messageData.data.bid.time}}
      </span>
      <i class="sat-securityQuote__main-twoSideEntry-mid fal fa-arrows-h"></i>
      <span class="sat-securityQuote__main-twoSideEntry-text sat-securityQuote__main-twoSideEntry-text--ask">
        {{messageData.data.ask.time}}
      </span>
    </div>
    <div class="sat-securityQuote__main-spacing"></div>
    <div class="sat-securityQuote__main-entry">{{messageData.data.dataSource}}</div>
    <div class="sat-securityQuote__main-spacing"></div>
    <div class="sat-securityQuote__main-entry">{{messageData.data.broker}}</div>
    <div class="sat-securityQuote__main-spacing"></div>
    <div class="sat-securityQuote__main-twoSideEntry sat-securityQuote__main-twoSideEntry--sizeThree sat-securityQuote__main-twoSideEntry--nonCDS">
      <div
        [ngClass]="{
          'sat-securityQuote__main-twoSideEntry-cta': true,
          'sat-securityQuote__main-twoSideEntry-cta--price': true,
          'sat-securityQuote__main-twoSideEntry-cta--bid': true,
          'sat-securityQuote__main-twoSideEntry-cta--empty': messageData.data.bid.price == null
        }">
        <button (click)="onClickSpecificQuote(true, 'price')" class="sat-securityQuote__main-twoSideEntry-cta-btn">
          <span class="sat-securityQuote__main-twoSideEntry-cta-btn-text">{{messageData.data.bid.price}}</span>
          <i class="sat-securityQuote__main-twoSideEntry-cta-btn-downVoteIcon fas fa-thumbs-down"></i>
        </button>
        <div class="sat-securityQuote__main-twoSideEntry-cta-actionMenu">
          <button (click)="onClickUpVote()" class="sat-securityQuote__main-twoSideEntry-cta-actionMenu-upVote santaBtn santaBtn--iconOnly fal fa-thumbs-up"></button>
          <button (click)="onClickDownVote()" class="sat-securityQuote__main-twoSideEntry-cta-actionMenu-downVote santaBtn santaBtn--iconOnly fal fa-thumbs-down"></button>
        </div>
      </div>
      <i class="sat-securityQuote__main-twoSideEntry-mid fal fa-arrows-h"></i>
      <div
        [ngClass]="{
          'sat-securityQuote__main-twoSideEntry-cta': true,
          'sat-securityQuote__main-twoSideEntry-cta--price': true,
          'sat-securityQuote__main-twoSideEntry-cta--ask': true,
          'sat-securityQuote__main-twoSideEntry-cta--empty': messageData.data.ask.price == null
        }">
        <button (click)="onClickSpecificQuote(false, 'price')" class="sat-securityQuote__main-twoSideEntry-cta-btn">
          <i class="sat-securityQuote__main-twoSideEntry-cta-btn-downVoteIcon fas fa-thumbs-down"></i>
          <span class="sat-securityQuote__main-twoSideEntry-cta-btn-text">{{messageData.data.ask.price}}</span>
        </button>
        <div class="sat-securityQuote__main-twoSideEntry-cta-actionMenu">
          <button (click)="onClickUpVote()" class="sat-securityQuote__main-twoSideEntry-cta-actionMenu-upVote santaBtn santaBtn--iconOnly fal fa-thumbs-up"></button>
          <button (click)="onClickDownVote()" class="sat-securityQuote__main-twoSideEntry-cta-actionMenu-downVote santaBtn santaBtn--iconOnly fal fa-thumbs-down"></button>
        </div>
      </div>
    </div>
    <div class="sat-securityQuote__main-spacing sat-securityQuote__main-spacing--nonCDS"></div>
    <div class="sat-securityQuote__main-twoSideEntry sat-securityQuote__main-twoSideEntry--nonCDS">
      <div
        [ngClass]="{
          'sat-securityQuote__main-twoSideEntry-cta': true,
          'sat-securityQuote__main-twoSideEntry-cta--yield': true,
          'sat-securityQuote__main-twoSideEntry-cta--bid': true,
          'sat-securityQuote__main-twoSideEntry-cta--empty': messageData.data.bid.yield == null
        }">
        <button (click)="onClickSpecificQuote(true, 'yield')" class="sat-securityQuote__main-twoSideEntry-cta-btn">
          <span class="sat-securityQuote__main-twoSideEntry-cta-btn-text">{{messageData.data.bid.yield}}</span>
          <i class="sat-securityQuote__main-twoSideEntry-cta-btn-downVoteIcon fas fa-thumbs-down"></i>
        </button>
        <div class="sat-securityQuote__main-twoSideEntry-cta-actionMenu">
          <button (click)="onClickUpVote()" class="sat-securityQuote__main-twoSideEntry-cta-actionMenu-upVote santaBtn santaBtn--iconOnly fal fa-thumbs-up"></button>
          <button (click)="onClickDownVote()" class="sat-securityQuote__main-twoSideEntry-cta-actionMenu-downVote santaBtn santaBtn--iconOnly fal fa-thumbs-down"></button>
        </div>
      </div>
      <i class="sat-securityQuote__main-twoSideEntry-mid fal fa-arrows-h"></i>
      <div
        [ngClass]="{
          'sat-securityQuote__main-twoSideEntry-cta': true,
          'sat-securityQuote__main-twoSideEntry-cta--yield': true,
          'sat-securityQuote__main-twoSideEntry-cta--ask': true,
          'sat-securityQuote__main-twoSideEntry-cta--empty': messageData.data.ask.yield == null
        }">
        <button (click)="onClickSpecificQuote(false, 'yield')" class="sat-securityQuote__main-twoSideEntry-cta-btn">
          <span class="sat-securityQuote__main-twoSideEntry-cta-btn-text">{{messageData.data.ask.yield}}</span>
          <i class="sat-securityQuote__main-twoSideEntry-cta-btn-downVoteIcon fas fa-thumbs-down"></i>
        </button>
        <div class="sat-securityQuote__main-twoSideEntry-cta-actionMenu">
          <button (click)="onClickUpVote()" class="sat-securityQuote__main-twoSideEntry-cta-actionMenu-upVote santaBtn santaBtn--iconOnly fal fa-thumbs-up"></button>
          <button (click)="onClickDownVote()" class="sat-securityQuote__main-twoSideEntry-cta-actionMenu-downVote santaBtn santaBtn--iconOnly fal fa-thumbs-down"></button>
        </div>
      </div>
    </div>
    <div class="sat-securityQuote__main-spacing sat-securityQuote__main-spacing--nonCDS"></div>
    <div class="sat-securityQuote__main-twoSideEntry">
      <div
        [ngClass]="{
          'sat-securityQuote__main-twoSideEntry-cta': true,
          'sat-securityQuote__main-twoSideEntry-cta--tspread': true,
          'sat-securityQuote__main-twoSideEntry-cta--bid': true,
          'sat-securityQuote__main-twoSideEntry-cta--empty': messageData.data.bid.tspread == null
        }">
        <button (click)="onClickSpecificQuote(true, 'tspread')" class="sat-securityQuote__main-twoSideEntry-cta-btn">
          <span class="sat-securityQuote__main-twoSideEntry-cta-btn-text">{{messageData.data.bid.tspread}}</span>
          <i class="sat-securityQuote__main-twoSideEntry-cta-btn-downVoteIcon fas fa-thumbs-down"></i>
        </button>
        <div class="sat-securityQuote__main-twoSideEntry-cta-actionMenu">
          <button (click)="onClickUpVote()" class="sat-securityQuote__main-twoSideEntry-cta-actionMenu-upVote santaBtn santaBtn--iconOnly fal fa-thumbs-up"></button>
          <button (click)="onClickDownVote()" class="sat-securityQuote__main-twoSideEntry-cta-actionMenu-downVote santaBtn santaBtn--iconOnly fal fa-thumbs-down"></button>
        </div>
      </div>
      <i class="sat-securityQuote__main-twoSideEntry-mid fal fa-arrows-h"></i>
      <div
        [ngClass]="{
          'sat-securityQuote__main-twoSideEntry-cta': true,
          'sat-securityQuote__main-twoSideEntry-cta--tspread': true,
          'sat-securityQuote__main-twoSideEntry-cta--ask': true,
          'sat-securityQuote__main-twoSideEntry-cta--empty': messageData.data.ask.tspread == null
        }">
        <button (click)="onClickSpecificQuote(false, 'tspread')" class="sat-securityQuote__main-twoSideEntry-cta-btn">
          <span class="sat-securityQuote__main-twoSideEntry-cta-btn-text">{{messageData.data.ask.tspread}}</span>
          <i class="sat-securityQuote__main-twoSideEntry-cta-btn-downVoteIcon fas fa-thumbs-down"></i>
        </button>
        <div class="sat-securityQuote__main-twoSideEntry-cta-actionMenu">
          <button (click)="onClickUpVote()" class="sat-securityQuote__main-twoSideEntry-cta-actionMenu-upVote santaBtn santaBtn--iconOnly fal fa-thumbs-up"></button>
          <button (click)="onClickDownVote()" class="sat-securityQuote__main-twoSideEntry-cta-actionMenu-downVote santaBtn santaBtn--iconOnly fal fa-thumbs-down"></button>
        </div>
      </div>
    </div>
    <div class="sat-securityQuote__main-spacing"></div>
    <div class="sat-securityQuote__main-twoSideEntry sat-securityQuote__main-twoSideEntry--sizeThree">
      <i class="sat-securityQuote__main-twoSideEntry-axeIcon sat-securityQuote__main-twoSideEntry-axeIcon--bid fas fa-axe"></i>
      <span class="sat-securityQuote__main-twoSideEntry-text sat-securityQuote__main-twoSideEntry-text--bid sat-securityQuote__main-twoSideEntry-text--quant">
        {{messageData.data.bid.size}}
      </span>
      <i class="sat-securityQuote__main-twoSideEntry-mid fal fa-arrows-h"></i>
      <span class="sat-securityQuote__main-twoSideEntry-text sat-securityQuote__main-twoSideEntry-text--ask sat-securityQuote__main-twoSideEntry-text--quant">
        {{messageData.data.ask.size}}
      </span>
      <i class="sat-securityQuote__main-twoSideEntry-axeIcon sat-securityQuote__main-twoSideEntry-axeIcon--ask fas fa-axe"></i>
    </div>
    <div class="sat-securityQuote__main-spacing sat-securityQuote__main-spacing--nonCDS"></div>
    <div class="sat-securityQuote__main-benchmarkEntry">
      <span class="sat-securityQuote__main-benchmarkEntry-consolidated">
        {{messageData.data.consolidatedBenchmark}}
      </span>
      <span class="sat-securityQuote__main-benchmarkEntry-bid">
        {{messageData.data.bid.benchmark}}
      </span>
      <i class="sat-securityQuote__main-benchmarkEntry-mid fal fa-arrows-v"></i>
      <span class="sat-securityQuote__main-benchmarkEntry-ask">
        {{messageData.data.ask.benchmark}}
      </span>
    </div>
  </section>
</article>