@import "global.scss";


@mixin axeIconVisible {
  &-axeIcon{
    visibility: visible;
    font-size: $font_size_xx_small;
    &-left{
      padding-right: $spacing_xx_small;
    }
    &-right{
      padding-left: $spacing_xx_small;
    }
  }
}

$securityQuote_twoSideEntry_axeIconSize: 1.5rem;
.sat-securityQuote {
  $securityQuoteBlockName: &;
  @include mix_border_radius(5px);
  flex: 1 1 auto;
  display: flex;
  margin-top: $spacing_x_small;
  &__main {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: $spacing_xx_small 0;
    &-entry {
      flex: 0 0 $securityQuote_main_size_1;
      text-align: center;
      font-size: $font_size_small;
      color: $font_color_inverse;
    }
    &-spacing {
      @include mix_border_generator(0 $typical_border_width 0 0);
      flex-shrink: 0;
      width: $securityQuote_spacing_height;
      height: 100%;
      margin-right: $securityQuote_spacing_height;
    }
    &-twoSideEntry {
      flex: 0 0 $securityQuote_main_size_2;
      display: flex;
      justify-content: center;
      align-items: center;
      &-axeIcon {
        @include mix_border_radius(3px);
        flex: 0 0 $securityQuote_twoSideEntry_axeIconSize;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        height: $securityQuote_twoSideEntry_axeIconSize;
        color: $color_white;
        background-color: $color_axe;
        font-size: $font_size_small;
        &--bid {
          margin-right: $spacing_x_small;
        }
        &--ask {
          margin-left: $spacing_x_small;
        }
      }
      &-mid {
        margin-top: $spacing_minimum;
        color: $font_color_trivial;
        font-size: $font_size_x_small;
      }
      &-text {
        flex: 1 1 50%;
        display: flex;
        color: $font_color_inverse;
        font-size: $font_size_small;
        text-align: center;
        white-space: nowrap;
        &--quant {
          @include mix_quantative_text;
          color: $font_color_inverse;
        }
        &--bid {
          margin-right: $spacing_xx_small;
          justify-content: flex-end;
          color: $font_color_inverse;
        }
        &--ask {
          margin-left: $spacing_xx_small;
          justify-content: flex-start;
          color: $font_color_inverse;
        }
      }
      &-cta {
        @include mix_fixed_div(relative, $z_index_base_item);
        flex: 1 1 50%;
        display: flex;
        &-btn {
          @extend .santaBtn;
          flex: 1 1 auto;
          flex-direction: row;
          justify-content: space-between;
          padding: $spacing_xx_small $spacing_x_small;
          &-text {
            @include mix_border_radius(3px);
            @include mix_quantative_text;
            flex: 1 1 auto;
            padding: $spacing_xx_small $spacing_x_small;

            &-axeIcon{
              visibility: hidden;
            }

            &-withIcon{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
            }
          }
          &-downVoteIcon {
            @include mix_fixed_div(absolute, $z_index_hovering_item);
            @include mix_border_radius(50%);
            display: none;
            font-size: $font_size_small;
            color: $color_warning;
            padding: $spacing_xx_small;
          }
        }
        &-actionMenu {
          @include mix_fixed_div(absolute, $z_index_hovering_item);
          @include mix_alive('custom', transform $animation_duration_light);
          top: 100%;
          left: -$spacing_small;
          display: flex;
          transform: scale(0.001) translate(0, -100%);
          &-upVote {
            @include mix_border_radius(50%);
            margin: 0 $spacing_x_small;
          }
          &-downVote {
            @include mix_border_radius(50%);
            color: $font_color_inverse;
            background-color: $color_warning;
            margin: 0 $spacing_x_small;
          }
        }
        &--bid {
          margin-right: $spacing_xx_small;
          justify-content: flex-end;
        }
        &--bid &-btn &-btn-text {
          text-align: right;
        }
        &--bid &-btn &-btn-downVoteIcon {
          left: 0;
        }
        &--ask {
          margin-left: $spacing_xx_small;
        }
        &--ask &-btn &-btn-text {
          text-align: left;
        }
        &--ask &-btn &-btn-downVoteIcon {
          right: 0;
        }
        &--empty {
          visibility: hidden;
        }
      }
      &--sizeThree {
        flex: 0 0 $securityQuote_main_size_3;
      }
    }
    &-benchmarkEntry {
      flex: 1 0 $securityQuote_main_size_4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      color: $font_color_inverse;
      &-consolidated {
        display: flex;
        align-self: flex-start;
        font-size: $font_size_small;
      }
      &-bid {
        display: none;
        flex: 1 1 50%;
        justify-content: flex-end;
        font-size: $font_size_small;
        margin-bottom: $spacing_x_small;
        text-align: center;
      }
      &-mid {
        display: none;
        color: $font_color_trivial;
      }
      &-ask {
        display: none;
        flex: 1 1 50%;
        justify-content: flex-start;
        margin-top: $spacing_x_small;
        font-size: $font_size_small;
        text-align: center;
      }
    }
  }
  &:hover {
    border-color: $color_active;
    background-color: $color_active;
  }

  &--bestAxeBidState#{$securityQuoteBlockName}--filteredBySpreadState,
  {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--bid#{$securityQuoteBlockName}__main-twoSideEntry-cta--tspread {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &-text {
              @include axeIconVisible;
            }
          }
        }
      }
    }
  }
  &--bestAxeBidState#{$securityQuoteBlockName}--filteredByPriceState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--bid#{$securityQuoteBlockName}__main-twoSideEntry-cta--price {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &-text {
              @include axeIconVisible;

            }
          }
        }
      }
    }
  }
  &--bestAxeBidState#{$securityQuoteBlockName}--filteredByYieldState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--bid#{$securityQuoteBlockName}__main-twoSideEntry-cta--yield {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &-text {
              @include axeIconVisible;
            }
          }
        }
      }
    }
  }
  &--bestBidState#{$securityQuoteBlockName}--filteredBySpreadState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--bid#{$securityQuoteBlockName}__main-twoSideEntry-cta--tspread {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &-text {
              background-color: $color_bid;
              color: $font_color_inverse;
            }
          }
        }
      }
    }
  }

  &--bestBidState#{$securityQuoteBlockName}--filteredByPriceState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--bid#{$securityQuoteBlockName}__main-twoSideEntry-cta--price {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &-text {
              background-color: $color_bid;
              color: $font_color_inverse;
            }
          }
        }
      }
    }
  }
  &--bestBidState#{$securityQuoteBlockName}--filteredByYieldState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--bid#{$securityQuoteBlockName}__main-twoSideEntry-cta--yield {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &-text {
              background-color: $color_bid;
              color: $font_color_inverse;
            }
          }
        }
      }
    }
  }
  &--bestAxeOfferState#{$securityQuoteBlockName}--filteredBySpreadState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--ask#{$securityQuoteBlockName}__main-twoSideEntry-cta--tspread {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &-text {
              @include axeIconVisible;
            }
          }
        }
      }
    }
  }
  &--bestAxeOfferState#{$securityQuoteBlockName}--filteredByPriceState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--ask#{$securityQuoteBlockName}__main-twoSideEntry-cta--price {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &-text {
              @include axeIconVisible;
            }
          }
        }
      }
    }
  }
  &--bestAxeOfferState#{$securityQuoteBlockName}--filteredByYieldState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--ask#{$securityQuoteBlockName}__main-twoSideEntry-cta--yield {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &-text {
              @include axeIconVisible;
            }
          }
        }
      }
    }
  }
  &--bestOfferState#{$securityQuoteBlockName}--filteredBySpreadState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--ask#{$securityQuoteBlockName}__main-twoSideEntry-cta--tspread {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &-text {
              background-color: $color_ask;
              color: $font_color_inverse;
            }
          }
        }
      }
    }
  }
  &--bestOfferState#{$securityQuoteBlockName}--filteredByPriceState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--ask#{$securityQuoteBlockName}__main-twoSideEntry-cta--price {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &-text {
              background-color: $color_ask;
              color: $font_color_inverse;
            }
          }
        }
      }
    }
  }
  &--bestOfferState#{$securityQuoteBlockName}--filteredByYieldState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--ask#{$securityQuoteBlockName}__main-twoSideEntry-cta--yield {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            &-text {
              background-color: $color_ask;
              color: $font_color_inverse;
            }
          }
        }
      }
    }
  }
  &--menuActiveOnBidState#{$securityQuoteBlockName}--menuActiveOnTSpreadState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--bid#{$securityQuoteBlockName}__main-twoSideEntry-cta--tspread {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta {
            &-btn {
              @include material('none');
              background-color: $color_active;
              &-text {
                background-color: $color_active;
                color: $font_color_inverse;
              }
            }
            &-actionMenu {
              transform: scale(1) translate(0,0);
            }
          }
        }
      }
    }
  }
  &--menuActiveOnBidState#{$securityQuoteBlockName}--menuActiveOnYieldState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--bid#{$securityQuoteBlockName}__main-twoSideEntry-cta--yield {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta {
            &-btn {
              @include material('none');
              background-color: $color_active;
              &-text {
                background-color: $color_active;
                color: $font_color_inverse;
              }
            }
            &-actionMenu {
              transform: scale(1) translate(0,0);
            }
          }
        }
      }
    }
  }
  &--menuActiveOnBidState#{$securityQuoteBlockName}--menuActiveOnPriceState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--bid#{$securityQuoteBlockName}__main-twoSideEntry-cta--price {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta {
            &-btn {
              @include material('none');
              background-color: $color_active;
              &-text {
                background-color: $color_active;
                color: $font_color_inverse;
              }
            }
            &-actionMenu {
              transform: scale(1) translate(0,0);
            }
          }
        }
      }
    }
  }
  &--menuActiveOnAskState#{$securityQuoteBlockName}--menuActiveOnTSpreadState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--ask#{$securityQuoteBlockName}__main-twoSideEntry-cta--tspread {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta {
            &-btn {
              @include material('none');
              background-color: $color_active;
              &-text {
                background-color: $color_active;
                color: $font_color_inverse;
              }
            }
            &-actionMenu {
              transform: scale(1) translate(0,0);
            }
          }
        }
      }
    }
  }
  &--menuActiveOnAskState#{$securityQuoteBlockName}--menuActiveOnYieldState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--ask#{$securityQuoteBlockName}__main-twoSideEntry-cta--yield {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta {
            &-btn {
              @include material('none');
              background-color: $color_active;
              &-text {
                background-color: $color_active;
                color: $font_color_inverse;
              }
            }
            &-actionMenu {
              transform: scale(1) translate(0,0);
            }
          }
        }
      }
    }
  }
  &--menuActiveOnAskState#{$securityQuoteBlockName}--menuActiveOnPriceState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--ask#{$securityQuoteBlockName}__main-twoSideEntry-cta--price {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta {
            &-btn {
              @include material('none');
              background-color: $color_active;
              &-text {
                background-color: $color_active;
                color: $font_color_inverse;
              }
            }
            &-actionMenu {
              transform: scale(1) translate(0,0);
            }
          }
        }
      }
    }
  }
  &--bidIsAxe {
    #{$securityQuoteBlockName} {
      &__main {
        &-twoSideEntry-axeIcon {
          &--bid {
            visibility: visible;
          }
        }
      }
    }
  }
  &--askIsAxe {
    #{$securityQuoteBlockName} {
      &__main {
        &-twoSideEntry-axeIcon {
          &--ask {
            visibility: visible;
          }
        }
      }
    }
  }
  &--diffBenchmark {
    #{$securityQuoteBlockName} {
      &__main {
        &-entry--benchmark {
          display: none;
        }
        &-benchmarkEntry {
          &-consolidated {
            display: none;
          }
          &-bid, &-ask, &-mid {
            display: flex;
          }
        }
      }
    }
  }
  &--bidDownVotedState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--bid {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            background-color: $color_detailTableBackground;
            &-text {
              color: $font_color_inverse;
            }
            &-downVoteIcon {
              display: inline-block;
            }
          }
        }
      }
    }
  }
  &--askDownVotedState {
    #{$securityQuoteBlockName} {
      &__main-twoSideEntry-cta--ask {
        #{$securityQuoteBlockName} {
          &__main-twoSideEntry-cta-btn {
            background-color: $color_detailTableBackground;
            &-text {
              color: $font_color_inverse;
            }
            &-downVoteIcon {
              display: inline-block;
            }
          }
        }
      }
    }
  }
  &--noBid {
    #{$securityQuoteBlockName} {
      &__main {
        &-twoSideEntry {
          &-cta {
            &--bid {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
  &--noAsk {
    #{$securityQuoteBlockName} {
      &__main {
        &-twoSideEntry {
          &-cta {
            &--ask {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
  &--cdsVariant {
    #{$securityQuoteBlockName} {
      &__main {
        &-spacing--nonCDS {
          display: none;
        }
        &-twoSideEntry--nonCDS {
          display: none;
        }
      }
    }
  }
  &--stencilState {
    #{$securityQuoteBlockName} {
      &__main {
        &-entry {
          @include mix_stencil_animation;
        }
        &-twoSideEntry {
          &-bid, &-ask {
            @include mix_stencil_animation;
          }
        }
        &-benchmarkEntry {
          &-consolidated, &-bid, &-ask {
            @include mix_stencil_animation;
          }
        }
      }
    }
  }

}
