  @import "global";
// @import "ag-grid/ag-grid-basic.scss";
// @import "ag-grid/ag-theme-balham.scss";
$icons-path: "~ag-grid-community/src/styles/ag-theme-base/icons/";
$font-family: "SantaOpenSans";

// even row background color
$default-background: $color_gray_2;
// odd row background color
$odd-row-background-color: $color_blue_gray_1;

// header background color
$chrome-background: $color_gray_2;

// all text color
// $foreground-color: $font_color_inverse;
$foreground-opacity: 1;
$secondary-foreground-color-opacity: 1;

// row background color on hover
$alt-background: $color_white;

@import "~ag-grid-community/src/styles/ag-grid";
@import '~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham';
// @import '~ag-grid-community/src/styles/ag-theme-balham-dark/sass/ag-theme-balham-dark';
@mixin header-line-height {
  line-height: 1.5rem;
}

@mixin flex-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin flex-center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin default-cell() {
  background: $distinguish_type_color_8 !important;
  border-radius: 4px;
  padding: 0 $spacing_xx_small;
}

  .ag-body-horizontal-scroll {
    height: $scroll_bar_width * 1.5!important;
    min-height: $scroll_bar_width * 1.5!important;
    max-height: $scroll_bar_width * 1.5!important;
    .ag-body-horizontal-scroll-viewport {
      height: $scroll_bar_width * 1.5!important;
      min-height: $scroll_bar_width * 1.5!important;
      max-height: $scroll_bar_width * 1.5!important;
      .ag-body-horizontal-scroll-container {
        height: $scroll_bar_width * 1.5!important;
        min-height: $scroll_bar_width * 1.5!important;
        max-height: $scroll_bar_width * 1.5!important;
      }
    }
  }

.santaTable {
  $santaTableBlockName: &;
  @include mix_fixed_div(relative, $z_index_base_item);
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  &__agGridTable {
    flex: 1 1 auto;
    display: flex;
    font-weight: 300;
    font-family:"SantaOpenSans", sans-serif;
    overflow: hidden;
    button {
      @include material('none');
      border-radius: inherit;
      margin: unset;
      padding: unset;
    }
    &-agGrid {
      height: 100%;
      width: 100%;
      &-header {
        justify-content: center;
        padding: $spacing_x_small !important;

        .ag-sort-descending-icon, .ag-sort-ascending-icon {
          position: absolute;
          right: $spacing_xx_small;
          margin-right: 0px !important;
        }

        .ag-cell-label-container {
          @include default-cell;
          position: relative;
          .ag-header-cell-label {
            @include flex-center-horizontal;
            width: 100%;
            padding-left: 0;
          }
          .ag-header-cell-text {
            @include header-line-height;
            padding: 0 $spacing_small;
          }
          .ag-header-icon {
            @include flex-center-vertical;
            position: absolute;
            height: 100%;
            .ag-icon {
              height: 100%
            }
          }
        }
        .ag-header-group-cell-label {
          @include default-cell;
          @include flex-center-horizontal;
          position: relative;
          .ag-header-group-text {
            @include header-line-height;
            padding: 0 $spacing_medium;
          }
          .ag-header-icon {
            @include flex-center-vertical;
            position: absolute;
            right: 0.45rem;
            &:hover{
              cursor: pointer;
            }
            .ag-icon {
              transform: none !important;
            }
          }
        }

        &--bestQuote, &--markDiscrepancies, &--position, &--delta, &--ownership, &--lastTrace {
          .ag-cell-label-container, .ag-header-group-cell-label {
            background: linear-gradient(45deg,  $theme_color_1 40%, $theme_color_2 100%) !important;
            color: $color_white;
          }
        }
        &--mark, &--cost, &--cs01, &--securityInfo, &--alert {
          .ag-cell-label-container, .ag-header-group-cell-label {
            background: linear-gradient(45deg,  $theme_color_1 40%, $theme_color_2 100%) !important;
            // background: $theme_color_1 !important;
            color: $color_white;
            // @include mix_border_generator($typical_border_width, $color_gray_6);
            // background: $color_white !important;
            // color: $color_gray_6;
          }
        }
        &--noGroup {
          .ag-cell-label-container, .ag-header-group-cell-label {
            background: transparent !important;
            color: $font_color_major;
          }
        }
        .ag-header-cell {
          overflow: hidden;
          &-label {
            padding-left: $spacing_x_small;
          }
        }
        &--numeric {
          // .ag-header-cell-label {
          //   width: 100%;
          //   padding: 0;
          // }
          &.ag-header-cell-filtered {
            background-color: $color_filter;
            .ag-header-cell-text {
              color: $font_color_inverse;
            }
            .ag-icon-filter {
              color: $font_color_inverse;
            }
          }
        }
        &--detail {
          padding: 0!important;
          .ag-header-cell-menu-button {
            display: none;
          }
          .ag-header-cell-label {
            width: 100%;
            padding: 0;
            justify-content: center;
          }
        }
      }
      &-row {
        &:hover {
          z-index: $z_index_hovering_item;  // override AgGrid's style
        }
        &--cardSelected {
          z-index: $z_index_hovering_item_lift;  // override AgGrid's style
          &:hover {
            z-index: $z_index_hovering_item_lift;  // override default state's hover
          }
        }
      }
      &-cell {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: $font_color_major;
        white-space: normal;
        word-break: break-word;
        text-align: right;
        line-height: $line_height_x_small!important;
        border-width: 0!important;
        &--securityCard {
          justify-content: flex-end;
          overflow: visible;  // override AgGrid's style
        }
        &--detailCTA {
          justify-content: center;
          padding: 0;
          .ag-group-checkbox {
            display: none;
          }
        }
        &--numeric {
          @include mix_quantative_text;
        }
        &--alertMessage {
          @include mix_text_overflow_multi_line(2);
          padding-top: $spacing_minimum;
          padding-bottom: $spacing_small;
          -webkit-box-align: stretch;
        }
        santa-table-quote-cell {
          flex: 1 1 auto;
        }
      }
      // those overflow: visible; are for making the material effect on security card more natural
      .ag-floating-top {
        overflow-y: visible !important;
        overflow: visible;
        .ag-pinned-left-floating-top {
          overflow: visible;
        }
        .ag-row {
          &.ag-row-even {
            background-color: $color_gray_85;
            border-color: $color_gray_85;
          }
          &.ag-row-odd {
            background-color: $color_gray_75;
            border-color: $color_gray_75;
          }
          &>.ag-cell {
            color: $font_color_inverse;
          }
        }
      }
    }
  }
  &__nativeSecurityTable {
    flex: 1 1 auto;
    display: none;
    overflow: hidden;
    security-table {
      flex: 1 1 auto;
      display: flex;
      overflow: hidden;
    }
  }
  &__floatingCTA {
    &-clearAllPinned {
      @include mix_fixed_div(absolute, $z_index_hovering_item);
      @include mix_alive('light');
      top: 6rem;
      left: 6rem;
      display: flex;
      transform: scale(0.01);
      &-btn {
        padding: $spacing_small $spacing_medium;
      }
    }
    &-tableSwitch {
      @include mix_fixed_div(absolute, $z_index_hovering_item);
      right: 0;
      bottom: 0;
      margin: $spacing_medium;
      &-btn {
        &--active {
          @include material('none');
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
    }
  }
  &--hasPinnedRowsState {
    #{$santaTableBlockName} {
      &__floatingCTA {
        &-clearAllPinned {
          transform: scale(1);
        }
      }
    }
  }
  &--nativeEnabledState {
    #{$santaTableBlockName} {
      &__agGridTable {
        display: none;
      }
      &__nativeSecurityTable {
        display: flex;
      }
    }
  }
}

.ag-theme-balham .ag-tab-body, .ag-theme-balham .ag-popup-editor, .ag-theme-balham .ag-menu {
  color: $font_color_major;
}
