@import "global.scss";
@import "modules/trade/trade.scss";

$quantComparer_edge_width: 2.5rem;
$quantComparer_min_height: 2.5rem;
.sat-quantComparer {
  $quantComparerBlockName: &;
  @include mix_fixed_div(relative, $z_index_standard_base_item);
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  min-height: 2.5rem;
  &__base {
    @include mix_fixed_div(absolute, $z_index_standard_base_item_solid);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    &-line {
      @include mix_fixed_div(absolute, $z_index_standard_base_item_lift);
      @include mix_border_generator(0 0 $typical_border_width 0);
      @include mix_calculate(width, 100%, $quantComparer_edge_width * 2, '-');
      display: none;  // changed the design to not show the line for now
      height: 50%;
      margin-left: $quantComparer_edge_width;
      margin-right: $quantComparer_edge_width;
    }
    &-background {
      @include mix_fixed_div(absolute, $z_index_standard_base_item);
      @include mix_border_radius(5px);
      display: none;
      height: 100%;
      width: 100%;
      background-color: $color_quant_crossed_background;
    }
  }
  &__content {
    @include mix_fixed_div(absolute, $z_index_standard_base_item_lift);
    display: flex;
    height: 100%;
    width: 100%;
    padding: $spacing_x_small;
    &-driver {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      &-edge {
        @include mix_fixed_div(relative, $z_index_standard_base_item_lift);
        @include mix_border_radius(5px);
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: $quantComparer_edge_width;
        padding: $spacing_xx_small;
        direction: ltr;
        &-number {
          color: $font_color_major;
          font-size: $font_size_x_small;
          line-height: $line_height_minimum;
          user-select: none;
        }
        &-broker {
          color: $color_quant_left;
          font-size: $font_size_x_small;
          line-height: $line_height_minimum;
          user-select: none;
        }
      }
      &-line {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        height: 100%;
        &-content {
          min-height: $typical_border_width;
        }
      }
      &--left {
        #{$quantComparerBlockName}__content-driver {
          &-edge {
            background-color: $color_quant_left_background;
            margin-right: -$spacing_xx_small;  // small tweak that hides the space between edge and line cuzed by edge's border-radius
            &-number {
              text-align: left;
            }
            &-broker {
              text-align: left;
            }
          }
          &-line {
            &-content {
              @include mix_border_radius(3px, 'right');
              background-color: $color_quant_left;
            }
          }
        }
      }
      &--right {
        direction: rtl;
        #{$quantComparerBlockName}__content-driver {
          &-edge {
            background-color: $color_quant_right_background;
            margin-left: -$spacing_xx_small;
            &-number {
              text-align: right;
            }
            &-broker {
              text-align: right;
              color: $color_quant_right;
            }
          }
          &-line {
            &-content {
              @include mix_border_radius(3px, 'left');
              background-color: $color_quant_right;
            }
          }
        }
      }
    }
  }
  &__crossing {
    @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
    @include mix_border_radius(5px);
    @include mix_calculate(height, 100%, $spacing_x_small * 2, '-');
    display: none;
    align-items: center;
    margin: $spacing_x_small 0;
    padding: 0 $spacing_medium;
    background-color: $color_quant_crossed_background;
    &-content {
      @include mix_border_radius(5px);
      padding: $spacing_xx_small $spacing_small;
      background-color: $color_quant_crossed;
      line-height: $line_height_minimum;
      &-value {
        color: $color_quant_crossed_background;
        user-select: none;
      }
    }
  }
  &__skew {
    @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
    display: none;
    height: 100%;
    width: 100%;
    &-leftSpacing {
      flex: 0 1 50%;
      margin-left: $quantComparer_edge_width;
    }
    &-indicator {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-icon {
        flex: 0 0 auto;
        font-size: $font_size_small;
        color: $color_quant_skew;
      }
      &-line {
        @include mix_border_generator(0 $typical_border_width*2 0 0, $color_quant_skew);
        flex: 1 1 auto;
      }
    }
    &-rightSpacing {
      flex: 0 1 50%;
      margin-right: $quantComparer_edge_width;
    }
  }
  &--skewEnabledState {
    #{$quantComparerBlockName} {
      &__skew {
        display: flex;
      }
    }
  }
  &--crossedState {
    #{$quantComparerBlockName} {
      &__crossing {
        display: flex;
      }
    }
  }
  &--crossedStateTier2 {
    #{$quantComparerBlockName} {
      &__base {
        &-background {
          display: block;
        }
      }
      &__content {
        &-driver {
          &-edge {
            background-color: $color_quant_crossed;
            &-number {
              color: $color_quant_crossed_background;
            }
            &-broker {
              color: $font_color_inverse;
            }
          }
          &-line-content {
            background-color: $color_quant_crossed;
          }
        }
      }
      &__crossing {
        background-color: inherit;
        &-content {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  &--stencilState {
    #{$quantComparerBlockName} {
      &__content {
        &-driver {
          &-edge {
            &-number {
              @include mix_stencil_animation();
              line-height: $line_height_stencil_slim;
            }
            &-broker {
              @include mix_stencil_animation();
              line-height: $line_height_stencil_slim;
            }
          }
          &-line-content {
            @include mix_stencil_animation();
          }
        }
      }
      &__skew {
        display: none;
      }
    }
  }
  &--noBidState {
    #{$quantComparerBlockName} {
      &__content {
        &-driver--left {
          visibility: hidden;
        }
      }
      &__skew {
        display: none;
      }
    }
  }
  &--noOfferState {
    #{$quantComparerBlockName} {
      &__content {
        &-driver--right {
          visibility: hidden;
        }
      }
      &__skew {
        display: none;
      }
    }
  }
}