@import "global.scss";
@import "modules/structure/structure.scss";

$structureSetTargetPanel_edit_column_size: 14rem;
.sat-structureSetTargetPanel {
  $blockName: &;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing_large;
  &__utilities {
    @include mix_border_generator(0 0 $typical_border_width 0);
    display: flex;
    align-items: center;
    margin-top: -$spacing_small;
    padding-bottom: $spacing_medium;
    margin-bottom: $spacing_medium;
    &-metricSwitch {
      flex: 0 0 auto;
      &-btnGroup {
        margin-right: $spacing_medium;
        &-btn {
          flex-direction: row;
          &-mainText {
            font-size: $font_size_normal;
          }
          &-unallocatedText {
            @include mix_border_radius(3px);
            padding: $spacing_xx_small $spacing_small;
            font-size: $font_size_x_small;
            margin-left: $spacing_x_small;
            color: $font_color_minor;
          }
          &--active {
            @include material('none');
            background-color: $color_active;
            color: $font_color_inverse;
          }
          &--highlightUnallocated &-unallocatedText {
            background-color: $color_active;
            color: $font_color_inverse;
          }
          &--active#{$blockName}__utilities-metricSwitch-btnGroup-btn--highlightUnallocated &-unallocatedText {
            background-color: $color_white;
            color:$font_color_major;
          }
        }
      }
    }
    &-distribution {
      @include mix_border_radius(5px);
      display: flex;
      align-items: center;
      align-self: stretch;
      padding: $spacing_small $spacing_medium;
      background-color: $color_disabled;
      &-label {
        display: none;
        align-items: center;
        text-align: center;
        color: $font_color_inverse;
        &-icon {
          @include mix_border_generator($typical_border_width, $font_color_major);
          @include mix_border_radius(3px);
          font-size: $font_size_normal;
          background-color: $color_white;
          color: $font_color_major;
          margin: 0 $spacing_x_small;
          padding: $spacing_xx_small;
        }
      }
      &-divider {
        display: none;
        height: 100%;
        width: $typical_border_width;
        background-color: $color_white;
        margin: 0 $spacing_medium;
      }
      &-ctas {
        display: none;
        margin-left: $spacing_medium;
        &-evenly {
          margin-right: $spacing_medium;
          padding: $spacing_x_small $spacing_small;
        }
        &-proportionally {
          padding: $spacing_x_small $spacing_small;
        }
      }
    }
  }
  &__main {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
    &-preview {
      @include mix_border_generator(0 $typical_border_width 0 0);
      flex: 0 1 50%;
      display: flex;
      align-items: center;
      padding-right: $spacing_large;
      &>portfolio-breakdown {
        flex: 1 1 auto;
      }
    }
    &-edit {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      padding-left: $spacing_large;
      &-header {
        display: flex;
        justify-content: flex-end;
        margin-right: $scroll_bar_width;
        &-item {
          flex: 0 0 $structureSetTargetPanel_edit_column_size;
          padding: 0 $spacing_medium;
          &:first-of-type {
            margin-right: $typical_border_width;
          }
        }
      }
      &-rowList {
        @include mix_enable_scrollbar('vertical');
        display: flex;
        flex-direction: column;
        padding-bottom: $spacing_x_large;
        margin-top: $spacing_small;
      }
    }
  }
  &--cs01ActiveState {
    #{$blockName} {
      &__utilities-distribution-label {
        &--cs01 {
          display: flex;
        }
        &--creditLeverage {
          display: none;
        }
      }
    }
  }
  &--creditLeverageActiveState {
    #{$blockName} {
      &__utilities-distribution-label {
        &--cs01 {
          display: none;
        }
        &--creditLeverage {
          display: flex;
        }
      }
    }
  }
  &--cs01NoFundAllocationState {
    #{$blockName} {
      &__utilities {
        &-metricSwitch-btnGroup-btn--cs01 {
          #{$blockName} {
            &__utilities-metricSwitch-btnGroup-btn-unallocatedText {
              display: none;
            }
          }
        }
        &-distribution {
          display: none;
        }
      }
    }
  }
  &--cs01NoFundAllocationState#{$blockName}--cs01ActiveState {
    #{$blockName} {
      &__utilities-distribution {
        display: none;
      }
    }
  }
  &--creditLeverageNoFundAllocationState {
    #{$blockName} {
      &__utilities {
        &-metricSwitch-btnGroup-btn--creditLeverage {
          #{$blockName} {
            &__utilities-metricSwitch-btnGroup-btn-unallocatedText {
              display: none;
            }
          }
        }
      }
    }
  }
  &--creditLeverageNoFundAllocationState#{$blockName}--creditLeverageActiveState {
    #{$blockName} {
      &__utilities-distribution {
        display: none;
      }
    }
  }
  &--distributeAvailableState {
    #{$blockName} {
      &__utilities-distribution {
        @include mix_theme_background();
        &-label--distribute {
          display: flex;
        }
        &-divider {
          display: flex;
        }
        &-ctas {
          display: flex;
        }
      }
    }
  }
}

.sat-structureSetTargetEditRow {
  $blockName: &;
  @include mix_alive('custom', $animation_duration_light background-color);
  display: flex;
  background-color: $color_gray_2;
  &__lock {
    @include mix_fixed_div(relative, $z_index_base_item); // for some reason I need this position relative so the shadow won't be clipped by the next row's background color, weird
    flex: 0 0 auto;
    margin: $spacing_small $spacing_medium;
  }
  &__label {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-text {
      font-size: $font_size_normal;
      color: $font_color_major;
    }
  }
  &__column {
    flex: 0 0 $structureSetTargetPanel_edit_column_size;
    display: flex;
    padding: 0 $spacing_medium;
    &-item {
      @include mix_fixed_div(relative, $z_index_base_item);
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      margin-right: $spacing_small;
      &-unitText {
        margin-left: $spacing_x_small;
        color: $font_color_minor;
      }
      &:last-of-type {
        margin-right: 0;
      }
      &-ctas {
        @include mix_fixed_div(absolute, $z_index_hovering_item);
        @include mix_alive('light');
        display: flex;
        justify-content: center;
        transform: scale(0.01) translate(0, -50%);
        top: 85%;
        width: 100%;
        &-save {
          background-color: $color_create;
          color: $font_color_inverse;
          margin-right: $spacing_medium;
        }
        &-cancel {
          background-color: $color_kill;
          color: $font_color_inverse;
        }
      }
      santa-input {
        flex: 1 1 auto;
      }
    }
  }
  &__divider {
    flex: 0 0 $typical_border_width;
    background-color: $color_border_gray;
    margin: $spacing_small 0;
  }
  &--focusedCs01LevelState {
    #{$blockName} {
      &__column-item--cs01Level {
        #{$blockName} {
          &__column-item-ctas {
            transform: scale(1) translate(0, 0);
          }
        }
      }
    }
  }
  &--focusedCs01PercentState {
    #{$blockName} {
      &__column-item--cs01Percent {
        #{$blockName} {
          &__column-item-ctas {
            transform: scale(1) translate(0, 0);
          }
        }
      }
    }
  }
  &--focusedCreditLeverageLevelState {
    #{$blockName} {
      &__column-item--creditLeverageLevel {
        #{$blockName} {
          &__column-item-ctas {
            transform: scale(1) translate(0, 0);
          }
        }
      }
    }
  }
  &--focusedCreditLeveragePercentState {
    #{$blockName} {
      &__column-item--creditLeveragePercent {
        #{$blockName} {
          &__column-item-ctas {
            transform: scale(1) translate(0, 0);
          }
        }
      }
    }
  }
  &--evenState {
    background-color: $color_blue_gray_1;
  }
  &--lockedState {
    background-color: $color_green_1;
    #{$blockName} {
      &__lock {
        &-btn {
          @include material('none');
          background-color: $color_create;
          color: $font_color_inverse;
        }
      }
    }
  }
}
