<article
  [ngClass]="{
    'sat-structureSetTargetPanel': true
  }">
  <section class="sat-structureSetTargetPanel__utilities"></section>
  <section class="sat-structureSetTargetPanel__preview">
    <portfolio-breakdown
      *ngIf="state.targetBreakdown"
      [breakdownData]="state.targetBreakdown"
      [dataIsReady]="true">
    </portfolio-breakdown>
  </section>
  <section class="sat-structureSetTargetPanel__edit">
    <div *ngIf="state.targetFund" class="sat-structureSetTargetPanel__edit-header">
      <div class="sat-structureSetTargetPanel__edit-header-item">
        <target-bar [targetBar]="state.targetFund.data.cs01TargetBar"></target-bar>
      </div>
      <div class="sat-structureSetTargetPanel__edit-header-item">
        <target-bar [targetBar]="state.targetFund.data.creditLeverageTargetBar"></target-bar>
      </div>
    </div>
    <ul class="sat-structureSetTargetPanel__edit-rowList">
      <li *ngFor="let eachCategory of state.editRowList" class="sat-structureSetTargetPanel__edit-rowList-item">
        <span class="sat-structureSetTargetPanel__edit-rowList-item-text">{{eachCategory.rowTitle}}</span>
      </li>
    </ul>
  </section>
</article>