@import "global.scss";
@import "modules/structure/structure.scss";

$structureSetTargetPanel_edit_column_size: 14rem;
$structureSetTargetPanel_configurator_container_leftPadding: $spacing_large;
$structureSetTargetPanel_configurator_container_width: $securityDefinitionConfigurator_width + $structureSetTargetPanel_configurator_container_leftPadding;
$structureSetTargetPanel_highlight_color: $color_blue_gray_1;
$structureSetTargetPanel_highlight_border: 2px solid $color_active;
$structureSetTargetPanel_bics_variant_edit_section_width: 2 * ($structureSetTargetPanel_edit_column_size + ($spacing_large + ($spacing_large / 2)));
$structureSetTargetPanel_bics_variant_column_width: calc(100% - #{$structureSetTargetPanel_bics_variant_edit_section_width});
$structureSetTargetPanel_categoryList_cell_width: 3.5rem;
$structureSetTargetPanel_rating_width: 12rem;
$structureSetTargetPanel_rating_thickness: 1.75rem;
$structureSetTargetPanel_borderWidth: $typical_border_width*2;
$structureSetTargetPanel_bics_variant_column_width_half: calc((100% - #{$structureSetTargetPanel_bics_variant_edit_section_width}) /2);
$structureSetTargetPanel_rating_top_offset: 4.25rem;

.sat-structureSetTargetPanel {
  $blockName: &;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing_large;
  &__utilities {
    @include mix_border_generator(0 0 $typical_border_width 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -$spacing_small;
    padding-bottom: $spacing_medium;
    margin-bottom: $spacing_medium;
    &-distribution {
      @include mix_border_radius(5px);
      display: flex;
      align-items: center;
      align-self: stretch;
      padding: $spacing_small $spacing_medium;
      background-color: $color_disabled;
      margin: 0 auto;
      &-label {
        display: none;
        align-items: center;
        text-align: center;
        color: $font_color_inverse;
        &-icon {
          @include mix_border_generator($typical_border_width, $font_color_major);
          @include mix_border_radius(3px);
          font-size: $font_size_normal;
          background-color: $color_white;
          color: $font_color_major;
          margin: 0 $spacing_x_small;
          padding: $spacing_xx_small;
        }
      }
      &-divider {
        display: none;
        height: 100%;
        width: $typical_border_width;
        background-color: $color_white;
        margin: 0 $spacing_medium;
      }
      &-ctas {
        display: none;
        margin-left: $spacing_medium;
        &-evenly {
          margin-right: $spacing_medium;
          padding: $spacing_x_small $spacing_small;
        }
        &-proportionally {
          padding: $spacing_x_small $spacing_small;
        }
      }
    }
    &-clearTargets {
      display: flex;
    }
    &-setView {
      display: none;
      justify-content: space-between;
      padding-left: $spacing_large;
      &-btn {
        display: flex;
        flex-direction: row;
        &-icon {
          display: flex;
          margin-right: $spacing_x_small;
          &--up {
            font-size: $font_size_small;
            margin-bottom: $spacing_x_small;
          }
          &--down {
            font-size: $font_size_small;
            margin-top: $spacing_x_small;
            margin-left: -1px;
          }
        }
      }
    }
  }
  &__main {
    @include mix_fixed_div(relative, $z_index_base_item);
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
    &-preview {
      @include mix_alive('custom', margin-right $animation_duration_light);
      flex: 0 1 50%;
      flex-wrap: wrap;
      display: flex;
      padding-right: $spacing_large;
      margin: 5rem 0 0 0;
      overflow: hidden;
      &>portfolio-breakdown {
        flex: 1 1 auto;
      }
    }
    &-configurator {
      @include mix_fixed_div(absolute, $z_index_base_item);
      @include mix_border_generator(0 0 0 $typical_border_width);
      @include mix_alive('light');
      overflow: hidden;
      height: 100%;
      width: 0rem;
      right: 50%;
      padding-left: 0;
      &-content { 
        display: none;
        height: 100%;
        background-color: $color_gray_2;
        security-definition-configurator {
          height: 100%;
          display: flex;
        }
      }
    }
    &-edit {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      &-content {
        @include mix_fixed_div(relative, $z_index_base_item);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-left: $spacing_large;
        &-border {
          @include mix_fixed_div(absolute, $z_index_base_item);
          @include mix_border_generator(2px, $color_active);
          @include mix_border_radius(5px);
          @include mix_alive('light');
          width: $structureSetTargetPanel_edit_column_size + $spacing_small;
          height: 100%;
          pointer-events: none;
        }
        &-header {
          flex: 0 0 auto;
          display: flex;
          justify-content: flex-end;
          margin-right: $scroll_bar_width;
          &-categories {
            display: none;
            justify-content: flex-end;
            align-items: flex-end;
            flex-wrap: wrap;
            flex: 0 0 100%;
            margin: $spacing_medium $scroll_bar_width $spacing_medium 0;
            &-index {
              flex: 0 0 100%;
              text-align: right;
              &-text {
                display: inline-block;
                width: 6rem;
              }
            }
            &-cell {
              @include mix_fixed_div(relative, $z_index_base_item);
              display: flex;
              justify-content: center;
              align-items: center;
              width: $structureSetTargetPanel_categoryList_cell_width;
              &-icon {
                color: $font_color_minor;
                font-size: $font_size_large;
              }
              &-tooltip {
                @include mix_fixed_div(absolute, $z_index_hovering_item);
                @include mix_border_radius(3px);
                display: none;
                top: -100%;
                color: $font_color_inverse;
                line-height: $line_height_small;
                width: 4.25rem;
                background-color: $color_active;
                text-align: center;
              }
              &:hover>&-tooltip {
                display: block;
              }
            }
          }
          &-item {
            flex: 0 0 $structureSetTargetPanel_edit_column_size;
            display: flex;
            flex-direction: column;
            padding: 0 $spacing_medium;
            &-btn {
              align-self: center;
              margin-top: $spacing_small;
              margin-bottom: $spacing_x_small;
              min-width: 10rem;
              justify-content: center;
              &>i {
                font-size: $font_size_large;
              }
              &--selected {
                @include material('none');
                @extend .santaBtn--inverseLabelled;
                background-color: $color_active;
              }
            }
            &:first-of-type {
              margin-right: $typical_border_width;
            }
          }
          &-createRow {
            display: none;
            align-self: flex-start;
            background-color: $color_create;
            margin-top: $spacing_small;
            margin-right: auto;
          }
          &-rating {
            @include mix_fixed_div(absolute, $z_index_hovering_item);
            @include mix_border_generator($structureSetTargetPanel_borderWidth, $color_active);
            @include mix_border_radius(5px);
            display: none;
            justify-content: center;
            align-items: center;
            top: $structureSetTargetPanel_rating_top_offset;
            left: $structureSetTargetPanel_bics_variant_column_width_half;
            transform: translateX(-50%);
            width: $structureSetTargetPanel_rating_width;
            height: $structureSetTargetPanel_rating_thickness;
            overflow: hidden;
            background-color: $color_white;
            visibility: hidden;
            &-fill {
              @include mix_fixed_div(absolute, $z_index_base_item_solid);
              @include mix_border_radius(3px, 'left');
              height: 100%;
              background-color: $color_red_5;
              left: 0;
            }
            &-hoverText {
              @include mix_fixed_div(absolute, $z_index_hovering_item);
              color: $font_color_minor;
              font-size: $font_size_normal;
            }
          }
        }
        &-rowList {
          @include mix_enable_scrollbar('vertical');
          display: flex;
          flex-direction: column;
          padding-bottom: $spacing_x_large;
          margin-top: $spacing_small;
          padding: .5rem;
        }
      }
    }
  }
  &--ratingAvailableState {
    #{$blockName} {
      &__main-edit-content-header-rating {
        display: flex;
        visibility: visible;
        &-fill {
          background-color: $font_color_inverse;
        }
      }
    }
  }
  &--goodRating {
    #{$blockName} {
      &__main-edit-content-header-rating {
        background: $color_active;
        &-fill {
          background-color: $color_green_5;
        }
      }
    }
  }
  &--averageRating {
    #{$blockName} {
      &__main-edit-content-header-rating {
        background: $color_active;
        &-fill {
          background-color: $color_orange_5;
        }
      }
    }
  }
  &--badRating {
    #{$blockName} {
      &__main-edit-content-header-rating {
        background: $color_active;
        &-fill {
          background-color: $color_red_5;
        }
      }
    }
  }
  &--cs01ActiveState {
    #{$blockName} {
      &__main {
        &-edit {
          &-content {
            &-border {
              right: 0;
            }
          }
        }
      }
      &__utilities-distribution-label {
        &--cs01 {
          display: flex;
        }
        &--creditLeverage {
          display: none;
        }
      }
    }
  }
  &--creditLeverageActiveState {
    #{$blockName} {
      &__main {
        &-edit {
          &-content {
            &-border {
              right: $structureSetTargetPanel_edit_column_size + $spacing_small;
            }
          }
        }
      }
      &__utilities-distribution-label {
        &--cs01 {
          display: none;
        }
        &--creditLeverage {
          display: flex;
        }
      }
    }
  }
  &--distributeAvailableState {
    #{$blockName} {
      &__utilities-distribution {
        @include mix_theme_background();
        &-label--distribute {
          display: flex;
        }
        &-divider {
          display: flex;
        }
        &-ctas {
          display: flex;
        }
      }
    }
  }
  &--displayConfiguratorState {
    #{$blockName} {
      &__main {
        &-preview {
          margin-right: $structureSetTargetPanel_configurator_container_width;
        }
        &-configurator {
          width: $structureSetTargetPanel_configurator_container_width;
          padding-left: $structureSetTargetPanel_configurator_container_leftPadding;
          &-content {
            display: flex;
          }
        }
        &-edit {
          &-content {
            &-header-createRow {
              @include material('none');
              background-color: $color_active;
            }
          }
        }
      }
    }
  }
  &--editingOverrideState {
    #{$blockName} {
      &__utilities {
        display: none;
      }
      &__main {
        min-height: 44rem;
        &-edit-content-header-createRow {
          display: flex;
        }
      }
    }
  }
  &--bicsBreakdownVariant {
    #{$blockName} {
      &__main {
        &-preview,
        &-configurator {
          display: none;
        }
        &-edit {
          flex: 1 1 auto;
          &-content {
            &-header {
              justify-content: space-between;
              &-categories {
                flex: 0 0 $structureSetTargetPanel_bics_variant_column_width;
                display: flex;
                margin-right: $spacing_x_large;
              }
            }
          }
        }
      }
      &__utilities { //disable for now due to sub levels
        &-clearTargets {
          display: none;
        }
        &-setView {
          display: flex;
        }
      }
    }
  }
}

.sat-structureSetTargetEditRow {
  $blockName: &;
  @include mix_alive('custom', $animation_duration_light background-color);
  display: none;
  background-color: $color_gray_2;
  &__setView {
    @include mix_fixed_div(relative, $z_index_dropdown);
    @include mix_alive('light');
    display: none;
    flex: 0 1 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    padding-left: $spacing_small;
    &-btn {
      margin-right: $spacing_small;
      &-text {
        word-break: break-all;
      }
      &--improving {
        #{$blockName} {
          &__setView {
            &-btn {
              &-icon {
                transform: rotate(45deg);
              }
            }
          }
        }
      }
      &--deteriorating {
        #{$blockName} {
          &__setView {
            &-btn {
              &-icon {
                transform: rotate(-45deg);
              }
            }
          }
        }
      }
    }

  }
  &__details {
    flex: 1 1 auto;
    display: none;
    align-items: center;
    padding: $spacing_x_small 0 $spacing_small $spacing_medium;
  }
  &__remove {
    @include mix_fixed_div(relative, $z_index_base_item);
    flex: 0 0 auto;
    display: none;
    margin: $spacing_small;
    &-btn {
      background-color: $color_kill;
      color: $font_color_inverse;
    }
  }
  &__lock {
    @include mix_fixed_div(relative, $z_index_base_item); // for some reason I need this position relative so the shadow won't be clipped by the next row's background color, weird
    flex: 0 0 auto;
    margin: $spacing_small $spacing_medium;
  }
  &__label {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-text {
      font-size: $font_size_normal;
      color: $font_color_major;
    }
    &-input {
      display: none;
    }
  }
  &__column {
    flex: 0 0 $structureSetTargetPanel_edit_column_size;
    display: flex;
    padding: 0 $spacing_medium;
    &-item {
      @include mix_fixed_div(relative, $z_index_base_item);
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      margin-right: $spacing_small;
      &-unitText {
        margin-left: $spacing_x_small;
        color: $font_color_minor;
      }
      &:last-of-type {
        margin-right: 0;
      }
      &-ctas {
        @include mix_fixed_div(absolute, $z_index_hovering_item);
        @include mix_alive('light');
        display: flex;
        justify-content: center;
        transform: scale(0.01) translate(0, -50%);
        top: 85%;
        width: 100%;
        &-save {
          background-color: $color_create;
          color: $font_color_inverse;
          margin-right: $spacing_medium;
        }
        &-cancel {
          background-color: $color_kill;
          color: $font_color_inverse;
        }
      }
      santa-input {
        flex: 1 1 auto;
        z-index: $z_index_base_item_lift;
      }
    }
  }
  &--bicsBreakdownVariant {
    #{$blockName} {
      &__details {
        display: flex;
        & > portfolio-breakdown-row {
          flex: 1 1 auto;
        }
      }
      &__label {
        display: none;
      }
    }
  }
  &--overrideVariant {
    #{$blockName} {
      &__remove {
        display: flex;
      }
      &__lock {
        display: none;
      }
      &__label {
        &-text {
          display: none;
        }
        &-input {
          display: flex;
        }
      }
    }
  }
  &--focusedCs01LevelState {
    #{$blockName} {
      &__column-item--cs01Level {
        #{$blockName} {
          &__column-item-ctas {
            transform: scale(1) translate(0, 0);
          }
        }
      }
    }
  }
  &--focusedCs01PercentState {
    #{$blockName} {
      &__column-item--cs01Percent {
        #{$blockName} {
          &__column-item-ctas {
            transform: scale(1) translate(0, 0);
          }
        }
      }
    }
  }
  &--focusedCreditLeverageLevelState {
    #{$blockName} {
      &__column-item--creditLeverageLevel {
        #{$blockName} {
          &__column-item-ctas {
            transform: scale(1) translate(0, 0);
          }
        }
      }
    }
  }
  &--focusedCreditLeveragePercentState {
    #{$blockName} {
      &__column-item--creditLeveragePercent {
        #{$blockName} {
          &__column-item-ctas {
            transform: scale(1) translate(0, 0);
          }
        }
      }
    }
  }
  &--visibleState {
    display: flex;
  }
  &--editingViewState {
    #{$blockName} {
      &__setView {
        display: flex;
        transform: scale(1);
        + #{$blockName} {
         &__details {
          flex: 1 1 auto;
         }
        }
      }
    }
  }
  &--hasUpdatedViewState {
    #{$blockName} {
      &__setView {
        &-btn {
          &-icon {
            color: $font_color_inverse;
          }
          &-text {
            color: $font_color_inverse;
          }
          &--positive {
            background-color: $viewPositiveColor;
          }
          &--improving {
            background-color: $viewImprovingColor;
          }
          &--neutral {
            background-color: $viewNeutralColor;
          }
          &--deteriorating {
            background-color: $viewDeterioratingColor;
          }
          &--negative {
            background-color: $viewNegativeColor;
          }
        }
      }
    }
  }
  &--selectedPositiveView {
    #{$blockName} {
      &__setView {
        &-btn {
          &--positive {
            @include mix_cta_active;
          }
        }
      }
    }
  }
  &--selectedImprovingView {
    #{$blockName} {
      &__setView {
        &-btn {
          &--improving {
            @include mix_cta_active;
          }
        }
      }
    }
  }
  &--selectedDeterioratingView {
    #{$blockName} {
      &__setView {
        &-btn {
          &--deteriorating {
            @include mix_cta_active;
          }
        }
      }
    }
  }
  &--selectedNegativeView {
    #{$blockName} {
      &__setView {
        &-btn {
          &--negative {
            @include mix_cta_active;
          }
        }
      }
    }
  }
  &--selectedNeutralView {
    #{$blockName} {
      &__setView {
        &-btn {
          &--neutral {
            @include mix_cta_active;
          }
        }
      }
    }
  }
  &--evenState {
    background-color: $color_blue_gray_1;
  }
  &--bicsLevel2Row {
    background-color: $color_gray_3;
  }
  &--bicsLevel3Row {
    background-color: $color_gray_4;
  }
  &--bicsLevel4Row {
    background-color: $color_gray_5;
  }
  &--lockedState {
    background-color: $color_green_1;
    #{$blockName} {
      &__lock {
        &-btn {
          @include material('none');
          background-color: $color_create;
          color: $font_color_inverse;
        }
      }
    }
  }
}
