@import "global.scss";
@import "modules/market/market.scss";

.sat-watchlist {
  $blockName: &;
  @include material();
  @include mix_alive('material');
  @include mix_border_radius(15px);
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background-color: $color_white;
  min-height: 7.5rem;
  &__title {
    @include mix_fixed_div(relative, $z_index_base_item);
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing_small;
    min-width: 7rem;  // leave enough space for displaying the highlight text
    &-highlightText {
      @include mix_fixed_div(absolute, $z_index_base_item);
      @include mix_border_radius(3px);
      @include mix_theme_background;
      display: none;
      padding: $spacing_minimum $spacing_x_small;
      font-size: $font_size_x_small;
      color: $font_color_inverse;
      top: -$spacing_small;
      left: $spacing_small;
    }
    &-text {
      @include mix_text_overflow_multi_line(3);
      text-align: center;
      user-select: none;
      font-size: $font_size_normal;
    }
    &-input {
      display: none;
    }
  }
  &__configOverview {
    display: flex;
    &-slotList {
      flex: 1 1 auto;
      display: flex;
      flex-wrap: nowrap;
      margin: 0 0 $spacing_small $spacing_small;
      &-item {
        @include mix_fixed_div(relative, $z_index_base_item);
        @include mix_border_radius(10px);
        flex: 0 1 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: $spacing_small;
        padding: $spacing_x_small 0;
        background-color: $color_gray_5;
        &-filterActive {
          @include mix_fixed_div(absolute, $z_index_hovering_item);
          @include mix_border_radius(50%);
          right: -$spacing_x_small;
          top: -$spacing_x_small;
          display: none;
          justify-content: center;
          align-items: center;
          background-color: $color_filter;
          padding: $spacing_x_small;
          &>i {
            color: $font_color_inverse;
            font-size: $font_size_x_small;
          }
        }
        &-label {
          display: flex;
          justify-content: center;
          text-align: center;
          color: $font_color_inverse;
          font-size: $font_size_xx_small;
        }
        &--empty {
          background-color: $color_gray_2;
        }
        &--groupByActive {
          background-color: $color_active;
        }
        &--filterActive {
          #{$blockName} {
            &__configOverview {
              &-slotList-item-filterActive {
                display: flex;
              }
            }
          }
        }
      }
    }
  }
  &--hasHighlightTitle {
    #{$blockName} {
      &__title {
        &-highlightText {
          display: inline-block;
        }
      }
    }
  }
  &--renameShortcutState {
    #{$blockName} {
      &__title {
        &-text {
          display: none;
        }
        &-input {
          display: flex;
        }
      }
    }
  }
  &--userInputBlockedState {
    @include material('none');
    //background-color: $color_gray_2;
  }
  &--selectedState {
    @include material('none');
    background-color: $color_active;
    #{$blockName} {
      &__title {
        &-text {
          color: $font_color_inverse;
        }
      }
      &__configOverview {
        &-slotList-item {
          background-color: inherit;
        }
      }
    }
  }
  &--previewVariant {
    @include material('none');
    @include mix_border_generator;
    background-color: $color_white;
    min-height: 4.5rem;
    flex-direction: row;
    #{$blockName} {
      &__title {
        flex: 0 0 auto;
        max-width: 12rem; // preview variant shouldn't take too much space
      }
      &__configOverview {
        flex: 1 1 auto;
        margin-top: $spacing_small;
      }
    }
  }
}