<article
  (click)="onClickWatchlist()"
  class="sat-watchlist--hoveringSlot{{watchlistData.state.hoveringSlotNumber}}"
  [ngClass]="{
    'sat-watchlist': true,
    'sat-watchlist--selectedState': watchlistData.state.isSelected,
    'sat-watchlist--userInputBlockedState': watchlistData.state.isUserInputBlocked,
    'sat-watchlist--previewVariant': watchlistData.state.isPreviewVariant,
    'sat-watchlist--hasHighlightTitle': watchlistData.data.highlightTitle.length > 0,
    'sat-watchlist--renameWatchlistState': watchlistData.state.renameWatchlistActive,
    'sat-watchlist--hoveringDefinitionState': !!watchlistData.state.hoveringSlot
  }">
  <section class="sat-watchlist__title">
    <span class="sat-watchlist__title-highlightText">{{watchlistData.data.highlightTitle}}</span>
    <span class="sat-watchlist__title-text">{{watchlistData.data.displayTitle}}</span>
    <santa-textarea
      class="sat-watchlist__title-input"
      [inputValue]="watchlistData.data.displayTitle"
      (onInputChange)="onChangeWatchlistName($event, newName)">
    </santa-textarea>
  </section>
  <section class="sat-watchlist__configOverview">
    <ul class="sat-watchlist__configOverview-slotList">
      <li
        *ngFor="let eachSlot of watchlistData.style.slotList"
        (mouseenter)="onEnterDefinitionHover(eachSlot)"
        (mouseleave)="onLeaveDefinitionHover(eachSlot)"
        [ngClass]="{
          'sat-watchlist__configOverview-slotList-item': true,
          'sat-watchlist__configOverview-slotList-item--filterActive': eachSlot?.state.filterActive,
          'sat-watchlist__configOverview-slotList-item--groupByActive': eachSlot?.state.groupByActive,
          'sat-watchlist__configOverview-slotList-item--empty': !eachSlot
        }">
        <security-definition
          *ngIf="!!eachSlot"
          [definitionData]="eachSlot"
          [backgroundVariant]="true">
        </security-definition>
        <span class="sat-watchlist__configOverview-slotList-item-label">{{eachSlot?.data.name}}</span>
      </li>
    </ul>
    <div class="sat-watchlist__configOverview-valueTooltip">
      <div class="sat-watchlist__configOverview-valueTooltip-arrow"></div>
      <div class="sat-watchlist__configOverview-valueTooltip-content">
        <span class="sat-watchlist__configOverview-valueTooltip-content-title">Filtering By:</span>
        <ul class="sat-watchlist__configOverview-valueTooltip-content-list">
          <span *ngFor="let eachOption of watchlistData.state.hoveringSlot?.data.highlightSelectedOptionList" class="sat-watchlist__configOverview-valueTooltip-content-list-item">
          {{eachOption.displayLabel}}</span>
        </ul>
      </div>
    </div>
  </section>
</article>