<article
  (click)="onClickShortcut()"
  [ngClass]="{
    'sat-watchlist': true,
    'sat-watchlist--selectedState': watchlistData.state.isSelected,
    'sat-watchlist--userInputBlockedState': watchlistData.state.isUserInputBlocked,
    'sat-watchlist--previewVariant': watchlistData.state.isPreviewVariant,
    'sat-watchlist--hasHighlightTitle': watchlistData.data.highlightTitle.length > 0,
    'sat-watchlist--renameShortcutState': watchlistData.state.renameShortcutActive
  }">
  <section class="sat-watchlist__title">
    <span class="sat-watchlist__title-highlightText">{{watchlistData.data.highlightTitle}}</span>
    <span class="sat-watchlist__title-text">{{watchlistData.data.displayTitle}}</span>
    <santa-textarea
      class="sat-watchlist__title-input"
      [inputValue]="watchlistData.data.displayTitle"
      (onInputChange)="onChangeShortcutName($event, newName)">
    </santa-textarea>
  </section>
  <section class="sat-watchlist__configOverview">
    <ul class="sat-watchlist__configOverview-slotList">
      <li
        *ngFor="let eachSlot of watchlistData.style.slotList"
        [ngClass]="{
          'sat-watchlist__configOverview-slotList-item': true,
          'sat-watchlist__configOverview-slotList-item--filterActive': eachSlot?.state.filterActive,
          'sat-watchlist__configOverview-slotList-item--groupByActive': eachSlot?.state.groupByActive,
          'sat-watchlist__configOverview-slotList-item--empty': !eachSlot
        }">
        <div class="sat-watchlist__configOverview-slotList-item-filterActive">
          <i class="fal fa-filter"></i>
        </div>
        <security-definition
          *ngIf="!!eachSlot"
          [definitionData]="eachSlot"
          [backgroundVariant]="true">
        </security-definition>
        <span class="sat-watchlist__configOverview-slotList-item-label">{{eachSlot?.data.name}}</span>
      </li>
    </ul>
  </section>
</article>