@import "global.scss";

.santaTableAlertSideCell {
  $blockName: &;
  display: flex;
  flex-direction: column;
  &__main {
    @include mix_border_radius(3px);
    display: flex;
    flex-direction: column;
    padding: $spacing_xx_small $spacing_small;
    background-color: $color_gray_6;
    &-text {
      color: $font_color_inverse;
      font-size: $font_size_normal;
    }
  }
  &--sideBid {
    #{$blockName} {
      &__main {
        background-color: $color_bid;
      }
    }
  }
  &--sideAsk {
    #{$blockName} {
      &__main {
        background-color: $color_ask;
      }
    }
  }
  &--sideMid {
    #{$blockName} {
      &__main {
        @include mix_border_generator($typical_border_width, $color_active);
        background-color: transparent;
        &-text {
          color: $color_active;
        }
      }
    }
  }
}