<article
  [ngClass]="{
    'sat-historicalTradeVisualizer': true 
  }">
  <section class="sat-historicalTradeVisualizer__tableUtility">
    <span class="sat-historicalTradeVisualizer__tableUtility-label">Show Trades From: </span>
    <button
      *ngFor="let eachPortfolio of constants.portfolioList"
      (click)="onTogglePortfolio(eachPortfolio)"
      [ngClass]="{
        'sat-historicalTradeVisualizer__tableUtility-btn': true,
        'sat-historicalTradeVisualizer__tableUtility-btn--selected': historyData.state.selectedPortfolio.indexOf(eachPortfolio) >= 0,
        'sat-historicalTradeVisualizer__tableUtility-btn--disabled': historyData.state.disabledPortfolio.indexOf(eachPortfolio) >= 0
      }">
      {{eachPortfolio}}
    </button>
  </section>
  <section class="sat-historicalTradeVisualizer__tableHeader">
    <ul class="sat-historicalTradeVisualizer__tableHeader-list">
      <li
        class="sat-historicalTradeVisualizer__tableHeader-list-item"
        *ngFor="let eachHeader of constants.headerConfigList"
        [ngStyle]="{
          'width': eachHeader.size ? eachHeader.size + 'rem' : '4rem' 
        }">
        <span class="sat-historicalTradeVisualizer__tableHeader-list-item-text">{{eachHeader.headerDisplayLabel}}</span>
      </li>
    </ul>
  </section>
  <section class="sat-historicalTradeVisualizer__tableContent">
    <ul class="sat-historicalTradeVisualizer__tableContent-rowList">
      <li class="sat-historicalTradeVisualizer__tableContent-rowList-row" *ngFor="let eachTrade of historyData.data.displayTradeList">
        <div
          class="sat-historicalTradeVisualizer__tableContent-rowList-row-cell"
          *ngFor="let eachHeader of constants.headerConfigList"
          [ngStyle]="{
            'width': eachHeader.size ? eachHeader.size + 'rem' : '4rem' 
          }">
          <span
            [ngClass]="{
              'sat-historicalTradeVisualizer__tableContent-rowList-row-cell-text': true,
              'sat-historicalTradeVisualizer__tableContent-rowList-row-cell-text--positive': eachHeader.applyQuantColorCodes && eachTrade.data[eachHeader.underlineAttrName] > 0,
              'sat-historicalTradeVisualizer__tableContent-rowList-row-cell-text--negative': eachHeader.applyQuantColorCodes && eachTrade.data[eachHeader.underlineAttrName] < 0
            }">
            {{eachTrade.data[eachHeader.attrName]}}
          </span>
        </div>
      </li>
    </ul>
  </section>
</article>