@import "global.scss";

// need this reset because styling for button is stripped away for buttons in AgGrid, so we need to bring back the santa styling in each component
button {
  @extend .santaBtn;  
}

@mixin mix_tradeVisualizer_cell_style() {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 $spacing_x_small;
  overflow: hidden;
}

.sat-historicalTradeVisualizer {
  $blockName: &;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: $spacing_medium;
  &__tableUtility {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: $spacing_small;
    &-label {
      margin: 0 $spacing_medium;
      font-size: $font_size_normal;
      color: $font_color_inverse;
    }
    &-btn {
      margin-right: $spacing_small;
      &--selected {
        @include material('none');
        background-color: $color_active;
        color: $font_color_inverse;
      }
      &--disabled {
        @include material('none');
        @include mix_border_generator($typical_border_width, $color_disabled);
        background-color: transparent;
        color: $color_disabled;
        cursor: not-allowed;
      }
    }
  }
  &__tableHeader {
    flex: 0 0 auto;
    display: flex;
    margin-bottom: $spacing_small;
    &-list {
      flex: 1 1 auto;
      display: flex;
      &-item {
        @include mix_border_generator(0 0 0 $typical_border_width);
        @include mix_tradeVisualizer_cell_style;
        display: flex;
        border-color: transparent;
        &-text {
          @include mix_text_overflow();
          color: $font_color_inverse;
        }
        &:first-of-type {
          border-left-width: 0;
        }
      }
    }
  }
  &__tableContent {
    @include mix_enable_scrollbar('vertical');
    flex: 1 1 auto;
    display: flex;
    margin-bottom: $spacing_small;
    &-rowList {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      &-row {
        @include mix_border_radius(5px);
        display: flex;
        padding: $spacing_x_small 0 ;
        &-cell {
          @include mix_border_generator(0 0 0 $typical_border_width);
          @include mix_tradeVisualizer_cell_style;
          display: flex;
          height: 1.75rem;
          line-height: $line_height_default;
          &-text {
            @include mix_text_overflow_multi_line(2);
            @include mix_border_radius(3px);
            color: $font_color_inverse;
            &--positive {
              padding: $spacing_xx_small $spacing_small;
              background-color: $color_ask;
            }
            &--negative {
              padding: $spacing_xx_small $spacing_small;
              background-color: $color_bid;
            }
          }
          &:first-of-type {
            border-left-width: 0;
          }
        }
        &:hover {
          background-color: $color_active;
        }
      }
    }
  }
}