<article
  [ngClass]="{
    'sat-securityActionMenu': true,
    'sat-securityActionMenu--topVariant': actionMenu.state.isTopRowVariant,
    'sat-securityActionMenu--bottomVariant': actionMenu.state.isBottomRowVariant,
    'sat-securityActionMenu--isCoreActionSelectedState': actionMenu.state.isCoreActionSelected
  }">
  <section class="sat-securityActionMenu__content">
    <button class="santaBtn--circleLabelled sat-securityActionMenu__content-subActionBtn sat-securityActionMenu__content-subActionBtn--{{subAction.rawText}}" 
    [class.sat-securityActionMenu__content-subActionBtn--noIcon]="!subAction.icon"
     *ngFor="let subAction of actionMenu.data.availableSubActions" (click)="onClickSubAction(subAction)">
      <i class="sat-securityActionMenu__content-subActionBtn-icon {{subAction.icon}}"></i>
      <span class="sat-securityActionMenu__content-subActionBtn-text">{{subAction.displayTitle}}</span>
    </button>
    <div class="sat-securityActionMenu__content-coreAction">
      <span class="sat-securityActionMenu__content-coreAction-defaultText">{{actionMenu.data.defaultText}}</span>
      <button class="sat-securityActionMenu__content-coreAction-btn santaBtn--circleLabelled" (click)="onClickCoreAction(actionMenu.data.selectedCoreAction)">
        <i class="fal fa-times sat-securityActionMenu__content-coreAction-btn-icon"></i>
        <span class="sat-securityActionMenu__content-coreAction-btn-text">{{actionMenu.data.selectedCoreAction?.displayTitle}}</span>
      </button>
    </div>
  </section>
</article>