<article
  [ngClass]="{
    'sat-securityActionMenu': true,
    'sat-securityActionMenu--isCoreActionSelectedState': actionMenu.state.isCoreActionSelected,
    'sat-securityActionMenu--isDisplayLimitedActionsState': actionMenu.state.isDisplayLimitedActions
  }">
  <section class="sat-securityActionMenu__content">
    <button class="santaBtn--circleLabelled sat-securityActionMenu__content-actionBtn santaBtn--circleLabelled"
    [ngClass]="[
     !action.icon ? 'sat-securityActionMenu__content-actionBtn--noIconState' : '',
     action.subActions.length > 0 ? 'sat-securityActionMenu__content-actionBtn--hasSubActionsState': '',
     action.isAvailableSubAction ? getClassWithPositioningIdentifier(action) : ''
    ]"
     *ngFor="let action of actionMenu.data.allActions" (click)="onClickSubAction(action)">
      <i class="sat-securityActionMenu__content-actionBtn-icon {{action.subActions.length > 0 ? 'fal fa-level-down-alt' : action.icon}}"></i>
      <span class="sat-securityActionMenu__content-actionBtn-text">{{action.displayTitle}}</span>
    </button>
    <div class="sat-securityActionMenu__content-coreAction">
      <span class="sat-securityActionMenu__content-coreAction-defaultText">{{actionMenu.data.defaultText}}</span>
      <button class="sat-securityActionMenu__content-coreAction-btn santaBtn--circleLabelled" (click)="onClickCoreAction(actionMenu.data.selectedCoreAction)">
        <i class="fal fa-arrow-up sat-securityActionMenu__content-coreAction-btn-icon"></i>
        <span class="sat-securityActionMenu__content-coreAction-btn-text">{{actionMenu.data.selectedCoreAction?.displayTitle}}</span>
      </button>
    </div>
  </section>
</article>