@import "global.scss";
$circleWidth: 6rem;
$circleAlignment: $circleWidth / 2 + $spacing_x_small;
.sat-securityActionMenu {
  $blockName: &;
  &__content {
    @include mix_fixed_div(relative, $z_index_base_item);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_active;
    color: $font_color_inverse;
    width: $circleWidth;
    height: $circleWidth;
    border-radius: 50%;
    &-coreAction {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-basis: 80%;
      &-btn {
        @include mix_alive('light');
        display: none;
      }
      &-defaultText {
        @include mix_text_overflow_multi_line();
        display: flex;
        text-align: center;
        font-size: $font_size_x_small;
        color: $font_color_inverse;
      }
    }
    &-actionBtn {
      @include mix_fixed_div(absolute, $z_index_base_item_solid);
      @include material();
      @include mix_alive('light');
      transform: scale(0.001);
      &--noIconState {
        & > span {
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 1;
          font-size: $font_size_x_small;
          bottom: auto;
        }
        &:hover,
        &:focus {
          .sat-securityActionMenu__content-actionBtn-text {
            transform: translate(0,0);
          }
        }
      }
      &--hasSubActionsState{
        @include mix_border_generator($typical_border_width, $color_active);
        #{$blockName} {
          &__content {
            &-actionBtn {
              bottom: 0;
              &-icon {
                transform: translate(0, -50%) scale(0.5);
              }
              &-text {
                opacity: 1;
                transform: translate(0,0);
                bottom: $spacing_small;
              }
              &:hover,
              &:focus {
                transform: translate(0,0);
                bottom: 0;
              }
            }
          }
        }
      }
      &--oneoftwo,
      &--oneofthree,
      &--oneoffour {
        top: -.5rem;
        left: -1rem;
        transform: scale(1);
      }
      &--twooftwo,
      &--twoofthree,
      &--twooffour {
        top: -.5rem;
        right: -1rem;
        transform: scale(1);
      }
      &--threeofthree {
        bottom: -1.5rem;
        transform: scale(1);
      }
      &--threeoffour {
        bottom: -1rem;
        right: -1rem;
        transform: scale(1);
      }
      &--fouroffour {
        bottom: -1rem;
        left: -1rem;
        transform: scale(1);
      }
      &:hover,
      &:focus {
        @include mix_fixed_div(absolute, $z_index_hovering_item_lift);
      }
    }
  }
  &--isCoreActionSelectedState {
    #{$blockName} {
      &__content {
        &-coreAction {
          &-btn {
            display: flex;
            background-color: $color_active;
            color: $font_color_inverse;
            transform: scale(1);
          }
          &-defaultText {
            display: none;
          }
        }
      }
    }
  }
}