@import "global.scss";
$textAreaWidth: 8rem;
$textAreaExtendedWidth: $textAreaWidth * 1.5;
.santaTextarea {
  $blockName: &;
  &__element {
    width: $textAreaWidth;
  }
  &--extendedWidthState {
    #{$blockName} {
      &__element {
        width: $textAreaExtendedWidth;
      }
    }
  }
}