<article
  class="sat-securityCard--type-{{cardData.ratingLevel}}{{cardData.seniorityLevel}}"
  [ngClass]="{
    'sat-securityCard': true,
    'sat-securityCard--tableState': !!isTable,
    'sat-securityCard--stencilState': !!isStencil
  }">
  <section class="sat-securityCard__name">
    <span class="sat-securityCard__name-text">{{cardData.name}}</span>
  </section>
  <section class="sat-securityCard__rating">
    <span class="sat-securityCard__rating-text">{{cardData.ratingValue}}</span>
  </section>
</article>