<article
  class="sat-securityCard--type-{{cardData.data.ratingLevel}}{{cardData.data.seniorityLevel}}"
  [ngClass]="{
    'sat-securityCard': true,
    'sat-securityCard--tableState': cardData.state.isTable,
    'sat-securityCard--stencilState': cardData.state.isStencil
  }">
  <section class="sat-securityCard__name">
    <span class="sat-securityCard__name-text">{{cardData.data.name}}</span>
  </section>
  <section class="sat-securityCard__rating">
    <span class="sat-securityCard__rating-text">{{cardData.data.ratingValue}}</span>
  </section>
</article>