<article *ngIf="!!traceTrades"
  [ngClass]="{
    'sat-traceTradeVisualizer': true,
    'sat-traceTradeVisualizer--displayGraphsState': traceTrades.state.graphReceived
  }">
  <section class="sat-traceTradeVisualizer__table">
    <div class="sat-traceTradeVisualizer__table-utility">
      <span class="sat-traceTradeVisualizer__table-utility-label">Show Trades By: </span>
      <button *ngFor="let option of traceTrades.data.filterList" (click)="onToggleTraceFilters(option)"
      [ngClass]="{
        'sat-traceTradeVisualizer__table-utility-btn': true,
        'sat-traceTradeVisualizer__table-utility-btn--disabled': traceTrades.data.availableFiltersList.indexOf(option) < 0,
        'sat-traceTradeVisualizer__table-utility-btn--selected': traceTrades.state.selectedFiltersList.indexOf(option) >= 0
        }">
        {{ option }}
      </button>
    </div>
    <div class="sat-traceTradeVisualizer__table-header">
      <ul class="sat-traceTradeVisualizer__table-header-list">
        <li class="sat-traceTradeVisualizer__table-header-list-item" 
          *ngFor="let eachHeader of constants.headerConfigList"
          [ngStyle]="{
            'width': eachHeader.size ? eachHeader.size + 'rem' : '3.5rem'
          }">
          <span class="sat-traceTradeVisualizer__table-header-list-item-text">{{ eachHeader.headerDisplayLabel }}</span>
        </li>
      </ul>
    </div>
    <div class="sat-traceTradeVisualizer__table-content">
      <ul class="sat-traceTradeVisualizer__table-content-rowList">
        <li class="sat-traceTradeVisualizer__table-content-rowList-item"
        *ngFor="let eachTrade of traceTrades.data.displayList">
          <div class="sat-traceTradeVisualizer__table-content-rowList-item-cell" *ngFor="let eachHeader of constants.headerConfigList"
          [ngStyle]="{
            'width': eachHeader.size ? eachHeader.size + 'rem' : '3.5rem'
          }">
            <span [ngClass]="{
              'sat-traceTradeVisualizer__table-content-rowList-item-cell-text': true,
              'sat-traceTradeVisualizer__table-content-rowList-item-cell-text--positive': !!eachHeader.applyQuantColorCodes && eachTrade.side === constants.sideValueEquivalent.buy ,
              'sat-traceTradeVisualizer__table-content-rowList-item-cell-text--negative': !!eachHeader.applyQuantColorCodes && eachTrade.side === constants.sideValueEquivalent.sell
            }">{{ eachTrade[eachHeader.attrName] }}</span>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="sat-traceTradeVisualizer__graphs">
    <div class="sat-traceTradeVisualizer__graphs-scatterGraph">
      <span class="sat-traceTradeVisualizer__graphs-scatterGraph-title">Buy vs Sell</span>
      <div class="sat-traceTradeVisualizer__graphs-scatterGraph-graphContainer">
        <div class="sat-traceTradeVisualizer__graphs-scatterGraph-graphContainer-content" id="{{ traceTrades.data.scatterGraphId }}"></div>
      </div>
    </div>
    <div class="sat-traceTradeVisualizer__graphs-pieGraphs">
      <div class="sat-traceTradeVisualizer__graphs-pieGraphs-left">
        <span class="sat-traceTradeVisualizer__graphs-pieGraphs-left-title">
          Volume Per Counter Party
        </span>
        <div class="sat-traceTradeVisualizer__graphs-pieGraphs-left-graphContainer">
          <div class="sat-traceTradeVisualizer__graphs-pieGraphs-left-graphContainer-content" id="{{ traceTrades.data.pieGraphLeftId }}"></div>
        </div>
      </div>
    </div>
  </section>
</article>