@import "global.scss";
@import "modules/trade/trade.scss";

$trade_layout_animation_duration: $animation_duration_normal;
$trade_left_size: 60%;
$trade_left_utilityPanel_size: 75%;
$trade_left_alertPanelMaximized_size: 50%;
$trade_right_cta_hover_gutter_spacing: $spacing_medium;
$trade_gutter_width_for_alerts: $page_gutter_width_for_alerts - $trade_right_cta_hover_gutter_spacing;
.sat-trade {
  $tradeBlockName: &;
  @include mix_fixed_div(absolute, $z_index_base_item);
  @include mix_alive('custom', width $animation_duration_light);
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  &__left {
    @include mix_fixed_div(absolute, $z_index_base_item);
    width: $trade_left_size;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: $spacing_medium;
    overflow: hidden;
    &-top {
      @include mix_fixed_div(absolute, $z_index_base_item_lift);
      @include mix_alive('custom', height $trade_layout_animation_duration);
      @include mix_calculate(width, 100%, $spacing_medium*2, '-');
      height: $trade_topPanels_baseState_height;
      display: flex;
      margin-bottom: $spacing_medium;
      &-utilityPanel {
        @include mix_alive('custom', flex-basis $trade_layout_animation_duration);
        flex: 0 1 $trade_left_utilityPanel_size;
        display: flex;
        margin-right: $spacing_medium;
        background-color: $color_gray_2;
        trade-utility-panel {
          flex: 1 1 auto;
          display: flex;
        }
      }
      &-alertPanel {
        @include mix_alive('custom', flex-basis $trade_layout_animation_duration);
        flex: 0 1 100%-$trade_left_utilityPanel_size;
        display: flex;
        background-color: $color_gray_2;
        trade-alert-panel {
          flex: 1 1 auto;
          display: flex;
        }
      }
    }
    &-centerPanel {
      @include mix_fixed_div(absolute, $z_index_base_item);
      @include mix_calculate(width, 100%, $spacing_medium*2, '-');
      @include mix_calculate(height, 100%, $trade_topPanels_baseState_height + $spacing_medium*3, '-');
      display: flex;
      overflow: hidden;
      bottom: $spacing_medium;
      trade-center-panel {
        flex: 1 1 auto;
        display: flex;
        overflow: hidden;
      }
    }
  }
  &__right {
    @include mix_fixed_div(absolute, $z_index_base_item_lift);
    @include mix_alive('custom', transform $trade_layout_animation_duration);
    right: 0;
    width: 100%-$trade_left_size;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: $spacing_medium $spacing_medium $spacing_medium 0;
    overflow: hidden;
    &-marketAnalysisPanel {
      @include mix_alive('light');
      flex-shrink: 1;
      flex-basis: 66.67%;
      display: flex;
      overflow: hidden;
      margin-bottom: $spacing_medium/2;
      trade-market-analysis-panel {
        flex: 1 1 auto;
        display: flex;
      }
    }
    &-obligorGraphPanel {
      @include mix_alive('light');
      flex-shrink: 1;
      flex-basis: 33.33%;
      display: flex;
      margin-top: $spacing_medium/2;
      overflow: hidden;
      trade-obligor-graph-panel {
        flex: 1 1 auto;
        display: flex;
      }
    }
  }
  &__preload {
    visibility: hidden;
  }
  &__collapseGraphsCTA {
    @include mix_border_radius(50%);
    @include mix_fixed_div(absolute, $z_index_hovering_item);
    @include mix_calculate(top, 66%, $iconButton_size_regular/2, '-');
    @include mix_calculate(right, 40%, $iconButton_size_regular/2, '-');
    @include mix_alive('custom', right $trade_layout_animation_duration, box-shadow $animation_duration_light);
    background-color: $color_kill;
    color: $font_color_inverse;
  }
  &__unMaximizeLilMarketCTA {
    @include mix_border_radius(50%);
    @include mix_fixed_div(absolute, $z_index_hovering_item);
    @include mix_calculate(right, 20%, $iconButton_size_regular/2, '-');
    display: none;
    bottom: 0;
    background-color: $color_kill;
    color: $font_color_inverse;
  }
  &__unMaximizeAlertPanelCTA {
    @include mix_border_radius(50%);
    @include mix_fixed_div(absolute, $z_index_hovering_item);
    @include mix_calculate(top, $trade_left_alertPanelMaximized_size, $iconButton_size_regular/2, '-');
    display: none;
    left: 0;
    transform: rotate(45deg);
    background-color: $color_kill;
    color: $font_color_inverse;
  }
  &--sidePanelsCollapsed {
    #{$tradeBlockName} {
      &__left {
        width: 100%;
        &-top {
          @include mix_calculate(width, 100%, $spacing_medium*2 + $trade_right_cta_hover_gutter_spacing, '-');
        }
        &-centerPanel {
          @include mix_calculate(width, 100%, $spacing_medium*2 + $trade_right_cta_hover_gutter_spacing, '-');
        }
      }
      &__right {
        transform: translate(101%, 0);  // extra 1% for minor aesthetics
        padding: 0;
      }
      &__collapseGraphsCTA {
        background-color: $color_white;
        color: $font_color_major;
        right: 0.875rem;
      }
    }
  }
  &--lilMarketMaximized {
    #{$tradeBlockName} {
      &__right {
        &-marketAnalysisPanel {
          flex-basis: 100%;
          margin-bottom: 0;
        }
        &-obligorGraphPanel {
          flex-basis: 0;
          margin-top: 0;
        }
      }
      &__unMaximizeLilMarketCTA {
        display: flex;
      }
    }
  }
  &--alertPanelMixmized {
    #{$tradeBlockName} {
      &__left {
        &-top {
          height: $trade_left_alertPanelMaximized_size;
          &-utilityPanel {
            flex: 0 0 0%;
            overflow: hidden;
            margin: 0;
          }
          &-alertPanel {
            flex: 1 1 100%;
          }
        }
        &-centerPanel {
          @include mix_calculate(height, 100%-$trade_left_alertPanelMaximized_size, $spacing_medium*3, '-');
        }
      }
      &__unMaximizeAlertPanelCTA {
        display: flex;
      }
    }
  }
  &--displayAlertThumbnail {
    @include mix_calculate(width, 100%, $trade_gutter_width_for_alerts, '-');
  }
}