// Sharable styling in Trade module
$tradePageBackground: $color_gray_2;
$tradeAlertPanel_height: 4.25rem;

$tradeMarketAnalysis_row_height: 2.75rem;
$tradeMarketAnalysis_topGutterForRulerLabel: 1.75rem;