<article
  [ngClass]="{
    'sat-trade': true,
    'sat-trade--graphsCollapsed': state.graphsCollapsed
  }">
  <section class="sat-trade__left">
    <div class="sat-trade__left-top">
      <div class="sat-trade__left-top-alertPanel">
        <trade-alert-panel></trade-alert-panel>
      </div>
      <div class="sat-trade__left-top-utilityPanel">
        <trade-utility-panel></trade-utility-panel>
      </div>
    </div>
    <div class="sat-trade__left-centerPanel">
      <trade-center-panel></trade-center-panel>
    </div>
  </section>
  <section class="sat-trade__right">
    <div class="sat-trade__right-liveGraphPanel">
      <trade-live-graph-panel></trade-live-graph-panel>
    </div>
    <div class="sat-trade__right-overviewGraphPanel">
      <trade-overview-graph-panel></trade-overview-graph-panel>
    </div>
  </section>
  <button
    (click)="onToggleCollapseGraphs()"
    [ngClass]="{
      'sat-trade__collapseGraphsCTA': true,
      'santaBtn--iconOnly': true,
      'fal': true,
      'fa-chart-line': state.graphsCollapsed,
      'fa-chevron-right': !state.graphsCollapsed
    }">
  </button>
  <section class="sat-trade__preload">
    <i class="fas fa-chevron-right"></i>
  </section>
</article>