@import "global.scss";

.sat-trade {
  $tradeBlockName: &;
  @include mix_fixed_div(absolute, $z_index_standard_base_item);
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  &__left {
    @include mix_fixed_div(absolute, $z_index_standard_base_item);
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: $spacing_medium;
    overflow: hidden;
    &-top {
      flex: 0 1 auto;
      display: flex;
      margin-bottom: $spacing_medium;
      &-alertPanel {
        flex: 0 1 50%;
        display: flex;
        margin-right: $spacing_medium;
        trade-alert-panel {
          flex: 1 1 auto;
          display: flex;
        }
      }
      &-utilityPanel {
        flex: 0 1 50%;
        display: flex;
        trade-utility-panel {
          flex: 1 1 auto;
          display: flex;
        }
      }
    }
    &-centerPanel {
      flex: 1 1 auto;
      display: flex;
      overflow: hidden;
      trade-center-panel {
        flex: 1 1 auto;
        display: flex;
        overflow: hidden;
      }
    }
  }
  &__right {
    @include mix_fixed_div(absolute, $z_index_standard_base_item_lift);
    @include mix_alive('custom', transform $animation_duration_normal);
    right: 0;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: $spacing_medium $spacing_medium $spacing_medium 0;
    overflow: hidden;
    &-liveGraphPanel {
      flex: 1 1 auto;
      display: flex;
      margin-bottom: $spacing_medium/2;
      trade-live-graph-panel {
        flex: 1 1 auto;
        display: flex;
      }
    }
    &-overviewGraphPanel {
      flex: 1 1 auto;
      display: flex;
      margin-top: $spacing_medium/2;
      trade-overview-graph-panel {
        flex: 1 1 auto;
        display: flex;
      }
    }
  }
  &__collapseGraphsCTA {
    @include mix_border_radius(50%);
    @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
    @include mix_calculate(top, 50%, $iconButton_size_regular/2, '-');
    right: $spacing_x_small;
    background-color: $color_kill;
    color: $font_color_inverse;
  }
  &--graphsCollapsed {
    #{$tradeBlockName} {
      &__left {
        @include mix_calculate(width, 100%, $iconButton_size_regular, '-');
        margin-right: $iconButton_size_regular/2;
      }
      &__right {
        transform: translate(100%, 0);
        padding: 0;
      }
      &__collapseGraphsCTA {
        background-color: $color_white;
        color: $font_color_major;
      }
    }
  }
}