// Sharable styling in Trade module

$trade_topPanels_baseState_height: 6rem;
$tradeMarketAnalysis_row_height: 2.75rem;
$tradeMarketAnalysis_topGutterForRulerLabel: 1.75rem;

$tradeAxeAlertColor: $color_axe;
$tradeAxeAlertBackgroundColor: $color_blue_1;
$tradeMarkAlertColor: $distinguish_type_color_2;
$tradeMarkAlertBackgroundColor: #F8D8FE;