// Sharable styling in Market module

$securityGroup_base_wheel_size: 6rem;  // currently only used for groupPanel's pieConfigurator since pie charts for SecurityGroupSimple is not yet enabled
$securityGroup_content_canvases_left_width: 15rem;
$securityGroup_content_canvases_left_width_expanded: $securityGroup_content_canvases_left_width + $securityDefinitionConfigurator_width;
$securityGroup_content_canvases_right_metricValue_width: 3rem;
$securityGroup_content_canvases_right_alignmentLine_marginLeft: $spacing_small;
$securityGroup_content_canvases_right_metricLines_thickness: 0.625rem;
$securityGroup_content_canvases_right_metricLines_opacity: 0.3;
$securityGroup_content_canvases_right_metricLines_highlight_opacity: 1.0;

$marketGroupPanel_groups_list_padding: $spacing_large;