// Sharable styling in Market module

$securityGroupDefinition_width: 5.5rem;
$securityGroupDefinitionConfigurator_gapBetweenDefAndFilter: $spacing_large;

$securityGroup_base_wheel_size: 6rem;
//$securityGroup_content_canvases_left_width: 5rem;
$securityGroup_content_canvases_left_width: 10rem; // this is temporary, optimize the display for Group Panel until we have other panels developed
$securityGroup_content_canvases_left_width_expanded: 10rem;
$securityGroup_content_canvases_right_metricName_width: 2.5rem;
$securityGroup_content_canvases_right_alignmentLine_marginLeft: $spacing_small;
$securityGroup_content_canvases_right_metricLines_thickness: 0.625rem;
$securityGroup_content_canvases_right_metricLines_opacity: 0.3;
$securityGroup_content_canvases_right_metricLines_highlight_opacity: 1.0;

$marketGroupPanel_groups_list_padding: $spacing_medium;