  @import "global.scss";

.sat-market {
  $marketBlockName: &;
  @include mix_fixed_div(absolute, $z_index_base_item);
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  &__groupPanel {
    //flex: 0 1 50%;
    flex: 1 1 100%; //this is temporary, optimize the display for Group Panel until we have other panels developed
    display: flex;
    padding: $spacing_medium;
    market-group-panel {
      flex: 1 1 auto;
      display: flex;
    }
  }
}