// Sharable styling in Market module

$securityGroupDefinition_width: 5.5rem;
$securityGroupDefinitionConfigurator_gapBetweenDefAndFilter: $spacing_large;

$securityGroup_base_wheel_size: 7rem;
$securityGroup_content_canvases_left_width: 5rem;
$securityGroup_content_canvases_left_width_expanded: 10rem;
$securityGroup_content_canvases_right_metricName_width: 2.25rem;
$securityGroup_content_canvases_right_alignmentLine_marginLeft: $spacing_small;