<article
  title="{{cardData.data.name}}"
  (click)="onClickCard()"
  class="sat-securityCard--type-{{cardData.data.ratingLevel}}{{cardData.data.seniorityLevel}}"
  [ngClass]="{
    'sat-securityCard': true,
    'sat-securityCard--tableState': cardData.state.isInteractionDisabled,
    'sat-securityCard--thumbDownDisabled': cardData.state.isInteractionThumbDownDisabled,
    'sat-securityCard--stencilState': cardData.state.isStencil,
    'sat-securityCard--selectedState': cardData.state.isSelected,
    'sat-securityCard--multiLineVariant': cardData.state.isMultiLineVariant,
    'sat-securityCard--flexibleWidthVariant': cardData.state.isWidthFlexible,
    'sat-securityCard--atListCeilingVariant': cardData.state.isAtListCeiling,
    'sat-securityCard--primaryActionDisabledState': cardData.state.isActionMenuPrimaryActionsDisabled,
    'sat-securityCard--minorActionDisabledState': cardData.state.isActionMenuMinorActionsDisabled,
    'sat-securityCard--slimVariant': cardData.state.isSlimVariant && !cardData.isMultiLineVariant
  }">
  <section class="sat-securityCard__name">
    <span class="sat-securityCard__name-text">{{cardData.data.name}}</span>
  </section>
  <section class="sat-securityCard__rating">
    <span class="sat-securityCard__rating-text">{{cardData.data.ratingValue}}</span>
  </section>
  <section class="sat-securityCard__actionMenu">
    <ul class="sat-securityCard__actionMenu-minorList sat-securityCard__actionMenu-minorList--top">
      <button title="Open In Bloomberg DES" (click)="onClickOpenSecurityInBloomberg('DES')" class="sat-securityCard__actionMenu-minorList-btn">DES</button>
      <button title="Open In Bloomberg QMGR" (click)="onClickOpenSecurityInBloomberg('QMGR')" class="sat-securityCard__actionMenu-minorList-btn">QMGR</button>
    </ul>
    <ul class="sat-securityCard__actionMenu-mainList">
      <button (click)="onClickSendToGraph()" class="sat-securityCard__actionMenu-mainList-graphBtn fal fa-chart-line"></button>
      <button (click)="onClickThumbDown()" class="sat-securityCard__actionMenu-mainList-thumbDownBtn fal fa-thumbs-down"></button>
      <!--
      TODO: temporarily disable this since the UI needs to be upgrade to work with multiple types of alerts
      <button (click)="onClickSendToAlertConfig()" class="sat-securityCard__actionMenu-mainList-alertBtn fal fa-bell"></button>
      -->
    </ul>
    <ul class="sat-securityCard__actionMenu-minorList sat-securityCard__actionMenu-minorList--bottom">
      <button title="Open In Bloomberg YAS" (click)="onClickOpenSecurityInBloomberg('YAS')" class="sat-securityCard__actionMenu-minorList-btn">YAS</button>
      <button title="Open In Bloomberg TDH" (click)="onClickOpenSecurityInBloomberg('TDH')" class="sat-securityCard__actionMenu-minorList-btn">TDH</button>
    </ul>
  </section>
</article>