<article
  title="{{cardData.data.name}}"
  (click)="onClickCard()"
  class="sat-securityCard--type-{{cardData.data.ratingLevel}}{{cardData.data.seniorityLevel}}"
  [ngClass]="{
    'sat-securityCard': true,
    'sat-securityCard--tableState': cardData.state.isInteractionDisabled,
    'sat-securityCard--thumbDownDisabled': cardData.state.isInteractionThumbDownDisabled,
    'sat-securityCard--stencilState': cardData.state.isStencil,
    'sat-securityCard--selectedState': cardData.state.isSelected,
    'sat-securityCard--multiLineVariant': cardData.state.isMultiLineVariant,
    'sat-securityCard--flexibleWidthVariant': cardData.state.isWidthFlexible
  }">
  <section class="sat-securityCard__name">
    <span class="sat-securityCard__name-text">{{cardData.data.name}}</span>
  </section>
  <section class="sat-securityCard__rating">
    <span class="sat-securityCard__rating-text">{{cardData.data.ratingValue}}</span>
  </section>
  <section class="sat-securityCard__actionMenu">
    <ul class="sat-securityCard__actionMenu-minorList sat-securityCard__actionMenu-minorList--top">
      <button class="sat-securityCard__actionMenu-minorList-btn">DES</button>
      <button class="sat-securityCard__actionMenu-minorList-btn">QMGR</button>
    </ul>
    <ul class="sat-securityCard__actionMenu-mainList">
      <button (click)="onClickSendToGraph()" class="sat-securityCard__actionMenu-mainList-graphBtn santaBtn--iconOnly fal fa-chart-line"></button>
      <button (click)="onClickThumbDown()" class="sat-securityCard__actionMenu-mainList-thumbDownBtn santaBtn--iconOnly fal fa-thumbs-down"></button>
    </ul>
    <ul class="sat-securityCard__actionMenu-minorList sat-securityCard__actionMenu-minorList--bottom">
      <button class="sat-securityCard__actionMenu-minorList-btn">YAS</button>
      <button class="sat-securityCard__actionMenu-minorList-btn">QR</button>
    </ul>
  </section>
</article>