@import "global.scss";
@import "./security-card-mixin.scss";

$securityCard_labelVariant_height: 2rem;
$securityCard_labelVariant_height_slim: 1.6rem;
$securityCard_labelVariant_expanded_height: 2.75rem;
$securityCard_name_rightGap: 3rem;
$securityCard_actionMenu_majorCTA_size: 3rem;
$securityCard_actionMenu_minorList_regularGutterWidth: 3rem;

.sat-securityCard {
  $securityCardBlockName: &;
  @include mix_fixed_div(relative, $z_index_base_item);
  @include mix_securityCard();
  @include mix_border_radius(5px);
  @include mix_alive('custom', height $animation_duration_light, box-shadow $animation_duration_light);
  display: flex;
  flex-wrap: nowrap;
  background-color: $color_white;
  height: $securityCard_labelVariant_height;
  width: $securityCard_width;
  &__name {
    @include mix_fixed_div(relative, $z_index_base_item_lift);
    @include mix_calculate(flex-basis, 100%, $securityCard_name_rightGap, '-');
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    &-text {
      @include mix_text_overflow_multi_line(1);
      word-break: break-all;
      color: $font_color_inverse;
      margin-left: $spacing_small;
      font-size: $font_size_small;
      user-select: none;
      line-height: $line_height_minimum;
      text-align: left;
    }
  }
  &__rating {
    @include mix_fixed_div(absolute, $z_index_base_item_solid);
    right: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    &-text {
      @include mix_rating_style;
      font-size: $font_size_x_large;
      margin-right: $spacing_x_small;
      color: $color_black;
    }
  }
  &__actionMenu {
    @include mix_fixed_div(absolute, $z_index_tooltip);  // needs to be no less than the z-index of "sat-tradeMarketAnalysisPanel__table-content-securityList-item-numberOfSecurityTag"
    @include mix_alive('custom', transform $animation_duration_light);
    @include mix_calculate(left, 50%, $securityCard_actionMenu_majorCTA_size*3/2 + $spacing_x_small * 2, '-');
    display: flex;
    flex-direction: column;
    transform: scale(0.01);
    top: 0;
    &-minorList {
      @include mix_fixed_div(relative, $z_index_base_item);
      display: flex;
      justify-content: center;
      &-btn {
        @extend .santaBtn;
        @extend .santaBtn--iconOnly;  // this is necessary for usage within AgGrid
        @include mix_fixed_div(absolute, $z_index_base_item);
        @include mix_border_radius(50%);
        transform: scale(0.01);
        background-color: $color_bloomberg_1;
        color: $color_bloomberg_2;
        padding: $spacing_xx_small;
        word-break: break-all;  // so "QMGR" would clip into 2 lines
        &:first-of-type {
          left: -$securityCard_actionMenu_majorCTA_size/2 + $spacing_xx_small;
        }
        &:nth-of-type(2) {
          right: -$securityCard_actionMenu_majorCTA_size/2 + $spacing_xx_small;
        }
      }
      &--top {
        top: -$securityCard_actionMenu_majorCTA_size + $spacing_small;
      }
      &--bottom {
        top: $spacing_x_small;
      }
    }
    &-mainList {
      display: flex;
      justify-content: center;
      margin: -$spacing_small 0;  // achieve a closer distance between the three lists
      &-thumbDownBtn {
        @extend .santaBtn;
        @extend .santaBtn--iconOnly;  // this is necessary for usage within AgGrid
        @include mix_fixed_div(relative, $z_index_hovering_item);
        @include mix_border_radius(50%);
        margin: 0 $spacing_x_small;
        background-color: $color_kill;
        color: $font_color_inverse;
        height: $securityCard_actionMenu_majorCTA_size;
        width: $securityCard_actionMenu_majorCTA_size;
        font-size: $font_size_large;
        &:hover {
          transform: scale(1.25);
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
      &-alertBtn {
        @extend .santaBtn;
        @extend .santaBtn--iconOnly;
        @include mix_fixed_div(relative, $z_index_hovering_item);
        @include mix_border_radius(50%);
        margin: 0 $spacing_x_small;
        color: $font_color_major;
        height: $securityCard_actionMenu_majorCTA_size;
        width: $securityCard_actionMenu_majorCTA_size;
        font-size: $font_size_large;
        &:hover {
          transform: scale(1.25);
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
      &-graphBtn {
        @extend .santaBtn;
        @extend .santaBtn--iconOnly;
        @include mix_fixed_div(relative, $z_index_hovering_item);
        @include mix_border_radius(50%);
        margin: 0 $spacing_x_small;
        color: $font_color_major;
        height: $securityCard_actionMenu_majorCTA_size;
        width: $securityCard_actionMenu_majorCTA_size;
        font-size: $font_size_large;
        &:hover {
          transform: scale(1.25);
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
    }
  }
  &--slimVariant {
    height: $securityCard_labelVariant_height_slim;
  }
  &--multiLineVariant {
    height: $securityCard_labelVariant_expanded_height;
    #{$securityCardBlockName} {
      &__name {
        &-text {
          @include mix_text_overflow_multi_line(2);
          line-height: 1.25;
        }
      }
    }
  }
  &--flexibleWidthVariant {
    width: inherit;
  }
  &--selectedState {
    @include material('none');
    background: $color_active;
    #{$securityCardBlockName} {
      &__rating {
        &-text {
          color: $font_color_inverse;
        }
      }
      &__actionMenu {
        transform: scale(1);
        &-minorList-btn {
          transform: scale(1);
          &:hover {
            transform: scale(1.25);
            background-color: $color_active;
            color: $font_color_inverse;
          }
        }
      }
    }
  }
  &--thumbDownDisabled {
    #{$securityCardBlockName} {
      &__actionMenu {
        @include mix_calculate(left, 50%, $securityCard_actionMenu_majorCTA_size/2 + $spacing_x_small, '-');
        &-mainList {
          margin: -$spacing_x_small 0;
          &-thumbDownBtn {
            display: none;
          }
        }
        &-minorList-btn {
          &:first-of-type {
            left: -$securityCard_actionMenu_majorCTA_size/2 + $spacing_x_small;
          }
          &:nth-of-type(2) {
            right: -$securityCard_actionMenu_majorCTA_size/2 + $spacing_x_small;
          }
        }
      }
    }
  }
  &--atListCeilingVariant {
    #{$securityCardBlockName} {
      &__actionMenu {
        top: $spacing_small;
        &-minorList--top {
          #{$securityCardBlockName} {
            &__actionMenu-minorList-btn {
              top: 2.5rem;
              &:first-of-type {
                left: -2.5rem;
              }
              &:nth-of-type(2) {
                right: -2.5rem
              }
            }
          }
        }
      }
    }
  }
  &--primaryActionDisabledState {
    #{$securityCardBlockName} {
      &__actionMenu {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        left: unset;
        top: $spacing_medium;
        &-mainList {
          display: none;
        }
        &-minorList {
          flex: 0 1 auto;
          display: flex;
          top: unset;
          left: unset;
          right: unset;
          bottom: unset;
          &-btn {
            @include mix_fixed_div(relative, $z_index_base_item);
            top: unset;
            left: unset;
            right: unset;
            bottom: unset;
            margin: 0 $spacing_x_small;
          }
        }
      }
    }
  }
  &--minorActionDisabledState {
    #{$securityCardBlockName} {
      &__actionMenu {
        &-minorList {
          display: none;
        }
      }
    }
  }
  &--tableState {
    @include material('none');
    @include mix_border_generator($typical_border_width, $color_gray_85);
  }
  &--stencilState {
    background: $color_white;
    #{$securityCardBlockName} {
      &__name-text {
        @include mix_stencil_animation;
      }
      &__rating {
        align-items: center;
        &-text {
          @include mix_stencil_animation;
          font-size: $font_size_large;
        }
      }
    }
  }
}