<article
  [ngClass]="{
    'sat-securityGroupDefinitionConfigurator': true,
    'sat-securityGroupDefinitionConfigurator--longFilterOptionsState': configuratorData.state.showLongFilterOptions,
    'sat-securityGroupDefinitionConfigurator--filterActiveState': configuratorData.showFiltersFromDefinition
  }">
  <section class="sat-securityGroupDefinitionConfigurator__definitions">
    <ul class="sat-securityGroupDefinitionConfigurator__definitions-list">
      <li *ngFor="let eachDefinition of configuratorData?.data.definitionList" class="sat-securityGroupDefinitionConfigurator__definitions-list-item">
        <button
          (click)="selectDefinitionForGrouping(eachDefinition)"
          [ngClass]="{
            'sat-securityGroupDefinitionConfigurator__definitions-list-item-selectBtn': true,
            'santaBtn--iconOnly': true,
            'fal': true,
            'fa-square': configuratorData.data.selectedDefinitionList.indexOf(eachDefinition) < 0 && !eachDefinition.state.isLocked,
            'sat-securityGroupDefinitionConfigurator__definitions-list-item-selectBtn--selected': configuratorData.data.selectedDefinitionList.indexOf(eachDefinition) >= 0,
            'fa-check-square': eachDefinition.state.isLocked || configuratorData.data.selectedDefinitionList.indexOf(eachDefinition) >= 0,
            'sat-securityGroupDefinitionConfigurator__definitions-list-item-selectBtn--locked': eachDefinition.state.isLocked
          }"></button>
        <security-group-definition
          [definitionData]="eachDefinition"
          (onClick)="onClickDefinition($event)"
          [selected]="configuratorData.showFiltersFromDefinition === eachDefinition">
        </security-group-definition>
      </li>
    </ul>
  </section>
  <section class="sat-securityGroupDefinitionConfigurator__filters">
    <div class="sat-securityGroupDefinitionConfigurator__filters-content">
      <div class="sat-securityGroupDefinitionConfigurator__filters-content-title">
        <security-group-definition
          [definitionData]="configuratorData.showFiltersFromDefinition"
          [backgroundVariant]="true">
        </security-group-definition>
      </div>
      <div class="sat-securityGroupDefinitionConfigurator__filters-content-search">
        <santa-input
          [inputValue]="configuratorData.filterSearchInputValue"
          [placeholder]="'filter by keyword'"
          (onInputChange)="onSearchKeywordChange($event)">
        </santa-input>
      </div>
      <ul class="sat-securityGroupDefinitionConfigurator__filters-content-optionList">
        <button
          *ngFor="let eachOption of configuratorData.showFiltersFromDefinition?.data.filterOptionList"
          (click)="onClickFilterOption(eachOption)"
          [ngClass]="{
            'sat-securityGroupDefinitionConfigurator__filters-content-optionList-item': true,
            'sat-securityGroupDefinitionConfigurator__filters-content-optionList-item--selected': eachOption.state.isSelected,
            'sat-securityGroupDefinitionConfigurator__filters-content-optionList-item--filteredOut': eachOption.state.isFilteredOut
          }">
          {{eachOption.data.displayLabel}}
        </button>
      </ul>
    </div>
  </section>
  <section class="sat-securityGroupDefinitionConfigurator__ctas">
    <div class="sat-securityGroupDefinitionConfigurator__ctas-content">
      <santa-loadable-button
        (onClickButton)="triggerSearch()"
        [isLoading]="configuratorData.state.isLoading"
        [icon]="'fal fa-gifts'"
        [text]="'Unwrap'">
      </santa-loadable-button>
    </div>
  </section>
</article>