@import "global.scss";
@import "modules/market/market.scss";

$securityGroupDefinitionConfigurator_ctas_height: 6rem;
.sat-securityGroupDefinitionConfigurator {
  $securityGroupDefinitionConfiguratorBlockName: &;
  @include mix_fixed_div(relative, $z_index_standard_base_item);
  display: flex;
  flex-direction: column;
  width: $securityGroupDefinitionConfigurator_width;
  &__definitions {
    @include mix_fixed_div(relative, $z_index_standard_base_item_lift);
    @include mix_enable_scrollbar('vertical');
    flex: 1 1 auto;
    display: flex;
    direction: rtl;
    padding-left: $spacing_medium;
    &-list {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      direction: ltr;
      &-section {
        display: flex;
        flex-direction: column;
        &-label {
          @include mix_fixed_div(relative, $z_index_standard_base_item);
          display: flex;
          margin-top: $spacing_large;
          &-text {
            @include mix_fixed_div(relative, $z_index_standard_base_item_lift);
            color: $font_color_major;
            background-color: $color_gray_2;
            padding: $spacing_x_small;
            font-size: $font_size_x_large;
            margin-left: $spacing_small;
          }
          &-line {
            @include mix_fixed_div(absolute, $z_index_standard_base_item_solid);
            @include mix_border_generator($typical_border_width 0 0 0);
            margin-top: $spacing_large - $spacing_xx_small;
            width: 100%;
            height: 50%;
          }
        }
        &-item {
          display: flex;
          flex-direction: column;
          margin-top: $spacing_large;
          &-selectBtn {
            @include mix_border_radius(5px, 'top');
            margin-left: $securityGroupDefinition_width/4;
            width: $securityGroupDefinition_width/2 !important;
            font-size: $font_size_x_large;
            align-self: flex-start;
            &--selected {
              @include material('none');
              background-color: $color_active;
              color: $font_color_inverse;
            }
            &--locked {
              @include material('none');
              color: $font_color_major;
              background-color: inherit;
            }
          }
          security-group-definition {
            align-self: flex-start;
          }
          &:last-of-type {
            margin-bottom: $spacing_large;
          }
        }
      }
    }
  }
  &__filters {
    @include mix_fixed_div(absolute, $z_index_standard_base_item_solid);
    @include mix_calculate(height, 100%, $securityGroupDefinitionConfigurator_ctas_height, '-');
    display: flex;
    top: 0;
    right: 0;
    width: $securityGroupDefinitionConfigurator_filters_width;
    padding-left: $securityGroupDefinitionConfigurator_gapBetweenDefAndFilter - $spacing_xx_small;  // $spacing_xx_small for covering the undesirable border radius look on the left upper corner when not aligned perfectly with the definition
    overflow: hidden;
    &-content {
      @include mix_alive('custom', $animation_duration_light transform);
      @include mix_border_radius(5px);
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translate(-125%, 0) scale(0.01, 1);
      &-closeBtn {
        @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
        top: $spacing_small;
        right: $spacing_small;
        background-color: $color_kill;
        color: $font_color_inverse;
      }
      &-title {
        display: flex;
        flex-direction: column;
        padding: $spacing_large 0;
        margin-top: 100%;
        &>security-group-definition {
          display: flex;
        }
      }
      &-search {
        display: flex;
        margin: $spacing_medium;
        input {
          width: 100%;
        }
      }
      &-loadLongOptionCta {
        display: none;
        margin: 0 $spacing_medium;
      }
      &-optionList {
        @include mix_enable_scrollbar('vertical');
        display: flex;
        flex-wrap: wrap;
        padding: $spacing_medium 0;
        margin: 0 $spacing_small;
        &-item {
          flex: 0 1 100%;
          padding: $spacing_small $spacing_medium;
          margin: $spacing_small $spacing_medium;
          font-size: $font_size_small;
          word-break: break-word;
          &--selected {
            @include material('none');
            background-color: $color_filter;
            color: $font_color_inverse;
          }
          &--filteredOut {
            display: none;
          }
        }
      }
    }
  }
  &__ctas {
    @include mix_fixed_div(relative, $z_index_standard_hovering_item);
    flex: 0 0 $securityGroupDefinitionConfigurator_ctas_height;
    display: flex;
    overflow: hidden;
    &-content {
      @include mix_border_generator($typical_border_width 0 0 0);
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      margin-top: $spacing_medium;
      padding-top: $spacing_medium;
      &-regularSearch {
        @include mix_alive('custom', $animation_duration_light transform);
        @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
        transform: translate(0, 0);
        .sat-loadableButton__btn {
          padding: $spacing_small $spacing_large;
          &>i {
            font-size: $font_size_xx_large;
          }
          &>span {
            font-size: $font_size_x_large;
          }
        }
      }
      &-selectedGroupSearch {
        @include mix_alive('custom', $animation_duration_light transform);
        transform: translate(0, 200%);
        .sat-loadableButton__btn {
          background-color: $color_highlight;
          &>i {
            font-size: $font_size_xx_large;
            color: $font_color_inverse;
          }
          &>span {
            color: $font_color_inverse;
          }
        }
      };
    }
  }
  &--longFilterOptionsState {
    #{$securityGroupDefinitionConfiguratorBlockName} {
      &__filters-content-title {
        margin-top: 0;
      }
    }
  }
  &--filterActiveState {
    #{$securityGroupDefinitionConfiguratorBlockName} {
      &__filters {
        @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
        &-content {
          @include mix_border_generator(3px, $color_active);
          transform: translate(0, 0) scale(1, 1);
          background-color: $color_white;
        }
      }
    }
  }
  &--highlightedVariant {
    #{$securityGroupDefinitionConfiguratorBlockName} {
      &__definitions {
        &-list-section-item-selectBtn--selected {
          background-color: $color_highlight;
        }
      }
      &__ctas {
        &-content {
          &-regularSearch {
            transform: translate(0, -200%);
          }
          &-selectedGroupSearch {
            transform: translate(0, 0);
          }
        }
      }
    }
  }
  &--filterShowingLongDefinitionState {
    #{$securityGroupDefinitionConfiguratorBlockName} {
      &__filters-content {
        &-search {
          display: none;
        }
        &-loadLongOptionCta {
          display: flex;
        }
        &-optionList {
          display: none;
        }
      }
    }
  }
  &--filterLoadingLongOptionListState {
    #{$securityGroupDefinitionConfiguratorBlockName} {
      &__definitions {

      }
    }
  }
}