<article
  [ngClass]="{
    'sat-securityGroupDefinitionConfigurator': true,
    'sat-securityGroupDefinitionConfigurator--filterActiveState': configuratorData.data.showFiltersFromDefinition
  }">
  <section class="sat-securityGroupDefinitionConfigurator__definitions">
    <ul class="sat-securityGroupDefinitionConfigurator__definitions-list">
      <li *ngFor="let eachDefinition of this.configuratorData?.data.definitionList" class="sat-securityGroupDefinitionConfigurator__definitions-list-item">
        <button
          (click)="selectDefinitionForGrouping(eachDefinition)"
          [ngClass]="{
            'sat-securityGroupDefinitionConfigurator__definitions-list-item-selectBtn': true,
            'santa-btn--iconOnly': true,
            'fal': true,
            'fa-square': configuratorData.data.selectedDefinitionList.indexOf(eachDefinition) < 0,
            'sat-securityGroupDefinitionConfigurator__definitions-list-item-selectBtn--selected fa-check-square': this.configuratorData.data.selectedDefinitionList.indexOf(eachDefinition) >= 0
          }"></button>
        <security-group-definition
          [definitionData]="eachDefinition"
          (onClick)="onClickDefinition($event)"
          [selected]="configuratorData.data.showFiltersFromDefinition === eachDefinition"></security-group-definition>
      </li>
    </ul>
  </section>
  <section class="sat-securityGroupDefinitionConfigurator__filters">
    <div class="sat-securityGroupDefinitionConfigurator__filters-content">
      <div class="sat-securityGroupDefinitionConfigurator__filters-content-title">
        <i [ngClass]="'sat-securityGroupDefinitionConfigurator__filters-content-title-img ' + this.configuratorData.data.showFiltersFromDefinition?.style.icon"></i>
      </div>
      <ul class="sat-securityGroupDefinitionConfigurator__filters-content-optionList">
        <button
          *ngFor="let eachOption of this.configuratorData.data.showFiltersFromDefinition?.data.filterOptionList"
          (click)="onClickFilterOption(eachOption)"
          [ngClass]="{
            'sat-securityGroupDefinitionConfigurator__filters-content-optionList-item': true,
            'sat-securityGroupDefinitionConfigurator__filters-content-optionList-item--selected': eachOption.isSelected
          }">
          {{eachOption.displayLabel}}
        </button>
      </ul>
    </div>
  </section>
</article>