@import "global.scss";

.sat-numericFilter {
  $numericFilterBlockName: &;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -$spacing_x_small;  // to overcome agGrid's padding
  margin-right: -$spacing_x_small;  // to overcome agGrid's padding
  &__clearCTA {
    @include mix_fixed_div(absolute, $z_index_hovering_item);
    @include mix_alive('light');
    flex: 0 0 auto;
    transform: scale(0.01);
    background-color: $color_kill;
    color: $font_color_inverse;
    margin-right: $spacing_small;
    font-size: $font_size_small;
    padding: $spacing_x_small;
  }
  &__minInput, &__maxInput {
    flex: 1 1 auto;
    &>input {
      font-size: $font_size_small;
      width: 100%;
      min-width: 1.75rem;
      padding: $spacing_xx_small;
    }
  }
  &__midSymbol {
    margin: 0 $spacing_x_small;
    &-content {
      color: $font_color_minor;
    }
  }
  &-range {
    &--active {
      @include mix_border_radius(5px);
      background-color: $color_filter;
      padding: $spacing_small;
    }
  }
  &--filled {
    #{$numericFilterBlockName} {
      &__clearCTA {
        transform: scale(1);
      }
    }
  }
}