@import "global.scss";

.sat-numericFilter {
  $numericFilter: &;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &__minInput, &__maxInput {
    flex: 1 1 auto;
    &>input {
      width: 100%;
      min-width: 3rem;
    }
  }
  &__midSymbol {
    margin: 0 $spacing_small;
    &-content {
      color: $font_color_minor;
    }
  }
}