@import "global.scss";

$securityDefinition_width: 5.5rem;
$securityDefinition_height: 4.5rem;
$securityDefinition_filter_size: 2rem;
$securityDefinition_backgroundVariant_img_size: 5rem;
$securityDefinition_backgroundVariant_img_size_secondary: 3rem;
$securityDefinition_configuratorVariant_height: 2.25rem;
$securityDefinition_configuratorVariant_img_size: 1rem;
$securityDefinition_configuratorVariant_img_size_secondary: 0.5rem;
$securityDefinition_configuratorVariant_filter_size: 1.5rem;
.sat-securityDefinition {
  $blockName: &;
  @include mix_fixed_div(relative, $z_index_base_item);
  @include mix_shadow($material_regular_southMarkup, $material_lowHover_degree, $material_regular_intensity);
  @include mix_alive('custom', $animation_duration_light box-shadow, $animation_duration_light background-color);
  @include mix_border_radius(5px);
  display: flex;
  flex-direction: column;
  width: $securityDefinition_width;
  height: $securityDefinition_height;
  background-color: $color_gray_2;
  &__icon {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &-regularImg {
      color: $font_color_minor;
      font-size: $font_size_xx_large;
    }
    &-ratingBucket {
      display: none;
      &-primaryImg {
        color: $font_color_minor;
        font-size: $font_size_xx_large;
      }
      &-secondaryImg {
        margin-top: $spacing_xx_small;
        color: $font_color_inverse;
      }
    }
    &-backendTenor {
      display: none;
      &-primaryImg {
        color: $font_color_minor;
        font-size: $font_size_xx_large;
      }
      &-secondaryImg {
        margin-top: -$spacing_xx_small - $spacing_minimum;
        color: $font_color_minor;
      }
    }
    &-securityType {
      @include mix_fixed_div(relative, $z_index_base_item_solid);
      display: none;
      &-box {
        @include mix_border_radius(5px);
        background-color: $color_active;
        display: flex;
        padding: $spacing_x_small $spacing_x_small;
        &-text {
          font-size: $font_size_x_small;
          color: $font_color_inverse;
          margin-left: $spacing_x_small;
          &:first-of-type {
            @include mix_border_radius(3px);
            background-color: $color_white;
            padding: 0 $spacing_x_small;
            color: $font_color_major;
            margin-left: 0;
          }
        }
      }
    }
  }
  &__label {
    display: flex;
    justify-content: center;
    margin-bottom: $spacing_x_small;
    overflow: hidden;
    &-text {
      @include mix_text_overflow_multi_line(2);
      padding: $spacing_xx_small 0;
      color: $font_color_major;
      user-select: none;
      font-size: $font_size_x_small;
    }
  }
  &__filter {
    @include mix_fixed_div(absolute, $z_index_hovering_item);
    display: none;
    top: -$spacing_small;
    right: -$spacing_small;
    width: $securityDefinition_filter_size;
    height: $securityDefinition_filter_size;
    &-icon {
      @include mix_fixed_div(relative, $z_index_base_item);
      @include mix_border_radius(50%);
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color_filter;
      &-img {
        color: $font_color_inverse;
      }
    }
  }
  &__filterMask {
    @include mix_fixed_div(absolute, $z_index_buried_item);
    @include mix_shadow($material_regular_southMarkup, $material_lowHover_degree, $material_regular_intensity);
    @include mix_alive('custom', $animation_duration_light box-shadow);
    @include mix_border_radius(50%);
    display: none;
    top: -$spacing_small;
    right: -$spacing_small;
    width: $securityDefinition_filter_size;
    height: $securityDefinition_filter_size;
  }
  &__selectedGap {
    @include mix_fixed_div(absolute, $z_index_buried_item);
    display: none;
    left: 100%;
    height: 100%;
    width: $securityDefinitionConfigurator_gapBetweenDefAndFilter; // this is configured in definition-configurator.component.scss
    background-color: $color_active;
  }
  &:hover {
    @include mix_shadow($material_regularHover_southMarkup, $material_regularHover_degree, $material_regularHover_intensity);
    #{$blockName} {
      &__filterMask {
        @include mix_shadow($material_regularHover_southMarkup, $material_regularHover_degree, $material_regularHover_intensity);
      }
    }
  }
  &--isRatingBucket {
    #{$blockName} {
      &__icon {
        &-regularImg {
          display: none;
        }
        &-ratingBucket {
          display: inline-block;
        }
      }
    }
  }
  &--isSecurityType {
    #{$blockName} {
      &__icon {
        &-regularImg {
          display: none;
        }
        &-securityType {
          display: flex;
          &--subType {
            display: none;
          }
        }
      }
    }
  }
  &--isSecuritySubType {
    #{$blockName} {
      &__icon {
        &-regularImg {
          display: none;
        }
        &-securityType--subType {
          display: flex;
        }
      }
    }
  }
  &--isBackendTenor {
    #{$blockName} {
      &__icon {
        &-regularImg {
          display: none;
        }
        &-backendTenor {
          display: inline-block;
        }
      }
    }
  }
  &--groupByActiveState {
    background-color: $color_white;
    #{$blockName} {
      &__icon {
        &-regularImg, &-ratingBucket-primaryImg, &-backendTenor-primaryImg, &-backendTenor-secondaryImg {
          color: $font_color_major;
        }
      }
      &__label {
        &-text {
          color: $font_color_major;
        }
      }
    }
  }
  &--filterActiveState {
    #{$blockName} {
      &__filter {
        display: flex;
      }
      &__filterMask {
        display: flex;
      }
    }
  }
  &--selectedState {
    @include material('none');
    background-color: $color_active;
    #{$blockName} {
      &__icon {
        &-regularImg, &-ratingBucket-primaryImg, &-backendTenor-primaryImg, &-backendTenor-secondaryImg {
          color: $font_color_inverse;
        }
        &-ratingBucket {
          &-secondaryImg {
            color: $font_color_major;
          }
        }
        &-securityType-box {
          background-color: $font_color_inverse;
          &-text {
            color: $font_color_major;
            &:first-of-type {
              color: $font_color_inverse;
              background-color: $color_active;
            }
          }
        }
      }
      &__label-text {
        color: $font_color_inverse;
      }
      &__filterMask {
        @include material('none');
      }
    }
  }
  &--selectedState#{$blockName}--configuratorListVariant {
    @include mix_border_radius(5px, 'left');
    #{$blockName} {
      &__selectedGap {
        display: flex;
      }
    }
  }
  &--selectedState:hover {
    #{$blockName} {
      &__filterMask {
        @include material('none');
      }
    }
  }
  &--unactivated {
    @include mix_border_generator;
    @include material('none');
    background-color: inherit;
    #{$blockName} {
      &__icon {
        &-regularImg, &-ratingBucket-primaryImg, &-backendTenor-primaryImg, &-backendTenor-secondaryImg {
          color: $font_color_minor;
        }
      }
      &__label {
        &-text {
          color: $font_color_minor;
        }
      }
    }
  }
  &--backgroundVariant {
    @include material('none');
    background-color: inherit;
    flex: 1 1 auto;
    height: inherit;
    width: inherit;
    #{$blockName} {
      &__icon {
        &-regularImg, &-ratingBucket-primaryImg, &-backendTenor-primaryImg, &-backendTenor-secondaryImg, &-securityType-box-text:first-of-type {
          color: $font_color_inverse;
        }
        &-backendTenor-secondaryImg {
          // margin-top: -$spacing_x_large;
          // font-size: $securityDefinition_backgroundVariant_img_size_secondary;
        }
        &-ratingBucket-secondaryImg {
          color: $font_color_major;
          // margin-top: -$spacing_large - $spacing_x_small;
          //font-size: $securityDefinition_backgroundVariant_img_size_secondary;
        }
      }
      &__label, &__filter, &__filterMask, &__selectedGap {
        display: none;
      }
    }
  }
  &--heroVariant {
    @include material('none');
    background-color: inherit;
    flex: 1 1 auto;
    height: $securityDefinition_backgroundVariant_img_size;
    #{$blockName} {
      &__icon {
        &-regularImg, &-ratingBucket-primaryImg, &-backendTenor-primaryImg, &-backendTenor-secondaryImg, &-securityType-box-text:first-of-type {
          color: $color_gray_2;
        }
        &-regularImg, &-ratingBucket, &-ratingBucket-primaryImg, &-backendTenor, &-backendTenor-primaryImg {
          font-size: $securityDefinition_backgroundVariant_img_size;
        }
        &-backendTenor-secondaryImg {
          margin-top: -$spacing_x_large;
          font-size: $securityDefinition_backgroundVariant_img_size_secondary;
        }
        &-ratingBucket-secondaryImg {
          margin-top: -$spacing_large - $spacing_x_small;
          font-size: $securityDefinition_backgroundVariant_img_size_secondary;
        }
        &-securityType-box {
          background-color: $color_gray_2;
          flex-direction: column;
          &-text {
            margin: 0;
            padding: $spacing_x_small $spacing_medium;
            text-align: center;
            font-size: $font_size_x_large;
          }
        }
      }
      &__label, &__filter, &__filterMask, &__selectedGap {
        display: none;
      }
    }
  }
  &--miniPillVariant {
    flex-direction: row;
    align-items: center;
    height: $securityDefinition_configuratorVariant_height;
    width: $securityDefinition_configuratorVariant_width;
    #{$blockName} {
      &__icon {
        flex: 0 0 $securityDefinition_configuratorVariant_height;
        &-regularImg, &-ratingBucket, &-ratingBucket-primaryImg, &-backendTenor, &-backendTenor-primaryImg {
          font-size: $securityDefinition_configuratorVariant_img_size;
          line-height: $securityDefinition_configuratorVariant_height;
        }
        &-ratingBucket, &-backendTenor {
          width: $securityDefinition_configuratorVariant_height;
        }
        &-backendTenor-secondaryImg {
          margin-top: -0.1rem;
          font-size: $securityDefinition_configuratorVariant_img_size_secondary;
        }
        &-ratingBucket-secondaryImg {
          margin-top: $spacing_xx_small - $spacing_minimum;
          font-size: $securityDefinition_configuratorVariant_img_size_secondary;
        }
        &-securityType-box {
          flex-direction: column;
          padding: $spacing_minimum*2 $spacing_xx_small;
          &-text {
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: $font_size_minimum;
          }
        }
      }
      &__label {
        margin-bottom: 0;
        padding-right: $spacing_small;
        &-text {
          line-height: $line_height_minimum;
        }
      }
      &__filter {
        top: -$spacing_x_small;
        right: -$spacing_x_small;
        width: $securityDefinition_configuratorVariant_filter_size;
        height: $securityDefinition_configuratorVariant_filter_size;
      }
      &__filterMask {
        top: -$spacing_x_small;
        right: -$spacing_x_small;
        width: $securityDefinition_configuratorVariant_filter_size;
        height: $securityDefinition_configuratorVariant_filter_size;
      }
    }
  }
  &--miniPillVariant#{$blockName}--lockedState {
    @include material('none');
    @include mix_border_generator($typical_border_width, $font_color_major);
    background: none;
    #{$blockName} {
      &__icon {
        &-regularImg {
          color: $font_color_minor;
        }
        &-ratingBucket {
          &-primaryImg {
            color: $font_color_minor;
          }
          &-secondaryImg {
            color: $font_color_inverse;
          }
        }
        &-backendTenor {
          &-primaryImg {
            color: $font_color_minor;
          }
          &-secondaryImg {
            color: $font_color_minor;
          }
        }
        &-securityType {
          &-box {
            background-color: $color_active;
            &-text {
              color: $font_color_inverse;
              &:first-of-type {
                color: $font_color_major;
              }
            }
          }
        }
      }
      &__label {
        &-text {
          color: $font_color_major;
        }
      }
    }
  }
}