<article
  [ngClass]="{
    'sat-securityTableRow': true,
    'sat-securityTableRow--evenState': !!rowIsEven,
    'sat-securityTableRow--expandedState': rowData.state.isExpanded
  }">
  <section (click)="onClickRowTableCanvas()" class="sat-securityTableRow__tableCanvas">
    <article class="sat-securityTableCell sat-securityTableCell--securityCardVariant">
      <security-card [cardData]="rowData.data.security"></security-card>
    </article>
    <article
      *ngFor="let eachCell of rowData.data.cells"
      [ngClass]="{
        'sat-securityTableCell': true,
        'sat-securityTableCell--quantVariant': eachCell.state.isQuantVariant,
        'sat-securityTableCell--stencilState': eachCell.state.isStencil
      }">
      <section class="sat-securityTableCell__metric">
        <span class="sat-securityTableCell__metric-text">
          {{eachCell.data.textData}}
        </span>
      </section>
      <section class="sat-securityTableCell__quant">
        <quant-comparer *ngIf="eachCell.data.quantComparerDTO" [quantData]="eachCell.data.quantComparerDTO"></quant-comparer>
      </section>
    </article>
  </section>
  <section class="sat-securityTableRow__expandCanvas">
    <div class="sat-securityTableRow__expandCanvas-content">
      <!--
        The ngIf optimizes the performance as it allows us to lazy-load the SecurityQuote components
      -->
      <div *ngIf="rowData.state.isExpanded" class="sat-securityTableRow__expandCanvas-content-spacing"></div>
      <div class="sat-securityTableRow__expandCanvas-content-label">
        <article
          *ngFor="let eachQuoteMetric of rowData.data.quoteHeaders; let metricIndex = index;"
          [ngClass]="{
            'sat-securityTableRowExpandViewLabel': true,
            'sat-securityTableRowExpandViewLabel--sizeTwo': eachQuoteMetric.isSizeTwo,
            'sat-securityTableRowExpandViewLabel--sizeThree': eachQuoteMetric.isSizeThree,
            'sat-securityTableRowExpandViewLabel--textOnly': !eachQuoteMetric.sortable,
            'sat-securityTableRowExpandViewLabel--first': metricIndex === 0,
            'sat-securityTableRowExpandViewLabel--last': metricIndex === rowData.data.quoteHeaders.length - 1
          }">
          <section *ngFor="let eachLabel of eachQuoteMetric.displayLabelList" class="sat-securityTableRowExpandViewLabel__content">
            <button
              (click)="onClickSortQuotesByMetric(eachQuoteMetric, eachLabel)"
              [ngClass]="{
                'sat-securityTableRowExpandViewLabel__content-cta': true,
                'sat-securityTableRowExpandViewLabel__content-cta--sortActive': rowData.state.expandViewSortByQuoteMetric === eachLabel,
                'santaBtn--small': true
              }">
              <span class="sat-securityTableRowExpandViewLabel__content-cta-text">{{eachLabel}}</span>
              <i class="sat-securityTableRowExpandViewLabel__content-cta-icon fal fa-sort-amount-down">
              </i>
            </button>
            <span class="sat-securityTableRowExpandViewLabel__content-text">{{eachLabel}}</span>
          </section>
        </article>
      </div>
      <ul *ngIf="rowData.state.isExpanded" class="sat-securityTableRow__expandCanvas-content-messageList">
        <security-quote
          *ngFor="let eachMessage of rowData.data.quotes"
          [messageData]="eachMessage">
        </security-quote>
      </ul>
      <div class="sat-securityTableRow__expandCanvas-content-ctas">
        <button (click)="onClickSelectForAnalysis()" class="sat-securityTableRow__expandCanvas-content-ctas-selectBtn santaBtn--labelled">
          <i class="fal fa-chart-line"></i>
          <span>Send to Analysis</span>
        </button>
        <button (click)="onClickCollapseExpandView()" class="sat-securityTableRow__expandCanvas-content-ctas-collapseBtn santaBtn--iconOnly fal fa-times"></button>
      </div>
    </div>
  </section>
</article>