<article
  (click)="onClickShortcut()"
  [ngClass]="{
    'sat-searchShortcut': true,
    'sat-searchShortcut--selectedState': shortcutData.state.isSelected,
    'sat-searchShortcut--userInputBlockedState': shortcutData.state.isUserInputBlocked,
    'sat-searchShortcut--previewVariant': shortcutData.state.isPreviewVariant,
    'sat-searchShortcut--hasHighlightTitle': shortcutData.data.highlightTitle.length > 0,
    'sat-searchShortcut--renameShortcutState': shortcutData.state.renameShortcutActive
  }">
  <section class="sat-searchShortcut__title">
    <span class="sat-searchShortcut__title-highlightText">{{shortcutData.data.highlightTitle}}</span>
    <span class="sat-searchShortcut__title-text">{{shortcutData.data.displayTitle}}</span>
    <santa-textarea
      class="sat-searchShortcut__title-input"
      [inputValue]="shortcutData.data.displayTitle"
      (onInputChange)="onChangeShortcutName($event, newName)">
    </santa-textarea>
  </section>
  <section class="sat-searchShortcut__configOverview">
    <ul class="sat-searchShortcut__configOverview-slotList">
      <li
        *ngFor="let eachSlot of shortcutData.style.slotList"
        [ngClass]="{
          'sat-searchShortcut__configOverview-slotList-item': true,
          'sat-searchShortcut__configOverview-slotList-item--filterActive': eachSlot?.state.filterActive,
          'sat-searchShortcut__configOverview-slotList-item--groupByActive': eachSlot?.state.groupByActive,
          'sat-searchShortcut__configOverview-slotList-item--empty': !eachSlot
        }">
        <div class="sat-searchShortcut__configOverview-slotList-item-filterActive">
          <i class="fal fa-filter"></i>
        </div>
        <security-definition
          *ngIf="!!eachSlot"
          [definitionData]="eachSlot"
          [backgroundVariant]="true">
        </security-definition>
        <span class="sat-searchShortcut__configOverview-slotList-item-label">{{eachSlot?.data.name}}</span>
      </li>
    </ul>
  </section>
</article>