<article
  [ngClass]="{
    'sat-securityDefinitionConfigurator': true,
    'sat-securityDefinitionConfigurator--filterActiveState': configuratorData.state.showFiltersFromDefinition,
    'sat-securityDefinitionConfigurator--highlightedVariant': highlightedVariant,
    'sat-securityDefinitionConfigurator--groupByDisabledState': configuratorData.state.groupByDisabled,
    'sat-securityDefinitionConfigurator--canApplyFilterState': configuratorData.state.canApplyFilter,
    'sat-securityDefinitionConfigurator--noMainCTAState': configuratorData.state.noMainCTA,
    'sat-securityDefinitionConfigurator--filterLongState': configuratorData.state.showFiltersFromDefinition?.state.isFilterLong,
    'sat-securityDefinitionConfigurator--filterShowingBICSConsolidatedState': configuratorData.state.showFiltersFromDefinition?.data.key === constants.map.BICS_CONSOLIDATED.key,
    'sat-securityDefinitionConfigurator--cappedFilterListState': configuratorData.state.showFiltersFromDefinition?.state.isFilterCapped
  }">
  <section class="sat-securityDefinitionConfigurator__definitions">
    <ul class="sat-securityDefinitionConfigurator__definitions-list">
      <li *ngFor="let eachLayoutSection of configuratorData.data.definitionList" class="sat-securityDefinitionConfigurator__definitions-list-section">
        <div class="sat-securityDefinitionConfigurator__definitions-list-section-label">
          <span class="sat-securityDefinitionConfigurator__definitions-list-section-label-text">{{eachLayoutSection.data.label}}</span>
          <div class="sat-securityDefinitionConfigurator__definitions-list-section-label-line"></div>
        </div>
        <div *ngFor="let eachDefinition of eachLayoutSection.data.list" class="sat-securityDefinitionConfigurator__definitions-list-section-item">
          <button
            (click)="selectDefinitionForGrouping(eachDefinition)"
            [ngClass]="{
              'sat-securityDefinitionConfigurator__definitions-list-section-item-selectBtn': true,
              'santaBtn--iconOnly': true,
              'fal': true,
              'fa-square': !eachDefinition.state.groupByActive && !eachDefinition.state.isLocked,
              'sat-securityDefinitionConfigurator__definitions-list-section-item-selectBtn--selected': eachDefinition.state.groupByActive,
              'fa-check-square': eachDefinition.state.groupByActive || eachDefinition.state.isLocked,
              'sat-securityDefinitionConfigurator__definitions-list-section-item-selectBtn--locked': eachDefinition.state.isLocked
            }"></button>
          <security-definition
            [definitionData]="eachDefinition"
            (onClick)="onClickDefinition($event)"
            [selected]="configuratorData.state.showFiltersFromDefinition === eachDefinition"
            [groupByDisabled]="configuratorData.state.groupByDisabled"
            [isPartOfConfiguratorList]="true">
          </security-definition>
        </div>
      </li>
    </ul>
  </section>
  <section class="sat-securityDefinitionConfigurator__filters">
    <div class="sat-securityDefinitionConfigurator__filters-content">
      <button (click)="onClickDefinition(configuratorData.state.showFiltersFromDefinition)" class="sat-securityDefinitionConfigurator__filters-content-closeBtn santaBtn--iconOnly fal fa-times"></button>
      <div class="sat-securityDefinitionConfigurator__filters-content-title">
        <security-definition
          [definitionData]="configuratorData.state.showFiltersFromDefinition"
          [heroVariant]="true">
        </security-definition>
      </div>
      <div class="sat-securityDefinitionConfigurator__filters-content-selectedListTitle">
        <span class="sat-securityDefinitionConfigurator__filters-content-selectedListTitle-highlightedText">{{configuratorData.state.showFiltersFromDefinition?.data.highlightSelectedOptionList?.length}}</span>
        <span class="sat-securityDefinitionConfigurator__filters-content-selectedListTitle-text">Selected</span>
      </div>
      <ul class="sat-securityDefinitionConfigurator__filters-content-optionList sat-securityDefinitionConfigurator__filters-content-optionList--selected">
        <button
          *ngFor="let eachOption of configuratorData.state.showFiltersFromDefinition?.data.highlightSelectedOptionList"
          (click)="onClickFilterOption(eachOption)"
          [ngClass]="{
            'sat-securityDefinitionConfigurator__filters-content-optionList-item': true,
            'sat-securityDefinitionConfigurator__filters-content-optionList-item--selected': eachOption.isSelected,
            'sat-securityDefinitionConfigurator__filters-content-optionList-item--filteredOut': eachOption.isFilteredOut
          }">
          {{eachOption.displayLabel}}
        </button>
      </ul>
      <div class="sat-securityDefinitionConfigurator__filters-content-search">
        <santa-input
          [inputValue]="configuratorData.data.filterSearchInputValue"
          [placeholder]="'search'"
          (onInputChange)="onSearchKeywordChange($event)">
        </santa-input>
        <span class="sat-securityDefinitionConfigurator__filters-content-search-results">
          <span class="sat-securityDefinitionConfigurator__filters-content-search-results-text">There are <span class="sat-securityDefinitionConfigurator__filters-content-search-results-text-amount">{{ configuratorData.state.showFiltersFromDefinition?.data.totalMatchingResults }}</span> {{ configuratorData.state.showFiltersFromDefinition?.data.name | lowercase }}s that match the keyword.
          </span>
        </span>
        <span class="sat-securityDefinitionConfigurator__filters-content-search-text">Displayed results are capped up to 100 matches. Type more to keep filtering.</span>
      </div>
      <div class="sat-securityDefinitionConfigurator__filters-content-bicsDiveIn">
        <div *ngFor="let eachLevel of configuratorData.state.showFiltersFromDefinition?.state.currentFilterPathInConsolidatedBICS; let eachIndex = index;" class="sat-securityDefinitionConfigurator__filters-content-bicsDiveIn-entry">
          <div class="sat-securityDefinitionConfigurator__filters-content-bicsDiveIn-entry-content">
            <div class="sat-securityDefinitionConfigurator__filters-content-bicsDiveIn-entry-content-text">Lv.{{eachIndex+1}} {{eachLevel}}</div>
            <button (click)="onClickConsolidatedBICSDiveOut(eachLevel, eachIndex)" class="sat-securityDefinitionConfigurator__filters-content-bicsDiveIn-entry-content-diveOutBtn santaBtn--iconOnly santaBtn--small fas fa-minus"></button>
          </div>
          <div class="sat-securityDefinitionConfigurator__filters-content-bicsDiveIn-entry-separator">
            <i class="far fa-arrow-down"></i>
          </div>
        </div>
      </div>
      <ul class="sat-securityDefinitionConfigurator__filters-content-optionList sat-securityDefinitionConfigurator__filters-content-optionList--regular">
        <button
          *ngFor="let eachOption of configuratorData.state.showFiltersFromDefinition?.data.displayOptionList"
          (click)="onClickFilterOption(eachOption)"
          [ngClass]="{
            'sat-securityDefinitionConfigurator__filters-content-optionList-item': true,
            'sat-securityDefinitionConfigurator__filters-content-optionList-item--selected': eachOption.isSelected,
            'sat-securityDefinitionConfigurator__filters-content-optionList-item--filteredOut': eachOption.isFilteredOut
          }">
          {{eachOption.displayLabel}}
        </button>
      </ul>
      <ul class="sat-securityDefinitionConfigurator__filters-content-consolidatedBICSList">
        <div
          *ngFor="let eachOption of configuratorData.state.showFiltersFromDefinition?.data.displayOptionList"
          [ngClass]="{
            'sat-securityDefinitionConfigurator__filters-content-consolidatedBICSList-item': true,
            'sat-securityDefinitionConfigurator__filters-content-consolidatedBICSList-item--selected': eachOption.isSelected,
            'sat-securityDefinitionConfigurator__filters-content-consolidatedBICSList-item--deepestLevel': eachOption.bicsLevel >= 4
          }">
          <button (click)="onClickConsolidatedBICSDiveIn(eachOption)" class="santaBtn--iconOnly sat-securityDefinitionConfigurator__filters-content-consolidatedBICSList-item-diveIn far fa-plus"></button>
          <button (click)="onClickFilterOption(eachOption)" class="sat-securityDefinitionConfigurator__filters-content-consolidatedBICSList-item-select">
            {{eachOption.displayLabel}}
          </button>
        </div>
      </ul>
    </div>
  </section>
  <section class="sat-securityDefinitionConfigurator__ctas">
    <div class="sat-securityDefinitionConfigurator__ctas-content">
      <santa-loadable-button
        class="sat-securityDefinitionConfigurator__ctas-content-regularSearch"
        (onClickButton)="triggerSearch()"
        [isLoading]="configuratorData.state.isLoading"
        [icon]="'fal fa-search-dollar'"
        [text]="'Search'">
      </santa-loadable-button>
      <santa-loadable-button
        class="sat-securityDefinitionConfigurator__ctas-content-selectedGroupSearch"
        (onClickButton)="triggerSearch()"
        [isLoading]="configuratorData.state.isLoading"
        [icon]="'fal fa-flashlight'"
        [text]="'Focus on Selected Groups'">
      </santa-loadable-button>
      <div class="sat-securityDefinitionConfigurator__ctas-content-filterApply">
        <button (click)="triggerApplyFilter()" class="sat-securityDefinitionConfigurator__ctas-content-filterApply-btn santaBtn--labelled santaBtn--inverseLabelled">
          <i class="fal fa-filter"></i>
          <span>Apply</span>
        </button>
      </div>
    </div>
  </section>
</article>