<article
  [ngClass]="{
    'sat-securityDefinitionConfigurator': true,
    'sat-securityDefinitionConfigurator--filterActiveState': configuratorData.state.showFiltersFromDefinition,
    'sat-securityDefinitionConfigurator--highlightedVariant': highlightedVariant,
    'sat-securityDefinitionConfigurator--filterShowingLongDefinitionState': configuratorData.state.showFiltersFromDefinition?.data.urlForGetLongOptionListFromServer && configuratorData.state.showFiltersFromDefinition?.data.filterOptionList.length === 0,
    'sat-securityDefinitionConfigurator--filterLoadingLongOptionListState': configuratorData.state.isLoadingLongOptionListFromServer,
    'sat-securityDefinitionConfigurator--groupByDisabledState': configuratorData.state.groupByDisabled,
    'sat-securityDefinitionConfigurator--canApplyFilterState': configuratorData.state.canApplyFilter,
    'sat-securityDefinitionConfigurator--noMainCTAState': configuratorData.state.noMainCTA
  }">
  <section class="sat-securityDefinitionConfigurator__definitions">
    <ul class="sat-securityDefinitionConfigurator__definitions-list">
      <li *ngFor="let eachLayoutSection of configuratorData.data.definitionList" class="sat-securityDefinitionConfigurator__definitions-list-section">
        <div class="sat-securityDefinitionConfigurator__definitions-list-section-label">
          <span class="sat-securityDefinitionConfigurator__definitions-list-section-label-text">{{eachLayoutSection.data.label}}</span>
          <div class="sat-securityDefinitionConfigurator__definitions-list-section-label-line"></div>
        </div>
        <div *ngFor="let eachDefinition of eachLayoutSection.data.list" class="sat-securityDefinitionConfigurator__definitions-list-section-item">
          <button
            (click)="selectDefinitionForGrouping(eachDefinition)"
            [ngClass]="{
              'sat-securityDefinitionConfigurator__definitions-list-section-item-selectBtn': true,
              'santaBtn--iconOnly': true,
              'fal': true,
              'fa-square': !eachDefinition.state.groupByActive && !eachDefinition.state.isLocked,
              'sat-securityDefinitionConfigurator__definitions-list-section-item-selectBtn--selected': eachDefinition.state.groupByActive,
              'fa-check-square': eachDefinition.state.groupByActive || eachDefinition.state.isLocked,
              'sat-securityDefinitionConfigurator__definitions-list-section-item-selectBtn--locked': eachDefinition.state.isLocked
            }"></button>
          <security-definition
            [definitionData]="eachDefinition"
            (onClick)="onClickDefinition($event)"
            [selected]="configuratorData.state.showFiltersFromDefinition === eachDefinition"
            [interactionDisabled]="configuratorData.state.isLoadingLongOptionListFromServer"
            [groupByDisabled]="configuratorData.state.groupByDisabled"
            [isPartOfConfiguratorList]="true">
          </security-definition>
        </div>
      </li>
    </ul>
  </section>
  <section class="sat-securityDefinitionConfigurator__filters">
    <div class="sat-securityDefinitionConfigurator__filters-content">
      <button (click)="onClickDefinition(configuratorData.state.showFiltersFromDefinition)" class="sat-securityDefinitionConfigurator__filters-content-closeBtn santaBtn--iconOnly fal fa-times"></button>
      <div class="sat-securityDefinitionConfigurator__filters-content-title">
        <security-definition
          [definitionData]="configuratorData.state.showFiltersFromDefinition"
          [heroVariant]="true">
        </security-definition>
      </div>
      <div class="sat-securityDefinitionConfigurator__filters-content-search">
        <santa-input
          [inputValue]="configuratorData.data.filterSearchInputValue"
          [placeholder]="'search'"
          (onInputChange)="onSearchKeywordChange($event)">
        </santa-input>
      </div>
      <santa-loadable-button
        class="sat-securityDefinitionConfigurator__filters-content-loadLongOptionCta"
        (onClickButton)="onClickLoadLongOptionListForDefinition(configuratorData.state.showFiltersFromDefinition)"
        [isLoading]="configuratorData.state.isLoadingLongOptionListFromServer"
        [columnLayout]="true"
        [icon]="'fal fa-cloud-download'"
        [text]="'Load Options'">
      </santa-loadable-button>
      <ul class="sat-securityDefinitionConfigurator__filters-content-optionList">
        <button
          *ngFor="let eachOption of configuratorData.state.showFiltersFromDefinition?.data.filterOptionList"
          (click)="onClickFilterOption(eachOption)"
          [ngClass]="{
            'sat-securityDefinitionConfigurator__filters-content-optionList-item': true,
            'sat-securityDefinitionConfigurator__filters-content-optionList-item--selected': eachOption.isSelected,
            'sat-securityDefinitionConfigurator__filters-content-optionList-item--filteredOut': eachOption.isFilteredOut
          }">
          {{eachOption.displayLabel}}
        </button>
      </ul>
    </div>
  </section>
  <section class="sat-securityDefinitionConfigurator__ctas">
    <div class="sat-securityDefinitionConfigurator__ctas-content">
      <santa-loadable-button
        class="sat-securityDefinitionConfigurator__ctas-content-regularSearch"
        (onClickButton)="triggerSearch()"
        [isLoading]="configuratorData.state.isLoading"
        [icon]="'fal fa-search-dollar'"
        [text]="'Search'">
      </santa-loadable-button>
      <santa-loadable-button
        class="sat-securityDefinitionConfigurator__ctas-content-selectedGroupSearch"
        (onClickButton)="triggerSearch()"
        [isLoading]="configuratorData.state.isLoading"
        [icon]="'fal fa-flashlight'"
        [text]="'Focus on Selected Groups'">
      </santa-loadable-button>
      <div class="sat-securityDefinitionConfigurator__ctas-content-filterApply">
        <button (click)="triggerApplyFilter()" class="sat-securityDefinitionConfigurator__ctas-content-filterApply-btn santaBtn--labelled santaBtn--inverseLabelled">
          <i class="fal fa-filter"></i>
          <span>Apply Filter</span>
        </button>
      </div>
    </div>
  </section>
</article>