@keyframes stencilPulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}

@keyframes presentSecurityGroupPieChart {
  0%, 50% {
    transform: rotate(180deg) scale(0.01);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}