@import "global.scss";
@import "modules/trade/trade.scss";

$historicalSummary_overlayCanvas_ruler_line_width: 0.2rem;
.sat-historicalSummary {
  $historicalSummaryBlockName: &;
  @include mix_fixed_div(relative, $z_index_standard_base_item);
  flex: 1 1 auto;
  display: flex;
  &__overlayCanvas {
    @include mix_fixed_div(absolute, $z_index_standard_tooltip);
    top: 0;
    left: 0;
    height: 100%;
    display: none;
    &-ruler {
      display: flex;
      flex-direction: column;
      &-value {
        @include mix_border_radius(3px);
        padding: $spacing_x_small;
        background-color: $color_blue_5;
        color: $font_color_inverse;
      }
      &-line {
        flex: 1 1 auto;
        @include mix_border_generator(0 0 0 $historicalSummary_overlayCanvas_ruler_line_width, $color_blue_5);
        border-style: dotted;
      }
    }
  }
  &__list {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    &-item {
      padding: 0 $spacing_x_small;
    }
  }
  &:hover {
    #{$historicalSummaryBlockName} {
      &__overlayCanvas {
        display: flex;
      }
    }
  }
}