<article class="sat-tradeMarketAnalysisPanel">
  <section class="sat-tradeMarketAnalysisPanel__visualizer">
    <div class="sat-tradeMarketAnalysisPanel__visualizer-ctas">
      <button
        *ngFor="let eachOption of state.quantVisualizer.groupByOptions"
        (click)="onClickGroupByOption(eachOption)"
        [ngClass]="{
          'sat-tradeMarketAnalysisPanel__visualizer-ctas-btn': true,
          'sat-tradeMarketAnalysisPanel__visualizer-ctas-btn--selected': eachOption.state.groupByActive
        }">
        {{eachOption.data.name}}
      </button>
    </div>
    <div class="sat-tradeMarketAnalysisPanel__visualizer-main">
      <quantitative-visualizer *ngIf="state.quantVisualizer.dto" [visualizerData]="state.quantVisualizer.dto"></quantitative-visualizer>
    </div>
  </section>
  <section class="sat-tradeMarketAnalysisPanel__table">
    
  </section>
</article>