@import "global.scss";

.sat-tradeLiveGraphPanel {
  $tradeLiveGraphPanelBlockName: &;
  @include mix_border_generator;
  @include mix_border_radius(10px);
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: $color_white;
  &__underConstruction {
    font-size: $font_size_hero_x_large;
    color: $font_color_trivial;
  }
}