@import "global.scss";

.sat-tradeMarketAnalysisPanel {
  $tradeMarketAnalysisPanelBlockName: &;
  @include mix_border_generator;
  @include mix_border_radius(10px);
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__overview {
  }
  &__table {
    @include mix_fixed_div(relative, $z_index_standard_base_item);
    @include mix_enable_scrollbar('vertical');
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    padding: $spacing_medium;
    &-securityList {
      flex: 1 1 auto;
    }
    &-levelColumn, &-basisColumn {
      flex: 0 0 33.33%;
      display: flex;
      historical-summary {
        flex: 1 1 auto;
        display: flex;
      }
    }
    &-separator {
      @include mix_border_generator(0 0 0 $typical_border_width);
      margin-left: $spacing_small;
      padding-left: $spacing_small;
    }
  }
  &--hasSecurityState {
    #{$tradeMarketAnalysisPanelBlockName} {
    }
  }
}