@import "global.scss";
@import "modules/trade/trade.scss";

$tradeAlertAxeAlertConfiguration_singleSecurities_watchList_width: 67%;
.sat-tradeAlertAxeAlertConfiguration {
  $axeAlertConfigurationBlockName: &;
  display: flex;
  flex-direction: column;
  &__singleSecurities {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
    &-watchList {
      @include mix_border_generator(0 $typical_border_width 0 0);
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      margin-right: $spacing_medium;
      padding-right: $spacing_medium;
      &-securityList {
        @include mix_enable_scrollbar('vertical');
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding-right: $spacing_medium;
        &-item {
          @include mix_fixed_div(relative, $z_index_base_item);
          flex: 0 1 auto;
          display: flex;
          align-items: center;
          margin-top: $spacing_small;
          &-newTag {
            @include mix_border_radius(3px);
            flex: 0 0 auto;
            display: none;
            align-items: center;
            margin-right: $spacing_small;
            padding: $spacing_xx_small $spacing_x_small;
            background-color: $color_highlight;
            &>i {
              color: $font_color_inverse;
              margin-right: $spacing_x_small;
            }
            &>span {
              color: $font_color_inverse;
            }
          }
          &-disableTag {
            @include mix_border_radius(3px);
            flex: 0 0 auto;
            display: none;
            align-items: center;
            margin-right: $spacing_small;
            padding: $spacing_xx_small $spacing_x_small;
            background-color: $color_disabled;
            &>i {
              color: $font_color_inverse;
              margin-right: $spacing_x_small;
            }
            &>span {
              color: $font_color_inverse;
            }
          }
          security-card {
            flex: 1 1 auto;
          }
          &-btnGroup {
            flex: 0 0 auto;
            margin-left: $spacing_medium;
            &-btn {
              &--selected {
                @include material('none');
                background-color: $color_active;
                color: $font_color_inverse;
              }
            }
          }
          numeric-filter {
            flex: 0 0 9.25rem;
            margin-left: $spacing_medium;
          }
          &-disableBtn, &-urgentBtn {
            flex: 0 0 auto;
            margin-left: $spacing_medium;
            color: $font_color_major;
          }
          &-removeBtn {
            flex: 0 0 auto;
            margin-left: $spacing_medium;
            background-color: $color_kill;
            color: $font_color_inverse;
          }
          &--deleted {
            display: none;
          }
          &--disabled {
            #{$axeAlertConfigurationBlockName} {
              &__singleSecurities-watchList-securityList-item {
                &-disableTag {
                  display: flex;
                }
                &-btnGroup {
                  &-btn {
                    @include material('none');
                    background-color: $color_disabled;
                    &--selected {
                      background-color: $color_active;
                    }
                  }
                }
                &-disableBtn {
                  @include material('none');
                  background-color: $color_active;
                  color: $font_color_inverse;
                }
              }
            }
          }
          &--urgent {
            #{$axeAlertConfigurationBlockName} {
              &__singleSecurities-watchList-securityList-item {
                &-urgentBtn {
                  @include material('none');
                  background-color: $color_active;
                  color: $font_color_inverse;
                }
              }
            }
          }
          &--new {
            #{$axeAlertConfigurationBlockName} {
              &__watchList-securityList-item {
                &-newTag {
                  display: flex;
                }
              }
            }
          }
        }
      }
    }
    &-search {
      flex: 0 0 28rem;
      display: flex;
      flex-direction: column;
      &-utility {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        &-label {
          flex: 0 0 auto;
          font-size: $font_size_normal;
          color: $font_color_major;
          margin-right: $spacing_medium;
        }
        santa-input {
          flex: 1 1 auto;
        }
      }
      &-result {
        @include mix_enable_scrollbar('vertical');
        flex: 1 1 auto;
        display: none;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        padding-left: $spacing_small;
        padding-bottom: $spacing_large;
        &-item {
          flex: 1 1 100%;
          margin-top: $spacing_small;
          margin-right: $spacing_small;
        }
      }
      &-prompt {
        @include mix_border_radius(10px);
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        padding: $spacing_medium;
        margin-top: $spacing_medium;
        &-line {
          display: flex;
          &-text {
            color: $font_color_major;
            font-size: $font_size_normal;
          }
          &-highlightText {
            @include mix_border_radius(3px);
            margin: 0 $spacing_small;
            background-color: $color_active;
            color: $font_color_inverse;
            padding: 0 $spacing_x_small;
            font-size: $font_size_normal;
          }
        }
        &-more {
          display: flex;
          flex-direction: column;
          margin-top: $spacing_small;
          &-text {
            font-size: $font_size_normal;
            color: $font_color_major;
          }
        }
      }
    }
  }
  &--showSearchResult {
    #{$axeAlertConfigurationBlockName} {
      &__singleSecurities {
        &-search {
          &-result {
            display: flex;
          }
          &-prompt {
            display: none;
          }
        }
      }
    }
  }
}

$tradeAlertPanel_overview_tabIndicate_width: 7rem;
.sat-tradeAlertPanel {
  $tradeAlertPanelBlockName: &;
  @include mix_border_generator;
  @include mix_border_radius(10px);
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background-color: $tradePageBackground;
  overflow: hidden;
  &__overview {
    @include mix_fixed_div(relative, $z_index_base_item);
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: $spacing_x_small 0;
    &-tabIndicate {
      @include mix_fixed_div(absolute, $z_index_base_item_solid);
      @include mix_alive('custom', transform $animation_duration_light);
      padding: 0 $spacing_medium;
      width: $tradeAlertPanel_overview_tabIndicate_width;
      &-icon {
        color: $font_color_trivial;
        font-size: $font_size_xxx_large;
      }
    }
    &-tabList {
      flex: 0 0 auto;
      display: flex;
      margin-left: $tradeAlertPanel_overview_tabIndicate_width;
      &-tab {
        @include mix_border_radius(10px, 'top');
        margin-left: $spacing_medium;
        &-cta {
          @include mix_border_radius(5px);
          @include mix_border_generator;
          @include mix_alive('light');
          display: flex;
          align-items: center;
          padding: 0 $spacing_medium;
          height: 2.25rem;
          &-icon {
            margin-right: $spacing_small;
            font-size: $font_size_normal;
            color: $color_disabled;
          }
          &-regText {
            color: $font_color_minor;
            user-select: none;
          }
          &-countText {
            @include mix_border_radius(3px);
            margin: 0 $spacing_x_small;
            padding: $spacing_minimum $spacing_x_small;
            font-size: $font_size_x_small;
            color: $color_disabled;
            user-select: none;
          }
          &-newAlertsCount {
            @include mix_border_radius(3px);
            margin-left: $spacing_small;
            padding: $spacing_xx_small $spacing_x_small;
            font-size: $font_size_x_small;
            color: $font_color_inverse;
            background-color: $color_active;
            user-select: none;
          }
        }
      }
    }
    &-keywordSearch {
      @include mix_border_radius(5px);
      flex: 0 1 25rem;
      display: flex;
      align-items: center;
      margin: 0 $spacing_medium;
      visibility: hidden; // still needs it to retain the container's height
      &-activeIcon {
        font-size: $font_size_x_large;
        color: $font_color_major;
        margin: 0 $spacing_small;
      }
      santa-input {
        flex: 1 1 auto;
        margin: $spacing_small $spacing_small $spacing_small 0;
      }
    }
    &-configureCTA {
      margin-left: auto;
      margin-right: $spacing_medium;
    }
  }
  &__main {
    @include mix_alive('normal');
    @include mix_border_radius(10px);
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
    &-table {
      flex: 1 1 auto;
      display: none;
      flex-direction: column;
      overflow: hidden;
      santa-table {
        flex: 1 1 auto;
        display: flex;
        overflow: hidden;
      }
    }
  }
  &__configuration {
    flex: 1 1 auto;
    display: none;
    overflow: hidden;
    &-main {
      flex: 1 1 auto;
      display: flex;
      overflow: hidden;
      margin: 0 0 $spacing_medium $spacing_medium;
      &-axeConfig {
        @include mix_border_radius(5px, 'all-but-top-left');
        flex: 1 1 auto;
        display: flex;
        padding: $spacing_small;
      }
    }
    &-ctas {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      &-save {
        margin: $spacing_medium;
        background-color: $color_create;
        padding: $spacing_small $spacing_medium;
        i {
          font-size: $font_size_x_large;
          color: $font_color_inverse;
        }
        span {
          font-size: $font_size_large;
          color: $font_color_inverse;
        }
      }
    }
  }
  &--keywordSearchActiveState {
    #{$tradeAlertPanelBlockName} {
      &__overview {
        &-keywordSearch {
          background-color: $color_filter;
          &-activeIcon {
            color: $font_color_inverse;
          }
        }
      }
    }
  }
  &--configureAlertState {
    #{$tradeAlertPanelBlockName} {
      &__overview {
        &-configureCTA {
          &>button {
            @include material('none');
            background-color: $color_active;
            @extend .santaBtn--inverseLabelled;
          }
        }
      }
      &__main {
        flex: 0 0 auto;
      }
      &__configuration {
        display: flex;
      }
    }
  }
  &--alertReadyState {
    #{$tradeAlertPanelBlockName} {
      &__overview {
        &-tabList {
          &-tab {
            &-cta {
              @include material();
              border: none;
              background-color: $color_white;
              &-regText {
                color: $font_color_minor;
              }
              &-countText {
                color: $font_color_inverse;
                background-color: $color_active;
              }
            }
            &--axe {
              #{$tradeAlertPanelBlockName} {
                &__overview-tabList-tab-cta {
                  background-color: $tradeAxeAlertColor;
                  &-icon, &-regText {
                    color: $font_color_inverse;
                  }
                }
              }
            }
            &--marketList {
              #{$tradeAlertPanelBlockName} {
                &__overview-tabList-tab-cta {
                  background-color: $tradeAxeAlertColor;
                  &-icon, &-regText {
                    color: $font_color_inverse;
                  }
                }
              }
            }
            &--mark {
              #{$tradeAlertPanelBlockName} {
                &__overview-tabList-tab-cta {
                  background-color: $tradeMarkAlertColor;
                  &-icon, &-regText {
                    color: $font_color_inverse;
                  }
                }
              }
            }
            &--trade {
              #{$tradeAlertPanelBlockName} {
                &__overview-tabList-tab-cta {
                  background-color: $tradeTradeAlertColor;
                  &-icon, &-regText {
                    color: $font_color_inverse;
                  }
                }
              }
            }
            &--empty {
              #{$tradeAlertPanelBlockName} {
                &__overview-tabList-tab-cta {
                  @include material('none');
                  @include mix_border_generator;
                  background-color: transparent;
                  &-icon {
                    color: $color_disabled;
                  }
                  &-regText {
                    color: $font_color_minor;
                  }
                  &-countText {
                    background-color: transparent;
                    color: $color_disabled;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &--scopeAllAlertsState {
    #{$tradeAlertPanelBlockName} {
      &__overview {
        &-tabIndicate-icon {
          color: $font_color_major;
        }
        &-tabList-tab--all {
          #{$tradeAlertPanelBlockName} {
            &__overview-tabList-tab-cta {
              @include material('none');
              background-color: $color_active;
              &-regText {
                color: $font_color_inverse;
              }
            }
          }
        }
      }
    }
  }
  &--scopeAxeAlertsState {
    border-color: $tradeAxeAlertColor;
    background-color: $tradeAxeAlertBackgroundColor;
    #{$tradeAlertPanelBlockName} {
      &__overview {
        &-tabIndicate {
          transform: translate(0.5rem, 0);
          &-icon {
            color: $tradeAxeAlertColor;
          }
        }
        &-tabList-tab--axe {
          #{$tradeAlertPanelBlockName} {
            &__overview-tabList-tab-cta {
              @include material('none');
              background-color: $color_active;
              &-countText {
                background-color: $color_white;
                color: $color_active;
              }
            }
          }
        }
      }
    }
  }
  &--scopeMarketListAlertsState {
    border-color: $tradeAxeAlertColor;
    background-color: $tradeAxeAlertBackgroundColor;
    #{$tradeAlertPanelBlockName} {
      &__overview {
        &-tabIndicate {
          transform: translate(1rem, 0);
          &-icon {
            color: $tradeAxeAlertColor;
          }
        }
        &-tabList-tab--marketList {
          #{$tradeAlertPanelBlockName} {
            &__overview-tabList-tab-cta {
              @include material('none');
              background-color: $color_active;
              &-countText {
                background-color: $color_white;
                color: $color_active;
              }
            }
          }
        }
      }
    }
  }
  &--scopeMarkAlertsState {
    border-color: $tradeMarkAlertColor;
    background-color: $tradeMarkAlertBackgroundColor;
    #{$tradeAlertPanelBlockName} {
      &__overview {
        &-tabIndicate {
          transform: translate(1.5rem, 0);
          &-icon {
            color: $tradeMarkAlertColor;
          }
        }
        &-tabList-tab--mark {
          #{$tradeAlertPanelBlockName} {
            &__overview-tabList-tab-cta {
              @include material('none');
              background-color: $color_active;
              &-countText {
                background-color: $color_white;
                color: $color_active;
              }
            }
          }
        }
      }
    }
  }
  &--scopeTradeAlertsState {
    border-color: $tradeTradeAlertColor;
    background-color: $tradeTradeAlertBackgroundColor;
    #{$tradeAlertPanelBlockName} {
      &__overview {
        &-tabIndicate {
          transform: translate(2rem, 0);
          &-icon {
            color: $tradeTradeAlertColor;
          }
        }
        &-tabList-tab--trade {
          #{$tradeAlertPanelBlockName} {
            &__overview-tabList-tab-cta {
              @include material('none');
              background-color: $color_active;
              &-countText {
                background-color: $color_white;
                color: $color_active;
              }
            }
          }
        }
      }
    }
  }
  &--displayAlertTableState {
    #{$tradeAlertPanelBlockName} {
      &__overview {
        &-keywordSearch {
          visibility: visible;
        }
      }
      &__main {
        padding: $spacing_medium;
        margin: -$spacing_small $spacing_medium $spacing_medium $spacing_medium;
        &-table {
          display: flex;
        }
      }
    }
  }
}