@import "global.scss";

.sat-tradeCenterPanel {
  $tradeCenterPanelBlockName: &;
  @include mix_border_generator;
  @include mix_border_radius(10px);
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: $spacing_medium;
  &__quickFilters {
    display: flex;
    flex-direction: column;
    &-row {
      display: flex;
      margin-bottom: $spacing_medium;
      &-label {
        color: $font_color_minor;
        font-size: $font_size_large;
        margin-right: $spacing_medium;
      }
      &-btn {
        margin-right: $spacing_medium;
        &--active {
          @include material('none');
          background-color: $color_active;
        }
      }
    }
  }
  &__table {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    security-table {
      display: flex;
      overflow: hidden;
    }
  }
}