@import "global.scss";
@import "modules/trade/trade.scss";

$tradeCenterPanel_presetsAndFilters_presets_title_height: 6rem;
$tradeCenterPanel_presetsAndFilters_presets_categoryCanvas_ribbon_width: 10rem;
$tradeCenterPanel_presetsAndFilters_presets_categoryCanvas_list_margin_left: $spacing_x_large + $tradeCenterPanel_presetsAndFilters_presets_categoryCanvas_ribbon_width - 6rem;
$tradeCenterPanel_presetsAndFilters_presets_shortcutCanvas_left_indent: -5rem;
$tradeCenterPanel_presetsAndFilters_configurator_backBtn_size: 5.5rem;
.sat-tradeCenterPanel {
  $tradeCenterPanelBlockName: &;
  @include mix_border_generator;
  @include mix_border_radius(10px);
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  &__presetsAndFilters {
    @include mix_fixed_div(relative, $z_index_base_item);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &-presets {
      @include mix_fixed_div(absolute, $z_index_base_item);
      @include mix_alive('custom', transform $animation_duration_light);
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      transform: translate(0, 0);
      overflow: hidden;
      &-title {
        flex: 0 0 $tradeCenterPanel_presetsAndFilters_presets_title_height;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $spacing_small;
        &-text {
          text-align: center;
          font-size: $font_size_x_large;
          color: $font_color_minor;
        }
      }
      &-content {
        flex: 1 1 auto;
        display: flex;
        overflow: hidden;
        &-categoryCanvas {
          @include mix_fixed_div(relative, $z_index_base_item_solid);
          @include mix_alive('custom', transform $animation_duration_normal);
          flex: 0 0 auto;
          display: flex;
          transform: translate(0, 100%);
          &-ribbon {
            @include mix_fixed_div(absolute, $z_index_base_item);
            @include mix_border_radius(25px, 'top');
            // @include mix_gradient($color_gray_85, $color_gray_7, 60%, 65deg);
            top: 0;
            left: $spacing_x_large;
            width: $tradeCenterPanel_presetsAndFilters_presets_categoryCanvas_ribbon_width;
            height: 100%;
            background-color: $color_gray_85;
          }
          &-list {
            @include mix_fixed_div(relative, $z_index_base_item_solid);
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: $spacing_medium 0 $spacing_medium $tradeCenterPanel_presetsAndFilters_presets_categoryCanvas_list_margin_left;
            overflow: hidden;
            &-item {
              @include mix_alive('light');
              display: flex;
              padding: $spacing_medium $spacing_x_large $spacing_medium $spacing_medium;
              transform: translate(-100%, 0);
              transition-delay: $animation_duration_normal;
              &-btn {
                @include mix_border_radius(15px);
                flex: 1 1 auto;
                padding: $spacing_medium;
                margin-bottom: $spacing_large;
                &>i {
                  font-size: $font_size_xx_large;
                }
                &>span {
                  font-size: $font_size_x_large;
                }
                &:hover {
                  transform: translate($spacing_medium, 0);
                }
                &--recent {
                  background-color: $color_teal_7_A;
                }
                &--portfolio {
                  background-color: $color_blue_5;
                }
                &--ownership {
                  background-color: $color_yellow_7;
                }
                &--strategy {
                  background-color: $color_deeppurple_1_A;
                }
                &--individual {
                  background-color: $color_pink_3;
                }
                &--selected {
                  @include material('none');
                  background-color: $color_active;
                }
              }
            }
          }
        }
        &-shortcutCanvas {
          flex: 1 1 auto;
          display: flex;
          flex-direction: column;
          &-list {
            @include mix_fixed_div(relative, $z_index_base_item);
            @include mix_alive('light');
            @include mix_enable_scrollbar('both');
            @include mix_border_radius(15px);
            flex: 0 0 75%;
            display: flex;
            visibility: hidden;
            flex-wrap: wrap;
            align-content: flex-start;
            background-color: $color_active;
            padding: $spacing_medium 0 $spacing_medium $spacing_x_large;
            margin-top: 0;
            margin-left: $tradeCenterPanel_presetsAndFilters_presets_shortcutCanvas_left_indent;
            margin-right: $spacing_large;
            opacity: 0;
            transform: translate(-15%, 0);
            max-width: 64rem;
            &-item {
              @include mix_alive('light');
              flex: 0 1 33.33%;
              display: flex;
              padding: $spacing_x_small $spacing_medium $spacing_medium 0;
              search-shortcut {
                display: flex;
                flex: 1 1 auto;
              }
              &--major {
                flex: 0 1 50%;
              }
              &--hero {
                flex: 0 1 100%;
              }
            }
            &--showingFirst {
              top: 0;
            }
            &--showingSecond {
              top: 5%
            }
            &--showingThird {
              top: 10%
            }
            &--showingFourth {
              top: 15%
            }
            &--showingFifth {
              top: 20%;
            }
          }
        }
      }
    }
    &-configurator {
      @include mix_fixed_div(absolute, $z_index_base_item);
      @include mix_alive('custom', opacity $animation_duration_light, transform $animation_duration_light);
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      transform: translate(100%, 0);
      &-backBtn {
        margin: $spacing_medium $spacing_medium $spacing_large $spacing_medium;
        &>i {
          margin-left: $spacing_small;
          margin-right: 0;
        }
      }
      security-definition-configurator {
        @include mix_calculate(height, 100%, $tradeCenterPanel_presetsAndFilters_configurator_backBtn_size, '-');
        display: flex;
      }
    }
  }
  &__result {
    flex: 1 1 auto;
    display: none;
    flex-direction: column;
    overflow: hidden;
    padding: $spacing_medium;
    &-utilities {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: $spacing_small;
      &-keywordSearch {
        @include mix_border_radius(5px);
        flex: 0 1 25rem;
        display: flex;
        align-items: center;
        margin-right: $spacing_medium;
        &-activeIcon {
          font-size: $font_size_x_large;
          color: $font_color_major;
          margin: 0 $spacing_small;
        }
        santa-input {
          flex: 1 1 auto;
          margin: $spacing_x_small $spacing_x_small $spacing_x_small 0;
        }
      }
      &-driver {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        &-label {
          flex: 0 0 auto;
          color: $font_color_minor;
          font-size: $font_size_large;
          margin-right: $spacing_small;
        }
        &-btn {
          @include mix_border_radius(5px);
          &--active {
            @include material('none');
            @extend .santaBtn--inverseLabelled;
            background-color: $color_active;
          }
        }
      }
    }
    &-errorPrompt {
      @include mix_border_radius(10px);
      flex: 0 1 auto;
      display: none;
      flex-direction: column;
      align-items: center;
      background-color: $color_red_1;
      padding: $spacing_large;
      margin: $spacing_small 0;
      &-icon {
        font-size: $font_size_xxxx_large;
        color: $color_kill;
      }
      &-title {
        text-align: center;
        font-size: $font_size_xx_large;
        color: $color_kill;
        margin: $spacing_large 0;
      }
      &-errorText {
        text-align: center;
        font-size: $font_size_large;
        color: $font_color_major;
        margin-bottom: $spacing_medium;
      }
      &-btn {
        margin-top: $spacing_medium;
      }
    }
    &-table {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      santa-table {
        flex: 1 1 auto;
        display: flex;
        overflow: hidden;
      }
    }
  }
  &--keywordSearchActiveState {
    #{$tradeCenterPanelBlockName} {
      &__result {
        &-utilities-keywordSearch {
          background-color: $color_filter;
          &-activeIcon {
            color: $font_color_inverse;
          }
        }
      }
    }
  }
  &--boostConfiguratorState {
    #{$tradeCenterPanelBlockName} {
      &__presetsAndFilters {
        @include mix_fixed_div(relative, $z_index_tooltip);
      }
    }
  }
  &--fetchDataFailedState {
    #{$tradeCenterPanelBlockName} {
      &__result {
        &-errorPrompt {
          display: flex;
        }
      }
    }
  }
  &--presetCategorySelectedState {
    #{$tradeCenterPanelBlockName} {
      &__presetsAndFilters {
        &-presets-content-shortcutCanvas-list {
          opacity: 1;
          visibility: visible;
          transform: translate(0, 0);
        }
      }
    }
  }
  &--presetSelectedState {
    #{$tradeCenterPanelBlockName} {
      &__presetsAndFilters {
        flex: 0 0 9rem;
        overflow: visible;
        &-presets {
          transform: translate(-100%, 0);
        }
        &-configurator {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
      &__result {
        display: flex;
      }
    }
  }
  &--presetReadyState {
    #{$tradeCenterPanelBlockName} {
      &__presetsAndFilters {
        &-presets-content-categoryCanvas {
          transform: translate(0, 0);
          &-list-item {
            transform: translate(0, 0);
          }
        }
      }
    }
  }
  &--focusMode {
    border: none;
    #{$tradeCenterPanelBlockName} {
      &__presetsAndFilters {
        display: none;
      }
      &__result {
        padding-top: 0;
        &-utilities {
          padding: $spacing_xx_small;
          &-keywordSearch {
            padding-left: 0;
          }
          &-focusMode {
            &-cta {
              @extend .santaBtn--inverseLabelled;
              @include material('none');
              background-color: $color_active;
            }
          }
        }
      }
    }
  }
}