@import "global.scss";

.sat-tradeObligorGraphPanel {
  $tradeObligorGraphPanelBlockName: &;
  @include mix_border_generator;
  @include mix_border_radius(10px);
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__graphSettings {
    display: flex;
    flex-direction: column;
    margin: $spacing_small;
    align-content: center;
    &-markValue {
      display: flex;
      &-text {
        padding-top: $spacing_x_small;
        text-align: center;
        align-content: center;
      }
      &-btnQuantity{
        margin-left: $spacing_small;
        &--selected {
          margin-left: $spacing_small;
          @include material('none');
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
      &-btnCS01{
        &--selected {
          @include material('none');
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
    }
    &-metricValue {
      display: flex;
      &-text {
        padding-left: $spacing_small;
        padding-top: $spacing_x_small;
        text-align: center;
        align-content: center;
      }
      &-btnSpread{
        margin-left: $spacing_small;
        &--selected {
          margin-left: $spacing_small;
          @include material('none');
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
      &-btnYield{
        &--selected {
          @include material('none');
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
    }
  }
  &__title {
    display: flex;
    text-align:center;
    align-content: center;
    justify-content: center;
  }
  &__obligorGraph {
    flex: 1 1 auto;
    align-content: center;
    justify-content: center;
  }
}

