@import "global.scss";

$tradeCenterPanel_preset_height: 8rem;
.sat-tradeCenterPanel {
  $tradeCenterPanelBlockName: &;
  @include mix_border_generator;
  @include mix_border_radius(10px);
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  &__presetsAndFilters {
    flex: 0 0 $securityDefinitionConfigurator_width + $spacing_medium;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &-presets {
      @include mix_alive('normal');
      flex: 0 0 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      &-title {
        padding: $spacing_small;
        text-align: center;
        font-size: $font_size_large;
        color: $font_color_minor;
      }
      &-list {
        @include mix_enable_scrollbar('vertical');
        display: flex;
        flex-direction: column;
        &-item {
          @include mix_alive('light');
          flex: 0 0 auto;
          display: flex;
          padding: $spacing_x_small $spacing_medium $spacing_medium $spacing_medium;
          overflow: hidden;
          height: $tradeCenterPanel_preset_height;
          search-shortcut {
            display: flex;
            flex: 1 1 auto;
          }
        }
      }
    }
    &-configurator {
      @include mix_alive('custom', opacity $animation_duration_light);
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      opacity: 0;
      transition-delay: 0.5s;
      overflow: hidden;
      padding: 0 0 $spacing_medium $spacing_medium;
      &-title {
        padding-top: $spacing_large;
        text-align: center;
        font-size: $font_size_large;
        color: $font_color_minor;
      }
      security-definition-configurator {
        flex: 1 1 auto;
        display: flex;
        overflow: hidden;
      }
    }
  }
  &__result {
    flex: 1 1 auto;
    display: none;
    flex-direction: column;
    overflow: hidden;
    padding: $spacing_medium $spacing_medium $spacing_medium 0;
    &-quickFilters {
      display: flex;
      &-row {
        display: flex;
        align-items: center;
        margin-bottom: $spacing_medium;
        margin-right: $spacing_medium;
        &-label {
          color: $font_color_minor;
          font-size: $font_size_large;
          margin-right: $spacing_medium;
        }
        &-btn {
          margin-right: $spacing_medium;
          &--active {
            @include material('none');
            @extend .santaBtn--inverseLabelled;
            background-color: $color_active;
          }
        }
      }
    }
    &-errorPrompt {
      @include mix_border_radius(10px);
      flex: 0 1 auto;
      display: none;
      flex-direction: column;
      align-items: center;
      background-color: $color_red_1;
      padding: $spacing_large;
      margin: $spacing_small 0;
      &-icon {
        font-size: $font_size_xxxx_large;
        color: $color_kill;
      }
      &-title {
        text-align: center;
        font-size: $font_size_xx_large;
        color: $color_kill;
        margin: $spacing_large 0;
      }
      &-errorText {
        text-align: center;
        font-size: $font_size_large;
        color: $font_color_major;
      }
    }
    &-table {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      security-table {
        display: flex;
        overflow: hidden;
      }
    }
  }
  &--fetchDataFailedState {
    #{$tradeCenterPanelBlockName} {
      &__result {
        &-errorPrompt {
          display: flex;
        }
      }
    }
  }
  &--presetSelectedState {
    #{$tradeCenterPanelBlockName} {
      &__presetsAndFilters {
        &-presets {
          flex: 0 0 $tradeCenterPanel_preset_height + 3rem;
          &-list-item {
            height: 0;
            padding: 0 $spacing_medium;
            &--selected {
              height: $tradeCenterPanel_preset_height;
            }
          }
        }
        &-configurator {
          opacity: 1;
        }
      }
      &__result {
        display: flex;
      }
    }
  }
}