<article
  [ngClass]="{
    'sat-tradeAlertPanel': true,
    'sat-tradeAlertPanel--sidePanelsDisplayedState': sidePanelsDisplayed,
    'sat-tradeAlertPanel--configureAlertState': state.configureAlert,
    'sat-tradeAlertPanel--alertPausedState': state.isAlertPaused,
    'sat-tradeAlertPanel--configureAxeAlertState': state.configuration.selectedAlert === constants.alertTypes.axeAlert,
    'sat-tradeAlertPanel--configureMarkAlertState': state.configuration.selectedAlert === constants.alertTypes.markAlert
  }">
  <section class="sat-tradeAlertPanel__utilities">
    <div class="sat-tradeAlertPanel__utilities-pause">
      <button
        (click)="onTogglePauseAlert()"
        [ngClass]="{
          'santaBtn--labelled': true,
          'sat-tradeAlertPanel__utilities-pause-btn': true,
          'santaBtn--inverseLabelled': state.isAlertPaused
        }">
        <i class="fal fa-pause"></i>
        <span>Pause Alert</span>
      </button>
    </div>
    <div class="sat-tradeAlertPanel__utilities-configureCTA">
      <button (click)="onClickConfigureAlert()" class="santaBtn--labelled">
        <i class="fal fa-pencil"></i>
        <span>Configure Alert</span>
      </button>
    </div>
    <div class="sat-tradeAlertPanel__utilities-thumbnail">
      <i class="sat-tradeAlertPanel__utilities-thumbnail-icon fas fa-bell"></i>
    </div>
  </section>
  <section class="sat-tradeAlertPanel__configuration">
    <ul class="sat-tradeAlertPanel__configuration-alertTypeList">
      <li class="sat-tradeAlertPanel__configuration-alertTypeList-item sat-tradeAlertPanel__configuration-alertTypeList-item--axe">
        <button (click)="selectAlertForConfigure(constants.alertTypes.axeAlert)" class="sat-tradeAlertPanel__configuration-alertTypeList-item-btn santaBtn--labelled santaBtn--inverseLabelled">
          <i class="fas fa-axe"></i>
          <span>Axe Alert</span>
        </button>
      </li>
      <li class="sat-tradeAlertPanel__configuration-alertTypeList-item sat-tradeAlertPanel__configuration-alertTypeList-item--mark">
        <button (click)="selectAlertForConfigure(constants.alertTypes.markAlert)" class="sat-tradeAlertPanel__configuration-alertTypeList-item-btn santaBtn--labelled santaBtn--inverseLabelled">
          <i class="far fa-bullseye-arrow"></i>
          <span>Mark Alert</span>
        </button>
      </li>
    </ul>
    <ul class="sat-tradeAlertPanel__configuration-main">
      <article
        [ngClass]="{
          'sat-tradeAlertPanel__configuration-main-axeConfig': true,
          'sat-tradeAlertAxeAlertConfiguration': true,
          'sat-tradeAlertAxeAlertConfiguration--showSearchResult': state.configuration.axe.searchIsValid,
          'sat-tradeAlertAxeAlertConfiguration--myGroupDisabled': state.configuration.axe.myGroup.isDisabled
        }">
        <section class="sat-tradeAlertAxeAlertConfiguration__myGroup">
          <span class="sat-tradeAlertAxeAlertConfiguration__myGroup-title">
            Watch For Axe From :
          </span>
          <div class="sat-tradeAlertAxeAlertConfiguration__myGroup-content">
            <div class="sat-tradeAlertAxeAlertConfiguration__myGroup-content-disableTag">
              <i class="fal fa-bell-slash"></i>
              <span>Disabled</span>
            </div>
            <span class="sat-tradeAlertAxeAlertConfiguration__myGroup-content-text">
              Securities I Own
            </span>
            <div class="santaBtnGroup sat-tradeAlertAxeAlertConfiguration__myGroup-content-btnGroup">
              <button
                (click)="onSelectAxeWatchlistSide(constants.axeAlertScope.bid, state.configuration.axe.myGroup)"
                [ngClass]="{
                  'sat-tradeAlertAxeAlertConfiguration__myGroup-content-btnGroup-btn': true,
                  'sat-tradeAlertAxeAlertConfiguration__myGroup-content-btnGroup-btn--selected': state.configuration.axe.myGroup.scopes.indexOf(constants.axeAlertScope.bid) >= 0
                }">
                <span>Bid</span>
              </button>
              <button
                (click)="onSelectAxeWatchlistSide(constants.axeAlertScope.ask, state.configuration.axe.myGroup)"
                [ngClass]="{
                  'sat-tradeAlertAxeAlertConfiguration__myGroup-content-btnGroup-btn': true,
                  'sat-tradeAlertAxeAlertConfiguration__myGroup-content-btnGroup-btn--selected': state.configuration.axe.myGroup.scopes.indexOf(constants.axeAlertScope.ask) >= 0
                }">
                <span>Ask</span>
              </button>
              <button
                (click)="onSelectAxeWatchlistSide(constants.axeAlertScope.liquidation, state.configuration.axe.myGroup)"
                [ngClass]="{
                  'sat-tradeAlertAxeAlertConfiguration__myGroup-content-btnGroup-btn': true,
                  'sat-tradeAlertAxeAlertConfiguration__myGroup-content-btnGroup-btn--selected': state.configuration.axe.myGroup.scopes.indexOf(constants.axeAlertScope.liquidation) >= 0
                }">
                <span>Liquidation</span>
              </button>
            </div>
            <button (click)="onToggleDisableTargetGroupFromAxeWatchList(state.configuration.axe.myGroup)" class="sat-tradeAlertAxeAlertConfiguration__myGroup-content-disableBtn santaBtn--labelled">
              <i class="fal fa-bell-slash"></i>
              <span>Disable</span>
            </button>
          </div>
        </section>
        <section class="sat-tradeAlertAxeAlertConfiguration__textSeparator">
          <span class="sat-tradeAlertAxeAlertConfiguration__textSeparator-content">And Individual Securities :</span>
        </section>
        <section class="sat-tradeAlertAxeAlertConfiguration__singleSecurities">
          <div class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-watchList">
            <ul class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-watchList-securityList">
              <li
                *ngFor="let eachSecurityBlock of state.configuration.axe.securityList"
                [ngClass]="{
                  'sat-tradeAlertAxeAlertConfiguration__singleSecurities-watchList-securityList-item': true,
                  'sat-tradeAlertAxeAlertConfiguration__singleSecurities-watchList-securityList-item--disabled': eachSecurityBlock.isDisabled,
                  'sat-tradeAlertAxeAlertConfiguration__singleSecurities-watchList-securityList-item--deleted': eachSecurityBlock.isDeleted,
                  'sat-tradeAlertAxeAlertConfiguration__singleSecurities-watchList-securityList-item--new': eachSecurityBlock.groupId == null
                }">
                <div class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-watchList-securityList-item-newTag">
                  <i class="fal fa-sparkles"></i>
                  <span>New</span>
                </div>
                <div class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-watchList-securityList-item-disableTag">
                  <i class="fal fa-bell-slash"></i>
                  <span>Disabled</span>
                </div>
                <security-card *ngIf="eachSecurityBlock.card" [cardData]="eachSecurityBlock.card"></security-card>
                <div class="santaBtnGroup sat-tradeAlertAxeAlertConfiguration__singleSecurities-watchList-securityList-item-btnGroup">
                  <button
                    (click)="onSelectAxeWatchlistSide(constants.axeAlertScope.bid, eachSecurityBlock)"
                    [ngClass]="{
                      'sat-tradeAlertAxeAlertConfiguration__singleSecurities-watchList-securityList-item-btnGroup-btn': true,
                      'sat-tradeAlertAxeAlertConfiguration__singleSecurities-watchList-securityList-item-btnGroup-btn--selected': eachSecurityBlock.scopes.indexOf(constants.axeAlertScope.bid) >= 0
                    }">
                    <span>Bid</span>
                  </button>
                  <button
                    (click)="onSelectAxeWatchlistSide(constants.axeAlertScope.ask, eachSecurityBlock)"
                    [ngClass]="{
                      'sat-tradeAlertAxeAlertConfiguration__singleSecurities-watchList-securityList-item-btnGroup-btn': true,
                      'sat-tradeAlertAxeAlertConfiguration__singleSecurities-watchList-securityList-item-btnGroup-btn--selected': eachSecurityBlock.scopes.indexOf(constants.axeAlertScope.ask) >= 0
                    }">
                    <span>Ask</span>
                  </button>
                  <button
                    (click)="onSelectAxeWatchlistSide(constants.axeAlertScope.liquidation, eachSecurityBlock)"
                    [ngClass]="{
                      'sat-tradeAlertAxeAlertConfiguration__singleSecurities-watchList-securityList-item-btnGroup-btn': true,
                      'sat-tradeAlertAxeAlertConfiguration__singleSecurities-watchList-securityList-item-btnGroup-btn--selected': eachSecurityBlock.scopes.indexOf(constants.axeAlertScope.liquidation) >= 0
                    }">
                    <span>Liquidation</span>
                  </button>
                </div>
                <button (click)="onToggleDisableTargetGroupFromAxeWatchList(eachSecurityBlock)" class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-watchList-securityList-item-disableBtn santaBtn--iconOnly fal fa-bell-slash"></button>
                <button (click)="onClickRemoveSecurityFromAxeWatchList(eachSecurityBlock)" class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-watchList-securityList-item-removeBtn santaBtn--iconOnly fal fa-eraser"></button>
              </li>
            </ul>
          </div>
          <div class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-search">
            <div class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-search-utility">
              <span class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-search-utility-label">Search For Securities :</span>
              <santa-input
                [inputValue]="state.configuration.axe.securitySearchKeyword"
                [placeholder]="'find security by name / CUSIP / ISIN'"
                [isHero]="true"
                (onInputChange)="onSearchKeywordChange($event)">
              </santa-input>
            </div>
            <ul class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-search-result">
              <li *ngFor="let eachCard of state.configuration.axe.searchList" class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-search-result-item">
                <security-card [cardData]="eachCard"></security-card>
              </li>
            </ul>
            <div class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-search-prompt">
              <div class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-search-prompt-line">
                <span class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-search-prompt-line-text">There are</span>
                <span class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-search-prompt-line-highlightText">{{state.configuration.axe.matchedResultCount}}</span>
                <span class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-search-prompt-line-text">securities match the keyword</span>
              </div>
              <div class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-search-prompt-more">
                <span class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-search-prompt-more-text">Result will be shown if there are less than 100 matches.</span>
                <span class="sat-tradeAlertAxeAlertConfiguration__singleSecurities-search-prompt-more-text">Type more to keep filtering.</span>
              </div>
            </div>
          </div>
        </section>
      </article>
      <article
        [ngClass]="{
          'sat-tradeAlertPanel__configuration-main-markConfig': true,
          'sat-tradeAlertMarkAlertConfiguration': true
        }">
        <section class="sat-tradeAlertMarkAlertConfiguration__title">
          <span class="sat-tradeAlertMarkAlertConfiguration__title-text">
            Watch For Mark Discrepancies From :
          </span>
        </section>
        <section class="sat-tradeAlertMarkAlertConfiguration__groupList">
          <div class="sat-tradeAlertMarkAlertConfiguration__groupList-group">
            <div class="sat-tradeAlertMarkAlertConfiguration__groupList-group-disableTag">
              <i class="fal fa-bell-slash"></i>
              <span>Disabled</span>
            </div>
            <span class="sat-tradeAlertMarkAlertConfiguration__groupList-group-text">
              Securities I Own
            </span>
            <div class="sat-tradeAlertMarkAlertConfiguration__groupList-group-threshold">
              <span class="sat-tradeAlertMarkAlertConfiguration__groupList-group-threshold-title">Make-Money Threshold</span>
              <div class="sat-tradeAlertMarkAlertConfiguration__groupList-group-threshold-entry">
                <span class="sat-tradeAlertMarkAlertConfiguration__groupList-group-threshold-entry-label">Spread</span>
                <div class="sat-tradeAlertMarkAlertConfiguration__groupList-group-threshold-entry-input">
                  <santa-input
                    [inputValue]="state.configuration.mark.myGroup.makeMoneySpread"
                    [placeholder]="''">
                  </santa-input>
                </div>
                <span class="sat-tradeAlertMarkAlertConfiguration__groupList-group-threshold-entry-label">Yield</span>
                <div class="sat-tradeAlertMarkAlertConfiguration__groupList-group-threshold-entry-input">
                  <santa-input
                    [inputValue]="state.configuration.mark.myGroup.makeMoneyYield"
                    [placeholder]="''">
                  </santa-input>
                </div>
              </div>
            </div>
            <div class="sat-tradeAlertMarkAlertConfiguration__groupList-group-threshold">
              <span class="sat-tradeAlertMarkAlertConfiguration__groupList-group-threshold-title">Lose-Money Threshold</span>
              <div class="sat-tradeAlertMarkAlertConfiguration__groupList-group-threshold-entry">
                <span class="sat-tradeAlertMarkAlertConfiguration__groupList-group-threshold-entry-label">Spread</span>
                <div class="sat-tradeAlertMarkAlertConfiguration__groupList-group-threshold-entry-input">
                  <santa-input
                    [inputValue]="state.configuration.mark.myGroup.loseMoneySpread"
                    [placeholder]="''">
                  </santa-input>
                </div>
                <span class="sat-tradeAlertMarkAlertConfiguration__groupList-group-threshold-entry-label">Yield</span>
                <div class="sat-tradeAlertMarkAlertConfiguration__groupList-group-threshold-entry-input">
                  <santa-input
                    [inputValue]="state.configuration.mark.myGroup.loseMoneyYield"
                    [placeholder]="''">
                  </santa-input>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>
    </ul>
    <div class="sat-tradeAlertPanel__configuration-ctas">
      <button (click)="onClickSaveConfiguration()" class="sat-tradeAlertPanel__configuration-ctas-save santaBtn--labelled santaBtn--inverseLabelled">
        <i class="fal fa-cloud-upload"></i>
        <span>Save</span>
      </button>
    </div>
  </section>
</article>