@import "global.scss";
@import "modules/trade/trade.scss";

$tradeMarketAnalysisPanel_table_security_width: 14rem;
$tradeMarketAnalysisPanel_table_ranking_width: 5rem;
$tradeMarketAnalysisPanel_table_distance_width: 4.25rem;
$tradeMarketAnalysisPanel_config_label_width: 7.75rem;
.sat-tradeMarketAnalysisPanel {
  $tradeMarketAnalysisPanelBlockName: &;
  @include mix_border_generator;
  @include mix_border_radius(10px);
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__timeScope {
    display: flex;
    padding-top: $spacing_medium;
    &-label {
      flex: 0 0 $tradeMarketAnalysisPanel_config_label_width;
      font-size: $font_size_normal;
      color: $font_color_minor;
      padding: $spacing_x_small $spacing_medium;
      text-align: right;
    }
    &-list {
      flex: 1 1 auto;
      display: flex;
      flex-wrap: wrap;
      &-item {
        flex: 0 0 auto;
        margin-right: $spacing_small;
        margin-bottom: $spacing_small;
        &--selected {
          @include material('none');
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
    }
  }
  &__group {
    display: none;
    padding-top: $spacing_medium;
    &-label {
      flex: 0 0 $tradeMarketAnalysisPanel_config_label_width;
      font-size: $font_size_normal;
      color: $font_color_minor;
      padding: $spacing_x_small $spacing_medium;
      text-align: right;
    }
    &-optionList {
      flex: 1 1 auto;
      display: flex;
      flex-wrap: wrap;
      &-item {
        flex: 0 0 auto;
        margin-right: $spacing_small;
        margin-bottom: $spacing_small;
      }
    }
  }
  &__tableHeader {
    flex: 0 0 auto;
    display: none;
    align-items: center;
    padding-right: $spacing_small;
    margin-bottom: -$tradeMarketAnalysis_topGutterForRulerLabel + $spacing_x_small;
    &-securityList {
      flex: 0 0 $tradeMarketAnalysisPanel_table_security_width;
      text-align: center;
      color: $font_color_major;
    }
    &-rankingList {
      flex: 0 0 $tradeMarketAnalysisPanel_table_ranking_width;
      text-align: center;
      color: $font_color_major;
    }
    &-levelColumn, &-basisColumn {
      flex: 1 1 auto;
      text-align: center;
      color: $font_color_major;
    }
    &-levelDistance, &-basisDistance {
      flex: 0 0 $tradeMarketAnalysisPanel_table_distance_width;
      text-align: center;
      color: $font_color_major;
    }
  }
  &__table {
    @include mix_fixed_div(relative, $z_index_standard_base_item);
    @include mix_enable_scrollbar('vertical');
    flex: 1 1 auto;
    display: none;
    flex-direction: column;
    padding-right: $spacing_small;  // this is to avoid the pins from being clipped
    &-content {
      flex: 1 1 auto;
      display: flex;
      &-securityList {
        flex: 0 0 $tradeMarketAnalysisPanel_table_security_width;
        padding-top: $tradeMarketAnalysis_topGutterForRulerLabel;
        &-item {
          @include mix_fixed_div(relative, $z_index_standard_base_item);
          display: flex;
          align-items: center;
          height: $tradeMarketAnalysis_row_height;
          security-card {
            flex: 1 1 auto;
          }
          &-numberOfSecurityTag {
            @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
            @include mix_border_radius(3px);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1.25rem;
            padding: 0 $spacing_x_small;
            right: $spacing_x_small;
            background-color: $color_active;
            color: $font_color_inverse;
            user-select: none;
          }
          &--even {
            background-color: $color_blue_gray_1;
          }
        }
      }
      &-rankingList {
        flex: 0 0 $tradeMarketAnalysisPanel_table_ranking_width;
        padding-top: $tradeMarketAnalysis_topGutterForRulerLabel;
        overflow: hidden;
        &-item {
          display: flex;
          align-items: center;
          height: $tradeMarketAnalysis_row_height;
          padding: 0 $spacing_small;
          &-text {
            font-size: $font_size_x_small;
          }
          &--even {
            background-color: $color_blue_gray_1;
          }
        }
      }
      &-levelColumn, &-basisColumn {
        flex: 1 1 auto;
        display: flex;
        historical-summary {
          flex: 1 1 auto;
          display: flex;
        }
      }
      &-separator {
        @include mix_border_generator(0 0 0 $typical_border_width);
      }
      &-levelDistance, &-basisDistance {
        flex: 0 0 $tradeMarketAnalysisPanel_table_distance_width;
        padding-top: $tradeMarketAnalysis_topGutterForRulerLabel;
        overflow: hidden;
        &-item {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          height: $tradeMarketAnalysis_row_height;
          padding: 0 $spacing_small;
          &-text {
            @include mix_border_radius(3px);
            background-color: $color_positive;
            padding: 0 $spacing_x_small;
            font-size: $font_size_x_small;
            color: $font_color_inverse;
          }
          &--even {
            background-color: $color_blue_gray_1;
          }
          &--positive &-text {
            background-color: $color_negative;
          }
        }
      }
    }
  }
  &__errorPrompt {
    @include mix_border_radius(10px);
    flex: 0 1 auto;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: $color_red_1;
    padding: $spacing_large;
    margin: $spacing_small;
    &-icon {
      font-size: $font_size_xxxx_large;
      color: $color_kill;
    }
    &-title {
      text-align: center;
      font-size: $font_size_xx_large;
      color: $color_kill;
      margin: $spacing_large 0;
    }
  }
  &--hasSecurityState {
    #{$tradeMarketAnalysisPanelBlockName} {
      &__group {
        display: flex;
      }
      &__tableHeader {
        display: flex;
      }
      &__table {
        display: flex;
      }
    }
  }
  &--apiErrorState {
    #{$tradeMarketAnalysisPanelBlockName} {
      &__group {
        display: none;
      }
      &__tableHeader {
        display: none;
      }
      &__table {
        display: none;
      }
      &__errorPrompt {
        display: flex;
      }
    }
  }
}