@import "global.scss";
@import "modules/trade/trade.scss";

$tradeUtilityPanel_spacing: $spacing_medium;
.sat-tradeUtilityPanel {
  $tradeUtilityPanelBlockName: &;
  @include mix_border_generator;
  @include mix_border_radius(10px);
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  height: $tradeUtility_height;
  &__thumbnail {
    @include mix_border_generator(0 $typical_border_width 0 0);
    flex: 0 0 auto;
    display: flex;
    margin: $spacing_medium;
    padding-right: $spacing_medium;
    &-icon {
      color: $font_color_trivial;
      font-size: $font_size_hero;
    }
  }
  &__validWindowConfig {
    @include mix_alive('light');
    flex: 0 0 13rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: $tradeUtilityPanel_spacing 0 $tradeUtilityPanel_spacing $tradeUtilityPanel_spacing;
    &-current {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: $spacing_medium;
      &-label {
        color: $font_color_minor;
        font-size: $font_size_small;
      }
      &-value {
        @include mix_border_radius(5px);
        margin-top: $spacing_small;
        padding: $spacing_x_small $spacing_small;
        background-color: $color_active;
        color: $font_color_inverse;
      }
    }
    &-editBtn {
      flex: 0 0 auto;
      margin-right: $spacing_medium;
    }
    &-optionList {
      flex: 0 0 auto;
      display: none;
      &-item {
        @include mix_alive('material');
        @include material;
        @include mix_border_radius(5px);
        padding: $spacing_small;
        margin-right: $spacing_small;
        &--selected {
          @include material('none');
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
    }
    &-ctas {
      flex: 0 0 auto;
      display: none;
      &-cancelBtn {
        background-color: $color_kill;
        margin-right: $spacing_medium;
      }
    }
  }
  &__countdown {
    @include mix_border_generator(0 $typical_border_width 0 $typical_border_width);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $tradeUtilityPanel_spacing;
    overflow: hidden;
    &-clock {
      @include mix_border_radius(5px);
      padding: $spacing_xx_small $spacing_x_small;
      background-color: $color_active;
      font-size: $font_size_large;
      color: $font_color_inverse;
    }
    &-label {
      @include mix_text_overflow_multi_line(1);
      margin-top: $spacing_small;
      color: $font_color_minor;
      font-size: $font_size_small;
      line-height: $line_height_x_small;
      text-align: center;
    }
    &-loading {
      flex: 1 1 auto;
      display: none;
      flex-direction: column;
      align-items: center;
      &-icon {
        &>i {
          color: $font_color_major;
          font-size: $font_size_x_large;
        }
      }
      &-text {
        margin-top: $spacing_small;
        color: $font_color_major;
      }
    }
  }
  &__cta {
    flex: 0 0 auto;
    display: flex;
    padding: $tradeUtilityPanel_spacing $tradeUtilityPanel_spacing $tradeUtilityPanel_spacing 0;
    &-pause {
      @include mix_border_radius(5px);
      @include mix_border_generator($typical_border_width, $color_white);
      flex: 0 1 50%;
    }
    &-refresh {
      @include mix_border_radius(5px);
      @include mix_border_generator($typical_border_width, $color_white);
      flex: 0 1 50%;
      @include material('none');
      border-color: $color_disabled;
      background-color: inherit;
      color: $color_disabled;
    }
  }
  &--sidePanelsDisplayedState {
    #{$tradeUtilityPanelBlockName} {
      &__thumbnail {
        display: none;
      }
    }
  }
  &--editingValidWindowState {
    #{$tradeUtilityPanelBlockName} {
      &__validWindowConfig {
        flex: 0 0 35rem;
        &-editBtn {
          display: none;
        }
        &-optionList {
          display: flex;
        }
        &-ctas {
          display: flex;
        }
      }
    }
  }
  &--pausedState {
    #{$tradeUtilityPanelBlockName} {
      &__cta {
        &-pause {
          @include material('none');
          @extend .santaBtn--inverseLabelled;
          border-color: $color_active;
          background-color: $color_active;
        }
        &-refresh {
          @include material('none');
          border-color: $color_disabled;
          background-color: inherit;
          color: $color_disabled;
        }
      }
    }
  }
  &--loadingState {
    #{$tradeUtilityPanelBlockName} {
      &__countdown {
        &-clock, &-label {
          display: none;
        }
        &-loading {
          display: flex;
        }
      }
      &__cta {
        &-pause {
          @include material('none');
          border-color: $color_disabled;
          background-color: inherit;
          color: $color_disabled;
        }
        &-refresh {
          @include material('none');
          border-color: $color_disabled;
          background-color: inherit;
          color: $color_disabled;
        }
      }
    }
  }
}