@import "global.scss";

.sat-tradeAlertPanel {
  $tradeAlertPanelBlockName: &;
  @include mix_border_generator;
  @include mix_border_radius(10px);
  flex: 1 1 auto;
  display: flex;
  padding: $spacing_medium;
  &__thumbnail {
    flex: 0 0 auto;
    display: flex;
    &-icon {
      color: $font_color_trivial;
      font-size: $font_size_hero;
    }
  }
  &__configure {
    @include mix_border_generator(0 0 0 $typical_border_width);
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    margin-left: $spacing_medium;
    padding-left: $spacing_medium;
  }
  &__pause {
    @include mix_border_generator(0 0 0 $typical_border_width);
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    margin-left: $spacing_medium;
    padding-left: $spacing_medium;
  }
}