<article class="sat-tradeCenterPanel">
  <section class="sat-tradeCenterPanel__quickFilters">
    <div class="sat-tradeCenterPanel__quickFilters-row">
      <span class="sat-tradeCenterPanel__quickFilters-row-label">Metric :</span>
      <button
        (click)="onSwitchMetric('TSpread')"
        [ngClass]="{
          'sat-tradeCenterPanel__quickFilters-row-btn': true,
          'santaBtn--labelled': true,
          'sat-tradeCenterPanel__quickFilters-row-btn--active': state.filters.quickFilters.metricType === 'TSpread'
        }">
        <i class="fal fa-ruler"></i>
        <span>Spread</span>
      </button>
      <button
        (click)="onSwitchMetric('Yield')"
        [ngClass]="{
          'sat-tradeCenterPanel__quickFilters-row-btn': true,
          'santaBtn--labelled': true,
          'sat-tradeCenterPanel__quickFilters-row-btn--active': state.filters.quickFilters.metricType === 'Yield'
        }">
        <i class="fal fa-ruler"></i>
        <span>Yield</span>
      </button>
      <button
        (click)="onSwitchMetric('Price')"
        [ngClass]="{
          'sat-tradeCenterPanel__quickFilters-row-btn': true,
          'santaBtn--labelled': true,
          'sat-tradeCenterPanel__quickFilters-row-btn--active': state.filters.quickFilters.metricType === 'Price'
        }">
        <i class="fal fa-ruler"></i>
        <span>Price</span>
      </button>
    </div>
    <div class="sat-tradeCenterPanel__quickFilters-row">
      <span class="sat-tradeCenterPanel__quickFilters-row-label">Currency :</span>
      <button
        *ngFor="let eachCcy of currencyList"
        (click)="onClickQuickFilterList(state.filters.quickFilters.currency, eachCcy)"
        [ngClass]="{
          'sat-tradeCenterPanel__quickFilters-row-btn': true,
          'sat-tradeCenterPanel__quickFilters-row-btn--active': state.filters.quickFilters.currency.indexOf(eachCcy) >= 0,
          'santaBtn--labelled': true
        }">
        <i class="fal fa-dollar-sign"></i>
        <span>{{eachCcy}}</span>
      </button>
    </div>
    <div class="sat-tradeCenterPanel__quickFilters-row">
      <span class="sat-tradeCenterPanel__quickFilters-row-label">Security Type :</span>
      <button
        *ngFor="let eachType of securityTypeList"
        (click)="onClickQuickFilterList(state.filters.quickFilters.securityType, eachType)"
        [ngClass]="{
          'sat-tradeCenterPanel__quickFilters-row-btn': true,
          'sat-tradeCenterPanel__quickFilters-row-btn--active': state.filters.quickFilters.securityType.indexOf(eachType) >= 0,
          'santaBtn--labelled': true
        }">
        <span>{{eachType}}</span>
      </button>
    </div>
    <div class="sat-tradeCenterPanel__quickFilters-row">
      <span class="sat-tradeCenterPanel__quickFilters-row-label">Portfolio :</span>
      <button
        *ngFor="let eachPortfolio of portfolioList"
        (click)="onClickQuickFilterList(state.filters.quickFilters.portfolios, eachPortfolio)"
        [ngClass]="{
          'sat-tradeCenterPanel__quickFilters-row-btn': true,
          'sat-tradeCenterPanel__quickFilters-row-btn--active': state.filters.quickFilters.portfolios.indexOf(eachPortfolio) >= 0,
          'santaBtn--labelled': true
        }">
        <i class="fal fa-file-invoice-dollar"></i>
        <span>{{eachPortfolio}}</span>
      </button>
    </div>
  </section>
  <section class="sat-tradeCenterPanel__table">
    <security-table
      [tableData]="state.table"
      [newRows]="state.rowList"
      [receivedContentStage]="state.currentContentStage"
      [securityTableMetrics]="state.tableMetrics"
    ></security-table>
  </section>
</article>