@import "global.scss";
@import "modules/market/market.scss";
//@import "modules/market/components/definition-configurator/definition-configurator.component.scss";

$securityGroupDefinition_height: 4.5rem;
$securityGroupDefinition_filter_size: 2rem;
.sat-securityGroupDefinition {
  $securityGroupDefinitionBlockName: &;
  @include mix_fixed_div(relative, $z_index_standard_base_item);
  @include mix_shadow($material_regular_southMarkup, $material_lowHover_degree, $material_regular_intensity);
  @include mix_alive('custom', $animation_duration_light box-shadow);
  @include mix_border_radius(10px);
  display: flex;
  flex-direction: column;
  width: $securityGroupDefinition_width;
  height: $securityGroupDefinition_height;
  background-color: $color_white;
  &__icon {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &-regularImg {
      color: $font_color_major;
      font-size: $font_size_xx_large;
    }
    &-ratingBucket {
      display: none;
      &-primaryImg {
        color: $font_color_major;
        font-size: $font_size_xx_large;
      }
      &-secondaryImg {
        margin-top: $spacing_xx_small;
        color: $font_color_inverse;
      }
    }
    &-backendTenor {
      display: none;
      &-primaryImg {
        color: $font_color_major;
        font-size: $font_size_xx_large;
      }
      &-secondaryImg {
        margin-top: -$spacing_xx_small;
        color: $font_color_major;
      }
    }
    &-securityType {
      @include mix_fixed_div(relative, $z_index_standard_base_item_solid);
      display: none;
      &-img {
        font-size: $font_size_large;
        color: $font_color_major;
        transform: rotate(75deg);
      }
      &-bond {
        @include mix_fixed_div(relative, $z_index_standard_base_item);
        top: -$spacing_x_small;
        left: $spacing_x_small;
        color: $font_color_major;
      }
      &-cds {
        @include mix_fixed_div(relative, $z_index_standard_base_item);
        bottom: -$spacing_x_small;
        right: $spacing_x_small;
        color: $font_color_major;
      }
    }
  }
  &__label {
    display: flex;
    justify-content: center;
    margin-bottom: $spacing_x_small;
    &-text {
      color: $font_color_major;
      user-select: none;
    }
  }
  &__filter {
    @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
    display: none;
    top: -$spacing_small;
    right: -$spacing_small;
    width: $securityGroupDefinition_filter_size;
    height: $securityGroupDefinition_filter_size;
    &-icon {
      @include mix_fixed_div(relative, $z_index_standard_base_item);
      @include mix_border_radius(50%);
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color_filter;
      &-img {
        color: $font_color_inverse;
      }
    }
  }
  &__filterMask {
    @include mix_fixed_div(absolute, $z_index_standard_bury_item);
    @include mix_shadow($material_regular_southMarkup, $material_lowHover_degree, $material_regular_intensity);
    @include mix_alive('custom', $animation_duration_light box-shadow);
    @include mix_border_radius(50%);
    display: none;
    top: -$spacing_small;
    right: -$spacing_small;
    width: $securityGroupDefinition_filter_size;
    height: $securityGroupDefinition_filter_size;
  }
  &__selectedGap {
    @include mix_fixed_div(absolute, $z-index_standard_bury_item);
    display: none;
    left: 100%;
    height: 100%;
    width: $securityGroupDefinitionConfigurator_gapBetweenDefAndFilter; // this is configured in definition-configurator.component.scss
    background-color: $color_active;
  }
  &:hover {
    @include mix_shadow($material_regularHover_southMarkup, $material_regularHover_degree, $material_regularHover_intensity);
    #{$securityGroupDefinitionBlockName} {
      &__filterMask {
        @include mix_shadow($material_regularHover_southMarkup, $material_regularHover_degree, $material_regularHover_intensity);
      }
    }
  }
  &--isRatingBucket {
    #{$securityGroupDefinitionBlockName} {
      &__icon {
        &-regularImg {
          display: none;
        }
        &-ratingBucket {
          display: inline-block;
        }
      }
    }
  }
  &--isSecurityType {
    #{$securityGroupDefinitionBlockName} {
      &__icon {
        &-regularImg {
          display: none;
        }
        &-securityType {
          display: inline-block;
        }
      }
    }
  }
  &--isBackendTenor {
    #{$securityGroupDefinitionBlockName} {
      &__icon {
        &-regularImg {
          display: none;
        }
        &-backendTenor {
          display: inline-block;
        }
      }
    }
  }
  &--filterActiveState {
    #{$securityGroupDefinitionBlockName} {
      &__filter {
        display: flex;
      }
      &__filterMask {
        display: flex;
      }
    }
  }
  &--selectedState {
    @include material('none');
    @include mix_border_radius(10px, 'left');
    background-color: $color_active;
    #{$securityGroupDefinitionBlockName} {
      &__icon {
        &-regularImg, &-ratingBucket-primaryImg, &-backendTenor-primaryImg, &-backendTenor-secondaryImg, &-securityType-bond, &-securityType-img, &-securityType-cds {
          color: $font_color_inverse;
        }
        &-ratingBucket {
          &-secondaryImg {
            color: $font_color_major;
          }
        }
      }
      &__label-text {
        color: $font_color_inverse;
      }
      &__filterMask {
        @include material('none');
      }
      &__selectedGap {
        display: flex;
      }
    }
  }
  &--selectedState:hover {
    #{$securityGroupDefinitionBlockName} {
      &__filterMask {
        @include material('none');
      }
    }
  }
}