<article
  (click)="onClickDefinition()"
  [ngClass]="{
    'sat-securityGroupDefinition': true,
    'sat-securityGroupDefinition--stackedIcon': definitionData.style.isStacked,
    'sat-securityGroupDefinition--selectedState': !!selected,
    'sat-securityGroupDefinition--filterActiveState': definitionData.state.filterActive
  }">
  <section class="sat-securityGroupDefinition__icon">
    <i [ngClass]="
      'sat-securityGroupDefinition__icon-img ' + definitionData.style.icon"></i>
    <span class="sat-securityGroupDefinition__icon-stackedIcon fa-stack">
      <i [ngClass]="'sat-securityGroupDefinition__icon-stackedIcon-primaryImg fa-stack-2x ' + definitionData.style.icon"></i>
      <i [ngClass]="'sat-securityGroupDefinition__icon-stackedIcon-secondaryImg fa-stack-1x ' + definitionData.style.stackedIcon"></i>
    </span>
  </section>
  <section class="sat-securityGroupDefinition__label">
    <span class="sat-securityGroupDefinition__label-text">{{definitionData.data.name}}</span>
  </section>
  <section class="sat-securityGroupDefinition__filter">
    <div class="sat-securityGroupDefinition__filter-icon">
      <i class="sat-securityGroupDefinition__filter-icon-img fal fa-filter"></i>
    </div>
  </section>
  <section class="sat-securityGroupDefinition__filterMask"></section>
</article>