<article
  [ngClass]="{
    'sat-portfolioBreakdown': true,
    'sat-portfolioBreakdown--stencilState': breakdownData.state.isStencil
  }">
  <section class="sat-portfolioBreakdown__title">
    <div class="sat-portfolioBreakdown__title-definition">
      <security-definition
        [definitionData]="breakdownData.data.definition"
        [backgroundVariant]="true"
        [interactionDisabled]="true">
      </security-definition>
    </div>
    <span class="sat-portfolioBreakdown__title-text">{{breakdownData.data.title}}</span>
  </section>
  <section class="sat-portfolioBreakdown__rating">
    <div
      class="sat-portfolioBreakdown__rating-fill"
      [ngStyle]="{
        'width': breakdownData.style.ratingFillWidth + '%'
      }">
    </div>
    <span class="sat-portfolioBreakdown__rating-hoverText">{{breakdownData.data.ratingHoverText}}</span>
  </section>
  <section class="sat-portfolioBreakdown__categoryHeader">
    <div class="sat-portfolioBreakdown__categoryHeader-cell">
      <i class="sat-portfolioBreakdown__categoryHeader-cell-icon fas fa-pennant"></i>
      <div class="sat-portfolioBreakdown__categoryHeader-cell-tooltip">Target</div>
    </div>
    <div class="sat-portfolioBreakdown__categoryHeader-cell">
      <i class="sat-portfolioBreakdown__categoryHeader-cell-icon fas fa-chart-pie"></i>
      <div class="sat-portfolioBreakdown__categoryHeader-cell-tooltip">Current %</div>
    </div>
    <div class="sat-portfolioBreakdown__categoryHeader-cell">
      <i class="sat-portfolioBreakdown__categoryHeader-cell-icon fas fa-analytics"></i>
      <div class="sat-portfolioBreakdown__categoryHeader-cell-tooltip">Index %</div>
    </div>
  </section>
  <section class="sat-portfolioBreakdown__categoryContent">
    <ul class="sat-portfolioBreakdown__categoryContent-list">
      <li
        *ngFor="let eachCategory of breakdownData.data.categoryList"
        [ngClass]="{
          'sat-portfolioBreakdown__categoryContent-list-item': true,
          'sat-portfolioBreakdown__categoryContent-list-item--noSignificantDiff': eachCategory.diffToTarget === 0,
          'sat-portfolioBreakdown__categoryContent-list-item--negativeDiff': eachCategory.diffToTarget < 0
        }">
        <span class="sat-portfolioBreakdown__categoryContent-list-item-title">{{eachCategory.category}}</span>
        <div *ngIf="selectedMetricValue === constants.cs01; else creditLeverageVisualizer" class="sat-portfolioBreakdown__categoryContent-list-item-moveVisualizer">
          <move-visualizer [visualizerData]="eachCategory.cs01.moveVisualizer"></move-visualizer>
        </div>
        <ng-template #creditLeverageVisualizer>
          <div class="sat-portfolioBreakdown__categoryContent-list-item-moveVisualizer">
            <move-visualizer [visualizerData]="eachCategory.creditLeverage.moveVisualizer"></move-visualizer>
          </div>
        </ng-template>
        <div *ngIf="selectedMetricValue === constants.cs01; else creditLeverageDiffToTargetDisplay" class="sat-portfolioBreakdown__categoryContent-list-item-cell sat-portfolioBreakdown__categoryContent-list-item-cell--target">
          {{eachCategory.cs01.diffToTargetDisplay}}
        </div>
        <ng-template #creditLeverageDiffToTargetDisplay>
          <div class="sat-portfolioBreakdown__categoryContent-list-item-cell sat-portfolioBreakdown__categoryContent-list-item-cell--target">{{eachCategory.creditLeverage.diffToTargetDisplay}}</div>
        </ng-template>
        <hr class="sat-portfolioBreakdown__categoryContent-list-item-cellDivider">
        <div *ngIf="selectedMetricValue === constants.cs01; else creditLeverageCurrentPct"class="sat-portfolioBreakdown__categoryContent-list-item-cell sat-portfolioBreakdown__categoryContent-list-item-cell--current">{{eachCategory.cs01.currentPct}}%</div>
        <ng-template #creditLeverageCurrentPct>
          <div class="sat-portfolioBreakdown__categoryContent-list-item-cell sat-portfolioBreakdown__categoryContent-list-item-cell--current">{{eachCategory.creditLeverage.currentPct}}%</div>
        </ng-template>
        <hr class="sat-portfolioBreakdown__categoryContent-list-item-cellDivider">
        <div *ngIf="selectedMetricValue === constants.cs01;else creditLeverageIndexPct"class="sat-portfolioBreakdown__categoryContent-list-item-cell sat-portfolioBreakdown__categoryContent-list-item-cell--index">{{eachCategory.cs01.indexPct}}%</div>
        <ng-template #creditLeverageIndexPct>
          <div class="sat-portfolioBreakdown__categoryContent-list-item-cell sat-portfolioBreakdown__categoryContent-list-item-cell--index">{{eachCategory.creditLeverage.indexPct}}%</div>
        </ng-template>
      </li>
    </ul>
  </section>
  <section class="sat-portfolioBreakdown__ctas">
    <button (click)="onClickEdit()" class="santaBtn--iconOnly sat-portfolioBreakdown__ctas-editBtn fal fa-pencil"></button>
  </section>
</article>