<article
  [ngClass]="{
    'sat-portfolioBreakdown': true,
    'sat-portfolioBreakdown--stencilState': breakdownData.state.isStencil,
    'sat-portfolioBreakdown--ratingAvailableState': breakdownData.state.isTargetAlignmentRatingAvail,
    'sat-portfolioBreakdown--goodRating': breakdownData.state.isTargetAlignmentRatingAvail && breakdownData.style.ratingFillWidth >= 80,
    'sat-portfolioBreakdown--averageRating': breakdownData.state.isTargetAlignmentRatingAvail && breakdownData.style.ratingFillWidth >= 60 && breakdownData.style.ratingFillWidth < 80,
    'sat-portfolioBreakdown--badRating': breakdownData.state.isTargetAlignmentRatingAvail && breakdownData.style.ratingFillWidth < 60,
    'sat-portfolioBreakdown--editableState': breakdownData.state.isEditable && !breakdownData.state.isStencil && !breakdownData.state.isPreviewVariant,
    'sat-portfolioBreakdown--previewVariant': breakdownData.state.isPreviewVariant
  }">
  <section class="sat-portfolioBreakdown__title">
    <div class="sat-portfolioBreakdown__title-definition">
      <security-definition
        [definitionData]="breakdownData.data.definition"
        [backgroundVariant]="true"
        [interactionDisabled]="true">
      </security-definition>
    </div>
    <span class="sat-portfolioBreakdown__title-text">{{breakdownData.data.title}}</span>
  </section>
  <section class="sat-portfolioBreakdown__rating">
    <div
      class="sat-portfolioBreakdown__rating-fill"
      [ngStyle]="{
        'width': breakdownData.style.ratingFillWidth + '%'
      }">
    </div>
    <span class="sat-portfolioBreakdown__rating-hoverText">{{breakdownData.data.ratingHoverText}}</span>
  </section>
  <section class="sat-portfolioBreakdown__categoryHeader">
    <div class="sat-portfolioBreakdown__categoryHeader-cell">
      <i class="sat-portfolioBreakdown__categoryHeader-cell-icon fas fa-pennant"></i>
      <div class="sat-portfolioBreakdown__categoryHeader-cell-tooltip">Target</div>
    </div>
    <div class="sat-portfolioBreakdown__categoryHeader-cell">
      <i class="sat-portfolioBreakdown__categoryHeader-cell-icon fas fa-chart-pie"></i>
      <div class="sat-portfolioBreakdown__categoryHeader-cell-tooltip">Current %</div>
    </div>
    <div class="sat-portfolioBreakdown__categoryHeader-cell">
      <i class="sat-portfolioBreakdown__categoryHeader-cell-icon fas fa-analytics"></i>
      <div class="sat-portfolioBreakdown__categoryHeader-cell-tooltip">Index %</div>
    </div>
  </section>
  <section class="sat-portfolioBreakdown__categoryContent">
    <ul class="sat-portfolioBreakdown__categoryContent-list">
      <li
        *ngFor="let eachCategory of breakdownData.data.displayCategoryList"
        [ngClass]="{
          'sat-portfolioBreakdown__categoryContent-list-item': true,
          'sat-portfolioBreakdown__categoryContent-list-item--noSignificantDiff': eachCategory.data.diffToTarget === 0,
          'sat-portfolioBreakdown__categoryContent-list-item--negativeDiff': eachCategory.data.diffToTarget < 0
        }">
        <portfolio-breakdown-row
          [breakdownRow]="eachCategory"
          (breakdownRowDiveIn)="updatePopoverData($event)">
        </portfolio-breakdown-row>
      </li>
    </ul>
  </section>
  <section class="sat-portfolioBreakdown__ctas">
    <button (click)="onClickEdit()" class="santaBtn--iconOnly sat-portfolioBreakdown__ctas-editBtn fal fa-pencil"></button>
  </section>
  <section class="sat-portfolioBreakdown__popover" *ngIf="breakdownData.data.popover">
    <structure-popover [popover]="breakdownData.data.popover">
    </structure-popover>
  </section>
</article>