<article
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  [ngClass]="{
    'sat-alert': true,
    'sat-alert--info': true,
    'sat-alert--isHoveredState': alertData.state.isHovered
  }">
  <section class="sat-alert__overview">
    <div class="sat-alert__overview-main">
      <i class="sat-alert__overview-main-icon fal fa-meh"></i>
    </div>
  </section>
  <section class="sat-alert__detail">
    <div class="sat-alert__detail-card">
      <security-card [cardData]="alertData.data.security"></security-card>
    </div>
    <div class="sat-alert__detail-message">
      <span class="sat-alert__detail-message-text">{{alertData.data.message}}</span>
    </div>
  </section>
  <section class="sat-alert__close">
    <button class="sat-alert__close-btn santaBtn--iconOnly fal fa-eraser"></button>
  </section>
  <section class="sat-alert__countdown">
    <div class="sat-alert__countdown-line">
      <div class="sat-alert__countdown-line-content"></div>
    </div>
  </section>
</article>