@import "global.scss";

$alert_height: 5rem;
$alert_margin_right: $spacing_large;
$alert_countdown_duration: 5s;
$alert_color_bwic: $color_bid;
$alert_color_owic: $color_ask;
.sat-alert {
  $alertBlockName: &;
  @include mix_alive('light');
  @include mix_border_radius(10px);
  display: flex;
  width: $alert_width;
  height: $alert_height;
  margin: $spacing_small 0;
  transform: translate(-$alert_height, 0);
  &__thumbnail {
    @include mix_fixed_div(relative, $z_index_base_item);
    @include mix_border_radius(10px, 'left');
    @include mix_alive('light');
    @include material();
    flex: 0 0 auto;
    display: flex;
    width: $alert_height;
    padding: $spacing_small;
    background-color: $color_white;
    &-main {
      @include mix_border_radius(5px);
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      background-color: $color_gray_6;
      &-type {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        padding: $spacing_xx_small;
        &-text {
          color: $font_color_inverse;
        }
      }
      &-quant {
        @include mix_border_radius(3px, 'bottom');
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 $spacing_x_small $spacing_x_small $spacing_x_small;
        background-color: $color_white;
        &-text {
          font-size: $font_size_x_large;
          line-height: $line_height_x_small;
          color: $color_gray_6;
        }
      }
    }
  }
  &__detail {
    @include mix_fixed_div(relative, $z_index_base_item);
    @include mix_border_radius(10px);
    @include mix_alive('light');
    @include material();
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin-left: $spacing_small;
    padding: $spacing_small;
    background-color: $color_white;
    &-card {
      flex: 0 0 auto;
    }
    &-message {
      @include mix_text_overflow_multi_line(2);
      flex: 1 1 auto;
      margin-top: $spacing_small;
      line-height: $line_height_small;
      overflow: hidden;
      user-select: none;
    }
    &-countdown {
      @include mix_border_radius(10px);
      @include mix_fixed_div(absolute, $z_index_base_item);
      display: flex;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      &-line {
        @include mix_fixed_div(absolute, $z_index_hovering_item);
        display: flex;
        width: 100%;
        bottom: 0;
        height: $alert_countdown_width;
        &-content {
          @include mix_alive('custom', margin-left $alert_countdown_duration linear);
          margin-left: 0;
          flex: 1 1 auto;
          &--started {
            margin-left: 100%;
          }
        }
      }
    }
  }
  &__close {
    @include mix_fixed_div(absolute, $z_index_hovering_item);
    display: flex;
    align-self: center;
    right: -$iconButton_size_large/2;
    &-btn {
      @include mix_border_radius(50%);
      display: flex;
      width: $iconButton_size_large;
      height: $iconButton_size_large;
      font-size: $font_size_large;
      background-color: $color_kill;
      color: $font_color_inverse;
    }
  }
  &__actionMenu {
    @include mix_fixed_div(absolute, $z_index_hovering_item);
    @include mix_alive('custom', transform $animation_duration_light);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.01);
    top: 0;
    left: 0;
    height: 100%;
    width: $alert_width - $spacing_x_large;
    &-btn {
      margin: 0 $spacing_small;
    }
  }
  &--bwicVariant {
    #{$alertBlockName} {
      &__thumbnail-main {
        background-color: $alert_color_bwic;
        &-quant-text {
          color: $alert_color_bwic;
        }
      }
      &__detail-countdown-line-content {
        background-color: $alert_color_bwic;
      }
    }
  }
  &--owicVariant {
    #{$alertBlockName} {
      &__thumbnail-main {
        background-color: $alert_color_owic;
        &-quant-text {
          color: $alert_color_owic;
        }
      }
      &__detail-countdown-line-content {
        background-color: $alert_color_owic;
      }
    }
  }
  &--slideOutState {
    transform: translate(-$alert_width - $spacing_large, 0);
    #{$alertBlockName} {
      &__thumbnail {
        @include material('none');
        @include mix_border_radius(10px);
        background-color: $color_active;
      }
    }
  }
  &--willBeRemovedState {
    @include material('none');
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
  }
  &--hiddenState {
    transform: translate(0, 0);
  }
}