<article
  [ngClass]="{
    'sat-alert': true,
    'sat-alert--typeMarkVariant': alertData.data.type === alertTypes.markAlert,
    'sat-alert--typeAxeVariant': alertData.data.type === alertTypes.axeAlert,
    'sat-alert--typeTradeVariant': alertData.data.type === alertTypes.tradeAlert,
    'sat-alert--typeTraceVariant': alertData.data.type === alertTypes.traceAlert,
    'sat-alert--askSidedVariant': alertData.data.subType === alertSubTypes.ask || alertData.data.subType === alertSubTypes.sell,
    'sat-alert--bidSidedVariant': alertData.data.subType === alertSubTypes.bid || alertData.data.subType === alertSubTypes.buy,
    'sat-alert--slideOutState': alertData.state.isSlidedOut || !alertData.state.isCountdownFinished,
    'sat-alert--hiddenState': hideAllAlerts && alertData.state.isCountdownFinished,
    'sat-alert--willBeRemovedState': alertData.state.willBeRemoved,
    'sat-alert--hasSecurityState': alertData.state.hasSecurity,
    'sat-alert--hasTitlePinState': alertData.state.hasTitlePin,
    'sat-alert--errorState': alertData.state.isError
  }">
  <section (click)="onClickAlertThumbnail()" class="sat-alert__thumbnail">
    <div class="sat-alert__thumbnail-type">
      <div class="sat-alert__thumbnail-type-circle">
        <span class="sat-alert__thumbnail-type-circle-inner sat-alert__thumbnail-type-circle-innerText">{{alertData.data.subType.toString().toLocaleUpperCase()}}</span>
        <div class="sat-alert__thumbnail-type-circle-inner sat-alert__thumbnail-type-circle-inner--axe">
          <i class="sat-alert__thumbnail-type-circle-inner-icon fas fa-axe"></i>
        </div>
        <div class="sat-alert__thumbnail-type-circle-inner sat-alert__thumbnail-type-circle-inner--mark">
          <i class="sat-alert__thumbnail-type-circle-inner-icon far fa-bullseye-arrow"></i>
        </div>
        <div class="sat-alert__thumbnail-type-circle-inner sat-alert__thumbnail-type-circle-inner--trade">
          <i class="sat-alert__thumbnail-type-circle-inner-icon fal fa-handshake"></i>
        </div>
        <div class="sat-alert__thumbnail-type-circle-inner sat-alert__thumbnail-type-circle-inner--trace">
          <i class="sat-alert__thumbnail-type-circle-inner-icon fal fa-analytics"></i>
        </div>
        <div class="sat-alert__thumbnail-type-circle-inner sat-alert__thumbnail-type-circle-inner--system">
          <i class="sat-alert__thumbnail-type-circle-inner-icon fas fa-info"></i>
        </div>
      </div>
      <div class="sat-alert__thumbnail-type-mask"></div>
    </div>
    <div class="sat-alert__thumbnail-pin">
      <div class="sat-alert__thumbnail-pin-content">
        <span class="sat-alert__thumbnail-pin-content-text">{{validUntil | countdown}}</span>
      </div>
      <div class="sat-alert__thumbnail-pin-mask"></div>
    </div>
    <div class="sat-alert__thumbnail-main">
      <div class="sat-alert__thumbnail-main-upper">
        <span class="sat-alert__thumbnail-main-upper-text">{{alertData.data.titleTop}}</span>
      </div>
      <div class="sat-alert__thumbnail-main-lower" *ngIf="alertData.data.titleBottom">
        <span class="sat-alert__thumbnail-main-lower-text">{{alertData.data.titleBottom}}</span>
      </div>
    </div>
  </section>
  <section (click)="onClickAlertDetail()" class="sat-alert__detail">
    <div class="sat-alert__detail-timestamp">
      <span class="sat-alert__detail-timestamp-text">
        {{alertData.data.time}}
      </span>
    </div>
    <div class="sat-alert__detail-message">
      <p class="sat-alert__detail-message-text" [innerHtml]="alertData.data.paragraphMessage"></p>
    </div>
    <div class="sat-alert__detail-card">
      <security-card *ngIf="alertData.state.hasSecurity" [cardData]="alertData.data.security"></security-card>
    </div>
    <div class="sat-alert__detail-countdown">
      <div class="sat-alert__detail-countdown-line">
        <div
          [ngClass]="{
            'sat-alert__detail-countdown-line-content': true,
            'sat-alert__detail-countdown-line-content--started': ! alertData.state.isNew
          }"></div>
      </div>
    </div>
  </section>
  <section class="sat-alert__close">
    <button (click)="onClickRemove()" class="sat-alert__close-btn santaBtn--iconOnly fal fa-eraser"></button>
  </section>
  <section class="sat-alert__hoverClose">
    <button (click)="onClickRemove()" class="sat-alert__hoverClose-btn santaBtn--iconOnly">
      <div class="sat-alert__hoverClose-btn-content">
        <i class="fal fa-eraser"></i>
      </div>
    </button>
  </section>
</article>
