<article
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  [ngClass]="{
    'sat-alert': true,
    'sat-alert--info': true,
    'sat-alert--slideOutState': alertData.state.isHovered || !alertData.state.isCountdownFinished || slideOutAllAlerts,
    'sat-alert--hiddenState': hideAllAlerts && alertData.state.isCountdownFinished,
    'sat-alert--selectedState': alertData.state.isSelected,
    'sat-alert--willBeRemovedState': alertData.state.willBeRemoved
  }">
  <section (click)="onClickAlert()" class="sat-alert__overview">
    <div class="sat-alert__overview-main">
      <i class="sat-alert__overview-main-icon fal fa-meh"></i>
    </div>
  </section>
  <section (click)="onClickAlert()" class="sat-alert__detail">
    <div class="sat-alert__detail-card">
      <security-card [cardData]="alertData.data.security"></security-card>
    </div>
    <div class="sat-alert__detail-message">
      <span class="sat-alert__detail-message-text">{{alertData.data.message}}</span>
    </div>
  </section>
  <section class="sat-alert__close">
    <button (click)="onClickRemove()" class="sat-alert__close-btn santaBtn--iconOnly fal fa-eraser"></button>
  </section>
  <section class="sat-alert__countdown">
    <div class="sat-alert__countdown-line">
      <div
        [ngClass]="{
          'sat-alert__countdown-line-content': true,
          'sat-alert__countdown-line-content--started': ! alertData.state.isNew
        }"></div>
    </div>
  </section>
  <section (click)="onClickAlert()" class="sat-alert__actionMenu">
    <button class="sat-alert__actionMenu-btn santaBtn--labelled">
      <i class="fal fa-reply"></i>
      <span>See in Table</span>
    </button>
  </section>
</article>