<article [ngClass]="{
  'sat-securityGroupAverageVisualizer': true,
  'sat-securityGroupAverageVisualizer--expandedState': visualizerData.state.isExpanded,
  'sat-securityGroupAverageVisualizer--stencilState': visualizerData.state.isStencil
}">
  <section class="sat-securityGroupAverageVisualizer__metricNames">
    <div class="sat-securityGroupAverageVisualizer__metricNames-content">
    <div class="sat-securityGroupAverageVisualizer__metricNames-content-nameContainer" *ngFor="let eachStat of visualizerData.data.stats">
      <button class="sat-securityGroupAverageVisualizer__metricNames-content-nameContainer-name">{{eachStat.label}}</button>
    </div>
  </div>
  </section>
  <section class="sat-securityGroupAverageVisualizer__alignmentLine"></section>
  <section class="sat-securityGroupAverageVisualizer__metricValues">
    <div class="sat-securityGroupAverageVisualizer__metricValues-lineContainer" *ngFor="let eachStat of visualizerData.data.stats">
      <div [ngStyle]="{'width': eachStat.percentage + '%'}" class="sat-securityGroupAverageVisualizer__metricValues-lineContainer-line">{{eachStat.value}}</div>
    </div>
    <div class="sat-securityGroupAverageVisualizer__metricValues-mask"></div>
  </section>
</article>