@import "global.scss";
@import "modules/market/market.scss";

.sat-securityGroupAverageVisualizer {
  display: flex;
  flex-direction: row;
  &__groupName {
    flex: 0 0 $securityGroup_content_canvases_left_width;
  }
  &__metrics {
    flex: 1 1 auto;
    display: flex;
    margin-right: $spacing_small; // to align perfectly with each securityGroup card
    &-item {
      flex: 1 1 33.33%;
    }
  }
}

//    flex: 0 0 $securityGroup_content_canvases_right_metricValue_width;
$averageVisualizerName_rightPadding: $spacing_large;
$averageVisualizerName_nameCTA_height: 1.5rem;
$averageVisualizerName_metricSelectionDropdown_width: 24rem;
$averageVisualizerName_metricSelectionDropdown_height: 27rem;
$averageVisualizerName_metricSelectionDropdown_item_label_width: 7rem;
.sat-securityGroupAverageVisualizerName {
  $averageVisualizerNameBlockName: &;
  @include mix_fixed_div(relative, $z_index_standard_base_item);
  flex: 1 1 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-right: $averageVisualizerName_rightPadding;
  &__sortHierarchy {
    flex: 0 0 $securityGroup_content_canvases_right_metricValue_width;
    display: flex;
    visibility: hidden;
    &-content {
      @include mix_border_radius(5px);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color_active;
      padding: $spacing_xx_small $spacing_x_small;
      margin-right: $spacing_small;
      &-icon {
        color: $font_color_inverse;
        font-size: $font_size_x_small;
      }
      &-text {
        margin-left: $spacing_x_small;
        color: $font_color_inverse;
        font-size: $font_size_x_small;
      }
    }
  }
  &__nameCTA {
    flex: 1 1 auto;
    height: $averageVisualizerName_nameCTA_height;
    padding: 0;
    font-size: $font_size_small;
    &--delta {
      display: none;
    }
  }
  &__addMetric {
    flex: 1 1 auto;
    display: none;
    justify-content: center;
    height: $averageVisualizerName_nameCTA_height;
    padding: 0;
    background-color: $color_create;
    &>&-icon {
      font-size: $font_size_normal;
    }
    &>span {
      font-size: $font_size_x_small;
    }
  }
  &__actionMenu {
    @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
    @include mix_alive('custom', $animation_duration_light transform);
    @include mix_calculate(width, 100%, $securityGroup_content_canvases_right_metricValue_width + $averageVisualizerName_rightPadding, '-');
    display: flex;
    justify-content: space-around;
    top: -$iconButton_size_small - $spacing_small;
    right: $averageVisualizerName_rightPadding;
    transform: scale(0.01);
    &-deleteBtn {
      background-color: $color_kill;
      color: $font_color_inverse;
    }
    &-editBtn {
      background-color: $color_edit;
      color: $font_color_inverse;
    }
    &-sortBtn {

    }
  }
  &__metricSelectionDropdown {
    @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
    top: $spacing_large;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &-content {
      @include mix_border_radius(5px);
      @include mix_alive('custom', $animation_duration_light transform);
      display: flex;
      transform: translate(0, -100%) ;
      height: $spacing_minimum;
      overflow: hidden;
    }
  }
  &--showingDeltaState {
    #{$averageVisualizerNameBlockName} {
      &__nameCTA {
        display: none;
        &--delta {
          display: flex;
        }
      }
    }
  }
  &--selectedState {
    #{$averageVisualizerNameBlockName} {
      &__nameCTA {
        @include material('none');
        background-color: $color_active;
        color: $font_color_inverse;
      }
      &__actionMenu {
        transform: scale(1);
      }
    }
  }
  &--editingState {
    #{$averageVisualizerNameBlockName} {
      &__addMetric {
        @include material('none');
        background-color: $color_active;
      }
      &__actionMenu {
        transform: scale(0.01);
      }
      &__metricSelectionDropdown-content {
        @include mix_border_generator;
        height: $averageVisualizerName_metricSelectionDropdown_height;
        width: $averageVisualizerName_metricSelectionDropdown_width;
        background-color: $color_white;
        transform: translate(0, 0);
      }
    }
  }
  &--sortActiveState {
    #{$averageVisualizerNameBlockName} {
      &__sortHierarchy {
        visibility: visible;
      }
      &__actionMenu {
        &-sortBtn {
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
    }
  }
  &--stencilState {
    #{$averageVisualizerNameBlockName} {
      &__nameCTA {
        @include material('none');
        @include mix_border_generator;
      }
      &__addMetric {
        @include material('none');
      }
      &__actionMenu {
        display: none;
      }
      &__metricSelectionDropdown {
        display: none;
      }
    }
  }
  &--emptyState {
    #{$averageVisualizerNameBlockName} {
      &__nameCTA, &__actionMenu{
        display: none;
      }
      &__addMetric {
        display: flex;
      }
    }
  }
  &--emptyState#{$averageVisualizerNameBlockName}--nextEmpty {
    margin: 0;
    #{$averageVisualizerNameBlockName} {
      &__addMetric, &__metricSelectionDropdown {
        display: none;
      }
    }
  }
}

.sat-securityGroupAverageVisualizerValue {
  $averageVisualizerValueBlockName: &;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  &__line {
    @include mix_border_radius(3px);
    display: flex;
    align-items: center;
    background-color: $color_active;
    height: $securityGroup_content_canvases_right_metricLines_thickness*1.5;
  }
  &--negativeState {
    #{$averageVisualizerValueBlockName} {
      &__line {
        background-color: $color_negative;
      }
    }
  }
  &--stencilState {
    #{$averageVisualizerValueBlockName} {
      &__line {
        @include mix_stencil_animation;
      }
    }
  }
  &--emptyState {
    #{$averageVisualizerValueBlockName} {
      &__line {
        width: 0!important;
      }
    }
  }
  &--emptyState#{$averageVisualizerValueBlockName}--nextEmpty {
    display: none;
  }
  &--panelEmptyState {
    #{$averageVisualizerValueBlockName} {
      &__line {
        display: none;
      }
    }
  }
}

.sat-securityGroupAverageVisualizerNameDropdownContent {
  $averageVisualizerNameDropdownBlockName: &;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: $spacing_medium;
  &__chooseMetric {
    display: flex;
    flex-direction: column;
    &-label {
      font-size: $font_size_large;
      color: $font_color_minor;
      text-align: left;
    }
    &-list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 0 0 0 $spacing_large;
      &-item {
        flex: 1 1 auto;
        margin-top: $spacing_medium;
        margin-right: $spacing_medium;
        font-size: $font_size_small;
        &--selected {
          @include material('none');
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
    }
  }
  &__chooseValueType {
    @include mix_border_generator($typical_border_width 0 0 0);
    display: none;
    flex-direction: column;
    margin-top: $spacing_medium;
    padding-top: $spacing_medium;
    &-label {
      font-size: $font_size_large;
      color: $font_color_minor;
      text-align: left;
    }
    &-list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 0 0 0 $spacing_large;
      &-item {
        flex: 1 1 auto;
        margin-top: $spacing_medium;
        margin-right: $spacing_medium;
        font-size: $font_size_small;
        &--selected {
          @include material('none');
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
    }
  }
  &__chooseDeltaType {
    @include mix_border_generator($typical_border_width 0 0 0);
    display: none;
    flex-direction: column;
    margin-top: $spacing_medium;
    padding-top: $spacing_medium;
    &-label {
      font-size: $font_size_large;
      color: $font_color_minor;
      text-align: left;
    }
    &-list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 0 0 0 $spacing_large;
      &-item {
        flex: 1 1 auto;
        margin-top: $spacing_medium;
        margin-right: $spacing_medium;
        font-size: $font_size_small;
        &--selected {
          @include material('none');
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
    }
  }
  &--selectedMetric {
    #{$averageVisualizerNameDropdownBlockName} {
      &__chooseValueType {
        display: flex;
      }
    }
  }
  &--selectedValueType {
    #{$averageVisualizerNameDropdownBlockName} {
      &__chooseDeltaType {
        display: flex;
      }
    }
  }
}