<article [ngClass]="{
  'sat-securityGroupAverageVisualizer': true,
  'sat-securityGroupAverageVisualizer--stencilState': visualizerData.state.isStencil,
  'sat-securityGroupAverageVisualizer--panelEmptyState': panelAtEmptyState,
  'sat-securityGroupAverageVisualizer--expandedState': expandedState
}">
  <section class="sat-securityGroupAverageVisualizer__groupName">
  </section>
  <section class="sat-securityGroupAverageVisualizer__metrics">
    <div class="sat-securityGroupAverageVisualizer__metrics-item" *ngFor="let eachMetric of visualizerData.data.stats">
      <div class="sat-securityGroupAverageVisualizer__metrics-item-cta">
        <article
          [ngClass]="{
            'sat-securityGroupAverageVisualizerName': true,
            'sat-securityGroupAverageVisualizerName--showingDeltaState': eachMetric.deltaScope,
            'sat-securityGroupAverageVisualizerName--editingState': visualizerData.state.editingStat === eachMetric,
            'sat-securityGroupAverageVisualizerName--sortActiveState': eachMetric.sortHierarchy > 0,
            'sat-securityGroupAverageVisualizerName--emptyState': eachMetric.isEmpty,
            'sat-securityGroupAverageVisualizerName--stencilState': visualizerData.state.isStencil
          }">
          <section class="sat-securityGroupAverageVisualizerName__ctas">
            <!--
            TODO: temporarily disable deleting metrics until we figure out the proper UI
            <button (click)="onClickActionDelete(eachMetric)" class="sat-securityGroupAverageVisualizerName__actionMenu-deleteBtn santaBtn--iconOnly santaBtn--small fal fa-times"></button>
            -->
            <button (click)="onClickActionEdit(eachMetric)" class="sat-securityGroupAverageVisualizerName__ctas-editBtn santaBtn--labelled santaBtn--small">
              <i class="fal fa-pencil"></i>
              <span>Edit</span>
            </button>
            <button (click)="onClickMetricSort(eachMetric)" class="sat-securityGroupAverageVisualizerName__ctas-sortBtn santaBtn--labelled santaBtn--inverseLabelled santaBtn--small">
              <i class="fal fa-sort-amount-down-alt"></i>
              <span>Sort</span>
            </button>
          </section>
          <section class="sat-securityGroupAverageVisualizerName__name">{{eachMetric.label}}</section>
          <section class="sat-securityGroupAverageVisualizerName__name sat-securityGroupAverageVisualizerName__name--delta">{{eachMetric.label}} Δ {{eachMetric.deltaScope}}</section>
          <button (click)="addMetric(eachMetric)" class="sat-securityGroupAverageVisualizerName__addMetric santaBtn--labelled santaBtn--inverseLabelled">
            <i class="sat-securityGroupAverageVisualizerName__addMetric-icon fal fa-plus"></i>
            <span>Add Metric</span>
          </button>
          <section class="sat-securityGroupAverageVisualizerName__metricSelectionDropdown">
            <div class="sat-securityGroupAverageVisualizerName__metricSelectionDropdown-content">
              <article
                [ngClass]="{
                  'sat-securityGroupAverageVisualizerNameDropdownContent': true,
                  'sat-securityGroupAverageVisualizerNameDropdownContent--selectedMetric': !!visualizerData.state.editingStatSelectedMetric,
                  'sat-securityGroupAverageVisualizerNameDropdownContent--selectedValueType': visualizerData.state.editingStatSelectedMetricValueType === 'DELTA'
                }">
                <button (click)="dropdownClose()" class="sat-securityGroupAverageVisualizerNameDropdownContent__closeBtn santaBtn--iconOnly santaBtn--small fal fa-times"></button>
                <section class="sat-securityGroupAverageVisualizerNameDropdownContent__chooseMetric">
                  <span class="sat-securityGroupAverageVisualizerNameDropdownContent__chooseMetric-label">Choose Metric :</span>
                  <ul class="sat-securityGroupAverageVisualizerNameDropdownContent__chooseMetric-list">
                    <button
                      *ngFor="let eachMetric of metricOptions"
                      (click)="dropdownSelectMetric(eachMetric)"
                      [ngClass]="{
                        'sat-securityGroupAverageVisualizerNameDropdownContent__chooseMetric-list-item': true,
                        'sat-securityGroupAverageVisualizerNameDropdownContent__chooseMetric-list-item--selected': visualizerData.state.editingStatSelectedMetric === eachMetric
                      }">
                      {{eachMetric.label}}
                    </button>
                  </ul>
                </section>
                <section class="sat-securityGroupAverageVisualizerNameDropdownContent__chooseValueType">
                  <span class="sat-securityGroupAverageVisualizerNameDropdownContent__chooseValueType-label">Choose Value Type :</span>
                  <ul class="sat-securityGroupAverageVisualizerNameDropdownContent__chooseValueType-list">
                    <button
                      (click)="dropdownSelectMetricValueType('RAW')"
                      [ngClass]="{
                        'sat-securityGroupAverageVisualizerNameDropdownContent__chooseValueType-list-item': true,
                        'sat-securityGroupAverageVisualizerNameDropdownContent__chooseValueType-list-item--selected': visualizerData.state.editingStatSelectedMetricValueType === 'RAW'
                      }">
                      Raw Value
                    </button>
                    <button
                      (click)="dropdownSelectMetricValueType('DELTA')"
                      [ngClass]="{
                        'sat-securityGroupAverageVisualizerNameDropdownContent__chooseValueType-list-item': true,
                        'sat-securityGroupAverageVisualizerNameDropdownContent__chooseValueType-list-item--selected': visualizerData.state.editingStatSelectedMetricValueType === 'DELTA'
                      }">
                      Delta Value
                    </button>
                  </ul>
                </section>
                <section class="sat-securityGroupAverageVisualizerNameDropdownContent__chooseDeltaType">
                  <span class="sat-securityGroupAverageVisualizerNameDropdownContent__chooseDeltaType-label">Choose Delta Scope :</span>
                  <ul class="sat-securityGroupAverageVisualizerNameDropdownContent__chooseDeltaType-list">
                    <button
                      (click)="dropdownSelectMetricDeltaType(eachDeltaType)"
                      *ngFor="let eachDeltaType of visualizerData.state.editingStatSelectedMetric?.deltaOptions"
                      [ngClass]="{
                        'sat-securityGroupAverageVisualizerNameDropdownContent__chooseDeltaType-list-item': true,
                        'sat-securityGroupAverageVisualizerNameDropdownContent__chooseDeltaType-list-item--selected': visualizerData.state.editingStatSelectedMetricDeltaType === eachDeltaType
                      }">
                      {{eachDeltaType}}
                    </button>
                  </ul>
                </section>
              </article>
            </div>
          </section>
        </article>
      </div>
      <div class="sat-securityGroupAverageVisualizer__metrics-item-line">
        <article
          [ngClass]="{
            'sat-securityGroupAverageVisualizerValue': true,
            'sat-securityGroupAverageVisualizerValue--negative': eachMetric.value < 0,
            'sat-securityGroupAverageVisualizerValue--stencilState': visualizerData.state.isStencil,
            'sat-securityGroupAverageVisualizerValue--emptyState': eachMetric.isEmpty
          }">
          <section class="sat-securityGroupAverageVisualizerValue__value">
            {{eachMetric.value}}
          </section>
          <section class="sat-securityGroupAverageVisualizerValue__negative">
            <div [ngStyle]="{'width': eachMetric.percentage + '%'}" class="sat-securityGroupAverageVisualizerValue__negative-line"></div>
            <div class="sat-securityGroupAverageVisualizerValue__negative-mask"></div>
          </section>
          <section class="sat-securityGroupAverageVisualizerValue__positive">
            <div [ngStyle]="{'width': eachMetric.percentage + '%'}" class="sat-securityGroupAverageVisualizerValue__positive-line"></div>
            <div class="sat-securityGroupAverageVisualizerValue__positive-mask"></div>
          </section>
        </article>
      </div>
    </div>
  </section>
</article>