@import "global.scss";
@import "modules/market/market.scss";

$averageVisualizer_metricNames_width: $securityGroup_content_canvases_left_width + $securityGroup_content_canvases_right_metricName_width + $securityGroup_base_wheel_size;
$averageVisualizer_metricNames_width_expanded: $securityGroup_content_canvases_left_width_expanded + $securityGroup_content_canvases_right_metricName_width + $securityGroup_base_wheel_size;
.sat-securityGroupAverageVisualizer {
  $averageVisualizerBlockName: &;
  display: flex;
  &__metricNames {
    flex: 0 0 $averageVisualizer_metricNames_width;
    display: flex;
    flex-direction: column;
  }
  &__alignmentLine {
    @include mix_border_generator(0 0 0 $typical_border_width);
    flex: 0 0 auto;
    margin-left: $securityGroup_content_canvases_right_alignmentLine_marginLeft;
    width: $securityGroup_content_canvases_right_alignmentLine_marginLeft;
  }
  &__metricValues {
    @include mix_fixed_div(relative, $z_index_standard_base_item);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin-right: $securityGroup_base_wheel_size;
    &-mask {
      @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
      @include mix_alive('custom', $animation_duration_heavy transform);
      width: 100%;
      height: 100%;
      transform: translate(100%, 0);
      background-color: $color_gray_2;
    }
  }
  &--expandedState {
    #{$averageVisualizerBlockName} {
      &__metricNames {
        flex: 0 0 $averageVisualizer_metricNames_width_expanded;
      }
    }
  }
  @include mq-xx-large-min {
    &__metricNames {
      flex: 0 0 $averageVisualizer_metricNames_width_expanded;
    }
  }
  &--stencilState {
    #{$averageVisualizerBlockName} {
      &__metricValues-mask {
        opacity: 0;
        transform: translate(0, 0);
      }
    }
  }
}

$averageVisualizerName_nameCTA_width: 7.5rem;
$averageVisualizerName_nameCTA_height: 1.5rem;
$averageVisualizerName_value_width: 2.875rem;
$averageVisualizerName_metricSelectionDropdown_height: 12rem;
.sat-securityGroupAverageVisualizerName {
  $averageVisualizerNameBlockName: &;
  @include mix_fixed_div(relative, $z_index_standard_base_item);
  flex: 1 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  margin: $spacing_small 0;
  &__leftMargin {
    flex: 0 1 $securityGroup_base_wheel_size;
  }
  &__nameCTA {
    flex: 0 0 $averageVisualizerName_nameCTA_width;
    height: $averageVisualizerName_nameCTA_height;
    padding: 0;
    font-size: $font_size_x_small;
  }
  &__value {
    flex: 0 0 $averageVisualizerName_value_width;
    text-align: right;
    color: $font_color_major;
    font-size: $font_size_small;
    margin-left: $spacing_small;
  }
  &__addMetric {
    flex: 0 0 $averageVisualizerName_nameCTA_width;
    display: none;
    justify-content: center;
    height: $averageVisualizerName_nameCTA_height;
    padding: 0;
    background-color: $color_create;
    margin-right: $averageVisualizerName_value_width + $spacing_small;
    &>&-icon {
      font-size: $font_size_normal;
    }
    &>span {
      font-size: $font_size_x_small;
    }
  }
  &__actionMenu {
    @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
    @include mix_alive('custom', $animation_duration_light transform);
    display: flex;
    justify-content: space-between;
    top: -$iconButton_size_small - $spacing_small;
    right: $averageVisualizerName_value_width + $spacing_small;
    width: $averageVisualizerName_nameCTA_width;
    transform: scale(0.01);
    &-deleteBtn {
      background-color: $color_kill;
      color: $font_color_inverse;
    }
    &-editBtn {
      background-color: $color_edit;
      color: $font_color_inverse;
    }
  }
  &__metricSelectionDropdown {
    @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
    top: $spacing_large;
    right: $averageVisualizerName_value_width + $spacing_small;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &-content {
      @include mix_border_radius(5px);
      @include mix_alive('custom', $animation_duration_light transform);
      transform: translate(0, -100%) ;
      height: $averageVisualizerName_metricSelectionDropdown_height;
      overflow: hidden;
    }
  }
  &--selectedState {
    #{$averageVisualizerNameBlockName} {
      &__nameCTA {
        @include material('none');
        background-color: $color_active;
        color: $font_color_inverse;
      }
      &__actionMenu {
        transform: scale(1);
      }
    }
  }
  &--editingState {
    #{$averageVisualizerNameBlockName} {
      &__actionMenu {
        transform: scale(0.01);
      }
      &__metricSelectionDropdown-content {
        @include mix_border_generator;
        background-color: $color_white;
        transform: translate(0, 0);
      }
    }
  }
  &--stencilState {
    #{$averageVisualizerNameBlockName} {
      &__value {
        @include mix_stencil_animation;
      }
      &__nameCTA {
        @include material('none');
        @include mix_border_generator;
      }
      &__addMetric {
        @include material('none');
      }
      &__actionMenu {
        display: none;
      }
      &__metricSelectionDropdown {
        display: none;
      }
    }
  }
  &--emptyState {
    #{$averageVisualizerNameBlockName} {
      &__nameCTA, &__value, &__actionMenu{
        display: none;
      }
      &__addMetric {
        display: flex;
      }
    }
  }
  &--emptyState#{$averageVisualizerNameBlockName}--prevEmpty {
    margin: 0;
    #{$averageVisualizerNameBlockName} {
      &__addMetric, &__metricSelectionDropdown {
        display: none;
      }
    }
  }
}

.sat-securityGroupAverageVisualizerValue {
  $averageVisualizerValueBlockName: &;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  &__line {
    @include mix_border_radius(3px);
    display: flex;
    align-items: center;
    background-color: $color_active;
    height: $securityGroup_content_canvases_right_metricLines_thickness*1.5;
  }
  &--stencilState {
    #{$averageVisualizerValueBlockName} {
      &__line {
        @include mix_stencil_animation;
      }
    }
  }
  &--emptyState {
    #{$averageVisualizerValueBlockName} {
      &__line {
        width: 0!important;
      }
    }
  }
  &--emptyState#{$averageVisualizerValueBlockName}--prevEmpty {
    display: none;
  }
}