<article
  (click)="onClickGroup()"
  class="sat-securityGroup--type-{{groupData.data.ratingLevel}}"
  [ngClass]="{
    'sat-securityGroup': true,
    'sat-securityGroup--stencilState': groupData.state.isStencil,
    'sat-securityGroup--selectedState': groupData.state.isSelected
  }">
  <section class="sat-securityGroup__base">
    <div class="sat-securityGroup__base-wheel sat-securityGroup__base-wheel--left">
      <div class="sat-securityGroup__base-wheel-innerMask"></div>
    </div>
    <div class="sat-securityGroup__base-center"></div>
    <div class="sat-securityGroup__base-wheel sat-securityGroup__base-wheel--right">
      <div class="sat-securityGroup__base-wheel-innerMask"></div>
    </div>
  </section>
  <section class="sat-securityGroup__content">
    <div class="sat-securityGroup__content-wheel">
      <div class="sat-securityGroup__content-wheel-chartContainer">
        <div id="pieChart-1" class="sat-securityGroup__content-wheel-chartContainer-chart"></div>
      </div>
    </div>
    <div class="sat-securityGroup__content-numberTag">
      <span class="sat-securityGroup__content-numberTag-text">213</span>
      <div class="sat-securityGroup__content-numberTag-mask"></div>
    </div>
    <div class="sat-securityGroup__content-canvases">
      <div class="sat-securityGroup__content-canvases-left">
        <div class="sat-securityGroup__content-canvases-left-content">
          <div class="sat-securityGroup__content-canvases-left-content-name">
            <span class="sat-securityGroup__content-canvases-left-content-name-text">CAN 0.75 03/01/2021 CAD</span>
          </div>
          <div class="sat-securityGroup__content-canvases-left-content-value">
            <span class="sat-securityGroup__content-canvases-left-content-value-text">302</span>
          </div>
        </div>
      </div>
      <div class="sat-securityGroup__content-canvases-right">
        <div class="sat-securityGroup__content-canvases-right-metricValues">
          <div class="sat-securityGroup__content-canvases-right-metricValues-valueContainer">
            <span class="sat-securityGroup__content-canvases-right-metricValues-valueContainer-value">10</span>
          </div>
          <div class="sat-securityGroup__content-canvases-right-metricValues-valueContainer">
            <span class="sat-securityGroup__content-canvases-right-metricValues-valueContainer-value">140</span>
          </div>
          <div class="sat-securityGroup__content-canvases-right-metricValues-valueContainer">
            <span class="sat-securityGroup__content-canvases-right-metricValues-valueContainer-value">42M</span>
          </div>
        </div>
        <div class="sat-securityGroup__content-canvases-right-alignmentLine"></div>
        <div class="sat-securityGroup__content-canvases-right-metricLines">
          <div class="sat-securityGroup__content-canvases-right-metricLines-lineContainer">
            <div class="sat-securityGroup__content-canvases-right-metricLines-lineContainer-line"></div>
          </div>
          <div class="sat-securityGroup__content-canvases-right-metricLines-lineContainer">
            <div class="sat-securityGroup__content-canvases-right-metricLines-lineContainer-line"></div>
          </div>
          <div class="sat-securityGroup__content-canvases-right-metricLines-lineContainer">
            <div class="sat-securityGroup__content-canvases-right-metricLines-lineContainer-line"></div>
          </div>
          <div class="sat-securityGroup__content-canvases-right-metricLines-mask"
          ></div>
        </div>
      </div>
      <div class="sat-securityGroup__content-canvases-behind">
        <div class="sat-securityGroup__content-canvases-behind-rating">
          AAA
        </div>
      </div>
    </div>
    <div class="sat-securityGroup__content-wheel">
      <div class="sat-securityGroup__content-wheel-chartContainer">
        <div id="pieChart-2" class="sat-securityGroup__content-wheel-chartContainer-chart"></div>
      </div>
    </div>
  </section>
</article>