@import "global.scss";
@import "./security-group-mixin.scss";

$securityGroup_base_wheel_size: 9rem;
$securityGroup_base_center_height: 7rem;
$securityGroup_base_wheelToCenter_overlap: -$securityGroup_base_wheel_size/2;
$securityGroup_wheel_innerMask_positionMarkup: 1.5rem;
$securityGroup_wheel_innerMask_width: 3rem;
$securityGroup_content_numberTag_size: 3rem;
$securityGroup_content_numberTag_padding: $spacing_x_small;
$securityGroup_content_numberTag_halfSize: $securityGroup_content_numberTag_size/2 + $securityGroup_content_numberTag_padding;
$securityGroup_content_numberTag_top: -($securityGroup_content_numberTag_halfSize) + ($securityGroup_base_wheel_size - $securityGroup_base_center_height)/2;
$securityGroup_content_canvases_left_width: 60%;
$securityGroup_content_canvases_left_width_xLarge: 10rem;
$securityGroup_content_canvases_right_metricName_width: 2.25rem;
$securityGroup_content_canvases_right_metricLines_thickness: 0.3125rem;
$securityGroup_content_wheel_chartContainer_innerRadius_size: 70%;
$securityGroup_animationDelay: $animation_duration_light;

.sat-securityGroup {
  $securityGroupBlockName: &;
  @include mix_fixed_div(relative, $z_index_standard_base_item);
  @include mix_securityGroup;
  flex: 1 1 auto;
  display: flex;
  height: $securityGroup_base_wheel_size;
  &__base {
    @include mix_fixed_div(absolute, $z_index_standard_base_item_solid);
    width: 100%;
    display: flex;
    align-items: center;
    &-wheel {
      @include mix_fixed_div(relative, $z_index_standard_base_item_lift);
      @include mix_alive('custom', $animation_duration_light box-shadow);
      @include mix_shadow($material_regular_southMarkup, $material_lowHover_degree, $material_regular_intensity);
      @include mix_border_radius(50%);
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      width: $securityGroup_base_wheel_size;
      height: $securityGroup_base_wheel_size;
      &-innerMask {
        @include mix_fixed_div(absolute, $z_index_standard_base_item_solid);
        width: $securityGroup_wheel_innerMask_width;
        height: $securityGroup_base_center_height;
      }
      &--left {
        #{$securityGroupBlockName}__base-wheel-innerMask {
          margin-left: $securityGroup_base_wheel_size - $securityGroup_wheel_innerMask_positionMarkup;
        }
      }
      &--right {
        #{$securityGroupBlockName}__base-wheel-innerMask {
          margin-left: -$securityGroup_wheel_innerMask_positionMarkup;
        }
      }
    }
    &-center {
      @include mix_fixed_div(relative, $z_index_standard_base_item_solid);
      @include mix_alive('custom', $animation_duration_light box-shadow);
      @include mix_shadow($material_regular_southMarkup, $material_lowHover_degree, $material_regular_intensity);
      flex: 1 1 auto;
      margin: 0 $securityGroup_base_wheelToCenter_overlap;
      height: $securityGroup_base_center_height;
    }
  }
  &__content {
    @include mix_fixed_div(absolute, $z_index_standard_base_item_lift);
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    &-wheel {
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $securityGroup_base_wheel_size;
      height: $securityGroup_base_wheel_size;
      padding: $spacing_x_small;
      &-chartContainer {
        @include mix_border_radius(50%);
        @include mix_fixed_div(relative, $z_index_standard_base_item);
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: $color_white;
        &-chart {
          @include mix_fixed_div(absolute, $z_index_standard_base_item);
          @include mix_alive('custom', $animation_duration_normal transform);
          transition-delay: $securityGroup_animationDelay;
          transform: rotate(180deg) scale(1);
          left: -12.5%; // this magnification is necessary for countering the layout effect of the watermark
          height: 125%;
          width: 125%;
        }
        &-innerRadius {
          @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
          @include mix_border_radius(50%);
          @include mix_alive('custom', $animation_duration_normal transform);
          left: (100% - $securityGroup_content_wheel_chartContainer_innerRadius_size)/2;
          top: (100% - $securityGroup_content_wheel_chartContainer_innerRadius_size)/2;
          width: $securityGroup_content_wheel_chartContainer_innerRadius_size;
          height: $securityGroup_content_wheel_chartContainer_innerRadius_size;
          transition-delay: $securityGroup_animationDelay;
          transform: scale(1);
        }
      }
    }
    &-numberTag {
      @include mix_alive('custom', $animation_duration_light box-shadow);
      @include mix_shadow($material_regular_southMarkup, $material_lowHover_degree, $material_regular_intensity);
      @include mix_border_radius(50%);
      @include mix_fixed_div(absolute, $z_index_standard_base_item_solid);
      @include mix_calculate(left, 50%, $securityGroup_content_numberTag_size/2, '-');
      top: $securityGroup_content_numberTag_top;
      padding: $securityGroup_content_numberTag_padding;
      &-text {
        @include mix_fixed_div(relative, $z_index_standard_base_item_lift);
        @include mix_border_radius(50%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: $securityGroup_content_numberTag_size;
        width: $securityGroup_content_numberTag_size;
        background-color: $color_white;
      }
      &-mask {
        @include mix_fixed_div(absolute, $z_index_standard_base_item_solid);
        left: -($securityGroup_content_numberTag_size - $securityGroup_content_numberTag_padding)/2;
        top: $securityGroup_content_numberTag_halfSize;
        height: $securityGroup_content_numberTag_size;
        width: $securityGroup_content_numberTag_size*2;
      }
    }
    &-canvases {
      @include mix_fixed_div(relative, $z_index_standard_base_item_lift);
      @include mix_calculate(height, $securityGroup_base_center_height, $securityGroup_content_numberTag_halfSize + $spacing_small, '-');
      flex: 1 1 auto;
      display: flex;
      flex-wrap: wrap;
      margin: $securityGroup_content_numberTag_halfSize 0 $spacing_small 0;
      &-left {
        flex: 0 1 $securityGroup_content_canvases_left_width;
        display: flex;
        &-content {
          @include mix_fixed_div(relative, $z_index_standard_base_item_solid);
          flex: 1 1 auto;
          display: flex;
          align-items: center;
          flex-direction: column;
          &-name {
            flex: 1 1 auto;
            &-text {
              @include mix_text_overflow_multi_line(3);
              line-height: $line_height_x_small;
              color: $font_color_inverse;
              font-size: $font_size_small;
              text-align: center;
            }
          }
          &-value {
            flex: 0 0 auto;
            display: flex;
            &-text {
              @include mix_border_radius(5px);
              padding: 0 $spacing_medium;
              background-color: $color_white;
            }
          }
        }
      }
      &-right {
        @include mix_fixed_div(relative, $z_index_standard_base_item_solid);
        flex: 1 1 100%-$securityGroup_content_canvases_left_width;
        display: flex;
        padding: 0 $spacing_small;
        overflow: hidden;
        &-metricValues {
          flex: 0 0 $securityGroup_content_canvases_right_metricName_width;
          display: flex;
          flex-direction: column;
          &-valueContainer {
            flex: 1 1 auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            &-value {
              @include mix_text_overflow;
              font-size: $font_size_x_small;
              color: $font_color_inverse;
              text-align: right;
            }
          }
        }
        &-alignmentLine {
          @include mix_border_generator(0 0 0 $typical_border_width, $color_white);
          flex: 0 0 auto;
          margin-left: $spacing_small;
          width: $spacing_small;
        }
        &-metricLines {
          @include mix_fixed_div(relative, $z_index_standard_base_item);
          flex: 1 1 auto;
          display: flex;
          flex-direction: column;
          &-lineContainer {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            &-line {
              @include mix_border_radius(3px);
              height: $securityGroup_content_canvases_right_metricLines_thickness;
              background-color: $color_white;
              width: 100%;
            }
            &:nth-of-type(2) {
              * {
                width: 50%;
              }
            }
            &:nth-of-type(3) {
              * {
                width: 25%;
              }
            }
          }
          &-mask {
            @include mix_fixed_div(absolute, $z_index_standard_hovering_item);
            @include mix_alive('custom', $animation_duration_normal transform);
            width: 100%;
            height: 100%;
            transition-delay: $securityGroup_animationDelay;
            transform: translate(100%, 0);
          }
        }
      }
      &-behind {
        @include mix_fixed_div(absolute, $z_index_standard_bury_item);
        @include mix_calculate(right, 100% - $securityGroup_content_canvases_left_width, $spacing_small*2, '-');
        height: 100%;
        display: flex;
        align-items: center;
        &-rating {
          @include mix_rating_style;
          font-size: $font_size_xx_large;
          color: $font_color_inverse;
        }
      }
    }
  }
  &:hover {
    #{$securityGroupBlockName} {
      &__base {
        &-wheel {
          @include mix_shadow($material_regularHover_southMarkup, $material_regularHover_degree, $material_regularHover_intensity);
        }
        &-center {
          @include mix_shadow($material_regularHover_southMarkup, $material_regularHover_degree, $material_regularHover_intensity);
        }
      }
      &__content-numberTag {
        @include mix_shadow($material_regularHover_southMarkup, $material_regularHover_degree, $material_regularHover_intensity);
      }
    }
  }
  &--stencilState {
    #{$securityGroupBlockName} {
      &__base {
        &-wheel {
          background-color: $color_white;
          &-innerMask {
            background-color: $color_white;
          }
        }
        &-center {
          background-color: $color_white;
        }
      }
      &__content {
        &-canvases {
          &-left-content {
            &-name-text {
              @include mix_stencil_animation;
              color: $color_stencil;
              background-color: $color_stencil;
            }
            &-value {
              @include mix_stencil_animation;
              color: $color_stencil;
              background-color: $color_stencil;
              &-text {
                @include mix_stencil_animation;
                color: $color_stencil;
                background-color: $color_stencil;
              }
            }
          }
          &-right {
            &-metricValues-valueContainer-value {
              @include mix_stencil_animation;
              color: $color_stencil;
              background-color: $color_stencil;
            }
            &-alignmentLine {
              border-color: $color_stencil;
            }
            &-metricLines {
              &-lineContainer-line {
                @include mix_stencil_animation;
                color: $color_stencil;
                background-color: $color_stencil;
              }
              &-mask {
                opacity: 0;
                transition-delay: unset;
                transform: translate(0, 0);
              }
            }
          }
        }
        &-wheel-chartContainer {
          @include mix_stencil_animation;
          color: $color_stencil;
          background-color: $color_stencil;
          &-chart {
            transition-delay: unset;
            transform: rotate(0deg) scale(0.01);
            opacity: 0;
          }
          &-innerRadius {
            transition-delay: unset;
            transform: scale(0.01);
            opacity: 0;
          }
        }
        &-numberTag {
          background-color: $color_white;
          &-text {
            @include mix_stencil_animation;
            color: $color_stencil;
            background-color: $color_stencil;
          }
          &-mask {
            background-color: $color_white;
          }
        }
      }
    }
  }
  &--selectedState {
    #{$securityGroupBlockName} {
      &__base {
        &-wheel {
          @include material('none');
          background-color: $color_active;
          &-innerMask {
            background-color: $color_active;
          }
        }
        &-center {
          @include material('none');
          background-color: $color_active;
        }
      }
      &__content {
        &-canvases {
          &-left-content-value-text {
            color: $color_active;
          }
          &-right-metricLines-mask {
            background-color: $color_active;
          }
        }
        &-wheel-chartContainer {
          background-color: $color_active;
          &-chart {
            transition-delay: unset;
            transform: rotate(0deg) scale(1);
          }
          &-innerRadius {
            background-color: $color_active;
            transition-delay: unset;
            transform: scale(0.01);
          }
        }
        &-numberTag {
          @include material('none');
          background-color: $color_active;
          &-mask {
            background-color: $color_active;
          }
        } 
      }
    }
  }
  &--selectedState:hover {
    #{$securityGroupBlockName} {
      &__base {
        &-wheel {
          @include material('none');
        }
        &-center {
          @include material('none');
        }
      }
      &__content {
        &-numberTag {
          @include material('none');
        } 
      }
    }
  }
  @include mq-x-large-min {
    &__content-canvases {
      &-left {
        flex: 0 0 $securityGroup_content_canvases_left_width_xLarge;
      }
      &-right {
        flex: 1 1 auto;
      }
      &-behind {
        @include mix_calculate(right, 100%, $securityGroup_content_canvases_left_width_xLarge + $spacing_small*2, '-');
      }
    }
  }
}