@import "global.scss";
@import "./security-group-mixin.scss";

$securityGroup_base_wheel_size: 9rem;
$securityGroup_base_center_height: 7rem;
$securityGroup_base_wheelToCenter_overlap: -$securityGroup_base_wheel_size/2;
$securityGroup_wheel_innerMask_positionMarkup: 1.5rem;
$securityGroup_wheel_innerMask_width: 3rem;
$securityGroup_content_numberTag_size: 3rem;
$securityGroup_content_numberTag_padding: $spacing_x_small;
$securityGroup_content_numberTag_halfSize: $securityGroup_content_numberTag_size/2 + $securityGroup_content_numberTag_padding;
$securityGroup_content_numberTag_top: -($securityGroup_content_numberTag_halfSize) + ($securityGroup_base_wheel_size - $securityGroup_base_center_height)/2;

.sat-securityGroup {
  $securityGroupBlockName: &;
  @include mix_fixed_div(relative, $z_index_standard_base_item);
  @include mix_securityGroup;
  flex: 1 1 auto;
  display: flex;
  &__base {
    @include mix_fixed_div(absolute, $z_index_standard_base_item_solid);
    width: 100%;
    display: flex;
    align-items: center;
    &-wheel {
      @include mix_fixed_div(relative, $z_index_standard_base_item_lift);
      @include mix_alive('light');
      @include mix_shadow($material_regular_southMarkup, $material_lowHover_degree, $material_regular_intensity);
      @include mix_border_radius(50%);
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      width: $securityGroup_base_wheel_size;
      height: $securityGroup_base_wheel_size;
      &-innerMask {
        @include mix_fixed_div(absolute, $z_index_standard_base_item_solid);
        width: $securityGroup_wheel_innerMask_width;
        height: $securityGroup_base_center_height;
      }
      &--left {
        #{$securityGroupBlockName}__base-wheel-innerMask {
          margin-left: $securityGroup_base_wheel_size - $securityGroup_wheel_innerMask_positionMarkup;
        }
      }
      &--right {
        #{$securityGroupBlockName}__base-wheel-innerMask {
          margin-left: -$securityGroup_wheel_innerMask_positionMarkup;
        }
      }
    }
    &-center {
      @include mix_fixed_div(relative, $z_index_standard_base_item_solid);
      @include mix_alive('light');
      @include mix_shadow($material_regular_southMarkup, $material_lowHover_degree, $material_regular_intensity);
      flex: 1 1 auto;
      margin: 0 $securityGroup_base_wheelToCenter_overlap;
      height: $securityGroup_base_center_height;
    }
  }
  &__content {
    @include mix_fixed_div(absolute, $z_index_standard_base_item_lift);
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    &-wheel {
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $securityGroup_base_wheel_size;
      height: $securityGroup_base_wheel_size;
      padding: $spacing_x_small;
      &-pieChart {
        @include mix_border_radius(50%);
        flex: 1 1 auto;
        height: 100%;
        background-color: $color_white;
      }
    }
    &-numberTag {
      @include mix_border_radius(50%);
      @include mix_fixed_div(absolute, $z_index_standard_base_item_lift);
      @include mix_calculate(left, 50%, $securityGroup_content_numberTag_size/2, '-');
      top: $securityGroup_content_numberTag_top;
      padding: $securityGroup_content_numberTag_padding;
      &-text {
        @include mix_border_radius(50%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: $securityGroup_content_numberTag_size;
        width: $securityGroup_content_numberTag_size;
        background-color: $color_white;
      }
    }
    &-canvases {
      flex: 1 1 auto;
      display: flex;
      flex-wrap: wrap;
      height: $securityGroup_base_center_height;
      padding: $securityGroup_content_numberTag_halfSize+$spacing_x_small 0 $spacing_x_small 0;
      &-left {
        flex: 0 0 10rem;
        display: flex;
        &-content {
          @include mix_fixed_div(relative, $z_index_standard_base_item_solid);
          &-name {
            &-text {

            }
          }
          &-value {
            &-text {

            }
          }
        }
      }
      &-right {
        @include mix_border_generator(0 0 0 $typical_border_width, $color_white);
        flex: 1 1 auto;
        display: flex;
        padding: 0 $spacing_small;
        &-content {
          &-text {
            color: $font_color_inverse;
          }
        }
      }
    }
  }
  &:hover {
    #{$securityGroupBlockName}__base {
      &-wheel {
        @include mix_shadow($material_regularHover_southMarkup, $material_regularHover_degree, $material_regularHover_intensity);
      }
      &-center {
        @include mix_shadow($material_regularHover_southMarkup, $material_regularHover_degree, $material_regularHover_intensity);
      }
    }
  }
  &--stencilState {
  }
  &--tableState {
  }
  &--detailState {
  }
}