

@mixin mix_securityGroup(){
  $securityGroupBlockName: &;
  &--type-1 {
    #{$securityGroupBlockName} {
      &__base {
        &-wheel {
          background-color: $color_rating_aaa;
          &-innerMask {
            background-color: $color_rating_aaa;
          }
        }
        &-center {
          background-color: $color_rating_aaa;
        }
      }
      &__content {
        &-canvases {
          &-left-content-value-text {
            color: $color_rating_aaa;
          }
          &-right-metricLines-mask {
            background-color: $color_rating_aaa;
          }
        }
        &-wheel-chartContainer {
          background-color: $color_rating_aaa;
        }
        &-numberTag {
          background-color: $color_rating_aaa;
          &-mask {
            background-color: $color_rating_aaa;
          }
        }
      }
    }
  }
  &--type-2 {
    background-color: $color_rating_aa;
    #{$securityGroupBlockName} {
      &__base {
        &-wheel {
          background-color: $color_rating_aa;
          &-innerMask {
            background-color: $color_rating_aa;
          }
        }
        &-center {
          background-color: $color_rating_aa;
        }
      }
      &__content {
        &-canvases {
          &-left-content-value-text {
            color: $color_rating_aa;
          }
          &-right-metricLines-mask {
            background-color: $color_rating_aa;
          }
        }
        &-wheel-chartContainer {
          background-color: $color_rating_aa;
        }
        &-numberTag {
          background-color: $color_rating_aa;
          &-mask {
            background-color: $color_rating_aa;
          }
        }
      }
    }
  }
  &--type-3 {
    background-color: $color_rating_a;
    #{$securityGroupBlockName} {
      &__base {
        &-wheel {
          background-color: $color_rating_a;
          &-innerMask {
            background-color: $color_rating_a;
          }
        }
        &-center {
          background-color: $color_rating_a;
        }
      }
      &__content {
        &-canvases {
          &-left-content-value-text {
            color: $color_rating_a;
          }
          &-right-metricLines-mask {
            background-color: $color_rating_a;
          }
        }
        &-wheel-chartContainer {
          background-color: $color_rating_a;
        }
        &-numberTag {
          background-color: $color_rating_a;
          &-mask {
            background-color: $color_rating_a;
          }
        }
      }
    }
  }
  &--type-4 {
    background-color: $color_rating_bbb;
    #{$securityGroupBlockName} {
      &__base {
        &-wheel {
          background-color: $color_rating_bbb;
          &-innerMask {
            background-color: $color_rating_bbb;
          }
        }
        &-center {
          background-color: $color_rating_bbb;
        }
      }
      &__content {
        &-canvases {
          &-left-content-value-text {
            color: $color_rating_bbb;
          }
          &-right-metricLines-mask {
            background-color: $color_rating_bbb;
          }
        }
        &-wheel-chartContainer {
          background-color: $color_rating_bbb;
        }
        &-numberTag {
          background-color: $color_rating_bbb;
          &-mask {
            background-color: $color_rating_bbb;
          }
        }
      }
    }
  }
  &--type-5 {
    background-color: $color_rating_bb;
    #{$securityGroupBlockName} {
      &__base {
        &-wheel {
          background-color: $color_rating_bb;
          &-innerMask {
            background-color: $color_rating_bb;
          }
        }
        &-center {
          background-color: $color_rating_bb;
        }
      }
      &__content {
        &-canvases {
          &-left-content-value-text {
            color: $color_rating_bb;
          }
          &-right-metricLines-mask {
            background-color: $color_rating_bb;
          }
        }
        &-wheel-chartContainer {
          background-color: $color_rating_bb;
        }
        &-numberTag {
          background-color: $color_rating_bb;
          &-mask {
            background-color: $color_rating_bb;
          }
        }
      }
    }
  }
  &--type-6 {
    background-color: $color_rating_b;
    #{$securityGroupBlockName} {
      &__base {
        &-wheel {
          background-color: $color_rating_b;
          &-innerMask {
            background-color: $color_rating_b;
          }
        }
        &-center {
          background-color: $color_rating_b;
        }
      }
      &__content {
        &-canvases {
          &-left-content-value-text {
            color: $color_rating_b;
          }
          &-right-metricLines-mask {
            background-color: $color_rating_b;
          }
        }
        &-wheel-chartContainer {
          background-color: $color_rating_b;
        }
        &-numberTag {
          background-color: $color_rating_b;
          &-mask {
            background-color: $color_rating_b;
          }
        }
      }
    }
  }
  &--type-7 {
    background-color: $color_rating_ccctod;
    #{$securityGroupBlockName} {
      &__base {
        &-wheel {
          background-color: $color_rating_ccctod;
          &-innerMask {
            background-color: $color_rating_ccctod;
          }
        }
        &-center {
          background-color: $color_rating_ccctod;
        }
      }
      &__content {
        &-canvases {
          &-left-content-value-text {
            color: $color_rating_ccctod;
          }
          &-right-metricLines-mask {
            background-color: $color_rating_ccctod;
          }
        }
        &-wheel-chartContainer {
          background-color: $color_rating_ccctod;
        }
        &-numberTag {
          background-color: $color_rating_ccctod;
          &-mask {
            background-color: $color_rating_ccctod;
          }
        }
      }
    }
  }
}