<article class="sat-quantComparer">
  <section class="sat-quantComparer__base">
    <div class="sat-quantComparer__base-line"></div>
    <div class="sat-quantComparer__base-background"></div>
  </section>
  <section class="sat-quantComparer__content">
    <div class="sat-quantComparer__content-left">
      <div class="sat-quantComparer__content-left-edge">
        <span class="sat-quantComparer__content-left-edge-number">560.3</span>
        <span class="sat-quantComparer__content-left-edge-broker">GC</span>
      </div>
      <div class="sat-quantComparer__content-left-line">
        <div class="sat-quantComparer__content-left-line-content"></div>
      </div>
    </div>
    <div class="sat-quantComparer__content-right">
      <div class="sat-quantComparer__content-right-edge">
        <span class="sat-quantComparer__content-right-edge-number">534</span>
        <span class="sat-quantComparer__content-right-edge-broker">JPM</span>
      </div>
      <div class="sat-quantComparer__content-right-line">
        <div class="sat-quantComparer__content-right-line-content"></div>
      </div>
    </div>
  </section>
</article>