<article
  [ngClass]="{
    'sat-guest': true
  }">
  <section class="sat-guest__main">
    <i class="sat-guest__main-heroIcon fal fa-fingerprint"></i>
    <h2 class="sat-guest__main-heroText">You are not a recognized user of Santa</h2>
    <span class="sat-guest__main-minorText">If you want to have access, please reach out to santa@rpia.ca</span>
    <hr class="sat-guest__main-divider">
    <span class="sat-guest__main-brandText">Santa - RPIA Trading & Portfolio Management</span>
    <div class="sat-guest__main-logo">
      <img class="sat-guest__main-logo-img" src="assets/rpia.png">
    </div>
    <span class="sat-guest__main-brandText">© RP Investment Advisors 2020</span>
    <span class="sat-guest__main-brandText">All rights reserved.</span>
  </section>
</article>