@import "global.scss";
@import "modules/market/market.scss";
@import "./security-group-simple-mixin.scss";

$securityGroupSimple_left_width: 15rem;
$securityGroupSimple_numberTag_size: 2.25rem; 
$securityGroupSimple_height: 2.25rem;
.sat-securityGroupSimple {
  $securityGroupSimpleBlockName: &;
  @include mix_fixed_div(relative, $z_index_standard_base_item);
  @include mix_securityGroupSimple;
  flex: 1 1 auto;
  display: flex;
  height: 3rem;
  &__base {
    @include mix_fixed_div(absolute, $z_index_standard_base_item_solid);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    &-center {
      @include mix_fixed_div(relative, $z_index_standard_base_item_lift);
      @include mix_alive('custom', $animation_duration_light box-shadow);
      @include mix_border_radius(5px);
      @include mix_shadow($material_regular_southMarkup, $material_lowHover_degree, $material_regular_intensity);
      flex: 1 1 auto;
      height: $securityGroupSimple_height;
    }
  }
  &__content {
    @include mix_fixed_div(absolute, $z_index_standard_base_item_lift);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    &-canvases {
      @include mix_fixed_div(relative, $z_index_standard_base_item_lift);
      flex: 1 1 auto;
      display: flex;
      overflow: hidden;
      &-left {
        flex: 0 1 $securityGroupSimple_left_width;
        display: flex;
        overflow: hidden;
        padding: 0 $spacing_large 0 $spacing_x_small;
        &-content {
          @include mix_fixed_div(relative, $z_index_standard_base_item_solid);
          flex: 1 1 auto;
          display: flex;
          align-items: center;
          overflow: hidden;
          &-name {
            flex: 1 1 auto;
            display: flex;
            overflow: hidden;
            &-text {
              @include mix_text_overflow();
              line-height: $line_height_normal;
              color: $font_color_inverse;
              font-size: $font_size_small;
              text-align: center;
              user-select: none;
            }
          }
        }
      }
      &-right {
        @include mix_fixed_div(relative, $z_index_standard_base_item_solid);
        flex: 1 1 auto;
        display: flex;
        overflow: hidden;
        margin-right: $spacing_x_small;
        &-metric {
          flex: 0 0 33.33%;
          display: flex;
          align-items: center;
          &-value {
            @include mix_text_overflow;
            @include mix_border_generator(0 $typical_border_width 0 0, $color_white);
            flex: 0 0 3rem;
            padding-right: $spacing_xx_small;
            margin-right: $spacing_xx_small;
            font-size: $font_size_x_small;
            color: $font_color_inverse;
            text-align: right;
            user-select: none;
          }
          &-line {
            @include mix_border_radius(3px);
            height: $securityGroup_content_canvases_right_metricLines_thickness;
            background-color: $color_white;
            &--negative {
              background-color: $color_negative;
            }
          }
        }
      }
      &-behind {
        @include mix_fixed_div(absolute, $z_index_standard_bury_item);
        left: 0;
        height: 100%;
        width: $securityGroupSimple_left_width;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &-rating {
          @include mix_rating_style;
          font-size: $font_size_xx_large;
          color: $font_color_inverse;
        }
      }
    }
  }
  &:hover {
    #{$securityGroupSimpleBlockName} {
      &__base {
        &-center {
          @include mix_shadow($material_regularHover_southMarkup, $material_regularHover_degree, $material_regularHover_intensity);
        }
      }
    }
  }
  &--stencilState {
    #{$securityGroupSimpleBlockName} {
      &__base {
        &-center {
          background-color: $color_white;
        }
      }
      &__content {
        &-canvases {
          &-left-content {
            &-name-text {
              @include mix_stencil_animation;
            }
            &-value {
              @include mix_stencil_animation;
              &-text {
                @include mix_stencil_animation;
              }
            }
          }
          &-right {
          }
        }
      }
    }
  }
  &--selectedState {
    #{$securityGroupSimpleBlockName} {
      &__base {
        &-center {
          @include material('none');
          background-color: $color_active;
        }
      }
      &__content {
        &-canvases {
          &-left-content-value-text {
            color: $color_active;
          }
        }
      }
    }
  }
  &--selectedState:hover {
    #{$securityGroupSimpleBlockName} {
      &__base {
        &-center {
          @include material('none');
        }
      }
    }
  }
}