@import "global.scss";
@import "modules/trade/trade.scss";

$bestQuoteComparer_edge_width: 2.7rem;
$bestQuoteComparer_edge_width_long: 4.15rem;
$bestQuoteComparer_min_height: 2.5rem;
.sat-bestQuoteComparer {
  $bestQuoteComparerBlockName: &;
  @include mix_fixed_div(relative, $z_index_base_item);
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  min-height: 2.5rem;
  &__base {
    @include mix_fixed_div(absolute, $z_index_base_item_solid);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    &-line {
      @include mix_fixed_div(absolute, $z_index_base_item_lift);
      @include mix_border_generator(0 0 $typical_border_width 0);
      @include mix_calculate(width, 100%, $bestQuoteComparer_edge_width * 2, '-');
      display: none;  // changed the design to not show the line for now
      height: 50%;
      margin-left: $bestQuoteComparer_edge_width;
      margin-right: $bestQuoteComparer_edge_width;
    }
    &-background {
      @include mix_fixed_div(absolute, $z_index_base_item);
      @include mix_border_radius(10px);
      display: none;
      height: 100%;
      width: 100%;
      background-color: $color_quant_crossed_background;
    }
  }
  &__content {
    @include mix_fixed_div(absolute, $z_index_base_item_lift);
    display: flex;
    height: 100%;
    width: 100%;
    padding: $spacing_x_small;
    &-driver {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      &-edge {
        @include mix_fixed_div(relative, $z_index_base_item_lift);
        @include mix_border_radius(5px);
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: $bestQuoteComparer_edge_width;
        padding: $spacing_xx_small;
        direction: ltr;
        &-number {
          @include mix_quantative_text;
          line-height: $line_height_minimum;
          user-select: none;
        }
        &-broker {
          color: #000;  // a temporary hack
          font-size: $font_size_minimum;
          line-height: $line_height_minimum;
          user-select: none;
        }
      }
      &-line {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        height: 100%;
        &-content {
          min-height: $typical_border_width*2;
          max-height: 100%;
        }
      }
      &-executableTag {
        @include mix_fixed_div(absolute, $z_index_hovering_item);
        @include mix_border_radius(3px);
        @include mix_theme_background;
        display: none;
        top: 0;
        color: $font_color_inverse;
        font-size: $font_size_x_small;
        padding: $spacing_minimum $spacing_xx_small;
      }
      &--left {
        #{$bestQuoteComparerBlockName}__content-driver {
          &-edge {
            background-color: $color_quant_left_background;
            margin-right: -$spacing_xx_small;  // small tweak that hides the space between edge and line cuzed by edge's border-radius
            &-number {
              text-align: left;
            }
            &-broker {
              text-align: left;
            }
          }
          &-line {
            &-content {
              @include mix_border_radius(3px, 'right');
              background-color: $color_bid;
            }
          }
        }
      }
      &--right {
        direction: rtl;
        #{$bestQuoteComparerBlockName}__content-driver {
          &-edge {
            background-color: $color_quant_right_background;
            margin-left: -$spacing_xx_small;
            &-number {
              text-align: right;
            }
            &-broker {
              text-align: right;
              // color: $color_ask;
              color: #000;  // a temporary hack
            }
          }
          &-line {
            &-content {
              @include mix_border_radius(3px, 'left');
              background-color: $color_ask;
            }
          }
        }
      }
    }
  }
  &__crossing {
    @include mix_fixed_div(absolute, $z_index_hovering_item);
    @include mix_border_radius(5px);
    @include mix_calculate(height, 100%, $spacing_x_small * 2, '-');
    display: none;
    align-items: center;
    margin: $spacing_x_small 0;
    padding: 0 $spacing_x_small;
    background-color: $color_quant_crossed_background;
    &-content {
      @include mix_border_radius(5px);
      padding: $spacing_xx_small $spacing_small;
      background-color: $color_quant_crossed;
      line-height: $line_height_minimum;
      &-value {
        color: $color_quant_crossed_background;
        user-select: none;
      }
    }
  }
  &__skew {
    @include mix_fixed_div(absolute, $z_index_hovering_item);
    display: none;
    height: 100%;
    width: 100%;
    &-leftSpacing {
      flex: 0 1 50%;
      margin-left: $bestQuoteComparer_edge_width;
    }
    &-indicator {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-icon {
        flex: 0 0 auto;
        font-size: $font_size_small;
      }
      &-line {
        flex: 1 1 auto;
      }
    }
    &-rightSpacing {
      flex: 0 1 50%;
      margin-right: $bestQuoteComparer_edge_width;
    }
    &--axe {
      #{$bestQuoteComparerBlockName} {
        &__skew {
          &-indicator {
            &-icon {
              color: $color_quant_axe_skew;
            }
            &-line {
              @include mix_border_generator(0 $typical_border_width*2 0 0, $color_quant_axe_skew);
            }
          }
        }
      }
    }
    &--total {
      #{$bestQuoteComparerBlockName} {
        &__skew {
          &-indicator {
            &-icon {
              color: $color_quant_run_skew;
            }
            &-line {
              @include mix_border_generator(0 $typical_border_width*2 0 0, $color_quant_run_skew);
            }
          }
        }
      }
    }
  }
  &__mid {
    @include mix_fixed_div(absolute, $z_index_base_item_lift);
    @include mix_calculate(height, 100%, $spacing_x_small * 2, '-');
    display: flex;
    align-items: center;
    margin: $spacing_x_small 0;
    padding: 0 $spacing_medium;
    &-content {
      @include mix_border_radius(5px);
      display: flex;
      align-items: center;
      padding: $spacing_xx_small $spacing_x_small;
      background-color: $color_gray_5;
      line-height: $line_height_minimum;
      &-value {
        color: $font_color_inverse;
        user-select: none;
        font-size: $font_size_small;
      }
    }
  }
  &--axeSkewEnabledState {
    #{$bestQuoteComparerBlockName} {
      &__skew--axe {
        display: flex;
      }
    }
  }
  &--totalSkewEnabledState {
    #{$bestQuoteComparerBlockName} {
      &__skew--total {
        display: flex;
      }
    }
  }
  &--noAxeSkewState {
    #{$bestQuoteComparerBlockName} {
      &__skew--axe {
        display: none;
      }
    }
  }
  &--noTotalSkewState {
    #{$bestQuoteComparerBlockName} {
      &__skew--total {
        display: none;
      }
    }
  }
  &--longEdgeState {
    #{$bestQuoteComparerBlockName} {
      &__content {
        &-driver-edge {
          width: $bestQuoteComparer_edge_width_long;
        }
      }
    }
  }
  &--crossedState {
    #{$bestQuoteComparerBlockName} {
      &__crossing {
        display: flex;
      }
      &__mid {
        &-content {
          display: none;
        }
      }
    }
  }
  &--crossedStateTier2 {
    #{$bestQuoteComparerBlockName} {
      &__base {
        &-background {
          display: block;
        }
      }
      &__content {
        &-driver {
          &-edge {
            background-color: $color_quant_crossed;
            &-number {
              color: $color_quant_crossed_background;
            }
            &-broker {
              color: $font_color_inverse;
            }
          }
          &-line-content {
            background-color: $color_quant_crossed;
          }
        }
      }
      &__crossing {
        background-color: inherit;
        &-content {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  &--bidIsStaleState {
    #{$bestQuoteComparerBlockName} {
      &__base {
        &-background {
          background-color: inherit;
        }
      }
      &__content {
        &-driver--left {
          #{$bestQuoteComparerBlockName} {
            &__content-driver {
              &-edge {
                background-color: $color_gray_4;
                &-number {
                  color: $font_color_inverse;
                }
                &-broker {
                  color: $font_color_inverse;
                }
              }
              &-line-content {
                background-color: $color_gray_4;
              }
            }
          }
        }
      }
      &__mid {
        &-content {
          background-color: $color_gray_4;
        }
      }
      &__crossing {
        background-color: inherit;
        &-content {
          height: inherit;
          &-value {
            color: $font_color_inverse;
          }
        }
      }
    }
  }
  &--askIsStaleState {
    #{$bestQuoteComparerBlockName} {
      &__base {
        &-background {
          background-color: inherit;
        }
      }
      &__content {
        &-driver--right {
          #{$bestQuoteComparerBlockName} {
            &__content-driver {
              &-edge {
                background-color: $color_gray_4;
                &-number {
                  color: $font_color_inverse;
                }
                &-broker {
                  color: $font_color_inverse;
                }
              }
              &-line-content {
                background-color: $color_gray_4;
              }
            }
          }
        }
      }
      &__crossing {
        background-color: $color_gray_4;
        &-content {
          background-color: $color_gray_6;
          &-value {
            color: $font_color_inverse;
          }
        }
      }
    }
  }
  &--hasExecutableQuoteState {
    #{$bestQuoteComparerBlockName} {
      &__base {
        @include mix_border_radius(10px);
        @include mix_border_generator($typical_border_width*3, $theme_color_1);
      }
    }
  }
  &--askIsExecutableState {
    #{$bestQuoteComparerBlockName} {
      &__content {
        &-driver--right {
          #{$bestQuoteComparerBlockName} {
            &__content-driver-executableTag {
              display: flex;
              transform: rotate(25deg);
              right: -$spacing_small;
            }
          }
        }
      }
    }
  }
  &--bidIsExecutableState {
    #{$bestQuoteComparerBlockName} {
      &__content {
        &-driver--left {
          #{$bestQuoteComparerBlockName} {
            &__content-driver-executableTag {
              display: flex;
              transform: rotate(-25deg);
              left: -$spacing_small;
            }
          }
        }
      }
    }
  }
  &--noBidState {
    #{$bestQuoteComparerBlockName} {
      &__content {
        &-driver--left {
          visibility: hidden;
        }
      }
      &__mid {
        display: none;
      }
      &__skew {
        display: none;
      }
    }
  }
  &--noOfferState {
    #{$bestQuoteComparerBlockName} {
      &__content {
        &-driver--right {
          visibility: hidden;
        }
      }
      &__mid {
        display: none;
      }
      &__skew {
        display: none;
      }
    }
  }
  &--stencilState {
    #{$bestQuoteComparerBlockName} {
      &__content {
        &-driver {
          &-edge {
            &-number {
              @include mix_stencil_animation();
              line-height: $line_height_stencil_slim;
            }
            &-broker {
              @include mix_stencil_animation();
              line-height: $line_height_stencil_slim;
            }
          }
          &-line-content {
            @include mix_stencil_animation();
          }
        }
      }
      &__mid {
        display: none;
      }
      &__skew {
        display: none;
      }
    }
  }
}