<article
  [ngClass]="{
    'sat-globalNav': true,
    'sat-globalNav--menuActiveState': state.menuIsActive
  }">
  <section class="sat-globalNav__navTrigger">
    <button (click)="onClickNavTrigger()" class="sat-globalNav__navTrigger-cta">
      <img class="sat-globalNav__navTrigger-cta-img" src="assets/rpia.png">
    </button>
  </section>
  <section class="sat-globalNav__menu">
    <div class="sat-globalNav__menu-topCanvas">
      <div class="sat-globalNav__menu-topCanvas-logo">
        <img class="sat-globalNav__menu-topCanvas-logo-img" src="assets/rpia-full.png">
      </div>
      <div class="sat-globalNav__menu-topCanvas-title">
        <span class="sat-globalNav__menu-topCanvas-title-majorText">{{state.user}}</span>
        <span class="sat-globalNav__menu-topCanvas-title-minorText">Welcome To Santa!</span>
      </div>
      <div class="sat-globalNav__menu-topCanvas-ctas">
        <button class="sat-globalNav__menu-topCanvas-ctas-releaseNoteBtn">View Release Note</button>
      </div>
    </div>
    <div class="sat-globalNav__menu-navigationCanvas">
      <a
        routerLink="/trade"
        routerLinkActive="active"
        (click)="onClickNavCTA()"
        [ngClass]="{
          'sat-globalNav__menu-navigationCanvas-cta': true,
          'sat-globalNav__menu-navigationCanvas-cta--active': state.currentModule === this.constants.moduleUrl.trade
        }">
        Trade
      </a>
      <a
        routerLink="/structuring"
        routerLinkActive="active"
        (click)="onClickNavCTA()"
        [ngClass]="{
          'sat-globalNav__menu-navigationCanvas-cta': true,
          'sat-globalNav__menu-navigationCanvas-cta--active': state.currentModule === this.constants.moduleUrl.structuring
        }">
        Structuring
      </a>
    </div>
    <div class="sat-globalNav__menu-legendCanvas">
      <div class="sat-globalNav__menu-legendCanvas-title">Seniority Legend</div>
      <ul class="sat-globalNav__menu-legendCanvas-list">
        <li *ngFor="let eachLegend of state.legend.seniority" class="sat-globalNav__menu-legendCanvas-list-item">
          <security-card [cardData]="eachLegend.card"></security-card>
          <span class="sat-globalNav__menu-legendCanvas-list-item-text">
            {{eachLegend.legend}}
          </span>
          <div class="sat-globalNav__menu-legendCanvas-list-item-spacer"></div>
        </li>
      </ul>
      <div class="sat-globalNav__menu-legendCanvas-title">Rating Legend</div>
      <ul class="sat-globalNav__menu-legendCanvas-list">
        <li *ngFor="let eachLegend of state.legend.rating" class="sat-globalNav__menu-legendCanvas-list-item">
          <security-card [cardData]="eachLegend.card"></security-card>
          <span class="sat-globalNav__menu-legendCanvas-list-item-text">
            {{eachLegend.legend}}
          </span>
          <div class="sat-globalNav__menu-legendCanvas-list-item-spacer"></div>
        </li>
      </ul>
    </div>
    <div class="sat-globalNav__menu-bottomCanvas">
      <p class="sat-globalNav__menu-bottomCanvas-textEntry">© RP Investment Advisors 2020</p>
      <p class="sat-globalNav__menu-bottomCanvas-textEntry">All rights reserved.</p>
      <p class="sat-globalNav__menu-bottomCanvas-textEntry">Version - {{state.version}}</p>
    </div>
  </section>
</article>