<article 
  [ngClass]="{
  'sat-structureMainPanel': true
  }">
  <section class="sat-structureMainPanel__fundGroup">
    <div *ngFor="let fund of state.fetchResult.fundList" class="sat-structureMainPanel__fundGroup-fund">
      <structure-fund
        [fund]="fund"
        [ownerInitial]="state.ownerInitial"
        (updatedFundData)="getFundFromNewTargets($event)"
        >
      </structure-fund>
    </div>
  </section>
  <section>
    <santa-modal [modalId]="constants.editModalId">
      <!--Demo purpose only-->
      <portfolio-breakdown *ngIf="state.fetchResult.fundList[0]?.data.children[0]" [breakdownData]="state.fetchResult.fundList[0]?.data.children[0]"></portfolio-breakdown>
    </santa-modal>
  </section>
</article>