@import "global.scss";
@import "modules/structure/structure.scss";

$fundStructuring_setTarget_height: 13rem;
$fundStructuring_setTarget_height_extended: 15rem;
$funtStructuring_setTarget_backgroundIcon_size: $font_size_hero;
$fundStructuring_setTarget_backgroundIcon_gutter: ($fundStructuring_setTarget_height - $funtStructuring_setTarget_backgroundIcon_size)/2;
.sat-fundStructuring {
  $blockName: &;
  @include mix_border_radius(10px);
  @include mix_alive('light');
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__configuration {
    @include mix_fixed_div(relative, $z_index_base_item_solid);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: $spacing_x_small 0;
    background-color: $color_gray_2;
    &-metric {
      width: 8rem;
      &-data {
        display: flex;
        justify-content: center;
        margin-top: $spacing_small;
        &-index {
          display: none;
          flex: 1 1 auto;
          & > target-bar {
            flex: 1 1 auto;
          }
        }
        &-creditLeverageDelta {
          display: flex;
          &-text {
            &-type {
              font-size: $font_size_normal;
            }
            &-difference {
              @include mix_border_radius(3px);
              padding: $spacing_x_small;
              color: $color_active;
              font-size: $font_size_normal;
            }
            &-icon {
              color: $color_active;
              margin: 0 $spacing_x_small;
              font-size: $font_size_normal;
            }
          }
        }
        &-creditDurationDelta {
          display: flex;
          &-text {
            &-type {
              font-size: $font_size_normal;
            }
            &-difference {
              @include mix_border_radius(3px);
              padding: $spacing_x_small;
              color: $color_active;
              font-size: $font_size_normal;
            }
            &-icon {
              color: $color_active;
              margin: 0 $spacing_x_small;
              font-size: $font_size_normal;
            }
          }
        }
      }
    }
    &-title {
      flex: 0 0 auto;
      text-align: center;
      font-size: $font_size_x_large;
      font-weight: 700;
      color: $font_color_minor;
      margin: auto $spacing_large;
    }
  }
  &__editFund {
    @include mix_fixed_div(relative, $z_index_base_item);
    @include mix_alive('custom', transform $animation_duration_light, border-radius $animation_duration_light);
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 0;
    overflow: hidden;
    transform: translate(0, -$fundStructuring_setTarget_height);
    &-addOverrides {
      display: flex;
      &-overrideCta {
        flex: 0 0 auto;
        display: flex;
        background-color: $color_create;
        margin-right: $spacing_medium;
        margin-bottom: $spacing_medium;
      }
      &-bulkOverrideCta {
        flex: 0 0 auto;
        display: flex;
        background-color: $color_create;
        margin-right: $spacing_medium;
        margin-bottom: $spacing_medium;
      }
    }
    &-group {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: $spacing_x_small;
      padding-right: $spacing_medium;
      &-input {
        width: 12rem;
      }
    }
    &-message {
      @include mix_border_radius(5px);
      display: none;
      background-color: $color_kill_background;
      padding: $spacing_x_small;
      color: $color_negative;
      margin: 0 $spacing_small $spacing_small 0;
    }
    &-backgroundIcon {
      @include mix_fixed_div(absolute, $z_index_base_item);
      @include mix_alive('heavy');
      left: $fundStructuring_setTarget_backgroundIcon_gutter;
      top: $fundStructuring_setTarget_backgroundIcon_gutter;
      font-size: $funtStructuring_setTarget_backgroundIcon_size;
      color: $color_gray_6;
      opacity: 0;
      transform: translate(0, -100%);
    }
    &-autoScalingToggle {
      @include material();
      display: none;
      background-color: $color_white;
      cursor: pointer;
      margin-right: $spacing_medium;
    }
  }
  &__utility {
    @include mix_fixed_div(relative, $z_index_tooltip);
    display: flex;
    flex-direction: column;
    &-btnGroup {
      @include mix_fixed_div(absolute, $z_index_base_item_solid);
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &-btn {
        margin-right: $spacing_large;
        &--edit {
          display: none;
          margin-right: 0;
        }
        &--cancel,
        &--save {
          display: none;
          &>i, &>span {
            color: $font_color_inverse;
          }
        }
        &--cancel {
          background-color: $color_negative;
        }
        &--save {
          background-color: $color_positive;
        }
      }
    }
    &-divider {
      height: $typical_border_width;
      background: $color_border_gray;
      margin: $spacing_medium $spacing_large;
    }
  }
  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &-breakdownList {
      @include mix_enable_scrollbar('vertical');
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      padding: $spacing_small $spacing_large $spacing_large $spacing_large;
      &-item {
        margin: $spacing_small 0;
      }
    }
    &-errorMessage {
      display: none;
      text-align: center
    }
  }
  &--editAvailableState {
    #{$blockName} {
      &__utility {
        &-btnGroup {
          &-btn {
            &--edit {
              display: flex;
            }
          }
        }
      }
    }
  }
  &--autoScalingAvailableState {
    #{$blockName} {
      &__editFund-autoScalingToggle {
        display: flex;
      }
    }
  }
  &--editingState {
    #{$blockName} {
      &__editFund {
        @include mix_border_radius(0);
        background-color: $color_active;
        color: $font_color_inverse;
        height: $fundStructuring_setTarget_height;
        padding: $spacing_medium 0;
        margin-bottom: 0;
        transform: translate(0, 0);
        &-backgroundIcon {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
      &__utility {
        &-btnGroup {
          &-btn {
            &--edit {
              display: none;
            }
            &--save,
            &--cancel {
              display: flex;
            }
          }
        }
      }
    }
  }
  &--autoScalingSelectedState {
    #{$blockName} {
      &__editFund-autoScalingToggle {
        @include material('none');
        @include mix_border_generator($typical_border_width, $color_white);
        background-color: $color_active;
        i {
          color: $font_color_inverse;
        }
        span {
          color: $font_color_inverse;
        }
      }
    }
  }
  &--invalidInput {
    #{$blockName} {
      &__editFund {
        height: $fundStructuring_setTarget_height_extended;
        &-message {
          display: flex;
        }
      }
    }
  }
  &--isViewingIndex {
    #{$blockName} {
      &__configuration {
        &-metric {
          &-data {
            &-index {
              display: flex;
            }
            &-creditDurationDelta {
              display: none;
            }
            &-creditLeverageDelta {
              display: none;
            }
          }
        }
      }
    }
  }
  &--creditLeverageDeltaSignificantPositive {
    #{$blockName} {
      &__configuration {
        &-metric-data-creditLeverageDelta-text-difference {
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
    }
  }
  &--creditLeverageDeltaSignificantNegative {
    #{$blockName} {
      &__configuration {
        &-metric-data-creditLeverageDelta-text-difference {
          background-color: $color_red_5;
          color: $font_color_inverse;
        }
      }
    }
  }
  &--creditDurationDeltaSignificantPositive {
    #{$blockName} {
      &__configuration {
        &-metric-data-creditDurationDelta-text-difference {
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
    }
  }
  &--creditDurationDeltaSignificantNegative {
    #{$blockName} {
      &__configuration {
        &-metric-data-creditDurationDelta-text-difference {
          background-color: $color_red_5;
          color: $font_color_inverse;
        }
      }
    }
  }
  &--isDisplayCs01 {
    #{$blockName} {
      &__configuration {
        &-metric-data-creditLeverageDelta-text {
          &-icon,
          &-type {
            color: $color_disabled;
          }
          &-difference {
            color: $color_disabled;
            background-color: transparent;
          }
        }
      }
    }
  }
  &--isDisplayCreditLeverage {
    #{$blockName} {
      &__configuration {
        &-metric-data-creditDurationDelta-text {
          &-icon,
          &-type {
            color: $color_disabled;
          }
          &-difference {
            background-color: transparent;
            color: $color_disabled;
          }
        }
      }
    }
  }
  &--errorState {
    flex: 1 1 auto;
    #{$blockName} {
      &__content {
        &-breakdownList {
          &-item {
            display: none;
          }
        }
        &-errorMessage {
          display: block;
        }
      }
    }
  }
}