@import "global.scss";
@import "modules/structure/structure.scss";

$fundStructuring_setTarget_height: 8rem;
$funtStructuring_setTarget_backgroundIcon_size: $font_size_hero;
$fundStructuring_setTarget_backgroundIcon_gutter: ($fundStructuring_setTarget_height - $funtStructuring_setTarget_backgroundIcon_size)/2;
.sat-fundStructuring {
  $blockName: &;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__configuration {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &-title {
      flex: 0 0 auto;
      font-size: $font_size_x_large;
      font-weight: 700;
      color: $font_color_minor;
    }
  }
  &__setTarget {
    @include mix_fixed_div(relative, $z_index_base_item);
    @include mix_alive('light');
    margin-bottom: $spacing_medium;
    height: 0;
    display: flex;
    flex: 0 0 auto;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    &-group {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: $spacing_x_small;
      flex: 0 0 100%;
      padding-right: $fundStructuring_setTarget_backgroundIcon_gutter;
      &-label,
      &-input {
        margin-right: $spacing_x_small;
      }
      &-input {
        width: 5rem;
      }
      &:last-child {
        padding-right: $fundStructuring_setTarget_backgroundIcon_gutter + .5rem;
      }
    }
    &-message {
      visibility: hidden;
      &-text {
        @include mix_border_radius(5px);
        text-align: center;
        color: $color_negative;
        background-color: $color_red_1;
        margin: $spacing_x_small 0;
        padding: $spacing_x_small;
      }
    }
    &-backgroundIcon {
      @include mix_fixed_div(absolute, $z_index_base_item);
      @include mix_alive('light');
      left: $fundStructuring_setTarget_backgroundIcon_gutter* 2;
      top: $fundStructuring_setTarget_backgroundIcon_gutter;
      font-size: $funtStructuring_setTarget_backgroundIcon_size;
      color: $color_gray_6;
      opacity: 0;
      transform: translate(0, -100%);
      transition-delay: $animation_duration_light/2;
    }
  }
  &__utility {
    @include mix_fixed_div(relative, $z_index_base_item);
    display: flex;
    flex-direction: column;
    &-btnGroup {
      @include mix_fixed_div(absolute, $z_index_base_item_solid);
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &-btn {
        @include roundedButton($size: $iconButton_size_large);
        margin-right: $spacing_large;
        &>i {
          font-size: $font_size_large;
        }
        &--edit {
          display: none;
          margin-right: 0;
        }
        &--cancel,
        &--save {
          display: none;
          &>i{
            color: $color_white;
          }
        }
        &--cancel {
          background-color: $color_negative;
        }
        &--save {
          background-color: $color_positive;
        }
      }
    }
    &-divider {
      height: $typical_border_width;
      background: $color_border_gray;
      margin: $spacing_medium $spacing_large;
    }
  }
  &__targetBar {
    width: 8rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &-breakdownList {
      @include mix_enable_scrollbar('vertical');
      display: flex;
      flex-direction: column;
      padding: $spacing_x_small $spacing_medium $spacing_large $spacing_medium;
      &-item {
        margin-bottom: $spacing_medium;
      }
    }
    &-errorMessage {
      display: none;
      text-align: center
    }
  }
  &--editing {
    #{$blockName} {
      &__utility {
        &-btnGroup {
          &-btn {
            &--edit {
              display: flex;
            }
          }
        }
      }
    }
  }
  &--setFundTargets {
    #{$blockName} {
      &__setTarget {
        background-color: $color_active;
        color: $font_color-inverse;
        height: $fundStructuring_setTarget_height;
        padding-bottom: $spacing_medium;
        margin-bottom: 0;
        &-backgroundIcon {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
      &__utility {
        &-btnGroup {
          &-btn {
            &--edit {
              display: none;
            }
            &--save,
            &--cancel {
              display: flex;
            }
          }
        }
      }
    }
  }
  &--invalidInput {
    #{$blockName} {
      &__setTarget {
        &-message {
          visibility: visible; 
          flex: 0 0 auto;
        }
      }
    }
  }
  &--errorState {
    flex: 1 1 auto;
    #{$blockName} {
      &__content {
        &-breakdownList {
          &-item {
            display: none;
          }
        }
        &-errorMessage {
          display: block;
        }
      }
    }
  }
}