@import "global.scss";

$structureUtilityPanel_side_btn_size: 2.25rem;
.sat-structureUtilityPanel {
  $blockName: &;
  @include mix_border_generator;
  @include mix_border_radius(10px);
  display: flex;
  padding: $spacing_medium;
  &__metricSelect {
    @include mix_border_generator(0 $typical_border_width 0 0);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 $spacing_medium 0 $spacing_large;
    padding: 0 $spacing_medium;
    &-top {
      display: flex;
      margin-bottom: $spacing_small;
      &-label {
        color: $font_color_minor;
        font-size: $font_size_normal;
      }
    }
    &-bottom {
      display: flex;
      &-ctas {
        display: flex;
      }
    }
  }
  &__strategySelect {
    @include mix_border_generator(0 $typical_border_width 0 0);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: $spacing_medium;
    padding-right: $spacing_medium;
    &-top {
      display: flex;
      margin-bottom: $spacing_small;
      &-label {
        color: $font_color_minor;
        font-size: $font_size_normal;
      }
    }
    &-bottom {
      display: flex;
      &-ctas {

      }
    }
  }
  &__breakdownSelect {
    @include mix_border_generator(0 $typical_border_width 0 0);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: $spacing_medium;
    padding-right: $spacing_medium;
    &-top {
      display: flex;
      margin-bottom: $spacing_small;
      &-label {
        color: $font_color_minor;
        font-size: $font_size_normal;
      }
    }
    &-bottom {
      display: flex;
      &-ctas {

      }
    }
  }
  &__portfolioSelect {
    @include mix_border_generator(0 $typical_border_width 0 0);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: $spacing_medium;
    padding-right: $spacing_medium;
    &-top {
      display: flex;
      margin-bottom: $spacing_small;
      &-label {
        color: $font_color_minor;
        font-size: $font_size_normal;
      }
    }
    &-bottom {
      display: flex;
      &-btn {
        margin: 0 $spacing_x_small;
        &--selected {
          @include material('none');
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
    }
  }
  &__dateSwitch {
    @include mix_border_generator(0 $typical_border_width 0 0);
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    margin-right: $spacing_medium;
    padding-right: $spacing_medium;
    &-top {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: $spacing_small;
      &-title {
        @include mix_theme_background;
        @include mix_border_radius(3px);
        display: flex;
        align-items: center;
        padding: $spacing_xx_small $spacing_x_small;
        &>i {
          color: $font_color_inverse;
          margin-right: $spacing_small;
        }
        &-label {
          color: $font_color_inverse;
        }
        &--history {
          display: none;
          background: $color_disabled;
        }
      }
    }
    &-bottom {
      display: flex;
      &-btn {
        margin: 0 $spacing_x_small;
        &--forward {
          @include material('none');
          @include mix_border_generator;
          background-color: transparent;
          cursor: not-allowed;
          &>i {
            color: $color_disabled;
          }
          &>span {
            color: $color_disabled;
          }
        }
      }
    }
  }
  &__updateNow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-top {
      display: flex;
      justify-content: center;
      align-items: center;
      &-label {
        color: $font_color_minor;
        margin-right: $spacing_small;
        &--historicalData {
          display: none;
          margin-right: 0;
        }
      }
      &-highlightText {
        @include mix_theme_background;
        @include mix_border_radius(3px);
        flex: 0 0 auto;
        padding: $spacing_xx_small $spacing_x_small;
        color: $font_color_inverse;
      }
    }
    &-bottom {
      display: flex;
      align-self: flex-end;
      &-updateNowBtn {
        // flex: 1 1 auto;
      }
      &-backToTodayBtn {
        flex: 1 1 auto;
        display: none;
      }
    }
  }
  &--cs01Selected {
    #{$blockName} {
      &__metricSelect {
        &-bottom-ctas-creditDuration {
          @include material('none');
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
    }
  }
  &--creditLeverageSelected {
    #{$blockName} {
      &__metricSelect {
        &-bottom-ctas-creditLeverage {
          @include material('none');
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
    }
  }
  &--viewBreakdownOverridesOnly {
    #{$blockName} {
      &__breakdownSelect {
        &-bottom-ctas-overrides {
          @extend .santaBtn--inverseLabelled;
          @include material('none');
          background-color: $color_active;
        }
      }
    }
  }
  &--viewBreakdownBICSOnly {
    #{$blockName} {
      &__breakdownSelect {
        &-bottom-ctas-BICS {
          @extend .santaBtn--inverseLabelled;
          @include material('none');
          background-color: $color_active;
        }
      }
    }
  }
  &--viewBreakdownRegularsOnly {
    #{$blockName} {
      &__breakdownSelect {
        &-bottom-ctas-regulars {
          @extend .santaBtn--inverseLabelled;
          @include material('none');
          background-color: $color_active;
        }
      }
    }
  }
  &--viewBreakdownAll {
    #{$blockName} {
      &__breakdownSelect {
        &-bottom-ctas-all {
          @extend .santaBtn--inverseLabelled;
          @include material('none');
          background-color: $color_active;
        }
      }
    }
  }
  &--viewingHistoricalData {
    #{$blockName} {
      &__dateSwitch {
        &-top {
          &-title {
            display: none;
            &--history {
              display: flex;
            }
          }
        }
        &-bottom-btn {
          &--forward {
            @include material();
            border-width: 0;
            background-color: $color_white;
            cursor: initial;
            &>i {
              color: $font_color_major;
            }
            &>span {
              color: $font_color_major;
            }
          }
        }
      }
      &__updateNow {
        &-top {
          &-label {
            display: none;
            &--historicalData {
              display: flex;
            }
          }
          &-highlightText {
            display: none;
          }
        }
        &-bottom {
          &-updateNowBtn {
            display: none;
          }
          &-backToTodayBtn {
            display: flex;
          }
        }
      }
    }
  }
  &--viewStrategyAll {
    #{$blockName} {
      &__strategySelect {
        &-bottom-ctas-all {
          @include material('none');
          background-color: $color_active;
          color: $font_color_inverse;
        }
      }
    }
  }
  @include mq-x-large-min {
    &__metricSelect {
      flex-direction: row;
      justify-content: center;
      &-top {
        margin-bottom: 0;
        margin-right: $spacing_medium;
        &-label {
          font-size: $font_size_small;
        }
      }
    }
    &__strategySelect {
      flex-direction: row;
      justify-content: center;
      &-top {
        margin-bottom: 0;
        margin-right: $spacing_medium;
        &-label {
          font-size: $font_size_small;
        }
      }
    }
    &__breakdownSelect {
      flex-direction: row;
      justify-content: center;
      &-top {
        margin-bottom: 0;
        margin-right: $spacing_medium;
        &-label {
          font-size: $font_size_small;
        }
      }
    }
    &__portfolioSelect {
      flex-direction: row;
      justify-content: center;
      &-top {
        margin-bottom: 0;
        margin-right: $spacing_medium;
        &-label {
          font-size: $font_size_small;
        }
      }
      &-bottom {
        flex: 0 1 auto;
        align-self: unset;
      }
    }
    &__dateSwitch {
      flex-direction: row;
      &-top {
        margin-bottom: 0;
        margin-right: $spacing_medium;
        &-title {
          padding: $spacing_x_small;
          &>i {
            font-size: $font_size_x_large;
          }
        }
      }
    }
    &__updateNow {
      flex-direction: row;
      &-top {
        margin-bottom: 0;
        margin-right: $spacing_medium;
      }
    }
  }
}