@import "global.scss";
@import "modules/form/form.scss";

$datepicker_form_width: 10rem;
.sat-datepicker {
  $blockName: &;
  @include mix_fixed_div(relative, $z_index_base_item);
  display: flex;
  align-items: center;
  &__form {
    width: $datepicker_form_width;
    padding-right: $spacing_small;
    margin-bottom: -$spacing_medium;
    margin-top: -$spacing_small;
  }
  &__trigger {

  }
  &--openedState {
    #{$blockName} {
      &__trigger {
        &-cta {
          @include material('none');
          @extend .santaBtn--inverseLabelled;
          background-color: $color_active;
        }
      }
    }
  }
}
